body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:2260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:110px;
  width:900px;
  height:428px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:428px;
}
#u1 {
  position:absolute;
  left:2px;
  top:206px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:723px;
  top:209px;
  width:298px;
  height:281px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:281px;
}
#u3 {
  position:absolute;
  left:2px;
  top:132px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:263px;
  top:143px;
  width:153px;
  height:43px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#5375E1;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:43px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:11px;
  width:42px;
  height:26px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u10 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:72px;
  top:16px;
  width:74px;
  height:19px;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1168px;
  top:17px;
  width:114px;
  height:13px;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CFD9F3;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1089px;
  top:12px;
  width:60px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background-color:#294590;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CFD9F3;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:960px;
  top:12px;
  width:100px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-color:#294590;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CFD9F3;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  position:absolute;
  left:262px;
  top:207px;
  width:464px;
  height:284px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:284px;
}
#u18 {
  position:absolute;
  left:2px;
  top:134px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:759px;
  top:296px;
  width:200px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:759px;
  top:355px;
  width:200px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:758px;
  top:229px;
  width:56px;
  height:22px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#373737;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:759px;
  top:275px;
  width:32px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#373737;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:759px;
  top:335px;
  width:57px;
  height:16px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#373737;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:759px;
  top:441px;
  width:108px;
  height:42px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:42px;
}
#u28 {
  position:absolute;
  left:2px;
  top:13px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:759px;
  top:398px;
  width:221px;
  height:32px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:32px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30_input:disabled {
  color:grayText;
}
#u31 {
  position:absolute;
  left:1080px;
  top:296px;
  width:1180px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:25px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
