__history
.identcache
.DS_Store
*.dcu
node_modules

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.tags*
*~
*.sass-cache


# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
imgstorage
uploadimage

# Zend files
.buildpath

# Mysql Database chart
*.mwb.bak


# Testing Report
unit.xml

# Excel Temp file
~$*.xlsx

# webstorm
*Win32

*.identcache
*.res
*.dcu
*.local
*.dproj

*.sublime-project
*.sublime-workspace


# mongo
*mongodbdata

# config
common/config.js

# Visual Studio 2013
marksimos.sln
marksimos.v12.suo

Scripts/*
marksimos.njsproj
.ntvs_analysis.dat
obj/Debug/marksimos.njsproj.FileListAbsolute.txt
obj/Debug/marksimos.njsprojResolveAssemblyReference.cache
bin/Microsoft.NodejsTools.WebRole.dll


# CSS
public/app/css/stylesheets/*.css