<% include ../include/headcss.ejs %>


<body ng-app="b2clogin" ng-controller="userLoginController as register">

    <b2c-header showlogin="true"></b2c-header>

    <div class="middle b2c-container" ng-if="register.css.showRegForm" >
        <div class="middle right">

            <form class="reg-form" name="regForm" novalidate ng-cloak>
                <div class="title">注册</div>

                <div class="form-group has-feedback" ng-class="{'has-success':regForm.username.$dirty&&regForm.username.$valid, 'has-error':regForm.username.$dirty&&regForm.username.$invalid}">
                    <input class="input-lg form-control" type="text" name="username" placeholder="用户名" ng-model="register.newUser.username" required ng-minlength="6" ng-maxlength="20"/>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="regForm.username.$dirty&&regForm.username.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="regForm.username.$dirty&&regForm.username.$invalid"></span>
                    <span class="err-msg" ng-if="regForm.username.$dirty&&regForm.username.$error.required">请输入正确的用户名!</span>
                    <span class="err-msg" ng-if="regForm.username.$dirty&&regForm.username.$error.minlength || regForm.username.$dirty&&regForm.username.$error.maxlength">用户名长度为6-20个字符!</span>
                    <span class="err-msg" ng-if="regForm.username.$dirty&&register.css.usernameExistedInfo">用户名或邮箱已经存在!</span>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':regForm.email.$dirty&&regForm.email.$valid, 'has-error':regForm.email.$dirty&&regForm.email.$invalid}">
                    <input class="input-lg form-control" type="email" name="email" placeholder="邮箱"  ng-model="register.newUser.email" required/>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="regForm.email.$dirty&&regForm.email.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="regForm.email.$dirty&&regForm.email.$invalid"></span>
                    <span class="err-msg" ng-if="regForm.email.$dirty&&regForm.email.$error.required || regForm.email.$dirty&&regForm.email.$error.email">请输入正确的邮箱!</span>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':regForm.password.$dirty&&regForm.password.$valid, 'has-error':regForm.password.$dirty&&regForm.password.$invalid}">
                    <input class="input-lg form-control" type="password" name="password" placeholder="密码" ng-model="register.newUser.password" required ng-minlength="6" ng-maxlength="20"/>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="regForm.password.$dirty&&regForm.password.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="regForm.password.$dirty&&regForm.password.$invalid"></span>
                    <span class="err-msg" ng-if="regForm.password.$dirty&&regForm.password.$invalid">请输入正确的密码 6-20个字符!</span>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':regForm.passwordreinput.$dirty&&regForm.passwordreinput.$valid, 'has-error':regForm.passwordreinput.$dirty&&regForm.passwordreinput.$invalid}">
                    <input class="input-lg form-control" type="password" name="passwordreinput" placeholder="再次输入密码" ng-model="register.newUser.passwordreinput" required ng-match="register.newUser.password"/>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="regForm.passwordreinput.$dirty&&regForm.passwordreinput.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="regForm.passwordreinput.$dirty&&regForm.passwordreinput.$invalid"></span>
                    <span class="err-msg" ng-if="regForm.passwordreinput.$dirty&&regForm.passwordreinput.$invalid">请输入正确的再次输入密码!</span>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':regForm.captcha.$dirty&&regForm.captcha.$valid, 'has-error':regForm.captcha.$dirty&&regForm.captcha.$invalid}">
                    <input style="float: left; width: 180px;" class="input-lg form-control" type="text" name="captcha" placeholder="验证码" ng-model="register.newUser.captcha" required/>
                    <!--<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="regForm.captcha.$dirty&&regForm.captcha.$valid"></span>-->
                    <span class="glyphicon glyphicon-remove form-control-feedbak" aria-hidden="true" ng-if="regForm.captcha.$dirty&&regForm.captcha.$invalid"></span>
                    <span class="err-msg" ng-if="regForm.captcha.$dirty&&regForm.captcha.$invalid">请输入正确的验证码!</span>
                    <span><img style="height: 46px" src="e4e/api/captcha"></span>
                </div>

                <div class="form-group radio" ng-class="{'has-success':regForm.gender.$dirty&&regForm.gender.$valid, 'has-error':regForm.gender.$dirty&&regForm.gender.$invalid}">
                    <label class="radio-inline"><input type="radio" name="gender" value="1" ng-model="register.newUser.gender" ng-required="true"/>男</label>
                    <label class="radio-inline female"><input type="radio" name="gender" value="2" ng-model="register.newUser.gender" ng-required="true"/>女</label>
                    <span class="err-msg" ng-if="!register.newUser.gender&&register.newUser.clickSubmit">请选择性别!</span>
                </div>

                <div class="form-group"><button class="btn btn-default" type="submit" ng-click="register.clickregister(regForm)" >注&nbsp;&nbsp;册</button></div>
            </form>
        </div>

        <div class="middle left">
            <div class="b2c-man man1"></div>
            <div class="b2c-man man2"></div>
            <div class="b2c-man man3"></div>
            <div class="b2c-man man4"></div>
            <div class="b2c-man-title">E4E helps you find their own stage.</div>
        </div>
    </div>

    <div class="middle b2c-container" ng-if="!register.css.showRegForm" ng-cloak>
        <div class="reg-verify-account text-justify">
            <p class="tip-header">{{register.newUser.username}} 您好:</p>
            <p>感谢您注册E4E !</p>
            <p>我们发送了一封邮件到您的邮箱: <a href="{{register.newUser.email | emailaddress}}" target="_blank">{{register.newUser.email}}</a></p>
            <p>请打开您的邮箱, 点击邮件中链接即可完成注册. <a class="btn btn-info" href="{{register.newUser.email | emailaddress}}" target="_blank">立即查看</a></p>

        </div>
    </div>


    <div class="down-box">
        <div class="b2c-container pic-area">
            <div class="pic pic-1">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front"></div>
                        <div class="back">
                            <p class="title">Learning by Playing</p>
                            <p> HCD Learning strongly believes that the best learning comes through hands-on approach – by playing rather than passive learning.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pic pic-2">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front"></div>
                        <div class="back">
                            <p class="title">Help students develop skills</p>
                            <p>Through our state-of-art innovative learning games, we intend to help students develop skills to bridge skill gap between university learning and what the companies look for.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pic pic-3">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front"></div>
                        <div class="back">
                            <p class="title">Social Learning</p>
                            <p>Learning is most effective when done in groups and that is the HCD Learning encourages social learning for maximum benefits.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pic pic-4">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front"></div>
                        <div class="back">
                            <p class="title">Discover job opportunities</p>
                            <p>HCD Learning’s student competition intends to help students find job opportunities with big company brands. All you to have to do is register for the game and win.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pic pic-5">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front"></div>
                        <div class="back">
                            <p class="title">Develop business skills </p>
                            <p>Our competition game is designed not only to test you, but also to help you equip with the business skills and knowledge required to perform job at big companies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pic pic-6">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front"></div>
                        <div class="back">
                            <p class="title">Assessment  </p>
                            <p>Through the HCD Learning competition, you can assess yourself against thousands of the participants from different universities all over China.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b2c-container">
                <div  class="switch-button">
                    <a href="javascript:void(0);" class="selected">什么是E4E?</a>
                    <a href="javascript:void(0);">我们可以为你带来什么?</a>
                </div>
        </div>
    </div>



<% include ../include/footerscriptlogin.ejs %>
