<% include ../include/headcss.ejs %>


<body ng-app="b2clogin">

    <b2c-header showlogin="false"></b2c-header>

    <div class="container reg-success" >
        <div class="row">
            <div class="col-xs-6 reg-success-info middle">
                <p class="tip-header">  <%= username %> {{'LoginSuccessGreet' | translate}}</p>
                <p>{{'LoginSuccessText1' | translate}}<%= useremail %>{{'LoginSuccessText2' | translate}}</p>
                <p>{{'LoginSuccessText3' | translate}}<a class="btn btn-info mk-btn-red" href="/e4e/profile">{{'LoginSuccessText4' | translate}}</a></p>
                <p>{{'LoginSuccessText5' | translate}}</p>


            </div>
            <div class="col-xs-6">
                <ul class="qr-codes row list-inline">
                    <li class="qr-code col-xs-3 col-xs-offset-1 text-center">
                        <div>华东赛区群</div>
                        <img src="/app/css/images/华东g.GIF" alt="huadong qr code"/>
                    </li>
                    <li class="qr-code col-xs-3 text-center">
                        <div>东北赛区群</div>
                        <img src="/app/css/images/东北g.GIF" alt="dongbei qr code"/>
                    </li>
                    <li class="qr-code col-xs-3 text-center">
                        <div>京津赛区群</div>
                        <img src="/app/css/images/京津g.GIF" alt="jingjin qr code"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>





<% include ../include/footer.ejs %>
<% include ../include/footerscriptlogin.ejs %>
