<% include ../include/headcss.ejs %>


<body ng-app="b2clogin">

    <b2c-header showlogin="false"></b2c-header>

    <div class="middle b2c-container" >
        <div class="reg-verify-account text-justify">
            <p class="tip-header">  <%= username %> 您好:</p>
            <p>您已经成功激活你的<%= useremail %>邮箱!</p>
            <p>感谢您已完成注册. <a class="btn btn-info" href="/e4e/profile">进入用户中心</a></p>

        </div>
    </div>





<% include ../include/footerscriptlogin.ejs %>
