<% include ../include/headcss.ejs %>


<body ng-app="b2clogin">

    <b2c-header showlogin="false"></b2c-header>

    <div class="middle b2c-container" >
        <div class="reg-verify-account text-justify reg-success">
            <p class="tip-header">  <%= username %> {{'LoginSuccessGreet' | translate}}</p>
            <p>{{'LoginSuccessText1' | translate}}<%= useremail %>{{'LoginSuccessText2' | translate}}</p>
            <p>{{'LoginSuccessText3' | translate}}<a class="btn btn-info" href="/e4e/profile">{{'LoginSuccessText4' | translate}}</a></p>
            <p>{{'LoginSuccessText5' | translate}}</p>

        </div>
    </div>





<% include ../include/footer.ejs %>
<% include ../include/footerscriptlogin.ejs %>
