body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:850px;
  height:660px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:70px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:130px;
  top:183px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:570px;
  top:135px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:130px;
  top:135px;
  width:200px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6 {
  position:absolute;
  left:130px;
  top:260px;
  width:200px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7 {
  position:absolute;
  left:130px;
  top:20px;
  width:122px;
  height:21px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:141px;
  top:335px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:40px;
  top:410px;
  width:785px;
  height:155px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:520px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:650px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:130px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:260px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:390px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:520px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:650px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u36 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:130px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u38 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:260px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u40 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:390px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u42 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:520px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u44 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:650px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u46 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:340px;
  top:136px;
  width:200px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u48 {
  position:absolute;
  left:130px;
  top:218px;
  width:200px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
