body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:530px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:530px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:290px;
  top:13px;
  width:118px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:130px;
  top:80px;
  width:402px;
  height:45px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:45px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:19px;
  top:237px;
  width:211px;
  height:203px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:203px;
}
#u8 {
  position:absolute;
  left:2px;
  top:94px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:240px;
  top:240px;
  width:247px;
  height:170px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:170px;
}
#u10 {
  position:absolute;
  left:2px;
  top:77px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:510px;
  top:240px;
  width:260px;
  height:190px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:190px;
}
#u12 {
  position:absolute;
  left:2px;
  top:87px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:530px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:290px;
  top:13px;
  width:118px;
  height:37px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:130px;
  top:80px;
  width:350px;
  height:75px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:75px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:59px;
  top:220px;
  width:492px;
  height:250px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:250px;
}
#u18 {
  position:absolute;
  left:2px;
  top:117px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:629px;
  top:255px;
  width:101px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
