<% include ./include/headcssuser.html %>

<body ng-app="marksimoshelp">

<div class="container-fluid width_big_screen" ng-controller="userHelpController" >

    <user-header showmenu="false" showlogout="true" current-round="0"></user-header>


    <div class="row login" ng-cloak>
        <div class="col-md-10 col-md-offset-1 panelbox">

            <div class="row intro_box">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li ng-class="{'active' : css.navTab =='FAQ'}">
                            <a href="" ng-click='clickMenuTab("FAQ")'>{{'HelpPageMenuFAQ' | translate}}</a>
                        </li>
                        <li ng-class="{'active':css.navTab =='Video'}">
                            <a href="" ng-click='clickMenuTab("Video")'>{{'HelpPageMenuVideo' | translate}}</a>
                        </li>
                        <li ng-class="{'active':css.navTab =='Manual'}">
                            <a href="" ng-click='clickMenuTab("Manual")'>{{'HelpPageMenuManual' | translate}}</a>
                        </li>
                    </ul>
                    <div class="divider_horizontal"></div>
                </div>
            </div>



            <div class="row intro_data" ng-if="css.navTab =='FAQ'">
                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <h3 class="faq_h3">{{'FAQPageTitle' | translate}}</h3>
                        <h5 class="faq_h5">{{'FAQPageSubTitle' | translate}}</h5>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <div class="bs-docs-sidebar">

                            <ul class="list-inline bs-faq-sidenav">
                                <li class="" ng-class="{'active': category._id == data.currentFaqCategory._id}" ng-repeat='category in data.currentFaq.categories'>
                                    <a href="" ng-click='chickFAQTab(category)'>{{category.name}}</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <div>

                            <!--<h3 class="bs_h3">{{data.currentFaqCategory.name}}</h3>-->
                            <div ng-repeat='question in data.currentFaqCategory.questions'>
                                <h4 class="bs_h4">{{$index+1}}. {{question.title}}</h4>
                                <div class="info_highlight">
                                    <p class="bs_p">{{question.answer}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row video_list" ng-if="css.navTab =='Video'">
                <div class="col-md-4 ">

                    <iframe width=100% height=240 src="http://player.youku.com/embed/XODAwNTY5NTM2" frameborder=0 allowfullscreen></iframe>

                </div>

                <div class="col-md-4">

                    <iframe width=100% height=240 src="http://player.youku.com/embed/XNjY1MzU0MDA0" frameborder=0 allowfullscreen></iframe>

                </div>

                <div class="col-md-4">

                    <iframe width=100% height=240 src="http://player.youku.com/embed/XNjQ2MzAyNDY4" frameborder=0 allowfullscreen></iframe>

                </div>
            </div>


            <div class="row intro_data" ng-if="css.navTab =='Manual'">
                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <h3 class="manual_h3 col-md-9">{{'ManualPageTitle' | translate}}</h3>
                        <h3 class="pull-right manual_download">
                            <a href="/marksimos/download/manualeng" ng-show="css.language=='en_US'"><span class="glyphicon glyphicon-download-alt"></span>{{'ManualPageDownload' | translate}}</a>
                            <a href="/marksimos/download/manualchs" ng-show="css.language=='zh_CN'"><span class="glyphicon glyphicon-download-alt"></span>{{'ManualPageDownload' | translate}}</a>
                        </h3>
                        <div class="manual_clear"></div>
                        <div gen-parse-md='data.currentManual' class="markdown-body"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>

<% include ./include/footerscripthelp.html %>

