<footer>
    <div class="b2c-footer">
        <div class="b2c-container">
            <div class="b2c-footer-content">
                <a href="#">企业</a>
                <a href="#">合得教育</a>
                <a href="#">加入我们</a>
                <a href="maillto:info@hcdlearning.com">联系我们:info@hcdlearning.com</a>
                <a href="#">沪ICP 13045400号</a>
                <img src="/app/css/images/hcd_logo.png" alt="合得教育logo" />
            </div>
        </div>
    </div>
</footer>