<footer fixed-footer="b2c-footer-fix">
    <div class="b2c-footer">
        <div class="b2c-container">
            <div class="b2c-footer-content">
                <img class="logo" src="/app/css/images/hcd_logo.png" alt="合得教育logo" />
                <div class="weibo">
                    <div class="weibo-msg">关注官方微信获取最新信息</div>
                    <img class="weibo-img" src="/app/css/images/weibo.png"/>
                </div>
                <div class="b2c-footer-row">
                    <ul>
                        <li><a href="/e4e/about">关于我们</a></li>
                        <li><a href="/e4e/about#bridge-description">Bridge+</a></li>
                        <li><a href="/e4e/about#vision">我们的愿景</a></li>
                        <li><a href="/e4e/about#team">我们的团队</a></li>
                    </ul>
                    <ul>
                        <li><a href="/e4e/intro">项目介绍</a></li>
                        <li><a href="/e4e/intro#competition">Competition</a></li>
                        <li><a href="/e4e/intro#mentor">青年导师桥</a></li>
                        <li><a href="/e4e/intro#learning">互助学习桥</a></li>
                        <li><a href="/e4e/intro#fellowship">社会创新桥</a></li>
                    </ul>
                    <ul>
                        <li><a href="/e4e/activity">最新大赛</a></li>
                        <li><a href="">大赛活动页</a></li>
                        <li><a href="">青年创业家计划</a></li>
                        <li><a href="">We-reality Show</a></li>
                    </ul>
                    <ul>
                        <li><a href="">企业合作</a></li>
                    </ul>
                    <ul>
                        <li><a href="">媒体频道</a></li>
                    </ul>
                    <ul>
                        <li><a href="mailto:info@hcdlearning.com">联系我们</a></li>
                    </ul>
                </div>
                <div class="b2c-footer-row">
                    <div>企业</div>
                    <div>合得教育</div>
                    <div>加入我们</div>
                    <div>沪ICP:13045400</div>
                </div>
            </div>
        </div>
    </div>
</footer>

