<footer fixed-footer="b2c-footer-fix">
    <div class="b2c-footer">
        <div class="b2c-container">
            <div class="b2c-footer-content">
                <!--<a href="#">{{'FooterEnterpriseEntry' | translate}}</a>-->
                <!--<a href="/">{{'FooterMainPageLink' | translate}}</a>-->
                <!--&lt;!&ndash;<a href="#">加入我们</a>-->
                <!--联系我们:info@hcdlearning.com</a>&ndash;&gt;-->
                <!--<a href="#">{{'FooterGovernmentRecord' | translate}}</a>-->
                <img class="logo" src="/app/css/images/hcd_logo.png" alt="合得教育logo" />
                <div class="weibo">
                    <div class="weibo-msg">关注官方微信获取最新信息</div>
                    <img class="weibo-img" src="/app/css/images/weibo.png"/>
                </div>
                <div class="b2c-footer-row">
                    <ul>
                        <li>关于我们</li>
                        <li>Bridge+</li>
                        <li>我们的愿景</li>
                        <li>我们的团队</li>
                    </ul>
                    <ul>
                        <li>项目介绍</li>
                        <li>Competition</li>
                        <li>青年导师桥</li>
                        <li>互助学习桥</li>
                        <li>社会创新桥</li>
                    </ul>
                    <ul>
                        <li>最新大赛</li>
                        <li>大赛活动页</li>
                        <li>青年创业家计划</li>
                        <li>We-reality Show</li>
                    </ul>
                    <ul>
                        <li>企业合作</li>
                    </ul>
                    <ul>
                        <li>媒体频道</li>
                    </ul>
                    <ul>
                        <li><a href="maillto:info@hcdlearning.com">联系我们</a></li>
                    </ul>
                </div>
                <div class="b2c-footer-row">
                    <div>企业</div>
                    <div>合得教育</div>
                    <div>加入我们</div>
                    <div>沪ICP:13045400</div>
                </div>
            </div>
        </div>
    </div>
</footer>

