<% include include/headcss.ejs %>


<body ng-app="b2clogin" ng-controller="profileController as profile">

<b2c-header></b2c-header>
<div class="container-fluid campaignlist-container">
    <!-- banner -->
    <div class="campaignlist-banner row">
        <img>
    </div>

    <!-- campaign-list -->
    <div class="row campaign-list">
        <div class="col-xs-12">
            <div class="center-block list-container">
                <div class="header row">
                    <h3>赛事&活动</h3>
                    <a>更多</a>
                </div>
                <div class="section row">
                    <div class="figure col-xs-6">
                        <img>
                        <div class="caption">
                            <div>
                                <p>E战成名 上海财经大学 商战模拟大赛</p>
                                <span class="date">2015/09/02</span>
                                <span class="count">1999人参加</span>
                            </div>
                            <button>参加</button>
                        </div>
                    </div>
                    <div class="figure col-xs-6">
                        <img>
                        <div class="caption">
                            <div>
                                <p>E战成名 上海财经大学 商战模拟大赛</p>
                                <span class="date">2015/09/02</span>
                                <span class="count">1999人参加</span>
                            </div>
                            <button>参加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row game-list">
        <div class="center-block">
            <div class="header">
                <h3>热门游戏</h3>
                <a>更多</a>
            </div>
            <div class="section">
                <div class="figure">
                    <img>
                    <div class="caption">
                        <p>MarkSimos 商战模拟大赛</p>
                        <span class="date">2015/09/02</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row star-coach">
        <div class="center-block">
            <div class="header">
                <h3>明星教练</h3>
                <a>更多</a>
            </div>
            <div class="section">
                <ul>
                    <li>
                        <div class="figure">
                            <img>
                            <div class="caption">
                                <div class="name"></div>
                                <div class="title"></div>
                                <img>
                                <button>关注</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="figure">
                            <img>
                            <div class="caption">
                                <div class="name"></div>
                                <div class="title"></div>
                                <img>
                                <button>关注</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="figure">
                            <img>
                            <div class="caption">
                                <div class="name"></div>
                                <div class="title"></div>
                                <img>
                                <button>关注</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="figure">
                            <img>
                            <div class="caption">
                                <div class="name"></div>
                                <div class="title"></div>
                                <img>
                                <button>关注</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer">

</div>

<% include ./include/footerscriptlogin.ejs %>
