<% include include/headcss.ejs %>


<body ng-app="b2clogin" ng-controller="profileController as profile">

<b2c-header></b2c-header>

<nav class="campaign-nav">
    <div class="center-block nav-container">
        <ul class="nav navbar-nav">
            <li>
                <a href="#enter">比赛报名</a>
            </li>
            <li>
                <a href="#schedules">大赛赛程</a>
            </li>
            <li>
                <a href="#gains">你能获得</a>
            </li>
            <li>
                <a href="#conditions">加入条件</a>
            </li>
            <li>
                <a href="#process">参赛流程</a>
            </li>
            <li>
                <a href="#winner">获胜团队</a>
            </li>
        </ul>
    </div>
</nav>
<div class="campaign-banner">
    <img>
</div>
<div class="container-fluid campaign-main">
    <div id="enter" class="center-block campaign-enter">
        <button class="enter-button">马上报名</button>
        <button class="introduce">游戏介绍</button>
        <span class="enter-count">已有<strong>99999</strong>人参加</span>
    </div>
    <div id="schedules" class="center-block campaign-schedules">
        <h3 class="text-center">大赛赛程</h3>
        <ul class="schedule-list text-center">
            <li><a>www.whateverwhoru.com<span>点击进入</span></a></li>
            <li><a>www.whateverwhoru.com<span>点击进入</span></a></li>
            <li><a>www.whateverwhoru.com<span>点击进入</span></a></li>
            <li><a>www.whateverwhoru.com<span>点击进入</span></a></li>
        </ul>
    </div>
    <div id="gains" class="row center-block campaign-gains">
        <h3 class="col-xs-12 text-center">你能获得</h3>
        <div class="col-xs-12">
            <ul class="gain-list row">
                <li class="col-xs-4">
                    <div class="gain center-block">
                        <img>
                        <h4 class="text-center">a title</h4>
                        <p>bla bla bla bla bla bla bla bla bla bla bla bla</p>
                    </div>
                </li>
                <li class="col-xs-4">
                    <div class="gain center-block">
                        <img>
                        <h4 class="text-center">a title</h4>
                        <p>bla bla bla bla bla bla bla bla bla bla bla bla</p>
                    </div>
                </li>
                <li class="col-xs-4">
                    <div class="gain center-block">
                        <img>
                        <h4 class="text-center">a title</h4>
                        <p>bla bla bla bla bla bla bla bla bla bla bla bla</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="conditions" class="enter-condition row">
        <div class="col-xs-12">
            <h3 class="text-center">加入条件</h3>
            <div class="row">
                <div class="col-xs-6 text-right">
                    <img>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                    <h4>乐于分享</h4>
                    <p>具有分享精神，愿意分享自己的知识</p>
                    <h4>敢于挑战</h4>
                    <p>乐观向上，敢于向自己发起挑战</p>
                    <h4>有专注力</h4>
                    <p>目标明确，有足够的专注力</p>
                </div>
            </div>
        </div>
    </div>
    <div id="process" class="row campaign-process">
        <h3 class="text-center">参赛流程</h3>
    </div>
    <div id="winner" class="campaign-winner row">
        <h3 class="text-center">获胜队伍</h3>
        <div class="center-block">
            <div class="col-xs-4 text-center">
                <span>第一轮结果</span>
            </div>
            <div class="col-xs-4 text-center">
                <span>第二轮结果</span>
            </div>
            <div class="col-xs-4 text-center">
                <span>第三轮结果</span>
            </div>
        </div>
    </div>
</div>
<div class="campaign-footer">

</div>

<% include ./include/footerscriptlogin.ejs %>
