<% include include/headcss.ejs %>


<body id="contact" ng-app="b2clogin">

    <b2c-header showlogin="true"></b2c-header>
    <b2c-sub-menu></b2c-sub-menu>

    <div class="middle">
        <div class="b2c-container">
            <div id="bridge-header">
                <h3>Bridge+</h3>
                <h3>中国首家商战模拟竞赛平台</h3>
                <a type='button' class="btn btn-danger" href="/e4e">加入</a>
            </div>

            <div class="section1">
                <h3><span>CONTACT US</span> 联系我们</h3>
                <hr/>
                <div class="contact-cards clearfix">
                    <div class="contact-card">
                        <div>商务合作 </div>
                        <div>庄承恩 Samuel 商务拓展经理 </div>
                        <div class="phone">
                            <i class="glyphicon glyphicon-earphone"></i>
                            +86 186 1626 9919
                        </div>
                        <div class="email">
                            <i class="glyphicon glyphicon-phone-alt"></i>
                            <a href="mailto:samuelzhuang@hcdlearning.com">samuelzhuang@hcdlearning.com</a>
                        </div>
                    </div>
                    <div class="contact-card">
                        <div>媒体合作 </div>
                        <div>陶郁倩 Sasa 数字营销经理 </div>
                        <div class="phone">
                            <i class="glyphicon glyphicon-earphone"></i>
                            +86 13 2629 83708
                        </div>
                        <div class="email">
                            <i class="glyphicon glyphicon-phone-alt"></i>
                            <a href="mailto:sasatao@hcdlearning.com">sasatao@hcdlearning.com</a>
                        </div>
                    </div>
                </div>
                <div class="address">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    上海市黄浦区人民路886号 淮海中华大厦
                </div>
            </div>
        </div>
    </div>

<% include ./include/footer.ejs %>
<% include ./include/footerscriptlogin.ejs %>
