<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>   
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/stylesheets/b2cmain.css">
    <script src="/libs/jquery/jquery.js"></script>    
    <script src="/libs/jquery-migrate/jquery-migrate.js"></script>  
    <script src="/app/js/appb2cmain.js"></script>
</head>
<body>
    
    <header>
        <div class="b2c-header">
            <div class="b2c-container">
                <a href="/b2c">
                    <img src="/app/css/images/b2c_logo.png" class="b2c-logo" />
                </a>
                <div class="b2c-login">
                    <div class="b2c-login-field b2c-trans">
                        <span>EN</span>
                        <span class="selected">中</span>                                              
                    </div>                   
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="middle b2c-container">                       
              <div class="b2c-verify-account text-justify">
                 <p class="tip-header">User Name 您好:</p>
                  <p>感谢您注册E4E,打开您的邮箱可完成注册，</p>
                  <p>我们发送了邮件到您的邮箱:<a href="#">ryanluan@hcdlearning.com</a></p>
                  <p>E4E</p>
                  <p>2014年12月31日</p>
              </div>
        </div>   
    </main>

    <% include ./include/footerscriptlogin.ejs %>
