<% include include/headcss.ejs %>


<body id="intro" ng-app="b2clogin">

    <b2c-header showlogin="true"></b2c-header>
    <b2c-sub-menu></b2c-sub-menu>

    <div class="middle">
        <div class="b2c-container">
            <!--<img src="" width="1160" alt=""/>-->
            <div id="bridge-header">
                <h3>Bridge+</h3>
                <h3>中国首家商家模拟竞赛平台</h3>
                <a type='button' class="btn btn-danger" href="/e4e">加入</a>
            </div>

            <div id="sub-nav">
                <ul class="nav nav-tabs" ng-init="introIdx=0">
                    <li ng-class="{active: introIdx==0}">
                        <a href ng-click="introIdx=0"><span>全国青年商业实战大赛<br>Bridge+ Competition</span></a>
                    </li>
                    <li ng-class="{active: introIdx==1}">
                        <a href ng-click="introIdx=1"><span>青年导师桥<br>Mentor Bridge</span></a>
                    </li>
                    <li ng-class="{active: introIdx==2}">
                        <a href ng-click="introIdx=2"><span>互助学习桥<br>Learning Bridge</span></a>
                    </li>
                    <li ng-class="{active: introIdx==3}">
                        <a href ng-click="introIdx=3"><span>创业学者桥<br>Fellowship Bridge</span></a>
                    </li>
                </ul>
            </div>

            <div id="competition" ng-if="introIdx==0">
                <div class="section1 clearfix">
                    <p>
                        我们以在业界享有盛名的商战模拟游戏MarkSimos为依托举办全国青年商业实战大赛，帮助参与者提高市场营销、数据分析、战略管理等方面的商业实战能力，同时搭建起校园学习和企业人才需求之间的桥梁
                    </p>
                    <div class="circle1">市场<br>营销</div>
                    <div class="circle1">数据<br>分析</div>
                    <div class="circle1">战略<br>管理</div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                </div>
                <div class="section2">
                    <p>大赛分为校园赛、地区赛和全国总决赛三轮，每年于5月到8月，10月到1月举办两次。</p>
                </div>
                <div class="section3 clearfix">
                    <img src="/app/css/images/b2c_intro1.jpg" alt=""/>
                    <p>MarkSimos是由中欧商学院的创始人之一Wilfried R. Vanhonacker教授主导研发的商战模拟类游戏。MarkSimos模拟体验者在逼真、无风险的虚拟环境下运营一家公司，通过激励团队分享与体验式学习的方式，鼓励学员锻炼管理者的视角，全方位了解整个公司及其运作形式。此款游戏为多家500强公司纳入为企业高管培训内容，国内外多家知名商学院采用其进行MBA教学。</p>
                </div>
                <div class="section4 clearfix">
                    <img src="/app/css/images/b2c_intro2.png" alt=""/>
                    <p>
                        我们在比赛过程中将对参赛者辅以专家指导，同时帮助参赛者在团队合作中更加了解自己的商业技能及个人优势劣势，全方位提升自己。比赛优胜者将有机会获得会员企业的实习及就业机会，以及资深导师的针对性辅导和参与创业学者项目的机会。
                        <br>
                        <br>
                        想要获取比赛更多资讯，请登录大赛官方主页！
                    </p>
                </div>
                <div class="section5">
                    <p>Marksimos曾服务的企业</p>
                    <div class="brands">
                        <img src="/app/css/images/b2c_intro3.png" alt=""/>
                        <img src="/app/css/images/b2c_intro4.png" alt=""/>
                        <img src="/app/css/images/b2c_intro5.png" alt=""/>
                        <img src="/app/css/images/b2c_intro6.png" alt=""/>
                        <img src="/app/css/images/b2c_intro7.png" alt=""/>
                        <img src="/app/css/images/b2c_intro8.png" alt=""/>
                        <img src="/app/css/images/b2c_intro9.png" alt=""/>
                        <img src="/app/css/images/b2c_intro10.png" alt=""/>
                    </div>
                </div>
            </div>

            <div id="mentor" ng-if="introIdx==1">
                <div class="section1">
                    <p>
                        我们汇集最顶尖的企业导师、创业导师对大学生予以职业解惑、专业指导、经验分享，搭建起大学生和社会之间的桥梁。在商业大赛中获得优胜的大学生，将能免费获得与顶尖导师对话交流的机会
                    </p><!--
                 --><p>
                        我们的导师来自不同的行业、社会领域，有着丰富的人生经验，也非常愿意为有梦想和有潜力的年轻人提供指导和建议。在我们的平台上，学生和导师之间可以互评，我们十分看重导师们是否真正能够为学生带来有意义的建议和成长
                    </p>
                </div>
                <div class="section2">
                    <p>导师社区预计将在7月开放，敬请期待！</p>
                </div>
                <div class="section3 clearfix">
                    <img src="/app/css/images/b2c_intro1.jpg" alt=""/>
                    <p>MarkSimos是由中欧商学院的创始人之一Wilfried R. Vanhonacker教授主导研发的商战模拟类游戏。MarkSimos模拟体验者在逼真、无风险的虚拟环境下运营一家公司，通过激励团队分享与体验式学习的方式，鼓励学员锻炼管理者的视角，全方位了解整个公司及其运作形式。此款游戏为多家500强公司纳入为企业高管培训内容，国内外多家知名商学院采用其进行MBA教学。</p>
                </div>
            </div>
            <div id="learning" ng-if="introIdx==2">
                <div class="section1 clearfix">
                    <p>
                        我们通过汇集最优质的在线学习资源，搭建专属于大学生的在线互助学习平台。平台包含在线商学院、Marksimos游戏辅导与其他的专业知识，分享教育资源，帮助学生随时随地地自主学习；同时平台秉承互助学习(Peer Learning)的理念，给在线学习者提供相互交流与彼此学习的机会。我们也将不定期开设线上导师交流会，超越地理限制地给大学生带去实时的互动交流
                    </p>
                    <div class="text-center">

                        <img src="/app/css/images/b2c_intro_learning.png" alt=""/>
                        <br>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;学习平台预计将在下半年开放，敬请期待！
                    </div>
                </div>
            </div>
            <div id="fellowship" ng-if="introIdx==3">
                <div class="section1 clearfix">
                    <p>
                        我们将每年招募30名左右具有创业精神并富有潜力的青年人，为他们提供为期一年的免费领导力培训、一对一导师对话、商业实战及海外参观游学等珍贵机会，帮助他们充分实现自身潜能并为社会带来积极影响力，同时打造创业学者精英社交圈。每期学员在完成既定的项目后，将予以Bridge+ Fellow的终身称号。我们希望Bridge+ Fellow能为中国社会发展注入源源不断的青年创新创业力量，带来全国甚至全球范围的积极影响力
                        <br>
                        <br>
                        <br>
                        全国青年商业实战大赛的决赛优胜者将有机会入选第一批创业学者项目
                        让我们拭目以待！
                    </p>
                    <div class="text-center">
                        <img src="/app/css/images/b2c_intro_fellowship.jpg" alt=""/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./include/footer.ejs %>
<% include ./include/footerscriptlogin.ejs %>
