<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>   
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/stylesheets/b2cmain.css">
    <script src="/libs/jquery/jquery.js"></script>    
    <script src="/libs/jquery-migrate/jquery-migrate.js"></script>  
    <script src="/app/js/appb2cmain.js"></script>
</head>
<body>
    
    <header>
        <div class="b2c-header">
            <div class="b2c-container">
                <a href="/b2c">
                    <img src="/app/css/images/b2c_logo.png" class="b2c-logo" />
                </a>
                <div class="b2c-login">
                    <div class="b2c-login-field b2c-trans">
                        <span>EN</span>
                        <span class="selected">中</span>                                              
                    </div>                   
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="middle b2c-container">                       
                <div class="middle right">
                    <form class="reg-form">
                        <div class="title">注册</div>
                        <div class="form-group has-feedback has-success">
                            <input class="input-lg form-control" type="text" placeholder="用户名" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span class="err-msg hide">请输入正确的用户名!</span>
                        </div>
                        <div class="form-group has-feedback has-error">
                            <input class="input-lg form-control" type="email" placeholder="邮箱" />
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span class="err-msg hide">请输入正确的邮箱!</span>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="input-lg form-control" type="password" placeholder="密码" />
                            <span class="err-msg hide">请输入正确的密码!</span>
                        </div>
                        <div class="form-group has-feedback">
                            <input class="input-lg form-control" type="password" placeholder="再次输入密码" />
                            <span class="err-msg hide">请输入正确的再次输入密码!</span>
                        </div>
                        <div class="form-group radio has-error">
                            <label class="radio-inline"><input type="radio" name="gender" />男</label>
                            <label class="radio-inline female"><input type="radio" name="gender" />女</label>
                            <span class="err-msg hide">请输入正确的再次输入密码!</span>
                        </div>
                        <div class="form-group"><button type="submit">确&nbsp;&nbsp;定</button></div>
                    </form>
                </div>
                <div class="middle left">
                    <div class="b2c-man man1"></div>
                    <div class="b2c-man man2"></div>
                    <div class="b2c-man man3"></div>
                    <div class="b2c-man man4"></div>
                    <div class="b2c-man-title">E4E helps you find their own stage.</div>
                </div>             
        </div>   
    </main>
    <% include ./include/footer.ejs %>    
</body>
</html>