    <% include include/headcss.ejs %>


    <body ng-app="b2clogin" class="profile-body" ng-controller="profileController as profile">

    <b2c-header currentuser="profile.currentUser"></b2c-header>

    <div class="profile-main" >
        <div class="container-fluid profile-content" ng-cloak>

            <header class="row">
                <div class="col-xs-12">
                    <div class="banner"></div>
                    <div class="user-info">
                        <img ng-src="/{{profile.currentUser.avatar.path || profile.css.defaultAvatar}}" class="profile-head"/>
                        <div class="text-info">
                            <div class="profile-username">{{profile.currentUser.username}}</div>
                            <div class="profile-school-name">{{profile.currentUser.organizationOrUniversity}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <nav class="col-md-6 col-md-offset-2">
                            <div class="row">
                                <!--<div class="col-md-4"><span>{{'个人主页' | translate}}</span></div>-->
                                <div class="col-md-6"><span class="selected">{{'ProfilePageHeaderTitle' | translate}}</span></div>
                                <!--<div class="col-md-4"><span>{{'更多' | translate}}</span><span class="small-down-triangle"></span></div>-->
                            </div>
                        </nav>
                    </div>
                </div>
            </header>

            <section class="row profile-section">
                <aside class="col-md-4 detail-nav">
                    <img class="avatar" ng-src="/{{profile.currentUser.avatar.path || profile.css.defaultAvatar}}" />

                    <nav class="profile-nav">
                        <ul><!--['{{'上传头像' | translate}}', '{{'基本信息' | translate}}', '{{'安全信息' | translate}}', '{{'学校信息' | translate}}', '{{'团队信息' | translate}}', '{{'联系方式' | translate}}']-->
                            <li ng-class="{selected: profile.css.currentTabIndex == 0}" ng-click="profile.clickSwitchTab(0)">{{'ProfilePageTabUploadAvatar' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 1}" ng-click="profile.clickSwitchTab(1)">{{'ProfilePageTabBasicInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 3}" ng-click="profile.clickSwitchTab(3)">{{'ProfilePageTabSchoolInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 5}" ng-click="profile.clickSwitchTab(5)">{{'ProfilePageTabExperienceInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 2}" ng-click="profile.clickSwitchTab(2)">{{'ProfilePageTabSecurityInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 4}" ng-click="profile.clickSwitchTab(4)">{{'ProfilePageTabTeamInfo' | translate}}</li>
                        </ul>
                    </nav>
                </aside>
                <article class="col-md-8 profile-detail">
                    <div class="row alert-container">
                        <div id="profile-alert-container"></div>
                        <script type="text/ng-template" id="profile-alert-success.html">
                            <div class="alert alert-success">
                                <span>{{'ProfilePageAlertSaveSuccessful' | translate}}</span>
                            </div>
                        </script>
                        <script type="text/ng-template" id="profile-alert-failed.html">
                            <div class="alert alert-danger">
                                <span>{{'ProfilePageAlertSaveFailed' | translate}}</span>
                            </div>
                        </script>
                        <script type="text/ng-template" id="profile-alert-invalid-password.html">
                            <div class="alert alert-danger">
                                <span>{{'ProfilePageAlertInvalidPassword' | translate}}</span>
                            </div>
                        </script>
                    </div>
                    <div class="row" ng-if="profile.css.currentTabIndex == 0">
                        <div class="file-input-wrapper glyphicon glyphicon-plus center-block">
                            <span class="file-upload-text">{{'ProfilePageUploadAvatarSelectionButton' | translate}}</span>
                            <div class="wrapper">
                                <input class="file-input" type="file" nv-file-select uploader="profile.uploader" accept=".jpg,.png,.jpeg,.bmp,.gif"/>
                            </div>
                        </div>
                        <ul class="center-block preview-avatar profile-button-container">
                            <li ng-repeat="item in profile.uploader.queue">
                                <div ng-thumb="{ file: item._file}"></div>
                                <button type="submit" class="center-block" ng-click="item.upload()">{{'ProfilePageUploadAvatarSelectionButton' | translate}}</button>
                            </li>
                        </ul>
                    </div>

                    <div class="row" ng-if="profile.css.currentTabIndex == 1">
                        <div class="profile-detail-title">{{'ProfilePageTabBasicInfo' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile()">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form name="basicInfoForm" class="form-horizontal">
                            <div class="form-group">
                                <label for="currentLocation" class="control-label col-md-3 text-right">{{'ProfilePageEmail' | translate}} :</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">{{profile.currentUser.email}}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="firstName" class="control-label col-md-3 text-right">{{'ProfilePageBasicInfoName' | translate}} :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.firstName}}&nbsp</p>
                                </div>
                                <div class="col-xs-5" ng-if="profile.css.formEditing">
                                    <input type="text" ng-model="profile.formData.firstName" name="firstName" id="firstName" class="form-control">
                                </div>
                            </div>

                            <div class="form-group radio gender" ng-class="{'has-success':basicInfoForm.gender.$dirty&&basicInfoForm.gender.$valid, 'has-error':basicInfoForm.gender.$dirty&&basicInfoForm.gender.$invalid}">
                                <label class="col-md-3 control-label  text-right">{{'ProfilePageBasicInfoGender' | translate}} :</label>
                                <div class="col-xs-9" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static" ng-if="profile.currentUser.gender == 1">{{'ProfilePageBasicInfoGenderMale' | translate}}&nbsp;&nbsp;</p>
                                    <p class="form-control-static" ng-if="profile.currentUser.gender == 2">{{'ProfilePageBasicInfoGenderFemale' | translate}}</p>
                                </div>
                                <div class="col-xs-9 gender-radio" ng-if="profile.css.formEditing">
                                    <label  class="control-label control-inline"><input type="radio" ng-model="profile.formData.gender" name="gender" value="1"/>{{'ProfilePageBasicInfoGenderMale' | translate}}&nbsp;&nbsp;</label>
                                    <label class="female control-label control-inline"><input type="radio" ng-model="profile.formData.gender" name="gender" value="2"/>{{'ProfilePageBasicInfoGenderFemale' | translate}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="birthday" class="control-label col-md-3 text-right">{{'ProfilePageBasicInfoBirthday' | translate}} :</label>
                                <div class="col-xs-9" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.birthday|date:"dd-MMM-yyyy"}}</p>
                                </div>
                                <div class="col-md-5" ng-if="profile.css.formEditing">
                                    <input type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" class="form-control" ng-model="profile.formData.birthday" name="birthday" id="birthday" bs-datepicker>
                                </div>
                                <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.birthday.$invalid">{{'ProfilePageDateFormatError' | translate}}</span>
                            </div>

                            <div class="form-group" ng-class="{'has-error': basicInfoForm.currentLocation.$invalid, 'has-success':basicInfoForm.currentLocation.$dirty&&basicInfoForm.currentLocation.$valid}">
                                <label for="currentLocation" class="control-label col-md-3 text-right">{{'ProfilePageCurrentLocation' | translate}} :</label>
                                <div class="col-xs-9" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.currentLocation}}</p>
                                </div>
                                <div class="col-md-5" ng-if="profile.css.formEditing">
                                    <input type="text" class="form-control" ng-model="profile.formData.currentLocation" name="currentLocation" id="currentLocation">
                                </div>
                                <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.currentLocation.$invalid">{{'ProfilePageCurrentLocationFormatError' | translate}}</span>
                            </div>

                            <div class="form-group" ng-class="{'has-success':basicInfoForm.qq.$dirty&&basicInfoForm.qq.$valid, 'has-error':basicInfoForm.qq.$dirty&&basicInfoForm.qq.$invalid}" >
                                <label for="qq" class="control-label col-md-3 text-right">QQ :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.qq}}</p>
                                </div>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input ng-model="profile.formData.qq" type="text" id="qq" name="qq" class="form-control">
                                </div>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="basicInfoForm.qq.$invalid&&profile.css.errorFields.qq">{{'ProfilePageInvalidQQ' | translate}}</span>
                            </div>

                            <div class="form-group" ng-class="{'has-success':basicInfoForm.mobilePhone.$dirty&&basicInfoForm.mobilePhone.$valid, 'has-error':basicInfoForm.mobilePhone.$dirty&&basicInfoForm.mobilePhone.$invalid}" >
                                <label for="mobilePhone" class="control-label col-md-3 text-right">{{'ProfileContactInfoMobilePhone' | translate}} :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static " ng-class="{'text-success':profile.currentUser.phoneVerified, 'text-danger':!profile.currentUser.phoneVerified}">
                                        {{profile.currentUser.mobilePhone}} <span ng-if="profile.currentUser.mobilePhone">({{profile.currentUser.phoneVerified?'ProfileContactInfoMobileVerified':'ProfileContactInfoMobileUnverified' | translate}})</span>
                                    </p>
                                </div>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input ng-model="profile.formData.mobilePhone" type="text" id="mobilePhone" name="mobilePhone" class="form-control">
                                </div>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="basicInfoForm.mobilePhone.$invalid&&profile.css.errorFields.mobilePhone">{{'ProfilePageInvalidMobilePhoneNumber' | translate}}</span>
                            </div>

                            <div class="form-group" ng-if="!profile.css.formEditing" ng-class="{'has-success':basicInfoForm.mobilePhoneVerifyCode.$dirty&&basicInfoForm.mobilePhoneVerifyCode.$valid, 'has-error':basicInfoForm.mobilePhoneVerifyCode.$dirty&&basicInfoForm.mobilePhoneVerifyCode.$invalid}" >
                                <label for="mobilePhoneVerifyCode" class="control-label col-md-3 text-right">{{'ProfileContactInfoMobilePhoneVerify' | translate}} :</label>

                                <div class="col-xs-2">
                                    <input ng-model="profile.formData.mobilePhoneVerifyCode" type="text" id="mobilePhoneVerifyCode" name="mobilePhoneVerifyCode" class="form-control">
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-default" ng-if="!profile.css.mobileVerifyCodeResend" ng-click="profile.clickGetMobileVerifyCode(basicInfoForm)">{{'ProfileContactInfoMobilePhoneVerifySend' | translate}}</button>
                                    <button class="btn btn-default" ng-if="profile.css.mobileVerifyCodeResend" ng-click="profile.clickGetMobileVerifyCode(basicInfoForm)" ng-disabled="profile.css.mobileVerifyCodeTimeCounter>0">{{'ProfileContactInfoMobilePhoneVerifyReSend' | translate}}
                                        <span ng-hide="profile.css.mobileVerifyCodeTimeCounter==0">{{profile.css.mobileVerifyCodeTimeCounter}}</span>
                                    </button>
                                </div>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="basicInfoForm.mobilePhoneVerifyCode.$invalid&&profile.css.errorFields.mobilePhoneVerifyCode">{{'ProfilePageInvalidMobilePhoneNumberVerifyCode' | translate}}</span>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="basicInfoForm.mobilePhoneVerifyCode.$invalid&&profile.css.errorFields.mobilePhoneWrongFormat">{{'ProfilePageInvalidMobilePhoneNumber' | translate}}</span>
                            </div>

                            <div class="form-group" ng-if="profile.css.formEditing">
                                <div class="col-md-6 col-md-offset-3 profile-button-container">
                                    <button ng-click="profile.clickUpdateUserInfo(basicInfoForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                    <button ng-click="profile.clickCancelEditProfile()" class="cancel">{{'ProfilePageCancelButton' | translate}}</button>
                                </div>
                            </div>

                            <div class="row" ng-if="!profile.css.formEditing">
                                <div class="col-md-6 col-md-offset-3 profile-button-container">
                                    <button ng-click="profile.clickSendMobileVerifyCode(basicInfoForm)" type="submit">{{'ProfileContactInfoMobileVerifiedButton' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row education-background" ng-if="profile.css.currentTabIndex == 3">
                        <div class="profile-detail-title">{{'ProfilePageTabSchoolInfo' | translate}}<span class="profile-edit" ng-click="profile.clickSetEditingState({educationEditing: true, languageEditing: false, addLanguageEditing: false})">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form novalidate name="schoolForm" class="form-horizontal">
                            <div class="education" ng-repeat="education in profile.formData.eductionBackgrounds">
                                <h3>{{'ProfilePageEducation' | translate}} {{$index + 1}}:<span ng-click="profile.clickDeleteEducation($index)" ng-if="profile.css.educationEditing" class="form-control-static remove-button glyphicon glyphicon-minus button"></span></h3>
                                <div>
                                    <div class="form-group" ng-class="{'has-success':schoolForm['school' + $index].$dirty&&schoolForm['school' + $index].$valid, 'has-error':schoolForm['school' + $index].$dirty&&schoolForm['school' + $index].$invalid}">
                                        <label for="school{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoCollege' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.educationEditing">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].university}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.educationEditing">
                                            <input required type="text" ng-model="profile.formData.eductionBackgrounds[$index].university" name="school{{$index}}" id="school{{$index}}" class="form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['school' + $index].$dirty && schoolForm['school' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':schoolForm['degree' + $index].$dirty&&schoolForm['degree' + $index].$valid, 'has-error':schoolForm['degree' + $index].$dirty&&schoolForm['degree' + $index].$invalid}">
                                        <label for="degree{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoDegree' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.educationEditing">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].degree}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.educationEditing">
                                            <input required type="text" ng-model="profile.formData.eductionBackgrounds[$index].degree" id="degree{{$index}}" name="degree{{$index}}" class="col-md-2 form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['degree' + $index].$dirty && schoolForm['degree' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':schoolForm['major' + $index].$dirty&&schoolForm['major' + $index].$valid, 'has-error':schoolForm['major' + $index].$dirty&&schoolForm['major' + $index].$invalid}">
                                        <label for="major{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoMajor' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.educationEditing">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].major}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.educationEditing">
                                            <input required type="text" ng-model="profile.formData.eductionBackgrounds[$index].major" id="major{{$index}}" name="major{{$index}}" class="col-md-2 form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['major' +  $index].$dirty && schoolForm['major' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm['entryDate' +  $index].$dirty && schoolForm['entryDate' +  $index].$invalid, 'has-success':schoolForm['entryDate' +  $index].$dirty && schoolForm['entryDate' +  $index].$valid}">
                                        <label for="entryDate{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoEnterDate' | translate}} :</label>
                                        <div class="col-xs-3" ng-if="!profile.css.educationEditing">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].entryDate|date:"yyyy-MM-dd"}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.educationEditing">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" ng-model="profile.formData.eductionBackgrounds[$index].entryDate" id="entryDate{{$index}}" name="entryDate{{$index}}" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['entryDate' +  $index].$dirty && schoolForm['entryDate' +  $index].$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['entryDate' +  $index].$dirty && schoolForm['entryDate' +  $index].$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm['graduationDate' +  $index].$dirty && schoolForm['graduationDate' + $index].$invalid, 'has-success':schoolForm['graduationDate' + $index].$dirty&&schoolForm['graduationDate' + $index].$valid}">
                                        <label for="graduationDate{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoGraduationDate' | translate}} :</label>
                                        <div class="col-xs-3" ng-if="!profile.css.educationEditing">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].graduationDate|date:"yyyy-MM-dd"}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.educationEditing">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="{{profile.formData.eductionBackgrounds[$index].entryDate}}" data-autoclose="1" ng-model="profile.formData.eductionBackgrounds[$index].graduationDate" id="graduationDate{{$index}}" name="graduationDate{{$index}}" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['graduationDate' +  $index].$dirty && schoolForm['graduationDate' + $index].$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['graduationDate' +  $index].$dirty && schoolForm['graduationDate' +  $index].$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="abroad{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAbroad' | translate}} :</label>
                                        <div class="col-xs-9" ng-if="!profile.css.educationEditing">
                                            <pre class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].abroad}}&nbsp</pre>
                                        </div>
                                        <div class="col-xs-9" ng-if="profile.css.educationEditing">
                                            <div class="row">
                                                <div class="col-xs-11">
                                                    <textarea placeholder="{{'ProfilePageSchoolInfoAbroadInfo' | translate}}" rows="3" ng-model="profile.formData.eductionBackgrounds[$index].abroad" name="abroad{{$index}}" id="abroad{{$index}}" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="achievements{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAchievements' | translate}} :</label>
                                        <div class="col-xs-9" ng-if="!profile.css.educationEditing">
                                            <pre class="form-control-static" ng-repeat="achievement in profile.currentUser.eductionBackgrounds[$index].achievements">{{achievement.description}}</pre>
                                        </div>
                                        <div class="col-xs-9" ng-if="profile.css.educationEditing">
                                            <div class="row" ng-repeat="achievement in profile.formData.eductionBackgrounds[$parent.$index].achievements">
                                                <div class="col-xs-11">
                                                    <textarea rows="3" ng-model="achievement.description" name="achievements{{$parent.$index}}{{$index}}" class="form-control"></textarea>
                                                </div>
                                                <div class="col-xs-1">
                                                    <span ng-click="profile.formData.eductionBackgrounds[$parent.$index].achievements.splice($index, 1)" class="form-control-static remove-button glyphicon glyphicon-minus button"></span>
                                                </div>
                                            </div>
                                            <div ng-if="!profile.css.saving" class="row">
                                                <div class="col-xs-11">
                                                    <textarea rows="3" ng-model="education._newAchievement.description" name="newAchievement" id="newAchievement" class="form-control"></textarea>
                                                </div>
                                                <div class="col-xs-1" ng-if="education._newAchievement">
                                                    <span ng-click="profile.clickAddNewAchievementToExistEducation($parent.$index)" class="form-control-static add-button glyphicon glyphicon-plus button"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="profile.css.educationEditing" class="addEducation">
                                <h3>{{'ProfilePageAddEducation' | translate}}: <span ng-click="profile.clickDeleteNewEducation()" ng-if="profile.css.addEducationEditing" class="form-control-static remove-button glyphicon glyphicon-minus button"></span><span ng-if="!profile.css.addEducationEditing" ng-click="profile.clickSetEditingState({addEducationEditing: true})" class="form-control-static add-button glyphicon glyphicon-plus button"></span></h3>
                                <div ng-if="profile.css.addEducationEditing">
                                    <div class="form-group" ng-class="{'has-success':schoolForm.school.$dirty&&schoolForm.school.$valid, 'has-error':schoolForm.school.$dirty&&schoolForm.school.$invalid}">
                                        <label for="school" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoCollege' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" ng-model="profile.newEducation.university" name="school" id="school" class="form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.school.$dirty && schoolForm.school.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':schoolForm.degree.$dirty&&schoolForm.degree.$valid, 'has-error':schoolForm.degree.$dirty&&schoolForm.degree.$invalid}">
                                        <label for="degree" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoDegree' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" ng-model="profile.newEducation.degree" id="degree" name="degree" class="col-md-2 form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.degree.$dirty && schoolForm.degree.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':schoolForm.major.$dirty&&schoolForm.major.$valid, 'has-error':schoolForm.major.$dirty&&schoolForm.major.$invalid}">
                                        <label for="major" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoMajor' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" ng-model="profile.newEducation.major" id="major" name="major" class="col-md-2 form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm['major' +  $index].$dirty && schoolForm.major.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm.entryDate.$dirty && schoolForm.entryDate.$invalid, 'has-success':schoolForm.entryDate.$dirty && schoolForm.entryDate.$valid}">
                                        <label for="entryDate" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoEnterDate' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="{{profile.newEducation.graduationDate}}" data-autoclose="1" ng-model="profile.newEducation.entryDate" id="entryDate" name="entryDate" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.entryDate.$dirty && schoolForm.entryDate.$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.entryDate.$dirty && schoolForm.entryDate.$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm.graduationDate.$dirty && schoolForm.graduationDate.$invalid, 'has-success':schoolForm.graduationDate.$dirty&&schoolForm.graduationDate.$valid}">
                                        <label for="graduationDate" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoGraduationDate' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="{{profile.newEducation.entryDate}}" data-autoclose="1" ng-model="profile.newEducation.graduationDate" id="graduationDate" name="graduationDate" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.graduationDate.$dirty && schoolForm.graduationDate.$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.graduationDate.$dirty && schoolForm.graduationDate.$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="abroad" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAbroad' | translate}} :</label>
                                        <div class="col-xs-9">
                                            <div class="row">
                                                <div class="col-xs-11">
                                                    <textarea placeholder="{{'ProfilePageSchoolInfoAbroadInfo' | translate}}" rows="3" ng-model="profile.newEducation.abroad" name="abroad" id="abroad" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="achievements" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAchievements' | translate}} :</label>
                                        <div class="col-xs-9">
                                            <div class="row" ng-repeat="achievement in profile.newEducation.achievements">
                                                <div class="col-xs-11">
                                                    <!--<input type="text" ng-model="achievement.description" name="achievements{{$index}}" id="achievements{{$index}}" class="form-control">-->
                                                    <textarea rows="3" ng-model="achievement.description" name="achievements{{$index}}" id="achievements{{$index}}" class="form-control"></textarea>
                                                </div>
                                                <div class="col-xs-1">
                                                    <span ng-click="profile.newEducation.achievements.splice($index, 1)" class="form-control-static remove-button glyphicon glyphicon-minus button"></span>
                                                </div>
                                            </div>
                                            <div ng-if="!profile.css.saving" class="row">
                                                <div class="col-xs-11">
                                                    <textarea rows="3" ng-model="profile.newAchievement.description" name="newAchievement" id="newAchievement" class="form-control"></textarea>
                                                </div>
                                                <div class="col-xs-1" ng-if="profile.newAchievement.description">
                                                    <span ng-click="profile.clickAddNewAchievement()" class="form-control-static add-button glyphicon glyphicon-plus button"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="profile-detail-title">{{'ProfilePageTabLanguageSkills' | translate}}<span class="profile-edit" ng-click="profile.clickSetEditingState({educationEditing: false, languageEditing: true, addLanguageEditing: false})">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form novalidate name="languageForm" class="form-horizontal">
                            <ul>
                                <li class="form-group added-language" ng-repeat="skill in profile.formData.LanguageSkills">
                                    <span class="col-xs-4">{{skill.language | language | translate}} ({{skill.level | proficiency | translate}})</span>
                                    <span ng-click="profile.clickDeleteLanguage($index)" ng-if="profile.css.languageEditing && !profile.css.addLanguageEditing" class="col-xs-1 form-control-static remove-button glyphicon glyphicon-minus button"></span>
                                </li>
                            </ul>

                            <div ng-if="profile.css.languageEditing">
                                <h3>{{'ProfilePageAddLanguage' | translate}}<span ng-if="!profile.css.addLanguageEditing" ng-click="profile.clickSetEditingState({addLanguageEditing: true})" class="form-control-static add-button glyphicon glyphicon-plus button"></span></h3>
                                <div class="form-group" ng-if="profile.css.addLanguageEditing">
                                    <div class="col-xs-4">
                                        <select class="form-control" ng-model="profile.newLanguageSkill.language" ng-options="language.id as language.name | translate for language in profile.Constant.language">
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control col-xs-4" ng-model="profile.newLanguageSkill.level" ng-options="level.id as level.name | translate for level in profile.Constant.languageProficiency">
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <span ng-click="profile.clickAddNewLanguage()" class="form-control-static add-button glyphicon glyphicon-plus button"></span>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row" ng-if="profile.css.educationEditing || profile.css.languageEditing">
                            <!--for edit education-->
                            <div ng-if="profile.css.educationEditing" class="col-md-6 col-md-offset-3 profile-button-container">
                                <button ng-click="profile.clickUpdateUserInfo(schoolForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                <button class="cancel" ng-click="profile.clickResetEditingState()">{{'ProfilePageCancelButton' | translate}}</button>
                            </div>
                            <div ng-if="profile.css.languageEditing" class="col-md-6 col-md-offset-3 profile-button-container">
                                <button ng-click="profile.clickUpdateUserInfo(languageForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                <button class="cancel" ng-click="profile.clickResetEditingState()">{{'ProfilePageCancelButton' | translate}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="row work-experience" ng-if="profile.css.currentTabIndex == 5">
                        <div class="profile-detail-title">{{'ProfilePageTabExperienceInfo' | translate}}<span class="profile-edit" ng-click="profile.clickSetEditingState({experienceEditing: true, addLanguageEditing: false})">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form novalidate name="experienceForm" class="form-horizontal">
                            <div class="experience" ng-repeat="experience in profile.formData.workExperiences">
                                <h3>{{'ProfilePageExperience' | translate}} {{$index + 1}}:<span ng-click="profile.clickDeleteExperience($index)" ng-if="profile.css.experienceEditing" class="form-control-static remove-button glyphicon glyphicon-minus button"></span></h3>
                                <div>
                                    <div class="form-group" ng-class="{'has-success':experienceForm['company' + $index].$dirty&&experienceForm['company' + $index].$valid, 'has-error':experienceForm['company' + $index].$dirty&&experienceForm['company' + $index].$invalid}">
                                        <label for="company{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoCompany' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.experienceEditing">
                                            <pre class="form-control-static">{{profile.currentUser.workExperiences[$index].company}}&nbsp</pre>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.experienceEditing">
                                            <input required type="text" ng-model="profile.formData.workExperiences[$index].company" name="company{{$index}}" id="company{{$index}}" class="form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['company' + $index].$dirty && experienceForm['company' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':experienceForm['jobType' + $index].$dirty&&experienceForm['jobType' + $index].$valid, 'has-error':experienceForm['jobType' + $index].$dirty&&experienceForm['jobType' + $index].$invalid}">
                                        <label for="jobType{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoJobType' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.experienceEditing">
                                            <p class="form-control-static">{{profile.currentUser.workExperiences[$index].jobType | jobtype | translate}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.experienceEditing">
                                            <select required id="jobType{{$index}}" name="jobType{{$index}}" class="form-control col-xs-4" ng-model="profile.formData.workExperiences[$index].jobType" ng-options="type.id as type.name | translate for type in profile.Constant.jobType"></select>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['jobType' + $index].$dirty && experienceForm['jobType' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':experienceForm['industry' + $index].$dirty&&experienceForm['industry' + $index].$valid, 'has-error':experienceForm['industry' + $index].$dirty&&experienceForm['industry' + $index].$invalid}">
                                        <label for="industry{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoIndustry' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.experienceEditing">
                                            <p class="form-control-static">{{profile.currentUser.workExperiences[$index].industry}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.experienceEditing">
                                            <input required type="text" ng-model="profile.formData.workExperiences[$index].industry" id="industry{{$index}}" name="industry{{$index}}" class="col-md-2 form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['industry' + $index].$dirty && experienceForm['industry' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-success':experienceForm['position' + $index].$dirty&&experienceForm['position' + $index].$valid, 'has-error':experienceForm['position' + $index].$dirty&&experienceForm['position' + $index].$invalid}">
                                        <label for="position{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoPosition' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.experienceEditing">
                                            <p class="form-control-static">{{profile.currentUser.workExperiences[$index].position}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.experienceEditing">
                                            <input required type="text" ng-model="profile.formData.workExperiences[$index].position" name="position{{$index}}" id="position{{$index}}" class="form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['position' + $index].$dirty && experienceForm['position' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>
                                    
                                    <div class="form-group" ng-class="{'has-success':experienceForm['sizeOfCompany' + $index].$dirty&&experienceForm['sizeOfCompany' + $index].$valid, 'has-error':experienceForm['sizeOfCompany' + $index].$dirty&&experienceForm['sizeOfCompany' + $index].$invalid}">
                                        <label for="sizeOfCompany{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoSizeOfCompany' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.experienceEditing">
                                            <p class="form-control-static">{{profile.currentUser.workExperiences[$index].sizeOfCompany | companysize | translate}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.experienceEditing">
                                            <select required id="sizeOfCompany{{$index}}" name="sizeOfCompany{{$index}}" class="form-control col-xs-4" ng-model="profile.formData.workExperiences[$index].sizeOfCompany" ng-options="size.id as size.name | translate for size in profile.Constant.jobCompanySize"></select>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['sizeOfCompany' + $index].$dirty && experienceForm['sizeOfCompany' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': experienceForm['startDate' +  $index].$dirty&&experienceForm['startDate' +  $index].$invalid, 'has-success':experienceForm['startDate' +  $index].$dirty&&experienceForm['startDate' +  $index].$valid}">
                                        <label for="startDate{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoStartDate' | translate}} :</label>
                                        <div class="col-xs-3" ng-if="!profile.css.experienceEditing">
                                            <p class="form-control-static">{{profile.currentUser.workExperiences[$index].startDate|date:"yyyy-MM-dd"}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.experienceEditing">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="{{profile.formData.workExperiences[$index].endDate}}" data-autoclose="1" ng-model="profile.formData.workExperiences[$index].startDate" id="startDate{{$index}}" name="startDate{{$index}}" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['startDate' +  $index].$dirty&&experienceForm['startDate' +  $index].$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['startDate' +  $index].$dirty&&experienceForm['startDate' +  $index].$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': experienceForm['endDate' +  $index].$dirty&&experienceForm['endDate' +  $index].$invalid, 'has-success':experienceForm['endDate' +  $index].$dirty&&experienceForm['endDate' +  $index].$valid}">
                                        <label for="endDate{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoEndDate' | translate}} :</label>
                                        <div class="col-xs-3" ng-if="!profile.css.experienceEditing">
                                            <p class="form-control-static">{{profile.currentUser.workExperiences[$index].endDate|date:"yyyy-MM-dd"}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.experienceEditing">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="{{profile.formData.workExperiences[$index].startDate}}" data-autoclose="1" ng-model="profile.formData.workExperiences[$index].endDate" id="endDate{{$index}}" name="endDate{{$index}}" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['endDate' +  $index].$dirty&&experienceForm['endDate' +  $index].$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['endDate' +  $index].$dirty&&experienceForm['endDate' +  $index].$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-success':experienceForm['jobExperience' + $index].$dirty&&experienceForm['jobExperience' + $index].$valid, 'has-error':experienceForm['jobExperience' + $index].$dirty&&experienceForm['jobExperience' + $index].$invalid}">
                                        <label for="jobExperience{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoJobExperience' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.experienceEditing">
                                            <pre class="form-control-static">{{profile.currentUser.workExperiences[$index].jobExperience}}&nbsp</pre>
                                        </div>
                                        <div class="col-xs-9" ng-if="profile.css.experienceEditing">
                                            <div class="row">
                                                <div class="col-xs-11">
                                                    <textarea required rows="10" ng-model="profile.formData.workExperiences[$index].jobExperience" name="jobExperience{{$index}}" id="jobExperience{{$index}}" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="err-msg textarea-err-msg control-label form-control-static col-xs-4" ng-if="experienceForm['jobExperience' + $index].$dirty && experienceForm['jobExperience' + $index].$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>
                                    
                                </div>
                            </div>

                            <div ng-if="profile.css.experienceEditing" class="addExperience">
                                <h3>{{'ProfilePageAddExperience' | translate}}: <span ng-click="profile.clickDeleteNewExperience()" ng-if="profile.css.addExperienceEditing" class="form-control-static remove-button glyphicon glyphicon-minus button"></span><span ng-if="!profile.css.addExperienceEditing" ng-click="profile.clickSetEditingState({addExperienceEditing: true})" class="form-control-static add-button glyphicon glyphicon-plus button"></span></h3>
                                <div ng-if="profile.css.addExperienceEditing">
                                    <div class="form-group" ng-class="{'has-success':experienceForm.company.$dirty&&experienceForm.company.$valid, 'has-error':experienceForm.company.$dirty&&experienceForm.company.$invalid}">
                                        <label for="company" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoCompany' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" ng-model="profile.newExperience.company" name="company" id="company" class="form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.company.$dirty && experienceForm.company.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':experienceForm.jobType.$dirty&&experienceForm.jobType.$valid, 'has-error':experienceForm.jobType.$dirty&&experienceForm.jobType.$invalid}">
                                        <label for="jobType" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoJobType' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <select required name="jobType" id="jobType" class="form-control" ng-model="profile.newExperience.jobType" ng-options="type.id as type.name | translate for type in profile.Constant.jobType"></select>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.jobType.$dirty && experienceForm.jobType.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-success':experienceForm.industry.$dirty&&experienceForm.industry.$valid, 'has-error':experienceForm.industry.$dirty&&experienceForm.industry.$invalid}">
                                        <label for="industry" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoIndustry' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" ng-model="profile.newExperience.industry" id="industry" name="industry" class="col-md-2 form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.industry.$dirty && experienceForm.industry.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-success':experienceForm.position.$dirty&&experienceForm.position.$valid, 'has-error':experienceForm.position.$dirty&&experienceForm.position.$invalid}">
                                        <label for="position" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoPosition' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" ng-model="profile.newExperience.position" name="position" id="position" class="form-control">
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.position.$dirty && experienceForm.position.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-success':experienceForm.sizeOfCompany.$dirty&&experienceForm.sizeOfCompany.$valid, 'has-error':experienceForm.sizeOfCompany.$dirty&&experienceForm.sizeOfCompany.$invalid}">
                                        <label for="sizeOfCompany" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoSizeOfCompany' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <select id="sizeOfCompany" name="sizeOfCompany" required class="form-control" ng-model="profile.newExperience.sizeOfCompany" ng-options="size.id as size.name | translate for size in profile.Constant.jobCompanySize"></select>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.sizeOfCompany.$dirty && experienceForm.sizeOfCompany.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': experienceForm.startDate.$dirty&&experienceForm.startDate.$invalid, 'has-success':experienceForm.startDate.$dirty&&experienceForm.startDate.$valid}">
                                        <label for="startDate" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoStartDate' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="{{profile.newExperience.endDate}}" data-autoclose="1" ng-model="profile.newExperience.startDate" id="startDate" name="startDate" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.startDate.$dirty&&experienceForm.startDate.$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.startDate.$dirty&&experienceForm.startDate.$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': experienceForm.endDate.$dirty&&experienceForm.endDate.$invalid, 'has-success':experienceForm.endDate.$dirty&&experienceForm.endDate.$valid}">
                                        <label for="endDate" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoEndDate' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input required type="text" data-date-format="yyyy-MM-dd" data-min-date="{{profile.newExperience.startDate}}" data-autoclose="1" ng-model="profile.newExperience.endDate" id="endDate" name="endDate" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.endDate.$dirty&&experienceForm.endDate.$error.date">{{'ProfilePageDateFormatError' | translate}}</span>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.endDate.$dirty&&experienceForm.endDate.$error.required">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>


                                    <div class="form-group" ng-class="{'has-success':experienceForm.jobExperience.$dirty&&experienceForm.jobExperience.$valid, 'has-error':experienceForm.jobExperience.$dirty&&experienceForm.jobExperience.$invalid}">
                                        <label for="jobExperience" class="control-label col-md-3 text-right">{{'ProfilePageExperienceInfoJobExperience' | translate}} :</label>
                                        <div class="col-xs-9">
                                            <div class="row">
                                                <div class="col-xs-11">
                                                    <textarea required rows="10" ng-model="profile.newExperience.jobExperience" name="jobExperience" id="jobExperience" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="err-msg textarea-err-msg control-label form-control-static col-xs-4" ng-if="experienceForm.jobExperience.$dirty && experienceForm.jobExperience.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row save-button-container" ng-if="profile.css.experienceEditing">
                                <div class="col-md-6 col-md-offset-3 profile-button-container">
                                    <button ng-click="profile.clickUpdateUserInfo(experienceForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                    <button class="cancel" ng-click="profile.clickResetEditingState()">{{'ProfilePageCancelButton' | translate}}</button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="row" ng-if="profile.css.currentTabIndex == 2">
                        <div class="profile-detail-title">{{'ProfilePageTabSecurityInfo' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile()">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form name="securityInfoForm" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{'has-success':securityInfoForm.oldPassword.$dirty&&securityInfoForm.oldPassword.$valid, 'has-error':securityInfoForm.oldPassword.$dirty&&securityInfoForm.oldPassword.$invalid}">
                                <label for="oldPassword" class="control-label col-md-3 text-right">{{'ProfilePageSecurityInfoCurrentPassword' | translate}} :</label>
                                <div ng-if="profile.css.formEditing"  class="col-xs-5">
                                    <input type="password" ng-minlength="6" ng-maxlength="20" required ng-model="profile.formData.oldPassword" id="oldPassword" name="oldPassword" class="form-control">
                                </div>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.oldPassword.$dirty&&(securityInfoForm.oldPassword.$error.required||securityInfoForm.oldPassword.$invalid)">{{'ProfilePagePasswordError' | translate}}!</span>
                            </div>
                            <div class="form-group" ng-class="{'has-success':securityInfoForm.newPassword.$dirty&&securityInfoForm.newPassword.$valid, 'has-error':securityInfoForm.newPassword.$dirty&&(securityInfoForm.newPassword.$invalid||profile.formData.oldPassword==profile.formData.newPassword)}">
                                <label for="newPassword" class="control-label col-md-3 text-right">{{'ProfilePageSecurityInfoNewPassword' | translate}} :</label>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input type="password" required ng-minlength="6" ng-maxlength="20" ng-model="profile.formData.newPassword" id="newPassword" name="newPassword" class="form-control">
                                </div>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.newPassword.$dirty&&securityInfoForm.newPassword.$invalid">{{'ProfilePageNewPasswordError' | translate}}!</span>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.newPassword.$dirty&&!securityInfoForm.newPassword.$error.required&&(profile.formData.oldPassword==profile.formData.newPassword&&profile.formData.newPassword)">{{'ProfilePageTwoPasswordSameError' | translate}}!</span>
                            </div>
                            <div class="form-group" ng-class="{'has-success':securityInfoForm.rePassword.$dirty&&securityInfoForm.rePassword.$valid, 'has-error':securityInfoForm.rePassword.$dirty&&(securityInfoForm.rePassword.$invalid||profile.formData.rePassword!=profile.formData.newPassword)}">
                                <label for="rePassword" class="control-label col-xs-3 text-right">{{'ProfilePageSecurityInfoReTypeNewPassword' | translate}} :</label>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input  type="password" required ng-model="profile.formData.rePassword" id="rePassword" name="rePassword" class="form-control">
                                </div>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.rePassword.$dirty&&securityInfoForm.rePassword.$error.required">{{'ProfilePageConfirmPasswordError' | translate}}!</span>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.rePassword.$dirty&&(profile.formData.rePassword!==0&&profile.formData.rePassword)&&profile.formData.rePassword!=profile.formData.newPassword">{{'ProfilePageTwoPasswordsNotConsistent' | translate}}!</span>
                            </div>
                            <div class="row" ng-if="profile.css.formEditing">
                                <div class="col-md-6 col-md-offset-3 profile-button-container">
                                    <button type="submit" ng-click="profile.clickUpdatePassword(securityInfoForm)">{{'ProfilePageSaveButton' | translate}}</button>
                                    <button class="cancel" ng-click="profile.clickCancelEditProfile()">{{'ProfilePageCancelButton' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row team-info" ng-if="profile.css.currentTabIndex == 4">
                        <div class="profile-detail-title">{{'ProfilePageTabTeamInfo' | translate}}<!--<span class="profile-edit" ng-click="profile.clickEditProfile(3)">{{'ProfilePageEditButton' | translate}}</span>--></div>
                        <form novalidate name="teamNameForm" class="none-bottom form-horizontal" ng-submit="profile.clickUpdateTeamName(teamNameForm)">
                            <div class="form-group team-name" ng-class="{'has-success':teamNameForm.teamName.$dirty&&teamNameForm.teamName.$valid, 'has-error':teamNameForm.teamName.$dirty&&teamNameForm.teamName.$invalid}" >
                                <label class="col-md-3 control-label text-right team-label" for="teamName">{{'ProfilePageTeamInfoTeamName' | translate}} :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.team.name}}&nbsp</p>
                                </div>
                                <div class="col-xs-5" ng-if="profile.css.formEditing">
                                    <input class="form-control col-md-6" required ng-model="profile.formData.teamName" type="text" id="teamName" name="teamName">
                                </div>
                                <span class="err-msg control-label" ng-if="teamNameForm.teamName.$dirty&&teamNameForm.teamName.$error.required">{{'ProfilePageTeamNameRequiredError' | translate}}!</span>
                                <button ng-if="!profile.css.formEditing" class="button done col-md-3">{{'ProfilePageChangeButton' | translate}}</button>
                                <button ng-if="profile.css.formEditing" class="button col-md-3">{{'ProfilePageSaveButton' | translate}}</button>
                            </div>
                        </form>
                        <form novalidate name="teamForm" class="form-horizontal none-top">
                            <div class="form-group" ng-repeat="member in profile.currentUser.team.memberList">
                                <label class="control-label col-md-3 team-label text-right">{{'ProfilePageTeamInfoMember' | translate}}{{$index + 1}} :</label>
                                <div class="col-xs-5">
                                    <p class="form-control-static">{{member.username}}</p>
                                </div>
                                <span ng-click="profile.clickRemoveStudentToTeam(member._id)" class="form-control-static remove-button glyphicon glyphicon-minus col-md-3 button"></span>
                            </div>

                            <div class="form-group" ng-class="{'has-success':teamForm.name.$dirty&&teamForm.name.$valid, 'has-error':teamForm.name.$dirty&&teamForm.name.$invalid}">
                                <label for="name" class="control-label col-xs-3 text-right team-label">{{'ProfilePageTeamInfoNewMember' | translate}} :</label>
                                <div class="col-xs-5">
                                    <input placeholder="{{'ProfilePageNewMemberInputPlaceholder' | translate}}" ng-model="profile.formData.newTeamMember" required type="text" name="name" id="name" class="form-control">
                                </div>
                                <button type="submit" ng-click="profile.clickAddStudentToTeam(teamForm)" class="button glyphicon glyphicon-plus add-button col-xs-1"></button>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="teamForm.name.$dirty&&teamForm.name.$error.required">{{'ProfilePageNewMemberNameError' | translate}}!</span>
                            </div>
                            <!--<div class="row"><label for="name" class="col-md-3 team-label">{{'队员二' | translate}} :</label><input type="text" name="name" id="name" class="col-md-6"></div>-->
                        </form>
                    </div>

                </article>
            </section>
        </div>
    </div>


    <% include ./include/footer.ejs %>
    <% include ./include/footerscriptlogin.ejs %>
