    <% include include/headcss.ejs %>


    <body ng-app="b2clogin" class="profile-body" ng-controller="profileController as profile">

    <b2c-header currentuser="profile.currentUser"></b2c-header>

    <div class="profile-main" >
        <div class="container-fluid profile-content" ng-cloak>

            <header class="row">
                <div class="col-xs-12">
                    <div class="banner"></div>
                    <div class="user-info">
                        <img ng-src="/{{profile.currentUser.avatar.path || profile.css.defaultAvatar}}" class="profile-head"/>
                        <div class="text-info">
                            <div class="profile-username">{{profile.currentUser.username}}</div>
                            <div class="profile-school-name">{{profile.currentUser.organizationOrUniversity}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <nav class="col-md-6 col-md-offset-2">
                            <div class="row">
                                <!--<div class="col-md-4"><span>{{'个人主页' | translate}}</span></div>-->
                                <div class="col-md-6"><span class="selected">{{'ProfilePageHeaderTitle' | translate}}</span></div>
                                <!--<div class="col-md-4"><span>{{'更多' | translate}}</span><span class="small-down-triangle"></span></div>-->
                            </div>
                        </nav>
                    </div>
                </div>
            </header>

            <section class="row profile-section">
                <aside class="col-md-4 detail-nav">
                    <img class="avatar" ng-src="/{{profile.currentUser.avatar.path || profile.css.defaultAvatar}}" />

                    <nav class="profile-nav">
                        <ul><!--['{{'上传头像' | translate}}', '{{'基本信息' | translate}}', '{{'安全信息' | translate}}', '{{'学校信息' | translate}}', '{{'团队信息' | translate}}', '{{'联系方式' | translate}}']-->
                            <li ng-class="{selected: profile.css.currentTabIndex == 0}" ng-click="profile.clickSwitchTab(0)">{{'ProfilePageTabUploadAvatar' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 1}" ng-click="profile.clickSwitchTab(1)">{{'ProfilePageTabBasicInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 3}" ng-click="profile.clickSwitchTab(3)">{{'ProfilePageTabSchoolInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 5}" ng-click="profile.clickSwitchTab(5)">{{'ProfilePageTabWorkInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 2}" ng-click="profile.clickSwitchTab(2)">{{'ProfilePageTabSecurityInfo' | translate}}</li>
                            <li ng-class="{selected: profile.css.currentTabIndex == 4}" ng-click="profile.clickSwitchTab(4)">{{'ProfilePageTabTeamInfo' | translate}}</li>
                        </ul>
                    </nav>
                </aside>
                <article class="col-md-8 profile-detail">
                    <div class="row alert-container">
                        <div id="profile-alert-container"></div>
                        <script type="text/ng-template" id="profile-alert-success.html">
                            <div class="alert alert-success">
                                <span>{{'ProfilePageAlertSaveSuccessful' | translate}}</span>
                            </div>
                        </script>
                        <script type="text/ng-template" id="profile-alert-failed.html">
                            <div class="alert alert-danger">
                                <span>{{'ProfilePageAlertSaveFailed' | translate}}</span>
                            </div>
                        </script>
                        <script type="text/ng-template" id="profile-alert-invalid-password.html">
                            <div class="alert alert-danger">
                                <span>{{'ProfilePageAlertInvalidPassword' | translate}}</span>
                            </div>
                        </script>
                    </div>
                    <div class="row" ng-if="profile.css.currentTabIndex == 0">
                        <div class="file-input-wrapper glyphicon glyphicon-plus center-block">
                            <span class="file-upload-text">{{'ProfilePageUploadAvatarSelectionButton' | translate}}</span>
                            <div class="wrapper">
                                <input class="file-input" type="file" nv-file-select uploader="profile.uploader" accept=".jpg,.png,.jpeg,.bmp,.gif"/>
                            </div>
                        </div>
                        <ul class="center-block preview-avatar profile-button-container">
                            <li ng-repeat="item in profile.uploader.queue">
                                <div ng-thumb="{ file: item._file}"></div>
                                <button type="submit" class="center-block" ng-click="item.upload()">{{'ProfilePageUploadAvatarSelectionButton' | translate}}</button>
                            </li>
                        </ul>
                    </div>

                    <div class="row" ng-if="profile.css.currentTabIndex == 1">
                        <div class="profile-detail-title">{{'ProfilePageTabBasicInfo' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile()">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form name="basicInfoForm" class="form-horizontal">
                            <div class="form-group firstName">
                                <label for="firstName" class="control-label col-md-3 text-right">{{'ProfilePageBasicInfoName' | translate}} :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.firstName}}&nbsp</p>
                                </div>
                                <div class="col-xs-5" ng-if="profile.css.formEditing">
                                    <input type="text" ng-model="profile.formData.firstName" name="firstName" id="firstName" class="form-control">
                                </div>
                            </div>
                            <!--<div class="row"><label for="firstName" class="col-md-3 text-right">{{'用户名' | translate}} :</label><input type="text" name="name" id="name" class="col-md-7"></div>
                            <div class="row"><label for="email" class="col-md-3 text-right">{{'邮箱' | translate}} :</label><input type="text" id="email" name="email" class="col-md-7"></div>-->
                            <div class="form-group radio" ng-class="{'has-success':basicInfoForm.gender.$dirty&&basicInfoForm.gender.$valid, 'has-error':basicInfoForm.gender.$dirty&&basicInfoForm.gender.$invalid}">
                                <label class="col-md-3 control-label  text-right">{{'ProfilePageBasicInfoGender' | translate}} :</label>
                                <div class="col-xs-9" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static" ng-if="profile.currentUser.gender == 1">{{'ProfilePageBasicInfoGenderMale' | translate}}&nbsp;&nbsp;</p>
                                    <p class="form-control-static" ng-if="profile.currentUser.gender == 2">{{'ProfilePageBasicInfoGenderFemale' | translate}}</p>
                                </div>
                                <div class="col-xs-9 gender-radio" ng-if="profile.css.formEditing">
                                    <label  class="control-label control-inline"><input type="radio" ng-model="profile.formData.gender" name="gender" value="1"/>{{'ProfilePageBasicInfoGenderMale' | translate}}&nbsp;&nbsp;</label>
                                    <label class="female control-label control-inline"><input type="radio" ng-model="profile.formData.gender" name="gender" value="2"/>{{'ProfilePageBasicInfoGenderFemale' | translate}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="birthday" class="control-label col-md-3 text-right">{{'ProfilePageBasicInfoBirthday' | translate}} :</label>
                                <div class="col-xs-9" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.birthday|date:"dd-MMM-yyyy"}}</p>
                                </div>
                                <div class="col-md-5" ng-if="profile.css.formEditing">
                                    <input type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" class="form-control" ng-model="profile.formData.birthday" name="birthday" id="birthday" bs-datepicker>
                                </div>
                                <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.birthday.$invalid">{{'ProfilePageDateFormatError' | translate}}</span>
                            </div>

                            <div class="form-group" ng-class="{'has-error': basicInfoForm.currentLocation.$invalid, 'has-success':basicInfoForm.currentLocation.$dirty&&basicInfoForm.currentLocation.$valid}">
                                <label for="currentLocation" class="control-label col-md-3 text-right">{{'ProfilePageCurrentLocation' | translate}} :</label>
                                <div class="col-xs-9" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.currentLocation}}</p>
                                </div>
                                <div class="col-md-5" ng-if="profile.css.formEditing">
                                    <input type="text" class="form-control" ng-model="profile.formData.currentLocation" name="currentLocation" id="currentLocation">
                                </div>
                                <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.currentLocation.$invalid">{{'ProfilePageCurrentLocationFormatError' | translate}}</span>
                            </div>

                            <div class="form-group">
                                <label for="currentLocation" class="control-label col-md-3 text-right">{{'ProfilePageEmail' | translate}} :</label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">{{profile.currentUser.email}}</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-success':basicInfoForm.qq.$dirty&&basicInfoForm.qq.$valid, 'has-error':basicInfoForm.qq.$dirty&&basicInfoForm.qq.$invalid}" >
                                <label for="qq" class="control-label col-md-3 text-right">QQ :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.qq}}</p>
                                </div>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input ng-model="profile.formData.qq" type="text" id="qq" name="qq" class="form-control">
                                </div>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="basicInfoForm.qq.$dirty&&profile.css.errorFields.qq">{{'ProfilePageInvalidQQ' | translate}}</span>
                                <!--<span class="err-msg control-label" ng-if="contactForm.qq.$dirty&&contactForm.qq.$error.required">{{'请输入正确的' | translate}}qq!</span>-->
                            </div>

                            <div class="form-group" ng-class="{'has-success':basicInfoForm.mobilePhone.$dirty&&basicInfoForm.mobilePhone.$valid, 'has-error':basicInfoForm.mobilePhone.$dirty&&basicInfoForm.mobilePhone.$invalid}" >
                                <label for="mobilePhone" class="control-label col-md-3 text-right">{{'ProfileContactInfoMobilePhone' | translate}} :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.mobilePhone}}
                                        <span>&nbsp({{profile.currentUser.phoneVerified?'ProfileVerified':'ProfileUnVerified' | translate}})</span>
                                    </p>
                                </div>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input ng-model="profile.formData.mobilePhone" type="text" id="mobilePhone" name="mobilePhone" class="form-control">
                                </div>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="!contactForm.mobilePhone.$dirty&&profile.css.errorFields.mobilePhone">{{'ProfilePageInvalidMobilePhoneNumber' | translate}}</span>
                                <!--<span class="err-msg control-label" ng-if="contactForm.qq.$dirty&&contactForm.qq.$error.required">{{'请输入正确的' | translate}}qq!</span>-->
                            </div>

                            <div class="form-group" ng-if="profile.css.formEditing">
                                <div class="col-md-6 col-md-offset-3 profile-button-container">
                                    <button ng-click="profile.clickUpdateUserInfo(basicInfoForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                    <button ng-click="profile.clickCancelEditProfile()" class="cancel">{{'ProfilePageCancelButton' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" ng-if="profile.css.currentTabIndex == 3">
                        <div class="profile-detail-title">{{'ProfilePageTabSchoolInfo' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile('schoolForm')">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form name="schoolForm" class="form-horizontal">
                            <div class="education" ng-repeat="education in profile.currentUser.eductionBackgrounds">
                                <h3>{{'ProfilePageEducation' | translate}} {{$index + 1}}:<span ng-if="profile.css.schoolForm&&!profile.css.addNewEducation" class="form-control-static remove-button glyphicon glyphicon-minus button"></span></h3>
                                <div>
                                    <div class="form-group">
                                        <label for="school{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoCollege' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.schoolForm||profile.css.addNewEducation">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].university}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.schoolForm&&!profile.css.addNewEducation">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].university" name="school{{$index}}" id="school{{$index}}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="degree{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoDegree' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.schoolForm||profile.css.addNewEducation">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].degree}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.schoolForm&&!profile.css.addNewEducation">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].degree" id="degree{{$index}}" name="degree{{$index}}" class="col-md-2 form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="major{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoMajor' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.schoolForm||profile.css.addNewEducation">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].major}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.schoolForm&&!profile.css.addNewEducation">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].major" id="major{{$index}}" name="major{{$index}}" class="col-md-2 form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm.entryDate.$invalid, 'has-success':schoolForm.entryDate.$dirty&&schoolForm.entryDate.$valid}">
                                        <label for="entryDate{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoEnterDate' | translate}} :</label>
                                        <div class="col-xs-3" ng-if="!profile.css.schoolForm||profile.css.addNewEducation">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].entryDate|date:"yyyy-MM-dd"}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.schoolForm&&!profile.css.addNewEducation">
                                            <input type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" ng-model="profile.formData.eductionBackgrounds[$index].entryDate" id="entryDate{{$index}}" name="entryDate{{$index}}" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.entryDate.$invalid">{{'ProfilePageDateFormatError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm.graduationDate.$invalid, 'has-success':schoolForm.graduationDate.$dirty&&schoolForm.graduationDate.$valid}">
                                        <label for="graduationDate{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoGraduationDate' | translate}} :</label>
                                        <div class="col-xs-3" ng-if="!profile.css.schoolForm||profile.css.addNewEducation">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].graduationDate|date:"yyyy-MM-dd"}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.schoolForm&&!profile.css.addNewEducation">
                                            <input type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" ng-model="profile.formData.eductionBackgrounds[$index].graduationDate" id="graduationDate{{$index}}" name="graduationDate{{$index}}" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.graduationDate.$invalid">{{'ProfilePageDateFormatError' | translate}}</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="abroad{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAbroad' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.schoolForm||profile.css.addNewEducation">
                                            <p class="form-control-static">{{profile.currentUser.eductionBackgrounds[$index].abroad}}&nbsp</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.schoolForm&&!profile.css.addNewEducation">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].abroad" name="abroad{{$index}}" id="abroad{{$index}}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="achievements{{$index}}" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAchievements' | translate}} :</label>
                                        <div class="col-xs-5" ng-if="!profile.css.schoolForm||profile.css.addNewEducation">
                                            <p class="form-control-static" ng-repeat="achievement in profile.currentUser.eductionBackgrounds[$index].achievements">{{achievement}}</p>
                                        </div>
                                        <div class="col-xs-5" ng-if="profile.css.schoolForm&&!profile.css.addNewEducation">
                                            <input type="text" name="achievements{{$index}}" id="achievements{{$index}}" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <h3 ng-if="profile.css.schoolForm">{{'ProfilePageAddEducation' | translate}}: <span ng-click="profile.css.addNewEducation = true" class="form-control-static add-button glyphicon glyphicon-plus button"></span></h3>
                                <div ng-if="profile.css.addNewEducation">
                                    <div class="form-group">
                                        <label for="school" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoCollege' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].university" name="school" id="school" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="degree" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoDegree' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].degree" id="degree" name="degree" class="col-md-2 form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="major" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoMajor' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].major" id="major" name="major" class="col-md-2 form-control">
                                        </div>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm.entryDate.$invalid, 'has-success':schoolForm.entryDate.$dirty&&schoolForm.entryDate.$valid}">
                                        <label for="entryDate" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoEnterDate' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" ng-model="profile.formData.eductionBackgrounds[$index].entryDate" id="entryDate" name="entryDate" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.entryDate.$invalid">{{'ProfilePageDateFormatError' | translate}}</span>
                                    </div>

                                    <div class="row form-group" ng-class="{'has-error': schoolForm.graduationDate.$invalid, 'has-success':schoolForm.graduationDate.$dirty&&schoolForm.graduationDate.$valid}">
                                        <label for="graduationDate" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoGraduationDate' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input type="text" data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" ng-model="profile.formData.eductionBackgrounds[$index].graduationDate" id="graduationDate" name="graduationDate" class="form-control" bs-datepicker>
                                        </div>
                                        <span class="err-msg control-label form-control-static col-xs-4" ng-if="schoolForm.graduationDate.$invalid">{{'ProfilePageDateFormatError' | translate}}</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="abroad" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAbroad' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input type="text" ng-model="profile.formData.eductionBackgrounds[$index].abroad" name="abroad" id="abroad" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="achievements" class="control-label col-md-3 text-right">{{'ProfilePageSchoolInfoAchievements' | translate}} :</label>
                                        <div class="col-xs-5">
                                            <input type="text" name="achievements" id="achievements" class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div class="profile-detail-title">{{'ProfilePageTabLanguageSkills' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile('languageForm')">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form name="languageForm" class="form-horizontal">
                            <ul>
                                <li ng-repeat="skill in profile.currentUser.LanguageSkills">{{skill.language | translate}}({{skill.level | translate}})</li>
                            </ul>

                            <h3>{{'AddLanguage' | translate}}</h3>
                            <div>
                                <select class="form-control" ng-repeat=" in profile.languages">
                                    <option value="{{language}}">{{language | language | translate}}</option>
                                </select>
                                <select class="form-control"></select>
                                <span></span>
                            </div>
                        </form>

                        <div class="row" ng-if="profile.css.formEditing">
                            <!--for edit education-->
                            <div ng-if="profile.css.schoolForm" class="col-md-6 col-md-offset-3 profile-button-container">
                                <button ng-click="profile.clickUpdateUserInfo(schoolForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                <button class="cancel" ng-click="profile.clickCancelEditProfile()">{{'ProfilePageCancelButton' | translate}}</button>
                            </div>
                            <div ng-if="profile.css.languageForm" class="col-md-6 col-md-offset-3 profile-button-container">
                                <button ng-click="profile.clickUpdateUserInfo(languageForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                <button class="cancel" ng-click="profile.clickCancelEditProfile()">{{'ProfilePageCancelButton' | translate}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="profile.css.currentTabIndex == 5">
                        <div class="profile-detail-title">{{'ProfilePageTabContactInfo' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile()">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form name="contactForm" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{'has-success':contactForm.mobilePhoneVerifyCode.$dirty&&contactForm.mobilePhoneVerifyCode.$valid, 'has-error':contactForm.mobilePhoneVerifyCode.$dirty&&contactForm.mobilePhoneVerifyCode.$invalid}" >
                                <label for="mobilePhoneVerifyCode" class="control-label col-md-3 text-right">{{'ProfileContactInfoMobilePhoneVerify' | translate}} :</label>

                                <div class="col-xs-2">
                                    <input ng-model="profile.formData.mobilePhoneVerifyCode" type="text" id="mobilePhoneVerifyCode" name="mobilePhoneVerifyCode" class="form-control">
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-default" ng-if="!profile.css.mobileVerifyCodeResend" ng-click="profile.clickGetMobileVerifyCode()">{{'ProfileContactInfoMobilePhoneVerifySend' | translate}}</button>
                                    <button class="btn btn-default" ng-if="profile.css.mobileVerifyCodeResend" ng-click="profile.clickGetMobileVerifyCode()" ng-disabled="profile.css.mobileVerifyCodeTimeCounter>0">{{'ProfileContactInfoMobilePhoneVerifyReSend' | translate}} <span ng-hide="profile.css.mobileVerifyCodeTimeCounter==0">{{profile.css.mobileVerifyCodeTimeCounter}}</span></button>
                                    <button class="btn btn-default" ng-click="profile.clickSendMobileVerifyCode(contactForm)">Verify</button>
                                </div>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="!contactForm.mobilePhoneVerifyCode.$dirty&&profile.css.errorFields.mobilePhoneVerifyCode">{{'ProfilePageInvalidMobilePhoneNumberVerifyCode' | translate}}</span>
                                <!--<span class="err-msg control-label" ng-if="contactForm.qq.$dirty&&contactForm.qq.$error.required">{{'请输入正确的' | translate}}qq!</span>-->
                            </div>

                            <div class="row" ng-if="profile.css.formEditing">
                                <div class="col-md-6 col-md-offset-3 profile-button-container">
                                    <button ng-click="profile.clickUpdateUserInfo(contactForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                    <button class="cancel" ng-click="profile.clickCancelEditProfile()">{{'ProfilePageCancelButton' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" ng-if="profile.css.currentTabIndex == 2">
                        <div class="profile-detail-title">{{'ProfilePageTabSecurityInfo' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile()">{{'ProfilePageEditButton' | translate}}</span></div>
                        <form name="securityInfoForm" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{'has-success':securityInfoForm.oldPassword.$dirty&&securityInfoForm.oldPassword.$valid, 'has-error':securityInfoForm.oldPassword.$dirty&&securityInfoForm.oldPassword.$invalid}">
                                <label for="oldPassword" class="control-label col-md-3 text-right">{{'ProfilePageSecurityInfoCurrentPassword' | translate}} :</label>
                                <div ng-if="profile.css.formEditing"  class="col-xs-5">
                                    <input type="password" ng-minlength="6" ng-maxlength="20" required ng-model="profile.formData.oldPassword" id="oldPassword" name="oldPassword" class="form-control">
                                </div>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.oldPassword.$dirty&&(securityInfoForm.oldPassword.$error.required||securityInfoForm.oldPassword.$invalid)">{{'ProfilePagePasswordError' | translate}}!</span>
                            </div>
                            <div class="form-group" ng-class="{'has-success':securityInfoForm.newPassword.$dirty&&securityInfoForm.newPassword.$valid, 'has-error':securityInfoForm.newPassword.$dirty&&(securityInfoForm.newPassword.$invalid||profile.formData.oldPassword==profile.formData.newPassword)}">
                                <label for="newPassword" class="control-label col-md-3 text-right">{{'ProfilePageSecurityInfoNewPassword' | translate}} :</label>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input type="password" required ng-minlength="6" ng-maxlength="20" ng-model="profile.formData.newPassword" id="newPassword" name="newPassword" class="form-control">
                                </div>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.newPassword.$dirty&&securityInfoForm.newPassword.$invalid">{{'ProfilePageNewPasswordError' | translate}}!</span>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.newPassword.$dirty&&!securityInfoForm.newPassword.$error.required&&(profile.formData.oldPassword==profile.formData.newPassword&&profile.formData.newPassword)">{{'ProfilePageTwoPasswordSameError' | translate}}!</span>
                            </div>
                            <div class="form-group" ng-class="{'has-success':securityInfoForm.rePassword.$dirty&&securityInfoForm.rePassword.$valid, 'has-error':securityInfoForm.rePassword.$dirty&&(securityInfoForm.rePassword.$invalid||profile.formData.rePassword!=profile.formData.newPassword)}">
                                <label for="rePassword" class="control-label col-xs-3 text-right">{{'ProfilePageSecurityInfoReTypeNewPassword' | translate}} :</label>
                                <div ng-if="profile.css.formEditing" class="col-xs-5">
                                    <input  type="password" required ng-model="profile.formData.rePassword" id="rePassword" name="rePassword" class="form-control">
                                </div>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.rePassword.$dirty&&securityInfoForm.rePassword.$error.required">{{'ProfilePageConfirmPasswordError' | translate}}!</span>
                                <span class="col-xs-4 form-control-static err-msg control-label" ng-if="securityInfoForm.rePassword.$dirty&&(profile.formData.rePassword!==0&&profile.formData.rePassword)&&profile.formData.rePassword!=profile.formData.newPassword">{{'ProfilePageTwoPasswordsNotConsistent' | translate}}!</span>
                            </div>
                            <div class="row" ng-if="profile.css.formEditing">
                                <div class="col-md-6 col-md-offset-3 profile-button-container">
                                    <button type="submit" ng-click="profile.clickUpdatePassword(securityInfoForm)">{{'ProfilePageSaveButton' | translate}}</button>
                                    <button class="cancel" ng-click="profile.clickCancelEditProfile()">{{'ProfilePageCancelButton' | translate}}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row team-info" ng-if="profile.css.currentTabIndex == 4">
                        <div class="profile-detail-title">{{'ProfilePageTabTeamInfo' | translate}}<!--<span class="profile-edit" ng-click="profile.clickEditProfile(3)">{{'ProfilePageEditButton' | translate}}</span>--></div>
                        <form novalidate name="teamNameForm" class="none-bottom form-horizontal" ng-submit="profile.clickUpdateTeamName(teamNameForm)">
                            <div class="form-group team-name" ng-class="{'has-success':teamNameForm.teamName.$dirty&&teamNameForm.teamName.$valid, 'has-error':teamNameForm.teamName.$dirty&&teamNameForm.teamName.$invalid}" >
                                <label class="col-md-3 control-label text-right team-label" for="teamName">{{'ProfilePageTeamInfoTeamName' | translate}} :</label>
                                <div class="col-xs-5" ng-if="!profile.css.formEditing">
                                    <p class="form-control-static">{{profile.currentUser.team.name}}&nbsp</p>
                                </div>
                                <div class="col-xs-5" ng-if="profile.css.formEditing">
                                    <input class="form-control col-md-6" required ng-model="profile.formData.teamName" type="text" id="teamName" name="teamName">
                                </div>
                                <span class="err-msg control-label" ng-if="teamNameForm.teamName.$dirty&&teamNameForm.teamName.$error.required">{{'ProfilePageTeamNameRequiredError' | translate}}!</span>
                                <button ng-if="!profile.css.formEditing" class="done col-md-3">{{'ProfilePageChangeButton' | translate}}</button>
                                <button ng-if="profile.css.formEditing" class="col-md-3">{{'ProfilePageSaveButton' | translate}}</button>
                            </div>
                        </form>
                        <form novalidate name="teamForm" class="form-horizontal none-top">
                            <div class="form-group" ng-repeat="member in profile.currentUser.team.memberList">
                                <label class="control-label col-md-3 team-label text-right">{{'ProfilePageTeamInfoMember' | translate}}{{$index + 1}} :</label>
                                <div class="col-xs-5">
                                    <p class="form-control-static">{{member.username}}</p>
                                </div>
                                <span ng-click="profile.clickRemoveStudentToTeam(member._id)" class="form-control-static remove-button glyphicon glyphicon-minus col-md-3 button"></span>
                            </div>

                            <div class="form-group" ng-class="{'has-success':teamForm.name.$dirty&&teamForm.name.$valid, 'has-error':teamForm.name.$dirty&&teamForm.name.$invalid}">
                                <label for="name" class="control-label col-xs-3 text-right team-label">{{'ProfilePageTeamInfoNewMember' | translate}} :</label>
                                <div class="col-xs-5">
                                    <input placeholder="{{'ProfilePageNewMemberInputPlaceholder' | translate}}" ng-model="profile.formData.newTeamMember" required type="text" name="name" id="name" class="form-control">
                                </div>
                                <button type="submit" ng-click="profile.clickAddStudentToTeam(teamForm)" class="glyphicon glyphicon-plus add-button col-xs-1"></button>
                                <span class="form-control-static err-msg control-label col-xs-3" ng-if="teamForm.name.$dirty&&teamForm.name.$error.required">{{'ProfilePageNewMemberNameError' | translate}}!</span>
                            </div>
                            <!--<div class="row"><label for="name" class="col-md-3 team-label">{{'队员二' | translate}} :</label><input type="text" name="name" id="name" class="col-md-6"></div>-->
                        </form>
                    </div>

                    <!--                    <div class="row" ng-if="profile.css.currentTabIndex == 5">
                                            <div class="profile-detail-title">{{'ProfilePageTabContactInfo' | translate}}<span class="profile-edit" ng-click="profile.clickEditProfile()">{{'ProfilePageEditButton' | translate}}</span></div>
                                            <form name="contactForm" class="form-horizontal" novalidate>
                                                <div class="form-group" ng-class="{'has-success':contactForm.mobilePhoneVerifyCode.$dirty&&contactForm.mobilePhoneVerifyCode.$valid, 'has-error':contactForm.mobilePhoneVerifyCode.$dirty&&contactForm.mobilePhoneVerifyCode.$invalid}" >
                                                    <label for="mobilePhoneVerifyCode" class="control-label col-md-3 text-right">{{'ProfileContactInfoMobilePhoneVerify' | translate}} :</label>

                                                    <div class="col-xs-2">
                                                        <input ng-model="profile.formData.mobilePhoneVerifyCode" type="text" id="mobilePhoneVerifyCode" name="mobilePhoneVerifyCode" class="form-control">
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <button class="btn btn-default" ng-if="!profile.css.mobileVerifyCodeResend" ng-click="profile.clickGetMobileVerifyCode()">{{'ProfileContactInfoMobilePhoneVerifySend' | translate}}</button>
                                                        <button class="btn btn-default" ng-if="profile.css.mobileVerifyCodeResend" ng-click="profile.clickGetMobileVerifyCode()" ng-disabled="profile.css.mobileVerifyCodeTimeCounter>0">{{'ProfileContactInfoMobilePhoneVerifyReSend' | translate}} <span ng-hide="profile.css.mobileVerifyCodeTimeCounter==0">{{profile.css.mobileVerifyCodeTimeCounter}}</span></button>
                                                        <button class="btn btn-default" ng-click="profile.clickSendMobileVerifyCode(contactForm)">Verify</button>
                                                    </div>
                                                    <span class="form-control-static err-msg control-label col-xs-3" ng-if="!contactForm.mobilePhoneVerifyCode.$dirty&&profile.css.errorFields.mobilePhoneVerifyCode">{{'ProfilePageInvalidMobilePhoneNumberVerifyCode' | translate}}</span>
                                                    &lt;!&ndash;<span class="err-msg control-label" ng-if="contactForm.qq.$dirty&&contactForm.qq.$error.required">{{'请输入正确的' | translate}}qq!</span>&ndash;&gt;
                                                </div>

                                                <div class="row" ng-if="profile.css.formEditing">
                                                    <div class="col-md-6 col-md-offset-3 profile-button-container">
                                                        <button ng-click="profile.clickUpdateUserInfo(contactForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
                                                        <button class="cancel" ng-click="profile.clickCancelEditProfile()">{{'ProfilePageCancelButton' | translate}}</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>-->

                </article>
            </section>
        </div>
    </div>


    <% include ./include/footerscriptlogin.ejs %>
