<% include marksimosuser/include/headcssuser.html %>


<body >

<div class="container-fluid width_big_screen" >

    <div class="row login" >
        <div class="col-md-8 col-md-offset-2 panelbox">

            <div class="row">
                <div class="col-md-12">
                    <h3>22</h3>
                    <h3>500 </h3>
                </div>
            </div>


            <div class="row contentbox">

            </div>

        </div>
    </div>


</div>

<% include marksimosuser/include/footerscriptuserlogin.html %>

