<% include marksimosuser/include/headcssuser.html %>


<body >

<div class="container-fluid width_big_screen" >


    <div class="row login" >
        <div class="col-md-8 col-md-offset-2 panelbox">

            <div class="row">
                <div class="col-md-12"><h2 class="text-center">404 Page Not Found! </h2>
                    <p class="text-danger text-center">This page <%= url %> have been removed, Please try others. <a href="/e4e" class="btn btn-success btn-sm">Return Website</a></p>
                </div>
            </div>


            <div class="row contentbox">

            </div>

        </div>
    </div>


</div>

<% include marksimosuser/include/footerscriptuserlogin.html %>

