<% include ./include/headcssuser.html %>


<body ng-app="marksimos">

<div class="container-fluid width_big_screen" ng-controller="chartController">

    <header-user login="true" click-home="switchHeaderMenu('Home')" click-report="switchHeaderMenu('Report')" current-menu="css.menu"></header-user>



    <div class="row mainbody bgbrand" ng-if="css.menu=='Home'">
        <div class="col-md-2 user_home_divider user_brand_box">

            <div class="row ">
                <h4 class="user_maincompany">Company <span class="company_a">A</span> </h4>

            </div>
            <div class="row">
                <div class="col-md-5">
                    <img src="./app/css/images/avator.png">
                </div>
                <div class="col-md-7">
                    <h5>ID Name</h5>
                    <span class="user_title">Market Manage</span>
                    <span class="user_title">5 Team Member</span>
                </div>
            </div>
        </div>

        <div class="col-md-7 user_home_divider user_brand_box">
            <div class="row">
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 1</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 2</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 3</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 4</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 5</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-1 user_home_divider user_brand_box">
            <div class="row">
                <div class="col-md-12">
                    <span class="user_competitorsnum">6</span>
                    <span class="user_competitors">Companies</span>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 user_home_divider_horizontal">
                    <span class="user_clock"><strong>1h22mins left</strong> for submitting decision</span>
                </div>
            </div>
            <div class="row">
                <span class="user_makedecision">Mission: Market Share + Profit</span>
                <button type="button" class="btn user_decisionbutton">Make Decision</button>
            </div>
        </div>

    </div>

    <div class="row mainbody" ng-if="css.menu=='Home'">
        <div class="col-md-12">
            <div class="row user_home_divider_horizontal ">
                <div class="col-md-6 col-md-offset-3 ">
                    <img src="./app/css/images/temp1.png" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-md-offset-3 user_search_chart">
                    <div class="input-group">
                        <div class="input-group-btn">

                            <button type="button" class="btn btn-default dropdown-toggle droplist_company" data-toggle="dropdown">Company A <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Company A</a></li>
                                <li><a href="#">Company B</a></li>
                                <li><a href="#">Company C</a></li>
                            </ul>
                        </div><!-- /btn-group -->

                        <input type="text" class="form-control" placeholder="find report or chart">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="panel panel-primary user_chart_list">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Company</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="clickChartMenu('A1')">Company Status</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('A2')">Financial Data</li>
                            <li class="list-group-item" ng-click="clickChartMenu('A3')">Inventory Report</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="panel panel-primary user_chart_list user_chart_list_bg2">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Competitor</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="clickChartMenu('B1')">Market Share</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('B2')">Competitor Information</li>
                            <li class="list-group-item" ng-click="clickChartMenu('B3')">Investment & Profits</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('B4')">Market Sales & Inventory</li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="panel panel-primary user_chart_list">
                        <div class="panel-heading">
                            <h3 class="panel-title">Market Landscape</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="clickChartMenu('C1')">Segment Leader Top5</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('C2')">Perception Map</li>
                            <li class="list-group-item" ng-click="clickChartMenu('C3')">Segment Distributions</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('C4')">Market Evolution</li>
                            <li class="list-group-item" ng-click="clickChartMenu('C5')">Market Indicator</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row mainbody bgbrand" ng-if="css.menu=='Report'">
        <div class="col-md-2 user_home_divider user_chart_box">

            <div class="row ">
                <h4 class="user_maincompany user_chart_company">Company <span class="company_a">A</span> </h4>

            </div>

        </div>

        <div class="col-md-5 user_home_divider user_chart_box" >
            <div class="row">
                <div class="col-md-12 user_chart_search_box">
                    <div class="input-group">
                        <div class="input-group-btn">

                            <button type="button" class="btn btn-default dropdown-toggle droplist_company" data-toggle="dropdown">Company A <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Company A</a></li>
                                <li><a href="#">Company B</a></li>
                                <li><a href="#">Company C</a></li>
                            </ul>
                        </div><!-- /btn-group -->

                        <input type="text" class="form-control" placeholder="find report or chart">
                    </div><!-- /input-group -->
                </div>

            </div>
        </div>

        <div class="col-md-1 user_home_divider user_chart_box">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_chart_vs"> Compare Data</span>
                </div>
            </div>
        </div>

        <div class="col-md-2 user_home_divider user_chart_box">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_clock user_chart_clock"><strong>1h22mins left</strong> for submitting decision</span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_chart_make_decision">Mission: Market Share + Profit</span>
                    <button type="button" class="btn user_chart_decision_button">Make Decision</button>
                </div>
            </div>

        </div>

    </div>

    <div class="row mainbody bgbrand" ng-if="css.menu=='Report'">
        <div class="col-md-2 user_chart_padding user_home_divider">

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Your Company</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='A1'}" ng-click="clickChartMenu('A1')">Company Status(F)</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='A2'}" ng-click="clickChartMenu('A2')">Financial Data</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='A3'}" ng-click="clickChartMenu('A3')">Inventory Report(F)</li>
                </ul>
            </div>

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Your Competitor</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B1'}" ng-click="clickChartMenu('B1')">Market Share</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B2'}" ng-click="clickChartMenu('B2')">Competitor Information</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B3'}" ng-click="clickChartMenu('B3')">Investment & Profits(F)</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B4'}" ng-click="clickChartMenu('B4')">Market Sales & Inventory(F)</li>
                </ul>
            </div>

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Market Landscape</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C1'}" ng-click="clickChartMenu('C1')">Segment Leader Top5(F)</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C2'}" ng-click="clickChartMenu('C2')">Perception Map(F)</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C3'}" ng-click="clickChartMenu('C3')">Segment Distributions</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C4'}" ng-click="clickChartMenu('C4')">Market Evolution(F)</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C5'}" ng-click="clickChartMenu('C5')">Market Indicator</li>
                </ul>
            </div>

        </div>


        <div class="col-md-10 user_chart_right" ng-if="css.chartMenu=='A1'">
            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartA11MarketShareInValue.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartA11MarketShareInValue.type" ac-data="data.chartA11MarketShareInValue.data" ac-config="data.chartA11MarketShareInValue.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartA12MarketShareInVolume.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartA12MarketShareInVolume.type" ac-data="data.chartA12MarketShareInVolume.data" ac-config="data.chartA12MarketShareInVolume.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartA13MindSpaceShare.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartA13MindSpaceShare.type" ac-data="data.chartA13MindSpaceShare.data" ac-config="data.chartA13MindSpaceShare.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartA14ShelfSpaceShare.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartA14ShelfSpaceShare.type" ac-data="data.chartA14ShelfSpaceShare.data" ac-config="data.chartA14ShelfSpaceShare.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10 user_chart_right" ng-if="css.chartMenu=='A3'">
            <div class="row">
                <div class="col-md-12 user_chart_single chart_1">
                    <h5>{{data.chartA31InventoryReport.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <nvd3-multi-bar-chart data="data.chartA31InventoryReport.data" tooltipcontent="A31ToolTipContent()"
                         color="A31ColorFunction()" legendcolor="A31ColorFunction()"
                         height="600" showXAxis="true" showYAxis="true" stacked="true" showLegend="true" reduceXTicks="false" tooltips="true" interactive="true">
                        <svg></svg>
                    </nvd3-multi-bar-chart>

                    <p class="text-center">Total Stock (milions of standard pack) = Factory Stock + Trade Stock + Retailer Stock</p>
                </div>

            </div>
        </div>


        <div class="col-md-10 user_chart_right" ng-if="css.chartMenu=='B3'">
            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB31TotalInvestment.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB31TotalInvestment.type" ac-data="data.chartB31TotalInvestment.data" ac-config="data.chartB31TotalInvestment.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB32NetProfitByCompanies.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB32NetProfitByCompanies.type" ac-data="data.chartB32NetProfitByCompanies.data" ac-config="data.chartB32NetProfitByCompanies.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB33ReturnOnInvestment.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB33ReturnOnInvestment.type" ac-data="data.chartB33ReturnOnInvestment.data" ac-config="data.chartB33ReturnOnInvestment.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB34InvestmentsVersusBudget.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB34InvestmentsVersusBudget.type" ac-data="data.chartB34InvestmentsVersusBudget.data" ac-config="data.chartB34InvestmentsVersusBudget.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10 user_chart_right" ng-if="css.chartMenu=='B4'">
            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB41MarketSalesValue.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB41MarketSalesValue.type" ac-data="data.chartB41MarketSalesValue.data" ac-config="data.chartB41MarketSalesValue.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB42MarketSalesVolume.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB42MarketSalesVolume.type" ac-data="data.chartB42MarketSalesVolume.data" ac-config="data.chartB42MarketSalesVolume.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB43TotalInventoryAtFactory.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB43TotalInventoryAtFactory.type" ac-data="data.chartB43TotalInventoryAtFactory.data" ac-config="data.chartB43TotalInventoryAtFactory.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartB44TotalInventoryAtTrade.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartB44TotalInventoryAtTrade.type" ac-data="data.chartB44TotalInventoryAtTrade.data" ac-config="data.chartB44TotalInventoryAtTrade.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10 user_chart_right" ng-if="css.chartMenu=='C1'">
            <div class="row">
                <div class="col-md-4 user_chart_single chart_3">
                    <h5>{{data.chartC11SegmentsLeadersByValuePriceSensitive.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC11SegmentsLeadersByValuePriceSensitive.type" ac-data="data.chartC11SegmentsLeadersByValuePriceSensitive.data" ac-config="data.chartC11SegmentsLeadersByValuePriceSensitive.config" class="chartBox"></div>
                </div>
                <div class="col-md-4 user_chart_single chart_3">
                    <h5>{{data.chartC12SegmentsLeadersByValuePretenders.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC12SegmentsLeadersByValuePretenders.type" ac-data="data.chartC12SegmentsLeadersByValuePretenders.data" ac-config="data.chartC12SegmentsLeadersByValuePretenders.config" class="chartBox"></div>
                </div>
                <div class="col-md-4 user_chart_single chart_3">
                    <h5>{{data.chartC13SegmentsLeadersByValueModerate.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC13SegmentsLeadersByValueModerate.type" ac-data="data.chartC13SegmentsLeadersByValueModerate.data" ac-config="data.chartC13SegmentsLeadersByValueModerate.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 user_chart_single chart_3">
                    <h5>{{data.chartC14SegmentsLeadersByValueGoodLife.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC14SegmentsLeadersByValueGoodLife.type" ac-data="data.chartC14SegmentsLeadersByValueGoodLife.data" ac-config="data.chartC14SegmentsLeadersByValueGoodLife.config" class="chartBox"></div>
                </div>
                <div class="col-md-4 user_chart_single chart_3">
                    <h5>{{data.chartC15SegmentsLeadersByValueUltimate.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC15SegmentsLeadersByValueUltimate.type" ac-data="data.chartC15SegmentsLeadersByValueUltimate.data" ac-config="data.chartC15SegmentsLeadersByValueUltimate.config" class="chartBox"></div>
                </div>
                <div class="col-md-4 user_chart_single chart_3">
                    <h5>{{data.chartC16SegmentsLeadersByValuePragmatic.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC16SegmentsLeadersByValuePragmatic.type" ac-data="data.chartC16SegmentsLeadersByValuePragmatic.data" ac-config="data.chartC16SegmentsLeadersByValuePragmatic.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10 user_chart_right" ng-if="css.chartMenu=='C2'">
            <div class="row">
                <div class="col-md-12 user_chart_single chart_1">
                    <h5>{{data.chartC21PerceptionMap.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>

                        <div class="btn-group btn-group-xs perception_map_group">
                            <button type="button" class="btn btn-default perception_map_button" ng-click="switchPerceptionMapsData('sku')">SKU</button>
                            <button type="button" class="btn btn-default perception_map_button" ng-click="switchPerceptionMapsData('brand')">Brand</button>
                        </div>
                    </h5>
                    <nvd3-scatter-chart data="data.chartC21PerceptionMap.dataChart"
                        xaxislabel="Value Perception" yaxislabel="Image Perception" color="A31ColorFunction()" legendcolor="A31ColorFunction()" shape="C31shapeFunction()" tooltipContent="C31TooltipContent()"
                        height="600" margin="{left:100}" showXAxis="true" showYAxis="true"  showLegend="true"  tooltips="true" interactive="true" fisheye="1000" transitionDuration="500">
                        <svg></svg>
                    </nvd3-scatter-chart>
                </div>
            </div>
        </div>


        <div class="col-md-10 user_chart_right" ng-if="css.chartMenu=='C4'">
            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartC41GrowthRateInVolume.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC41GrowthRateInVolume.type" ac-data="data.chartC41GrowthRateInVolume.data" ac-config="data.chartC41GrowthRateInVolume.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartC42GrowthRateInValue.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC42GrowthRateInValue.type" ac-data="data.chartC42GrowthRateInValue.data" ac-config="data.chartC42GrowthRateInValue.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartC43NetMarketPrice.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC43NetMarketPrice.type" ac-data="data.chartC43NetMarketPrice.data" ac-config="data.chartC43NetMarketPrice.config" class="chartBox"></div>
                </div>
                <div class="col-md-6 user_chart_single chart_2">
                    <h5>{{data.chartC44SegmentValueShareTotalMarket.config.title}}
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <!--<span class="glyphicon glyphicon-resize-full chart_icon"></span>-->
                        <span class="glyphicon glyphicon-save chart_icon"></span>
                    </h5>
                    <div ac-chart="data.chartC44SegmentValueShareTotalMarket.type" ac-data="data.chartC44SegmentValueShareTotalMarket.data" ac-config="data.chartC44SegmentValueShareTotalMarket.config" class="chartBox"></div>
                </div>
            </div>
        </div>


    </div>




    <div class="row mainbody bgbrand" ng-if="css.menu=='Decision'">
        <div class="col-md-2 user_home_divider user_chart_box">

            <div class="row ">
                <h4 class="user_maincompany user_chart_company">Company <span class="company_a">A</span> </h4>
            </div>

        </div>

        <div class="col-md-7 user_home_divider user_chart_box" >
            <div class="row">
                <div class="col-md-4">
                    <h6 class="progress_title text-center">Total Available Budget</h6>
                    <div class="progress progress_radius">
                        <div class="progress-bar progress_bar_budget" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6 class="progress_title text-center">Normal Capacity</h6>
                    <div class="progress progress_radius">
                        <div class="progress-bar progress_bar_normal_capacity" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h6 class="progress_title text-center">Overtime Capacity</h6>
                    <div class="progress progress_radius">
                        <div class="progress-bar progress_bar_overtime" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-1 user_home_divider user_chart_box">

            <form class=" budget_form" role="form">
                <div class="form-group">
                    <label class="budget_title" for="additionalBudget" ng-show="css.additionalBudget" ng-click="css.additionalBudget=false">$</label>
                    <label class="text-center" for="additionalBudget" ng-show="css.additionalBudget" ng-click="css.additionalBudget=false">Additional Budget</label>
                    <input type="number" class="form-control input-sm" id="additionalBudget"  ng-hide="css.additionalBudget" placeholder="Budget" >
                    <button type="submit" class="btn btn-default btn-sm" ng-hide="css.additionalBudget" ng-click="css.additionalBudget=true">Save</button>
                </div>
            </form>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_clock user_chart_clock"><strong>1h22mins left</strong> for submitting decision</span>
                </div>
            </div>

        </div>

    </div>

    <div class="row mainbody" ng-if="css.menu=='Decision'">
        <div class="col-md-5 decision_box">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">MAKE DECISIONS</h4>
                    <h6 class="text-center">Market Share + Profit</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">


                    <ul class="nav nav-pills">
                        <li ng-class="{'active': css.currentBrandId==brand._id}" ng-repeat="brand in data.currentCompany.d_BrandsDecisions" ng-click="clickBrand(brand)">
                            <a href="" >{{brand.d_BrandName}}</a>
                        </li>

                        <li><a href="#">+</a></li>
                    </ul>

                    <div class="row brand_box">
                        <div class="col-md-12">

                            <form class="form-horizontal brand_form" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="brandSalesForce">Sales Force($min)</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="brandSalesForce" placeholder="">
                                    </div>
                                    <!--<div class="col-sm-2">-->
                                        <!--<button type="submit" class="btn btn-default">Save</button>-->
                                    <!--</div>-->
                                </div>
                            </form>

                            <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                    <!--<ul class="nav nav-pills">-->
                                        <!--<li class="active"><a href="#">SKU A</a></li>-->
                                        <!--<li><a href="#">SKU B</a></li>-->
                                        <!--<li><a href="#">SKU C</a></li>-->
                                        <!--<li><a href="#">SKU D</a></li>-->
                                        <!--<li><a href="#">SKU E</a></li>-->
                                        <!--<li><a href="#">+</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="row sku_box">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="sku_table">Name <button class="btn btn-default btn-xs">+</button></th>
                                                <th ng-repeat="sku in data.currentBrand.d_SKUsDecisions">{{sku.d_SKUName}}</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr >
                                                <td>Discontinue?</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="checkbox" ng-model="sku.d_ToDrop" ng-change="leaveSkuInput(sku, 'd_ToDrop', sku.d_ToDrop)">
                                                </td>
                                            </tr>
                                            <tr >
                                                <td class="tdgroup">Processing Technology</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_Technology" ng-blur="leaveSkuInput(sku, 'd_Technology', sku.d_Technology)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ingredients Quality</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_IngredientsQuality" ng-blur="leaveSkuInput(sku, 'd_IngredientsQuality', sku.d_IngredientsQuality)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Packaging Size</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <span ng-if="sku.d_PackSize==0">Small</span>
                                                    <span ng-if="sku.d_PackSize==1">Standard</span>
                                                    <span ng-if="sku.d_PackSize==2">Large</span>
                                                 </td>
                                            </tr>
                                            <tr>
                                                <td class="tdgroup">Production Volume (mln Packs)</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_ProductionVolume" ng-blur="leaveSkuInput(sku, 'd_ProductionVolume', sku.d_ProductionVolume)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Manufacturer Price ($)</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_FactoryPrice[sku.d_FactoryPrice.length-1]" ng-blur="leaveSkuInput(sku, 'd_FactoryPrice', sku.d_FactoryPrice[sku.d_FactoryPrice.length-1])">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Reprice Factory Stock?</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="checkbox" ng-model="sku.d_RepriceFactoryStocks" ng-change="leaveSkuInput(sku, 'd_RepriceFactoryStocks', sku.d_RepriceFactoryStocks)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdgroup">Consumer Communication ($mln)</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_Advertising" ng-blur="leaveSkuInput(sku, 'd_Advertising', sku.d_Advertising)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Target Consumer Segment</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <select ng-model="sku.d_TargetConsumerSegment" ng-options="segment.id as segment.name for segment in data.userSegment" ng-change="leaveSkuInput(sku, 'd_TargetConsumerSegment', sku.d_TargetConsumerSegment)"></select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdgroup">Consumer Promotions ($mln) </td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_PromotionalBudget" ng-blur="leaveSkuInput(sku, 'd_PromotionalBudget', sku.d_PromotionalBudget)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Consumer Promotions Schedule </td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">week
                                                    <span ng-repeat="week in sku.d_PromotionalEpisodes track by $index">
                                                        <input type="checkbox" ng-model="week" ng-change="leaveSkuInput(sku, 'd_PromotionalEpisodes', sku.d_PromotionalEpisodes, week, $index)">
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdgroup">Trade Expenses ($min)</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_TradeExpenses" ng-blur="leaveSkuInput(sku, 'd_TradeExpenses', sku.d_TradeExpenses)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Additional Trade Margin (%)</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_AdditionalTradeMargin" ng-blur="leaveSkuInput(sku, 'd_AdditionalTradeMargin', sku.d_AdditionalTradeMargin)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdgroup">Wholesale Minimum Volume (min Packs)</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_WholesalesBonusMinVolume" ng-blur="leaveSkuInput(sku, 'd_WholesalesBonusMinVolume', sku.d_WholesalesBonusMinVolume)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Wholesale Bonus Rate</td>
                                                <td ng-repeat="sku in data.currentBrand.d_SKUsDecisions">
                                                    <input type="text" class="form-control input-sm" ng-model="sku.d_WholesalesBonusRate" ng-blur="leaveSkuInput(sku, 'd_WholesalesBonusRate', sku.d_WholesalesBonusRate)">
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="row brand_box">
                        <div class="col-md-12">
                            <h5>New Product Development Investment  <span class="glyphicon glyphicon-info-sign" ng-mouseenter="css.investmentInfo='true'" ></span></h5>
                            <form class="form-horizontal investment_form" role="form">
                                <div class="form-group">
                                    <label class="col-sm-8 control-label text-left" for="brandInvestmentProductionEfficiency">Investment in Production Efficiency ($mln)</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="brandInvestmentProductionEfficiency" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-8 control-label text-left"  for="brandInvestmentProcessingTechnology">Investment in Processing Technology ($mln)</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="brandInvestmentProcessingTechnology" placeholder="">
                                    </div>
                                </div>


                            </form>

                            <table class="table table-striped table-hover table-condensed table-bordered" ng-show="css.investmentInfo">
                                <thead>
                                    <tr>
                                        <th >Name</th>
                                        <th>Required amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Extra Budget Required to Increase Efficiency by 2% / 5% points</td>
                                        <td>190.00 / 450.00</td>
                                    </tr>
                                    <tr>
                                        <td>Extra Budget Required to Increase Flexibility by 2% / 5% points</td>
                                        <td>100.00 / 770.0</td>
                                    </tr>
                                    <tr>
                                        <td>Extra Budget Required to Increase Technology Level by 1 / 2 Step</td>
                                        <td>110.00 / 190.00</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" class="text-right">Note: Investment on Efficiency could increase Flexibility at the same time</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-offset-7 col-sm-4">
                            <button type="submit" class="btn btn-primary decision_button">Submit Decision</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-7 decision_box decision_right_box">

            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">MAKE DECISIONS</h4>
                    <h6 class="text-center">Market Share + Profit</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">


                <ul class="nav nav-pills">
                    <li ng-class="{'active': css.currentDecisionRightMenu==1}"  ng-click="css.currentDecisionRightMenu=1"> <a href="" >Future Projection Calculator</a> </li>
                    <li ng-class="{'active': css.currentDecisionRightMenu==2}"  ng-click="css.currentDecisionRightMenu=2"> <a href="" >Product Portfolio</a> </li>
                    <li ng-class="{'active': css.currentDecisionRightMenu==3}"  ng-click="css.currentDecisionRightMenu=3"> <a href="" >Spending Details</a> </li>
                    <!--<li ng-class="{'active': css.currentDecisionRightMenu==4}"  ng-click="css.currentDecisionRightMenu=4"> <a href="" >My Favorite</a> </li>-->
                </ul>


                <div class="row brand_box right_menu">
                    <div class="col-md-12">
                        <h5>New Product Development Investment  <span class="glyphicon glyphicon-info-sign" ng-mouseenter="css.investmentInfo='true'" ></span></h5>
                        <form class="form-horizontal investment_form" role="form">
                            <div class="form-group">
                                <label class="col-sm-8 control-label text-left" for="brandInvestmentProductionEfficiency">Investment in Production Efficiency ($mln)</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="brandInvestmentProductionEfficiency" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-8 control-label text-left"  for="brandInvestmentProcessingTechnology">Investment in Processing Technology ($mln)</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="brandInvestmentProcessingTechnology" placeholder="">
                                </div>
                            </div>


                        </form>


                    </div>
                </div>


                </div>
            </div>

        </div>
    </div>


</div>



<% include ./include/footerscriptuser.html %>