<% include ./include/headcssuser.html %>


<body ng-app="marksimos">

<div class="container-fluid width_big_screen" ng-controller="chartController">

    <header-user login="true" click-home="switchHeaderMenu('Home')" click-report="switchHeaderMenu('Report')" current-menu="css.menu"></header-user>


    <div class="row mainbody bgbrand" ng-if="css.menu=='Home'">
        <div class="col-md-2 user_home_divider user_brand_box">

            <div class="row ">
                <h4 class="user_maincompany">Company <span class="company_a">A</span> </h4>

            </div>
            <div class="row">
                <div class="col-md-5">
                    <img src="./app/css/images/avator.png">
                </div>
                <div class="col-md-7">
                    <h5>ID Name</h5>
                    <span class="user_title">Market Manage</span>
                    <span class="user_title">5 Team Member</span>
                </div>
            </div>
        </div>

        <div class="col-md-7 user_home_divider user_brand_box">
            <div class="row">
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 1</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 2</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 3</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 4</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 5</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-1 user_home_divider user_brand_box">
            <div class="row">
                <div class="col-md-12">
                    <span class="user_competitorsnum">6</span>
                    <span class="user_competitors">Companies</span>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 user_home_divider_horizontal">
                    <span class="user_clock"><strong>1h22mins left</strong> for submitting decision</span>
                </div>
            </div>
            <div class="row">
                <span class="user_makedecision">Mission: Market Share + Profit</span>
                <button type="button" class="btn user_decisionbutton">Make Decision</button>
            </div>
        </div>

    </div>


    <div class="row mainbody" ng-if="css.menu=='Home'">
        <div class="col-md-12">
            <div class="row user_home_divider_horizontal ">
                <div class="col-md-6 col-md-offset-3 ">
                    <img src="./app/css/images/temp1.png" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-md-offset-3 user_search_chart">
                    <div class="input-group">
                        <div class="input-group-btn">

                            <button type="button" class="btn btn-default dropdown-toggle droplist_company" data-toggle="dropdown">Company A <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Company A</a></li>
                                <li><a href="#">Company B</a></li>
                                <li><a href="#">Company C</a></li>
                            </ul>
                        </div><!-- /btn-group -->

                        <input type="text" class="form-control" placeholder="find report or chart">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="panel panel-primary user_chart_list">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Company</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="clickChartMenu('A1')">Company Status</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('A2')">Financial Data</li>
                            <li class="list-group-item" ng-click="clickChartMenu('A3')">Inventory Report</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="panel panel-primary user_chart_list user_chart_list_bg2">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Competitor</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="clickChartMenu('B1')">Market Share</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('B2')">Competitor Information</li>
                            <li class="list-group-item" ng-click="clickChartMenu('B3')">Investment & Profits</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('B4')">Market Sales & Inventory</li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="panel panel-primary user_chart_list">
                        <div class="panel-heading">
                            <h3 class="panel-title">Market Landscape</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="clickChartMenu('C1')">Segment Leader Top5</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('C2')">Perception Map</li>
                            <li class="list-group-item" ng-click="clickChartMenu('C3')">Segment Distributions</li>
                            <li class="list-group-item list-group-item-active" ng-click="clickChartMenu('C4')">Market Evolution</li>
                            <li class="list-group-item" ng-click="clickChartMenu('C5')">Market Indicator</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="row mainbody bgbrand" ng-if="css.menu=='Report'">
        <div class="col-md-2 user_home_divider user_chart_box">

            <div class="row ">
                <h4 class="user_maincompany user_chart_company">Company <span class="company_a">A</span> </h4>

            </div>

        </div>

        <div class="col-md-5 user_home_divider user_chart_box" >
            <div class="row">
                <div class="col-md-12 user_search_chart user_chart_search">
                    <div class="input-group">
                        <div class="input-group-btn">

                            <button type="button" class="btn btn-default dropdown-toggle droplist_company" data-toggle="dropdown">Company A <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Company A</a></li>
                                <li><a href="#">Company B</a></li>
                                <li><a href="#">Company C</a></li>
                            </ul>
                        </div><!-- /btn-group -->

                        <input type="text" class="form-control" placeholder="find report or chart">
                    </div><!-- /input-group -->
                </div>

            </div>
        </div>

        <div class="col-md-1 user_home_divider user_chart_box">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_chart_vs"> Compare Data</span>
                </div>
            </div>
        </div>

        <div class="col-md-2 user_home_divider user_chart_box">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_clock user_chart_clock"><strong>1h22mins left</strong> for submitting decision</span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_chart_make_decision">Mission: Market Share + Profit</span>
                    <button type="button" class="btn user_chart_decision_button">Make Decision</button>
                </div>
            </div>

        </div>

    </div>

    <div class="row mainbody bgbrand" ng-if="css.menu=='Report'">
        <div class="col-md-2 user_chart_padding user_home_divider">

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Your Company</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='A1'}" ng-click="clickChartMenu('A1')">Company Status</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='A2'}" ng-click="clickChartMenu('A2')">Financial Data</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='A3'}" ng-click="clickChartMenu('A3')">Inventory Report</li>
                </ul>
            </div>

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Your Competitor</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B1'}" ng-click="clickChartMenu('B1')">Market Share</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B2'}" ng-click="clickChartMenu('B2')">Competitor Information</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B3'}" ng-click="clickChartMenu('B3')">Investment & Profits</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='B4'}" ng-click="clickChartMenu('B4')">Market Sales & Inventory</li>
                </ul>
            </div>

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Market Landscape</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C1'}" ng-click="clickChartMenu('C1')">Segment Leader Top5</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C2'}" ng-click="clickChartMenu('C2')">Perception Map</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C3'}" ng-click="clickChartMenu('C3')">Segment Distributions</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C4'}" ng-click="clickChartMenu('C4')">Market Evolution</li>
                    <li class="list-group-item" ng-class="{'list-group-item-active': css.chartMenu=='C5'}" ng-click="clickChartMenu('C5')">Market Indicator</li>
                </ul>
            </div>


        </div>

        <div class="col-md-10" ng-if="css.chartMenu=='A1'">
            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartA11MarketShareInValue.type" ac-data="data.chartA11MarketShareInValue.data" ac-config="data.chartA11MarketShareInValue.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartA12MarketShareInVolume.type" ac-data="data.chartA12MarketShareInVolume.data" ac-config="data.chartA12MarketShareInVolume.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartA13MindSpaceShare.type" ac-data="data.chartA13MindSpaceShare.data" ac-config="data.chartA13MindSpaceShare.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartA14ShelfSpaceShare.type" ac-data="data.chartA14ShelfSpaceShare.data" ac-config="data.chartA14ShelfSpaceShare.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10" ng-if="css.chartMenu=='B3'">
            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartB31TotalInvestment.type" ac-data="data.chartB31TotalInvestment.data" ac-config="data.chartB31TotalInvestment.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartB32NetProfitByCompanies.type" ac-data="data.chartB32NetProfitByCompanies.data" ac-config="data.chartB32NetProfitByCompanies.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartB33ReturnOnInvestment.type" ac-data="data.chartB33ReturnOnInvestment.data" ac-config="data.chartB33ReturnOnInvestment.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartB34InvestmentsVersusBudget.type" ac-data="data.chartB34InvestmentsVersusBudget.data" ac-config="data.chartB34InvestmentsVersusBudget.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10" ng-if="css.chartMenu=='B4'">
            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartB41MarketSalesValue.type" ac-data="data.chartB41MarketSalesValue.data" ac-config="data.chartB41MarketSalesValue.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartB42MarketSalesVolume.type" ac-data="data.chartB42MarketSalesVolume.data" ac-config="data.chartB42MarketSalesVolume.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartB43TotalInventoryAtFactory.type" ac-data="data.chartB43TotalInventoryAtFactory.data" ac-config="data.chartB43TotalInventoryAtFactory.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartB44TotalInventoryAtTrade.type" ac-data="data.chartB44TotalInventoryAtTrade.data" ac-config="data.chartB44TotalInventoryAtTrade.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10" ng-if="css.chartMenu=='C1'">
            <div class="row">
                <div class="col-md-4">
                    <div ac-chart="data.chartC11SegmentsLeadersByValuePriceSensitive.type" ac-data="data.chartC11SegmentsLeadersByValuePriceSensitive.data" ac-config="data.chartC11SegmentsLeadersByValuePriceSensitive.config" class="chartBox"></div>
                </div>
                <div class="col-md-4">
                    <div ac-chart="data.chartC12SegmentsLeadersByValuePretenders.type" ac-data="data.chartC12SegmentsLeadersByValuePretenders.data" ac-config="data.chartC12SegmentsLeadersByValuePretenders.config" class="chartBox"></div>
                </div>
                <div class="col-md-4">
                    <div ac-chart="data.chartC13SegmentsLeadersByValueModerate.type" ac-data="data.chartC13SegmentsLeadersByValueModerate.data" ac-config="data.chartC13SegmentsLeadersByValueModerate.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div ac-chart="data.chartC14SegmentsLeadersByValueGoodLife.type" ac-data="data.chartC14SegmentsLeadersByValueGoodLife.data" ac-config="data.chartC14SegmentsLeadersByValueGoodLife.config" class="chartBox"></div>
                </div>
                <div class="col-md-4">
                    <div ac-chart="data.chartC15SegmentsLeadersByValueUltimate.type" ac-data="data.chartC15SegmentsLeadersByValueUltimate.data" ac-config="data.chartC15SegmentsLeadersByValueUltimate.config" class="chartBox"></div>
                </div>
                <div class="col-md-4">
                    <div ac-chart="data.chartC16SegmentsLeadersByValuePragmatic.type" ac-data="data.chartC16SegmentsLeadersByValuePragmatic.data" ac-config="data.chartC16SegmentsLeadersByValuePragmatic.config" class="chartBox"></div>
                </div>
            </div>
        </div>


        <div class="col-md-10" ng-if="css.chartMenu=='C4'">
            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartC41GrowthRateInVolume.type" ac-data="data.chartC41GrowthRateInVolume.data" ac-config="data.chartC41GrowthRateInVolume.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartC42GrowthRateInValue.type" ac-data="data.chartC42GrowthRateInValue.data" ac-config="data.chartC42GrowthRateInValue.config" class="chartBox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div ac-chart="data.chartC43NetMarketPrice.type" ac-data="data.chartC43NetMarketPrice.data" ac-config="data.chartC43NetMarketPrice.config" class="chartBox"></div>
                </div>
                <div class="col-md-6">
                    <div ac-chart="data.chartC44SegmentValueShareTotalMarket.type" ac-data="data.chartC44SegmentValueShareTotalMarket.data" ac-config="data.chartC44SegmentValueShareTotalMarket.config" class="chartBox"></div>
                </div>
            </div>
        </div>

    </div>
</div>



<% include ./include/footerscriptuser.html %>