<% include ./include/headcssuser.html %>


<body ng-app="marksimos">

<div class="container-fluid width_big_screen" ng-controller="chartController">

    <header-user login="true" click-home="switchHome(user)" click-report="switchReport()"></header-user>


    <div class="row mainbody bgbrand" ng-if="css.menu=='home'">
        <div class="col-md-2 user_home_divider user_brand_box">

            <div class="row ">
                <h4 class="user_maincompany">Company <span class="company_a">A</span> </h4>

            </div>
            <div class="row">
                <div class="col-md-5">
                    <img src="./app/css/images/avator.png">
                </div>
                <div class="col-md-7">
                    <h5>ID Name</h5>
                    <span class="user_title">Market Manage</span>
                    <span class="user_title">5 Team Member</span>
                </div>
            </div>
        </div>

        <div class="col-md-7 user_home_divider user_brand_box">
            <div class="row">
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 1</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 2</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 3</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 4</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>
                <div class="col-md-2 user_brandcolumn">
                    <span class="user_brand">Brand 5</span>
                    <ul>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                        <li class="user_product">P1A - <span>Sensitive</span></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-1 user_home_divider user_brand_box">
            <div class="row">
                <div class="col-md-12">
                    <span class="user_competitorsnum">6</span>
                    <span class="user_competitors">Companies</span>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 user_home_divider_horizontal">
                    <span class="user_clock"><strong>1h22mins left</strong> for submitting decision</span>
                </div>
            </div>
            <div class="row">
                <span class="user_makedecision">Mission: Market Share + Profit</span>
                <button type="button" class="btn user_decisionbutton">Make Decision</button>
            </div>
        </div>

    </div>


    <div class="row mainbody" ng-if="css.menu=='home'">
        <div class="col-md-12">
            <div class="row user_home_divider_horizontal ">
                <div class="col-md-6 col-md-offset-3 ">
                    <img src="./app/css/images/temp1.png" alt=""/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-md-offset-3 user_search_chart">
                    <div class="input-group">
                        <div class="input-group-btn">

                            <button type="button" class="btn btn-default dropdown-toggle droplist_company" data-toggle="dropdown">Company A <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Company A</a></li>
                                <li><a href="#">Company B</a></li>
                                <li><a href="#">Company C</a></li>
                            </ul>
                        </div><!-- /btn-group -->

                        <input type="text" class="form-control" placeholder="find report or chart">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="panel panel-primary user_chart_list">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Company</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="showChart()">Company Status</li>
                            <li class="list-group-item list-group-item-active" ng-click="showChart()">Financial Data</li>
                            <li class="list-group-item" ng-click="showChart()">Inventory Report</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="panel panel-primary user_chart_list user_chart_list_bg2">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Competitor</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="showChart()">Market Share</li>
                            <li class="list-group-item list-group-item-active" ng-click="showChart()">Competitor Information</li>
                            <li class="list-group-item" ng-click="showChart()">Invest & Profits</li>
                            <li class="list-group-item list-group-item-active" ng-click="showChart()">Market Sales & Inventory</li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="panel panel-primary user_chart_list">
                        <div class="panel-heading">
                            <h3 class="panel-title">Market Landscape</h3>
                        </div>

                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="showChart()">Segment Leader Top5</li>
                            <li class="list-group-item list-group-item-active" ng-click="showChart()">Perception Map</li>
                            <li class="list-group-item" ng-click="showChart()">Segment Distributions</li>
                            <li class="list-group-item list-group-item-active" ng-click="showChart()">Market Evolution</li>
                            <li class="list-group-item" ng-click="showChart()">Market Indicator</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row mainbody bgbrand" ng-if="css.menu=='chart'">
        <div class="col-md-2 user_home_divider user_chart_box">

            <div class="row ">
                <h4 class="user_maincompany user_chart_company">Company <span class="company_a">A</span> </h4>

            </div>

        </div>

        <div class="col-md-5 user_home_divider user_chart_box" >
            <div class="row">
                <div class="col-md-12 user_search_chart user_chart_search">
                    <div class="input-group">
                        <div class="input-group-btn">

                            <button type="button" class="btn btn-default dropdown-toggle droplist_company" data-toggle="dropdown">Company A <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Company A</a></li>
                                <li><a href="#">Company B</a></li>
                                <li><a href="#">Company C</a></li>
                            </ul>
                        </div><!-- /btn-group -->

                        <input type="text" class="form-control" placeholder="find report or chart">
                    </div><!-- /input-group -->
                </div>

            </div>
        </div>

        <div class="col-md-1 user_home_divider user_chart_box">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_chart_vs"> Compare Data</span>
                </div>
            </div>
        </div>

        <div class="col-md-2 user_home_divider user_chart_box">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_clock user_chart_clock"><strong>1h22mins left</strong> for submitting decision</span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 ">
                    <span class="user_chart_make_decision">Mission: Market Share + Profit</span>
                    <button type="button" class="btn user_chart_decision_button">Make Decision</button>
                </div>
            </div>

        </div>

    </div>

    <div class="row mainbody bgbrand" ng-if="css.menu=='chart'">
        <div class="col-md-2 user_chart_padding user_home_divider">

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Your Company</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" >Company Status</li>
                    <li class="list-group-item list-group-item-active">Financial Data</li>
                    <li class="list-group-item">Inventory Report</li>
                </ul>
            </div>

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Your Competitor</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Market Share</li>
                    <li class="list-group-item ">Competitor Information</li>
                    <li class="list-group-item">Invest & Profits</li>
                    <li class="list-group-item ">Market Sales & Inventory</li>
                </ul>
            </div>

            <div class="panel user_chart_leftmenu">
                <div class="panel-heading">Market Landscape</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Segment Leader Top5</li>
                    <li class="list-group-item ">Perception Map</li>
                    <li class="list-group-item ">Segment Distributions</li>
                    <li class="list-group-item ">Market Evolution</li>
                    <li class="list-group-item">Market Indicator</li>
                </ul>
            </div>


        </div>

        <div class="col-md-10 " >

            <div class="row">

                <div class="col-md-6">

                    <div ac-chart="chart.type" ac-data="dataReport1" ac-config="chart.config" id='chart' class="chartBox"></div>

                </div>

                <div class="col-md-6">

                    <div ac-chart="chart.type" ac-data="dataReport1" ac-config="chart.config" id='chart' class="chartBox"></div>

                </div>


            </div>





        </div>


    </div>
</div>



<% include ./include/footerscriptuser.html %>