<% include ./include/headcssuser.html %>

<body ng-app="marksimoslogin">

<div class="container-fluid width_big_screen" ng-controller="userHelpController" >

    <user-header showmenu="false" showlogout="true" current-round="0"></user-header>


    <div class="row login" ng-cloak>
        <div class="col-md-10 col-md-offset-1 panelbox">


            <div class="row intro_box">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':isFAQShown}">
                            <a href="" ng-click='clickIntro("FAQ")'>FAQ</a>
                        </li>
                        <li ng-class="{'active':isVideoShown}">
                            <a href="" ng-click='clickIntro("Video")'>Video</a>
                        </li>
                        <li ng-class="{'active':isManualShown}">
                            <a href="" ng-click='clickIntro("Manual")'>Manual</a>
                        </li>
                    </ul>
                    <div class="divider_horizontal"></div>
                </div>


            </div>


            <div class="row intro_data" ng-show='isManualShown'>
                <div class="col-md-12">
                    <div class="bs-docs-section" ng-bind-html='trustAsHtml(manual)'></div>
                </div>
            </div>

            <div class="row intro_data" ng-show='isFAQShown'>
                <div class="col-md-3">
                    <div class="bs-docs-sidebar">

                        <ul class="nav bs-docs-sidenav">

                            <li class="active">
                                <a href="#overview">Overview</a>
                                <ul class="nav">
                                    <li class=""><a href="#overview-doctype">HTML5 doctype</a></li>
                                    <li><a href="#overview-mobile">Mobile first</a></li>
                                    <li><a href="#overview-type-links">Typography and links</a></li>
                                    <li><a href="#overview-normalize">Normalize.css</a></li>
                                    <li><a href="#overview-container">Containers</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#grid">Grid system</a>
                                <ul class="nav">
                                    <li><a href="#grid-intro">Introduction</a></li>
                                    <li><a href="#grid-media-queries">Media queries</a></li>
                                    <li><a href="#grid-options">Grid options</a></li>
                                    <li><a href="#grid-example-basic">Ex: Stacked-to-horizontal</a></li>
                                    <li><a href="#grid-example-fluid">Ex: Fluid container</a></li>
                                    <li><a href="#grid-example-mixed">Ex: Mobile and desktops</a></li>
                                    <li><a href="#grid-example-mixed-complete">Ex: Mobile, tablet, desktops</a></li>
                                    <li><a href="#grid-example-wrapping">Ex: Column wrapping</a></li>
                                    <li><a href="#grid-responsive-resets">Responsive column resets</a></li>
                                    <li><a href="#grid-offsetting">Offsetting columns</a></li>
                                    <li><a href="#grid-nesting">Nesting columns</a></li>
                                    <li><a href="#grid-column-ordering">Column ordering</a></li>
                                    <li><a href="#grid-less">Less mixins and variables</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-md-9">
                    <div class="bs-docs-section" ng-bind-html='trustAsHtml(manual)'></div>
                </div>
            </div>

            <div class="row video_list" ng-show='isVideoShown'>
                <div class="col-md-3 col-md-offset-1-5">

                    <iframe width=100% src="http://player.youku.com/embed/XNzE0OTYyMTcy" frameborder=0 allowfullscreen></iframe>

                </div>

                <div class="col-md-3">

                    <iframe width=100% src="http://player.youku.com/embed/XNTY0ODgxMzAw" frameborder=0 allowfullscreen></iframe>

                </div>

                <div class="col-md-3">

                    <iframe width=100% src="http://player.youku.com/embed/XNzMxODUwODMy" frameborder=0 allowfullscreen></iframe>

                </div>
            </div>


        </div>

    </div>


</div>

<% include ./include/footerscriptuserlogin.html %>

