<% include ./include/headcssuser.html %>

<body ng-app="marksimoshelp">

<div class="container-fluid width_big_screen" ng-controller="userHelpController" >

    <user-header showmenu="false" showlogout="true" current-round="0"></user-header>


    <div class="row login" ng-cloak>
        <div class="col-md-10 col-md-offset-1 panelbox">


            <div class="row intro_box">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':isFAQShown}">
                            <a href="" ng-click='clickIntro("FAQ")'>FAQ</a>
                        </li>
                        <li ng-class="{'active':isVideoShown}">
                            <a href="" ng-click='clickIntro("Video")'>Video</a>
                        </li>
                        <li ng-class="{'active':isManualShown}">
                            <a href="" ng-click='clickIntro("Manual")'>Manual</a>
                        </li>
                        <li class="active pull-right">
                            <a href="/marksimos/home">HomePage</a></li>
                    </ul>
                    <div class="divider_horizontal"></div>
                </div>


            </div>


            <div class="row intro_data" ng-show='isManualShown'>
                <div class="col-md-12">
                    <!-- <div class="bs-docs-section" ng-bind-html='trustAsHtml(manual)'></div> -->
                    <div class="bs-docs-section" gen-parse-md='manual'></div>
                </div>
            </div>

            <div class="row intro_data" ng-show='isFAQShown'>
                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <h3 class="faq_h3">{{'FAQPageTitle' | translate}}</h3>
                        <h5 class="faq_h5">{{'FAQPageSubTitle' | translate}}</h5>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <div class="bs-docs-sidebar">

                            <ul class="list-inline bs-faq-sidenav">

                                <li class="" ng-class="{'active':questionsShown[$index]}" ng-repeat='category in faq'>
                                    <a href="" ng-click='chickFAQ($index)'>{{category.category}}</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="bs-docs-section">
                        <div ng-repeat='category in faq' ng-show='questionsShown[$index]'>
                            <h3 class="bs_h3">{{category.category}}</h3>
                            <div ng-repeat='q in category.questions'>
                                <h4 class="bs_h4">{{$index+1}}. {{q.title}}</h4>
                                <div class="info_highlight">
                                    <p class="bs_p">{{q.answer}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row video_list" ng-show='isVideoShown'>
                <div class="col-md-3 col-md-offset-1-5">

                    <iframe width=100% src="http://player.youku.com/embed/XNzE0OTYyMTcy" frameborder=0 allowfullscreen></iframe>

                </div>

                <div class="col-md-3">

                    <iframe width=100% src="http://player.youku.com/embed/XNTY0ODgxMzAw" frameborder=0 allowfullscreen></iframe>

                </div>

                <div class="col-md-3">

                    <iframe width=100% src="http://player.youku.com/embed/XNzMxODUwODMy" frameborder=0 allowfullscreen></iframe>

                </div>
            </div>


        </div>

    </div>


</div>

<% include ./include/footerscripthelp.html %>

