<div class="profile-detail-title">{{'ProfilePageTabBasicInfo' | translate}}<span class="profile-edit" ng-click="clickEditProfile()">{{'ProfilePageEditButton' | translate}}</span></div>
<form novalidate name="basicInfoForm" class="form-horizontal">
    <div class="form-group">
        <label for="currentLocation" class="control-label col-md-3 text-right">{{'ProfilePageEmail' | translate}} :</label>
        <div class="col-xs-9">
            <p class="form-control-static">{{currentUser.email}}</p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': basicInfoForm.firstName.$dirty&&basicInfoForm.firstName.$invalid, 'has-success':basicInfoForm.firstName.$dirty&&basicInfoForm.firstName.$valid}">
        <label for="firstName" class="control-label col-md-3 text-right">{{'ProfilePageBasicInfoName' | translate}} :</label>
        <div class="col-xs-5" ng-if="!css.formEditing">
            <p class="form-control-static">{{currentUser.firstName}}&nbsp</p>
        </div>
        <div class="col-xs-5" ng-if="css.formEditing">
            <input required type="text" ng-model="formData.firstName" name="firstName" id="firstName" class="form-control">
        </div>
        <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.firstName.$dirty&&basicInfoForm.firstName.$error.required">{{'ProfilePageRequiredError' | translate}}</span>
    </div>

    <div class="form-group radio gender" ng-class="{'has-success':basicInfoForm.gender.$dirty&&basicInfoForm.gender.$valid, 'has-error':basicInfoForm.gender.$dirty&&basicInfoForm.gender.$invalid}">
        <label class="col-md-3 control-label  text-right">{{'ProfilePageBasicInfoGender' | translate}} :</label>
        <div class="col-xs-5" ng-if="!css.formEditing">
            <p class="form-control-static" ng-if="currentUser.gender == 1">{{'ProfilePageBasicInfoGenderMale' | translate}}&nbsp;&nbsp;</p>
            <p class="form-control-static" ng-if="currentUser.gender == 2">{{'ProfilePageBasicInfoGenderFemale' | translate}}</p>
        </div>
        <div class="col-xs-5 gender-radio" ng-if="css.formEditing">
            <label  class="control-label control-inline"><input required type="radio" ng-model="formData.gender" name="gender" value="1"/>{{'ProfilePageBasicInfoGenderMale' | translate}}&nbsp;&nbsp;</label>
            <label class="female control-label control-inline"><input required type="radio" ng-model="formData.gender" name="gender" value="2"/>{{'ProfilePageBasicInfoGenderFemale' | translate}}</label>
        </div>
        <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.gender.$dirty&&basicInfoForm.gender.$error.required">{{'ProfilePageRequiredError' | translate}}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': basicInfoForm.birthday.$dirty&&basicInfoForm.birthday.$invalid, 'has-success':basicInfoForm.birthday.$dirty&&basicInfoForm.birthday.$valid}">
        <label for="birthday" class="control-label col-md-3 text-right">{{'ProfilePageBasicInfoBirthday' | translate}} :</label>
        <div class="col-xs-9" ng-if="!css.formEditing">
            <p class="form-control-static">{{currentUser.birthday|date:"yyyy-MM-dd"}}</p>
        </div>
        <div class="col-md-5" ng-if="css.formEditing">
            <input required type="text" bs-datepicker data-date-format="yyyy-MM-dd" data-min-date="02/10/70" data-max-date="today" data-autoclose="1" class="form-control" ng-model="formData.birthday" name="birthday" id="birthday">
        </div>
        <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.birthday.$dirty&&!basicInfoForm.birthday.$error.required">{{'ProfilePageDateFormatError' | translate}}</span>
        <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.birthday.$dirty&&basicInfoForm.birthday.$error.required">{{'ProfilePageRequiredError' | translate}}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': basicInfoForm.currentLocation.$dirty&&basicInfoForm.currentLocation.$invalid, 'has-success':basicInfoForm.currentLocation.$dirty&&basicInfoForm.currentLocation.$valid}">
        <label for="currentLocation" class="control-label col-md-3 text-right">{{'ProfilePageCurrentLocation' | translate}} :</label>
        <div class="col-xs-9" ng-if="!css.formEditing">
            <p class="form-control-static">{{currentUser.currentLocation}}</p>
        </div>
        <div class="col-md-5" ng-if="css.formEditing">
            <input required type="text" class="form-control" ng-model="formData.currentLocation" name="currentLocation" id="currentLocation">
        </div>
        <span class="err-msg control-label form-control-static col-xs-4" ng-if="basicInfoForm.currentLocation.$dirty&&basicInfoForm.currentLocation.$invalid">{{'ProfilePageRequiredError' | translate}}</span>
    </div>

    <div class="form-group" ng-class="{'has-success':basicInfoForm.qq.$dirty&&basicInfoForm.qq.$valid, 'has-error':basicInfoForm.qq.$dirty&&basicInfoForm.qq.$invalid}" >
        <label for="qq" class="control-label col-md-3 text-right">QQ :</label>
        <div class="col-xs-5" ng-if="!css.formEditing">
            <p class="form-control-static">{{currentUser.qq}}</p>
        </div>
        <div ng-if="css.formEditing" class="col-xs-5">
            <input ng-model="formData.qq" type="text" id="qq" name="qq" class="form-control">
        </div>
        <span class="form-control-static err-msg control-label col-xs-3" ng-if="basicInfoForm.qq.$invalid&&css.errorFields.qq">{{'ProfilePageInvalidQQ' | translate}}</span>
    </div>

    <div class="form-group" ng-if="css.formEditing">
        <div class="col-md-6 col-md-offset-3 profile-button-container">
            <button ng-click="clickUpdateUserInfo(basicInfoForm)" type="submit">{{'ProfilePageSaveButton' | translate}}</button>
            <button ng-click="clickCancelEditProfile()" class="cancel">{{'ProfilePageCancelButton' | translate}}</button>
        </div>
    </div>
</form>