<div class="profile-detail-title">{{'ProfilePageYourTitle' | translate}} </div>
<form novalidate name="titleForm" class="none-bottom form-horizontal">
    <div class="form-group team-name" ng-class="{'has-success':titleForm.title.$dirty&&titleForm.title.$valid, 'has-error':titleForm.title.$dirty&&titleForm.title.$invalid}" >
        <label class="col-md-3 control-label text-right team-label" for="title">{{'ProfilePageInfoTitle' | translate}} :</label>
        <div class="col-xs-5" ng-if="!css.formEditing">
            <p class="form-control-static">{{currentUser.gameMarksimosPosition}}&nbsp</p>
        </div>
        <div class="col-xs-5" ng-if="css.formEditing">
            <select required id="title" name="title" class="form-control col-xs-4" ng-model="formData.gameMarksimosPosition" ng-options="type for type in ['CEO', 'CFO', 'CMO', 'COO', 'CPO']"></select>
        </div>
        <span class="err-msg control-label col-xs-2" ng-if="titleForm.title.$dirty&&titleForm.title.$error.required">{{'ProfilePageRequiredError' | translate}}!</span>
        <span ng-if="!css.formEditing" ng-click="clickEditProfile()" class="button done col-md-3">{{'ProfilePageChangeButton' | translate}}</span>
        <button ng-if="css.formEditing" ng-click="clickUpdateUserInfo(titleForm)" class="button col-md-3">{{'ProfilePageSaveButton' | translate}}</button>
    </div>
</form>