<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/libs/AdminLTE/img/avatar3.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, {{currentuser.username}}</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li ng-class="{'active':css.menuexpand[1]}" ng-if="showtab[1]">
                <a href="" ng-click="clickMenu(11)">
                    <i class="fa fa-dashboard" ></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="treeview" ng-class="{'active':css.menuexpand[2]}" ng-if="showtab[2]">
                <a href="" ng-click="clickTab(2)">
                    <i class="fa fa-edit"></i>
                    <span>Distributor Management</span>
                    <i class="fa pull-right" ng-class="{'fa-angle-left':!css.menuexpand[2], 'fa-angle-down':css.menuexpand[2]}"></i>
                </a>
                <ul class="treeview-menu" ng-show="css.menuexpand[2]">
                    <li ng-class="{'active' : currentMenu==21 }"><a href="" ng-click="clickMenu(21)"><i class="fa fa-angle-double-right"></i> Distributor List</a></li>
                    <li ng-class="{'active' : currentMenu==22 }"><a href="" ng-click="clickMenu(22)"><i class="fa fa-angle-double-right"></i> Create Distributor</a></li>
                </ul>
            </li>

            <li class="treeview" ng-class="{'active':css.menuexpand[3]}" ng-if="showtab[3]">
                <a href="" ng-click="clickTab(3)">
                    <i class="fa fa-edit"></i>
                    <span>Facilitator Management</span>
                    <i class="fa pull-right" ng-class="{'fa-angle-left':!css.menuexpand[3], 'fa-angle-down':css.menuexpand[3]}"></i>
                </a>
                <ul class="treeview-menu" ng-show="css.menuexpand[3]">
                    <li ng-class="{'active' : currentMenu==31 }"><a href="" ng-click="clickMenu(31)"><i class="fa fa-angle-double-right"></i> Facilitator List</a></li>
                    <li ng-class="{'active' : currentMenu==32 }"><a href="" ng-click="clickMenu(32)"><i class="fa fa-angle-double-right"></i> Create Facilitator</a></li>
                </ul>
            </li>

            <li class="treeview" ng-class="{'active':css.menuexpand[4]}" ng-if="showtab[4]">
                <a href="" ng-click="clickTab(4)">
                    <i class="fa fa-laptop"></i>
                    <span>Student Management</span>
                    <i class="fa pull-right" ng-class="{'fa-angle-left':!css.menuexpand[4], 'fa-angle-down':css.menuexpand[4]}"></i>
                </a>
                <ul class="treeview-menu" ng-show="css.menuexpand[4]">
                    <li ng-class="{'active' : currentMenu==41 }"><a href="" ng-click="clickMenu(41)"><i class="fa fa-angle-double-right"></i> Student List</a></li>
                    <li ng-class="{'active' : currentMenu==42 }"><a href="" ng-click="clickMenu(42)"><i class="fa fa-angle-double-right"></i> Create Student</a></li>
                    <li ng-class="{'active' : currentMenu==43 }"><a href="" ng-click="clickMenu(43)"><i class="fa fa-angle-double-right"></i> Create Company</a></li>
                </ul>
            </li>

            <li class="treeview" ng-class="{'active':css.menuexpand[5]}" ng-if="showtab[5]">
                <a href="" ng-click="clickTab(5)">
                    <i class="fa fa-table"></i>
                    <span>Seminar Management</span>
                    <i class="fa pull-right"  ng-class="{'fa-angle-left':!css.menuexpand[5], 'fa-angle-down':css.menuexpand[5]}"></i>
                </a>
                <ul class="treeview-menu" ng-show="css.menuexpand[5]">
                    <li ng-class="{'active' : currentMenu==51 }"><a href="" ng-click="clickMenu(51)"><i class="fa fa-angle-double-right"></i> Seminar List</a></li>
                    <li ng-class="{'active' : currentMenu==52 }"><a href="" ng-click="clickMenu(52)"><i class="fa fa-angle-double-right"></i> Create Seminar</a></li>
                </ul>
            </li>

            <li class="treeview" ng-class="{'active':css.menuexpand[6]}" ng-if="showtab[6]">
                <a href="" ng-click="clickTab(6)">
                    <i class="fa fa-bullhorn"></i>
                    <span>Campaign Management</span>
                    <i class="fa pull-right"  ng-class="{'fa-angle-left':!css.menuexpand[6], 'fa-angle-down':css.menuexpand[6]}"></i>
                </a>
                <ul class="treeview-menu" ng-show="css.menuexpand[6]">
                    <li ng-class="{'active' : currentMenu==61 }"><a href="" ng-click="clickMenu(61)"><i class="fa fa-angle-double-right"></i> Campaign List</a></li>
                    <li ng-class="{'active' : currentMenu==62 }"><a href="" ng-click="clickMenu(62)"><i class="fa fa-angle-double-right"></i> Create Campaign</a></li>
                </ul>
            </li>

            <li class="treeview" ng-class="{'active':css.menuexpand[7]}" ng-if="showtab[7]">
                <a href="" ng-click="clickTab(7)">
                    <i class="fa fa-bullhorn"></i>
                    <span>Glossary Management</span>
                    <i class="fa pull-right"  ng-class="{'fa-angle-left':!css.menuexpand[7], 'fa-angle-down':css.menuexpand[7]}"></i>
                </a>
                <ul class="treeview-menu" ng-show="css.menuexpand[7]">
                    <li ng-class="{'active' : currentMenu==71 }"><a href="" ng-click="clickMenu(71)"><i class="fa fa-angle-double-right"></i> Glossary List</a></li>
                    <li ng-class="{'active' : currentMenu==72 }"><a href="" ng-click="clickMenu(72)"><i class="fa fa-angle-double-right"></i> Create Glossary</a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>