
    <div class="b2c-header">
        <div class="b2c-container">
            <a href="/e4e">
                <img src="/app/css/images/b2c_logo.png" class="b2c-logo" />
            </a>

            <div class="b2c-login pull-right">

                <div class="pull-right" ng-if="showlogin">
                    <div class="b2c-login-field">
                        <div>用户名/邮箱</div>
                        <div><input type="text" class="b2c-login-input" ng-model="newUser.username"/></div>
                        <div><label><input type="checkbox" ng-model="newUser.rememberMe">下次自动登录</label> </div>
                    </div>
                    <div class="b2c-login-field">
                        <div>密码</div>
                        <div><input type="password" class="b2c-login-input" ng-model="newUser.password"/></div>
                        <div><a href="/e4e/forgotpassword">忘记密码</a></div>
                    </div>
                    <a href="" class="button" ng-click="clickLogin()"></a>
                </div>



                <div class="b2c-user pull-right" ng-if="!showlogin && currentuser.username">
                    <button class="btn avatar" type="button" data-animation="am-flip-x" bs-dropdown="dropdown" data-template="dropdown-tpl.html" data-placement="bottom-left">
                        <img ng-src="/{{currentuser.avatar.path || 'app/css/images/profile_avatar_2.png'}}" alt="avatar"/>
                        <!--<span class="caret"></span>-->
                    </button>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>

                    <script type="text/ng-template" id="dropdown-tpl.html">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/e4e/profile" >个人信息</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="clickLogout()">退出登录</a></li>
                        </ul>
                    </script>

                </div>



                <div class="b2c-trans pull-right">
                    <span ng-class="{'selected' : css.language == 'en_US'}" ng-click="changeLanguage('en_US')">EN</span>
                    <span ng-class="{'selected' : css.language == 'zh_CN'}" ng-click="changeLanguage('zh_CN')">中</span>
                </div>

            </div>
        </div>
    </div>
