body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:253px;
  top:110px;
  width:837px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:576px;
  top:150px;
  width:166px;
  height:43px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#5375E1;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:11px;
  width:42px;
  height:26px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:72px;
  top:16px;
  width:74px;
  height:19px;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1168px;
  top:17px;
  width:114px;
  height:13px;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#CFD9F3;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:13px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1089px;
  top:12px;
  width:60px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background-color:#294590;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CFD9F3;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:960px;
  top:12px;
  width:100px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-color:#294590;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CFD9F3;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:254px;
  top:227px;
  width:137px;
  height:163px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:163px;
}
#u16 {
  position:absolute;
  left:2px;
  top:74px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:250px;
  top:390px;
  width:841px;
  height:291px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:291px;
}
#u18 {
  position:absolute;
  left:2px;
  top:138px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:922px;
  top:590px;
  width:120px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:489px;
  top:245px;
  width:405px;
  height:48px;
  font-family:'Helvetica';
  font-style:normal;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:482px;
  top:316px;
  width:437px;
  height:17px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  white-space:nowrap;
}
