<% include ./include/headcssadmin.html %>

<body class="bg-black" ng-app="marksimosadmin">

<div class="form-box" id="login-box" ng-controller="adminLoginController">
    <div class="header">Sign In</div>

    <form name="loginForm">
        <div class="body bg-gray">

            <div class="form-group" ng-class="{'has-success':loginForm.email.$dirty && loginForm.email.$valid, 'has-error': loginForm.email.$dirty && loginForm.email.$invalid}">

                <input type="email" name="email" class="form-control" placeholder="Admin User Email" ng-model="data.admin.email" required />
                <label class="control-label" for="inputError" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                    <i class="fa fa-times-circle-o"></i> Please input your email
                </label>
            </div>

            <div class="form-group" ng-class="{'has-success':loginForm.password.$dirty && loginForm.password.$valid, 'has-error': loginForm.password.$dirty && loginForm.password.$invalid}">

                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="data.admin.password" required ng-minlength="6" ng-maxlength="20"/>
                <label class="control-label" for="inputError" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                    <i class="fa fa-times-circle-o"></i> Email or password  wrong !
                </label>
            </div>
            <!--<div class="form-group">-->
                <!--<input type="checkbox" name="remember_me"/> Remember me-->
            <!--</div>-->
        </div>

        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block" ng-click="login(loginForm)">Sign In</button>

            <!--<p><a href="#">I forgot my password</a></p>-->

            <!--<a href="register.html" class="text-center">Register a new membership</a>-->
        </div>
    </form>



    <!--<div class="margin text-center">-->
        <!--<span>Sign in using social networks</span>-->
        <!--<br/>-->
        <!--<button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>-->
        <!--<button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>-->
        <!--<button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>-->

    <!--</div>-->
</div>







<% include ./include/footerscriptadminhome.html %>