<% include ./include/headcssadmin.html %>


<body class="skin-blue" ng-app="marksimosadmin" ng-controller="adminMarksimosReportController">

    <header-admin class="header" currentuser="data.currentUser"></header-admin>


    <div class="wrapper row-offcanvas row-offcanvas-left">


        <section class="content">
            <h2 class="page-header">MarkSimos Seminar <%= seminarId %> Report</h2>
            {{'ReportYourCompany' | translate}} :
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='A1'}" ng-click="clickChartMenu('A1')">{{'ReportMenuCompanyStatus' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='A2'}" ng-click="clickChartMenu('A2')">{{'ReportMenuFinancialReport' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='A3'}" ng-click="clickChartMenu('A3')">{{'ReportMenuInventoryReport' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='A4'}" ng-click="clickChartMenu('A4')">{{'ReportMenuProfitabilityEvolution' | translate}}</button>
            </div>
            <br />

            {{'ReportYourCompetitors' | translate}} :
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='B1'}" ng-click="clickChartMenu('B1')">{{'ReportMenuMarketShare' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='B2'}" ng-click="clickChartMenu('B2')">{{'ReportMenuCompetitorIntelligence' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='B3'}" ng-click="clickChartMenu('B3')">{{'ReportMenuInvestmentProfits' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='B4'}" ng-click="clickChartMenu('B4')">{{'ReportMenuMarketSalesInventory' | translate}}</button>
            </div>
            <br />

            {{'ReportMarketLandscape' | translate}} :
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='C1'}" ng-click="clickChartMenu('C1')">{{'ReportMenuSegmentLeaderTop5' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='C2'}" ng-click="clickChartMenu('C2')">{{'ReportMenuPerceptionMap' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='C3'}" ng-click="clickChartMenu('C3')">{{'ReportMenuSegmentDistributions' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='C4'}" ng-click="clickChartMenu('C4')">{{'ReportMenuMarketEvolution' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='C5'}" ng-click="clickChartMenu('C5')">{{'ReportMenuMarketTrends' | translate}}</button>
                <button type="button" class="btn btn-default" ng-class="{'active': css.currentReportMenu=='C6'}" ng-click="clickChartMenu('C6')">{{'ReportMenuMarketIndicator' | translate}}</button>
            </div>

        </section>

        <!-- Table A1 -->
        <section class="content" ng-if="css.currentReportMenu=='A1'">
            <div class="row">
                <div class="col-md-12 user_table_single">
                    <h5>
                        {{'ReportMenuCompanyStatus' | translate}}

                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    {{'HomePageSecondMenuBarLabelsCompany' | translate}} {{data.tableA1CompanyStatus.currentCompany.companyName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="company in data.tableA1CompanyStatus.allCompanyData"><a href="" ng-click="switchTableReportA1Company(company)">{{'HomePageSecondMenuBarLabelsCompany' | translate}} {{company.companyName}}</a></li>
                                </ul>
                            </div>

                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" ng-class="{'active': css.tableReportTab=='SKU'}" ng-click="css.tableReportTab='SKU' ">{{'ReportTabLabelSKU' | translate}}</button>
                                <button type="button" class="btn btn-default" ng-class="{'active': css.tableReportTab=='Brand'}" ng-click="css.tableReportTab='Brand' ">{{'ReportTabLabelBrand' | translate}}</button>
                                <button type="button" class="btn btn-default" ng-class="{'active': css.tableReportTab=='Global'}" ng-click="css.tableReportTab='Global' ">{{'ReportTabLabelGlobal' | translate}}</button>
                            </div>
                        </div>
                    </h5>
                    <div class="table_report" ng-if="css.tableReportTab=='SKU'">
                        <ul class="nav nav-pills">
                            <li ng-class="{'active': data.tableA1CompanyStatus.currentSKU.SKUID==sku.SKUID}" ng-repeat="sku in data.tableA1CompanyStatus.currentCompany.SKU"><a href="" ng-click="switchTableReportA1SKU(sku)">{{sku.SKUName}} {{sku.PackSize | skupacksize | translate}}</a></li>
                        </ul>
                        <div class="divider_horizontal"></div>
                        <div table-report-company-status-sku data="data.tableA1CompanyStatus.currentSKU.data"></div>
                    </div>
                    <div class="table_report" ng-if="css.tableReportTab=='Brand'">
                        <ul class="nav nav-pills">
                            <li ng-class="{'active': data.tableA1CompanyStatus.currentBrand.brandId==brand.brandId}" ng-repeat="brand in data.tableA1CompanyStatus.currentCompany.brand"><a href="" ng-click="switchTableReportA1Brand(brand)">{{brand.brandName}}</a></li>
                        </ul>
                        <div class="divider_horizontal"></div>
                        <div table-report-company-status-brand data="data.tableA1CompanyStatus.currentBrand.data"></div>
                    </div>
                    <div class="table_report" ng-if="css.tableReportTab=='Global'">
                        <div table-report-company-status-global data="data.tableA1CompanyStatus.currentGlobal"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Table A2 -->
        <section class="content" ng-if="css.currentReportMenu=='A2'">
            <div class="row">
                <div class="col-md-12 user_table_single">
                    <h5>
                        {{'ReportMenuFinancialReport' | translate}}
                        <div class="pull-right">                     
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    {{'HomePageSecondMenuBarLabelsCompany' | translate}} {{data.tableA2FinancialData.currentCompany.companyName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="data in data.tableA2FinancialData.allData"><a href="" ng-click="switchTableReportA2Company($index)">{{'HomePageSecondMenuBarLabelsCompany' | translate}} {{data.companyName}}</a></li>
                                </ul>

                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    {{'HomePageSecondMenuBarCurrentPeriod' | translate}} {{data.tableA2FinancialData.currentPeriod.period}} <span class="caret"></span>
                                </button>                              
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="period in data.tableA2FinancialData.currentCompany.periods"><a href="" ng-click="switchTableReportPeriod(period)">{{'HomePageSecondMenuBarLabelsCompany' | translate}} {{period.period}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </h5>

                    <div class="table_report">

                        <ul class="nav nav-pills">
                            <li ng-class="{'active': data.tableA2FinancialData.currentBrand.brandId==brand.brandId}" ng-repeat="brand in data.tableA2FinancialData.currentPeriod.brands"><a href="" ng-click="switchTableReportA2Brand(brand)">{{brand.brandName}}</a></li>
                            <li ng-class="{'active': data.tableA2FinancialData.currentBrand=='allbrand'}"><a href="" ng-click="switchTableReportA2Brand('allbrand')">{{data.tableA2FinancialData.currentPeriod.allBrands.brandName}}</a></li>
                        </ul>

                        <div class="divider_horizontal"></div>
                        <div table-report-financial-report-brand data="data.tableA2FinancialData.currentBrand.data" ng-if="data.tableA2FinancialData.currentBrand!=='allbrand'"></div>
                        <div table-report-financial-report-all-brand data="data.tableA2FinancialData.currentPeriod.allBrands.data" ng-if="data.tableA2FinancialData.currentBrand=='allbrand'"></div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Table A3 -->
        <section class="content" ng-if="css.currentReportMenu=='A3'">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form class="form-horizontal" role="form" name="searchDistributorForm">
                            <div class="box-body">
                                <username-input labeltext="Distributor UserName :" placeholdertext="Distributor UserName" formname="searchDistributorForm" data="data.searchDistributor.username" required="false" requirederrorinfo="Username is required" minlength="6" minlengtherrorinfo="Username must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Username is a maximum of 20 characters"></username-input>
                                <email-input labeltext="Distributor Email :" placeholdertext="Email" formname="searchDistributorForm" data="data.searchDistributor.email" required="false" requirederrorinfo="Email is required" emailerrorinfo="Doesn't look like a valid email !"></email-input>

                                <div class="form-group">
                                    <label for="inputDistributorUserStatus" class="col-sm-2 control-label">User Status</label>
                                    <div class="col-sm-4">
                                        <label class="radio-inline">
                                            <input type="radio" name="inputDistributorUserStatus" ng-model="data.searchDistributor.user_status" value="true">Active
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="inputDistributorUserStatus" ng-model="data.searchDistributor.user_status" value="false">Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary" ng-click="searchDistributor(searchDistributorForm)">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Distributor List</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>UserName</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Licences Used / Granted</th>
                                        <th>Cell Phone</th>
                                        <th>Country / Province / City</th>
                                        <th>Address</th>
                                        <th>ID Card</th>
                                    </tr>
                                    <tr ng-repeat="user in data.distributors">
                                        <td>{{user._id}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{!user.isDisabled}}</td>
                                        <td>{{user.numOfUsedLicense}}/{{user.numOfLicense}}</td>
                                        <td>{{user.phone}}</td>
                                        <td>{{user.country}} / {{user.state}} / {{user.city}} </td>
                                        <td>{{user.district}} {{user.street}}</td>
                                        <td>{{user.pincode}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>

        <!-- Table A4 -->
        <section class="content" ng-if="css.currentReportMenu=='A4'">
            <div class="row">
                <div class="col-md-12 user_table_single">
                    <h5>
                        {{'ReportMenuProfitabilityEvolution' | translate}}
                        <div class="pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    {{'HomePageSecondMenuBarLabelsCompany' | translate}} {{data.tableA4ProfitabilityEvolution.currentData.companyName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="data in data.tableA4ProfitabilityEvolution.allData"><a href="" ng-click="switchTableReportA4Company($index)">{{'HomePageSecondMenuBarLabelsCompany' | translate}} {{data.companyName}}</a></li>
                                </ul>
                                <button type="button" class="btn btn-default" ng-class="{'active': css.tableReportTab=='SKU'}" ng-click="css.tableReportTab='SKU' ">{{'ReportTabLabelSKU' | translate}}</button>
                                <button type="button" class="btn btn-default" ng-class="{'active': css.tableReportTab=='Brand'}" ng-click="css.tableReportTab='Brand' ">{{'ReportTabLabelBrand' | translate}}</button>
                                <button type="button" class="btn btn-default" ng-class="{'active': css.tableReportTab=='Global'}" ng-click="css.tableReportTab='Global' ">{{'ReportTabLabelGlobal' | translate}}</button>
                            </div>
                        </div>
                    </h5>

                    <div class="table_report" ng-if="css.tableReportTab=='SKU'">

                        <ul class="nav nav-pills">
                            <li ng-class="{'active': data.tableA4ProfitabilityEvolution.currentSKU.SKUID==sku.SKUID}" ng-repeat="sku in data.tableA4ProfitabilityEvolution.allData.SKU"><a href="" ng-click="switchTableReportA4SKU(sku)">{{sku.SKUName}} {{sku.PackSize | skupacksize | translate}}</a></li>
                        </ul>

                        <div class="divider_horizontal"></div>
                        <div table-report-profitability-evolution-sku data="data.tableA4ProfitabilityEvolution.currentSKU.data"></div>

                    </div>

                    <div class="table_report" ng-if="css.tableReportTab=='Brand'">

                        <ul class="nav nav-pills">
                            <li ng-class="{'active': data.tableA4ProfitabilityEvolution.currentBrand.brandId==brand.brandId}" ng-repeat="brand in data.tableA4ProfitabilityEvolution.allData.brand"><a href="" ng-click="switchTableReportA4Brand(brand)">{{brand.brandName}}</a></li>
                        </ul>

                        <div class="divider_horizontal"></div>
                        <div table-report-profitability-evolution-brand data="data.tableA4ProfitabilityEvolution.currentBrand.data"></div>

                    </div>

                    <div class="table_report" ng-if="css.tableReportTab=='Global'">
                        <div table-report-profitability-evolution-global data="data.tableA4ProfitabilityEvolution.currentGlobal"></div>
                    </div>

                </div>

            </div>
        </section>

        <!-- Table C6 -->
        <section class="content" ng-if="css.currentReportMenu=='C6'">
            <div class="row">
                <div class="col-md-12 user_table_single">
                    <h5>{{'ReportMenuMarketIndicator' | translate}}</h5>

                    <div class="table_report">
                        <div table-report-market-indicator data="data.tableC6MarketIndicators.allData" unit="%"></div>
                    </div>
                </div>
            </div>
        </section>
</div>













    <% include ./include/footerscriptadminhome.html %>
