<% include ./include/headcssadmin.html %>


<body class="skin-blue" ng-app="marksimosadmin" ng-controller="adminHomeController">

    <header-admin class="header" currentuser="data.currentUser"></header-admin>


    <div class="wrapper row-offcanvas row-offcanvas-left">

        <menu-admin current-menu="css.leftmenu" showtab="css.menuTabShow" currentuser="data.currentUser"></menu-admin>


        <aside class="right-side">

            <section class="content" ng-if="css.leftmenu==11">
                <h2 class="page-header">Dashboard coming soon !!</h2>
            </section>


            <section class="content" ng-if="css.leftmenu==21">
                <h2 class="page-header">Distributor Management</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <form class="form-horizontal" role="form" name="searchDistributorForm">
                                <div class="box-body">

                                    <text-form-input type="text" name="newDistributorUsername" label="Distributor UserName :" placeholder="Distributor UserName" labelclass="col-sm-2" inputclass="col-sm-4" data="data.searchDistributor.username" minlength="6" minlengtherrorinfo="Username must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Username is a maximum of 20 characters"></text-form-input>
                                    <text-form-input type="email" name="newDistributorEmail" label="Distributor Email :" placeholder="Email" labelclass="col-sm-2" inputclass="col-sm-4" data="data.searchDistributor.email" emailerrorinfo="Doesn't look like a valid email !" ></text-form-input>

                                    <div class="form-group">
                                        <label for="inputDistributorUserStatus" class="col-sm-2 control-label">User Status</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="inputDistributorUserStatus" ng-model="data.searchDistributor.user_status" value="true">Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inputDistributorUserStatus" ng-model="data.searchDistributor.user_status" value="false">Inactive
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="searchDistributor(searchDistributorForm)">Search</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Distributor List</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>UserName</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Licences Used / Granted</th>
                                        <th>Cell Phone</th>
                                        <th>Country / Province / City</th>
                                        <th>Address</th>
                                        <th>ID Card</th>
                                    </tr>
                                    <tr ng-repeat="user in data.distributors" >
                                        <td>{{user._id}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.activated}}</td>
                                        <td>{{user.numOfUsedLicense}}/{{user.numOfLicense}}</td>
                                        <td>{{user.mobilePhone}}</td>
                                        <td>{{user.country}} / {{user.state}} / {{user.city}} </td>
                                        <td>{{user.district}} {{user.street}}</td>
                                        <td>{{user.idcardNumber}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>


            <section class="content" ng-if="css.leftmenu==22">
                <h2 class="page-header">Create New Distributor</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <form class="form-horizontal" role="form" name="newDistributorForm">
                                <div class="box-body">

                                    <text-form-input type="text" name="newDistributorUsername" label="Distributor UserName :" placeholder="Distributor UserName" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newDistributor.username" required="true" minlength="6" minlengtherrorinfo="Username must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Username is a maximum of 20 characters"></text-form-input>
                                    <text-form-input type="email" name="newDistributorEmail" label="Distributor Email :" placeholder="Email" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newDistributor.email" required="true" requirederrorinfo="Email is required!" emailerrorinfo="Doesn't look like a valid email !" ></text-form-input>
                                    <text-form-input type="text" name="newDistributorPassword" label="Password :" placeholder="Password" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newDistributor.password" required="true" requirederrorinfo="Password is required!" minlength="6" minlengtherrorinfo="Password must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Password is a maximum of 20 characters" ></text-form-input>

                                    <text-form-input type="text" name="newDistributorMobilePhone" label="Mobile Phone :" placeholder="Cell Phone Number" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newDistributor.mobilePhone" required="true" requirederrorinfo="Mobile Phone is required!" minlength="11" minlengtherrorinfo="Phone must be at least 11 characters" maxlength="15" maxlengtherrorinfo="Phone is a maximum of 15 characters" ></text-form-input>
                                    <text-form-input type="text" name="newDistributorIDCard" label="ID Card :" placeholder="Pin Code" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newDistributor.idcardNumber" required="true" requirederrorinfo="ID Card is required!" minlength="18" minlengtherrorinfo="ID Card must be at least 18 characters" maxlength="18" maxlengtherrorinfo="ID Card is a maximum of 18 characters" ></text-form-input>


                                    <div class="form-group">
                                        <label for="inputDistributorCountry" class="col-sm-2 control-label">Country/State/City : </label>
                                        <div class="col-sm-3">
                                            <select class="form-control" ng-model="data.newDistributor.country" ng-options="country.name as country.name for country in data.country">

                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>Province</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>City</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDistributorAddress" class="col-sm-2 control-label">Address : </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="inputDistributorAddress" placeholder="Address - District" ng-model="data.newDistributor.district">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="inputDistributorAddressStreet" placeholder="Address - Street/Building" ng-model="data.newDistributor.street">
                                        </div>
                                    </div>

                                    <text-form-input type="number" name="newDistributorLicences" label="No. of Licences Granted :" placeholder="No. of Default Licences" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newDistributor.numOfLicense" required="true" requirederrorinfo="License No. is required!" min="1" minerrorinfo="Must be greater than 1" max="200" maxerrorinfo="Must be less than 200"></text-form-input>

                                </div>

                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="createNewDistributor(newDistributorForm)"> Create </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>



                    </div>
                </div>
            </section>


            <section class="content" ng-if="css.leftmenu==31">
                <h2 class="page-header">Facilitator Management</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <form class="form-horizontal" role="form" name="searchFacilitatorForm">
                                <div class="box-body">

                                    <text-form-input type="text" name="newFacilitatorUsername" label="Facilitator UserName :" placeholder="Facilitator UserName" labelclass="col-sm-2" inputclass="col-sm-4" data="data.searchFacilitator.username" minlength="6" minlengtherrorinfo="Username must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Username is a maximum of 20 characters"></text-form-input>
                                    <text-form-input type="email" name="newFacilitatorEmail" label="Facilitator Email :" placeholder="Email" labelclass="col-sm-2" inputclass="col-sm-4" data="data.searchFacilitator.email" emailerrorinfo="Doesn't look like a valid email !" ></text-form-input>

                                    <div class="form-group">
                                        <label for="inputFacilitatorUserStatus" class="col-sm-2 control-label">User Status</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="inputFacilitatorUserStatus" ng-model="data.searchFacilitator.user_status" value="true">Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inputFacilitatorUserStatus" ng-model="data.searchFacilitator.user_status" value="false">Inactive
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="searchFacilitator(searchFacilitatorForm)">Search</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Facilitator List</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>UserName</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Licences Used / Granted</th>
                                        <th>Cell Phone</th>
                                        <th>Country / Province / City</th>
                                        <th>Address</th>
                                        <th>ID Card</th>
                                        <th>Distributor</th>
                                    </tr>
                                    <tr ng-repeat="user in data.facilitators" >
                                        <td>{{user._id}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.activated}}</td>
                                        <td>{{user.numOfUsedLicense}}/{{user.numOfLicense}}</td>
                                        <td>{{user.mobilePhone}}</td>
                                        <td>{{user.country}} / {{user.state}} / {{user.city}} </td>
                                        <td>{{user.district}} {{user.street}}</td>
                                        <td>{{user.idcardNumber}}</td>
                                        <td title="{{user.distributorId}}">{{user.distributorName}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>


            <section class="content" ng-if="css.leftmenu==32">
                <h2 class="page-header">Create New Facilitator</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <form class="form-horizontal" role="form" name="newFacilitatorForm">
                                <div class="box-body">

                                    <username-input labeltext="Facilitator UserName :" placeholdertext="Facilitator UserName" formname="newFacilitatorForm" data="data.newFacilitator.username" required="true" requirederrorinfo="Username is required" minlength="6" minlengtherrorinfo="Username must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Username is a maximum of 20 characters"></username-input>
                                    <email-input labeltext="Facilitator Email :" placeholdertext="Email" formname="newFacilitatorForm" data="data.newFacilitator.email" required="true" requirederrorinfo="Email is required" emailerrorinfo="Doesn't look like a valid email !"></email-input>
                                    <password-input labeltext="Password :" placeholdertext="Password" formname="newFacilitatorForm" data="data.newFacilitator.password" required="true" requirederrorinfo="Password is required" minlength="6" minlengtherrorinfo="Password must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Password is a maximum of 20 characters"></password-input>
                                    <phone-input labeltext="Phone :" placeholdertext="Cell Phone" formname="newFacilitatorForm" data="data.newFacilitator.mobilePhone" required="false" requirederrorinfo="Phone is required" minlength="11" minlengtherrorinfo="Phone must be at least 11 characters" maxlength="15" maxlengtherrorinfo="Phone is a maximum of 15 characters"></phone-input>
                                    <idcard-input labeltext="ID Card :" placeholdertext="Pin Code" formname="newFacilitatorForm" data="data.newFacilitator.idcardNumber" required="false" requirederrorinfo="ID Card is required" minlength="18" minlengtherrorinfo="ID Card must be at least 18 characters" maxlength="18" maxlengtherrorinfo="ID Card is a maximum of 18 characters"></idcard-input>

                                    <div class="form-group">
                                        <label for="inputFacilitatorCountry" class="col-sm-2 control-label">Country/State/City : </label>
                                        <div class="col-sm-3">
                                            <select class="form-control" ng-model="data.newFacilitator.country" ng-options="country.name as country.name for country in data.country">

                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>Province</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>City</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputFacilitatorAddress" class="col-sm-2 control-label">Address : </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="inputFacilitatorAddress" placeholder="Address - District" ng-model="data.newFacilitator.district">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="inputFacilitatorAddressStreet" placeholder="Address - Street/Building" ng-model="data.newFacilitator.street">
                                        </div>
                                    </div>

                                    <licence-input labeltext="No. of Licences Granted :" placeholdertext="No. of Licences Granted" formname="newFacilitatorForm" data="data.newFacilitator.numOfLicense" required="true" requirederrorinfo="License is required" numbererrorinfo="License is numeric" min="1" minerrorinfo="Must be greater than 1" max="200" maxerrorinfo="Must be less than 200"></licence-input>


                                    <!--<div class="form-group">-->
                                    <!--<label for="inputFacilitatorLicenceGranted" class="col-sm-2 control-label">Game Type :</label>-->
                                    <!--<div class="col-sm-4">-->
                                    <!--<select class="form-control input-sm">-->
                                    <!--<option>MARKSIMOS B2B</option>-->
                                    <!--<option>MARKSIMOS B2C</option>-->
                                    <!--<option>CASASIMOS</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>

                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="createNewFacilitator(newFacilitatorForm)"> Create </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>



            <section class="content" ng-if="css.leftmenu==41">
                <h2 class="page-header">Student Management</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <form class="form-horizontal" role="form" name="searchStudentForm">
                                <div class="box-body">

                                    <text-form-input type="text" name="newStudentUsername" label="Student UserName :" placeholder="Student UserName" labelclass="col-sm-2" inputclass="col-sm-4" data="data.searchStudent.username" minlength="6" minlengtherrorinfo="Username must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Username is a maximum of 20 characters"></text-form-input>
                                    <text-form-input type="email" name="newStudentEmail" label="Student Email :" placeholder="Email" labelclass="col-sm-2" inputclass="col-sm-4" data="data.searchStudent.email" emailerrorinfo="Doesn't look like a valid email !" ></text-form-input>

                                    <div class="form-group">
                                        <label for="inputStudentUserStatus" class="col-sm-2 control-label">User Status</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="inputStudentUserStatus" ng-model="data.searchStudent.user_status" value="true">Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inputStudentUserStatus" ng-model="data.searchStudent.user_status" value="false">Inactive
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputStudentUserFrom" class="col-sm-2 control-label">User From</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="inputStudentUserFrom" ng-model="data.searchStudent.student_type" value="">All
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inputStudentUserFrom" ng-model="data.searchStudent.student_type" value="10">B2B Student
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inputStudentUserFrom" ng-model="data.searchStudent.student_type" value="20">B2C(E4E) Student
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inputStudentUserFrom" ng-model="data.searchStudent.student_type" value="30">B2B&B2C Student
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="searchStudent(searchStudentForm)">Search</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Student List</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <tr>
                                        <!-- <th>ID</th> -->
                                        <th>UserName</th>
                                        <th>First/Last Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Cell Phone</th>
                                        <th>Country / Province / City</th>
                                        <th>University / Organization</th>
                                        <th>Current Occupation</th>
                                        <th>Reset Password</th>
                                    </tr>
                                    <tr ng-repeat="user in data.students" >
                                        <!-- <td>{{user._id}}</td> -->
                                        <td>{{user.username}}</td>
                                        <td>{{user.firstName}} {{user.lastName}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.activated}}</td>
                                        <td>{{user.mobilePhone}}</td>
                                        <td>{{user.country}} / {{user.state}} / {{user.city}} </td>
                                        <td>{{user.organizationOrUniversity}}</td>
                                        <td>{{user.occupation}}</td>
                                        <td>
                                            <button ng-click='resetStudentPassword(user._id)'>Reset</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>


            <section class="content" ng-if="css.leftmenu==42">
                <h2 class="page-header">Create New Student</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">




                            <form class="form-horizontal" role="form" name="newStudentForm">
                                <div class="box-body">
                                    <text-form-input type="text" name="newStudentUsername" label="Student UserName :" placeholder="Student UserName" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.username" required="true" minlength="6" minlengtherrorinfo="Username must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Username is a maximum of 20 characters"></text-form-input>
                                    <text-form-input type="email" name="newStudentEmail" label="Student Email :" placeholder="Email" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.email" required="true" requirederrorinfo="Email is required!" emailerrorinfo="Doesn't look like a valid email !" ></text-form-input>
                                    <text-form-input type="text" name="newStudentPassword" label="Password :" placeholder="Password" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.password" required="true" requirederrorinfo="Password is required!" minlength="6" minlengtherrorinfo="Password must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Password is a maximum of 20 characters" ></text-form-input>

                                    <text-form-input type="text" name="newStudentMobilePhone" label="Mobile Phone :" placeholder="Cell Phone Number" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.mobilePhone" required="true" requirederrorinfo="Mobile Phone is required!" minlength="11" minlengtherrorinfo="Phone must be at least 11 characters" maxlength="15" maxlengtherrorinfo="Phone is a maximum of 15 characters" ></text-form-input>
                                    <text-form-input type="text" name="newStudentQQ" label="QQ :" placeholder="QQ Number" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.qq" minlength="4" minlengtherrorinfo="QQ must be at least 4 characters" maxlength="20" maxlengtherrorinfo="QQ is a maximum of 20 characters" ></text-form-input>


                                    <div class="form-group">
                                        <label for="inputStudentCountry" class="col-sm-2 control-label">Country/State/City : </label>
                                        <div class="col-sm-3">
                                            <select class="form-control" ng-model="data.newStudent.country" ng-options="country.name as country.name for country in data.country">

                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>Province</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>City</option>
                                            </select>
                                        </div>
                                    </div>

                                    <text-form-input type="text" name="newStudentFirstName" label="First Name :" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.firstName" minlength="2" minlengtherrorinfo="First name must be at least 2 characters" maxlength="50" maxlengtherrorinfo="First name is a maximum of 50 characters" ></text-form-input>
                                    <text-form-input type="text" name="newStudentLastName" label="Last Name :" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.lastName" minlength="2" minlengtherrorinfo="Last name must be at least 2 characters" maxlength="50" maxlengtherrorinfo="Last name is a maximum of 50 characters" ></text-form-input>

                                    <text-form-input type="text" name="newStudentOccupation" label="Current Occupation :" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.occupation" minlength="2" minlengtherrorinfo="Current occupation must be at least 2 characters" maxlength="100" maxlengtherrorinfo="Current occupation is a maximum of 100 characters" ></text-form-input>
                                    <text-form-input type="text" name="newStudentUniversity" label="University / Organization :" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.organizationOrUniversity" minlength="2" minlengtherrorinfo="University must be at least 2 characters" maxlength="100" maxlengtherrorinfo="University is a maximum of 100 characters" ></text-form-input>

                                    <text-form-input type="radio" name="newStudentStudentType" label="Student For :" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newStudent.studentType" radiooptions="data.newStudent.studentTypeRadioOptions" required="true"></text-form-input>

                                </div>

                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="createNewStudent(newStudentForm)"> Create </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>



            <section class="content" ng-if="css.leftmenu==51">
                <h2 class="page-header">Seminar Management</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">

                            <form class="form-horizontal" role="form" name="searchSeminarForm">
                                <div class="box-body">  
                                    <div class="form-group" ng-class="{'has-success':searchSeminarForm.filterKey.$dirty&&searchSeminarForm.filterKey.$valid, 'has-error':searchSeminarForm.filterKey.$dirty&&searchSeminarForm.filterKey.$invalid}">
                                        <label class="col-sm-2 control-label" for="filterKey">Keywords :</label>
                                        <div class="col-sm-4">
                                            <input type="text" ng-change="searchSeminar(searchSeminarForm)" class="form-control" id="filterKey" name="filterKey" ng-model="data.searchSeminar.filterKey" placeholder="ID / Description / Venue" ng-required="false" ng-minlength="2" ng-maxlength="20" ng-model-options="{ debounce: 500 }" />
                                        </div>
                                        <label class="control-label" ng-show="!searchSeminarForm.filterKey.$valid"><i class="fa fa-times-circle-o"></i>Search keyword length should be between 2 and 20</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSeminarUserStatus" class="col-sm-2 control-label">Initialized Status</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input ng-change="searchSeminar(searchSeminarForm)" type="radio" name="inputSeminarUserStatus" ng-model="data.searchSeminar.status" value="all">All
                                            </label>
                                            <label class="radio-inline">
                                                <input ng-change="searchSeminar(searchSeminarForm)" type="radio" name="inputSeminarUserStatus" ng-model="data.searchSeminar.status" value="true">Active
                                            </label>
                                            <label class="radio-inline">
                                                <input ng-change="searchSeminar(searchSeminarForm)" type="radio" name="inputSeminarUserStatus" ng-model="data.searchSeminar.status" value="false">Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="resetSeminar(searchSeminarForm)">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Seminar List</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <tr>
                                        <th style="width:100px">Action</th>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>Initialized Status / Finished Status</th>
                                        <th>Country / Province / City</th>
                                        <th>Venue</th>
                                        <th>CurrentPeriod / Rounds</th>
                                        <th>Teams</th>
                                        <th>Team Member</th>
                                        <th>Add Students</th>
                                    </tr>
                                    <tr ng-repeat="seminar in data.seminars" >
                                        <td style="width:100px">
                                            <button type="button" class="btn btn-danger" ng-hide="seminar.isInitialized" ng-click="initSeminar(seminar.seminarId)" ng-disabled="css.runButtonDisabled">Init</button>

                                            <button type="button" class="btn btn-danger" ng-show="seminar.isInitialized&&!seminar.isSimulationFinished&&!css.showConfirm" ng-click="showRunSeminarConfirm(seminar.seminarId)" >Run Period{{seminar.currentPeriod}}</button>

                                            <button type="button" class="btn btn-info btn-sm" ng-show="seminar.seminarId==css.currentRunSeminarId" ng-click="runSeminar(seminar.seminarId, seminar.companyMember)" ng-disabled="css.runButtonDisabled">Confirm Yes</button>
                                            <button type="button" class="btn btn-primary btn-sm" ng-show="seminar.seminarId==css.currentRunSeminarId" ng-click="showRunSeminarConfirmNo()" >No</button>
                                        </td>
                                        <td data-highlight-key="data.searchSeminar.filterKey">{{seminar.seminarId}}
                                            <a href="adminhomereport/{{seminar.seminarId}}" target="_blank"  ng-show="seminar.isInitialized"> Report</a>
                                        </td>
                                        <td data-highlight-key="data.searchSeminar.filterKey">{{seminar.description}}</td>
                                        <td>{{seminar.isInitialized}} / {{seminar.isSimulationFinished}}</td>
                                        <td>{{seminar.country}} / {{seminar.state}} / {{seminar.city}} </td>
                                        <td data-highlight-key="data.searchSeminar.filterKey">{{seminar.venue}}</td>
                                        <td>{{seminar.currentPeriod}} / {{seminar.simulationSpan}} </td>
                                        <td>{{seminar.companyNum}} </td>
                                        <td>
                                            <p ng-repeat="company in seminar.companyAssignment">Company{{company.companyId | companyname }} :
                                                <br>
                                                <span ng-repeat="student in company.studentList">{{student}} <a href="" ng-click="removeStudentToSeminar(seminar.seminarId, student)">remove</a>, </span>
                                            </p>
                                        </td>
                                        <td style="width:460px">
                                            <div class="input-group margin">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{seminar.currentCompanyName}} <span class="fa fa-caret-down"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="company in seminar.companies"><a href="" ng-click="chooseCompany(seminar, company)">Company {{company.companyName}}</a></li>
                                                    </ul>
                                                </div><!-- /btn-group -->
                                                <input type="email" class="form-control" placeholder="Student Email" ng-model="seminar.inputemail">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info" type="button" ng-click="addStudentToSeminar(seminar.seminarId, seminar.inputemail)">Add</button>
                                                </span>
                                            </div><!-- /input-group -->
                                            <div class="callout callout-danger" ng-show="seminar.seminarId == css.seminarId">
                                                <p>Please choose a company and input student email !</p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </section>


            <section class="content" ng-if="css.leftmenu==52">
                <h2 class="page-header">Create New Seminar</h2>

                <div class="row" >
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <form class="form-horizontal" role="form" name="newSeminarForm">
                                <div class="box-body">

                                    <text-form-input type="text" name="newSeminarDescription" label="Description :" placeholder="Seminar Description" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newSeminar.description" required="true" requirederrorinfo="Description is required" minlength="2" minlengtherrorinfo="Description must be at least 6 characters" maxlength="20" maxlengtherrorinfo="Description is a maximum of 20 characters"></text-form-input>

                                    <text-form-input type="number" name="newSeminarRounds" label="No. of Rounds :" placeholder="No. of Rounds" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newSeminar.simulation_span" min="2" minerrorinfo="Must be greater than 2" max="8" maxerrorinfo="Must be less than 8"></text-form-input>
                                    <text-form-input type="number" name="newSeminarTeams" label="No. of Teams :" placeholder="No. of Seminar Teams" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newSeminar.company_num"  min="2" minerrorinfo="Must be greater than 2" max="6" maxerrorinfo="Must be less than 6" ></text-form-input>


                                    <div class="form-group">
                                        <label for="inputSeminarCountry" class="col-sm-2 control-label">Country/State/City : </label>
                                        <div class="col-sm-3">
                                            <select class="form-control" ng-model="data.newSeminar.country" ng-options="country.name as country.name for country in data.country">

                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>Province</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>City</option>
                                            </select>
                                        </div>
                                    </div>

                                    <text-form-input type="text" name="newSeminarVenue" label="Venue :" placeholder="Seminar Description" labelclass="col-sm-2" inputclass="col-sm-4" data="data.newSeminar.venue" required="true" ></text-form-input>

                                </div>

                                <div class="box-footer">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary" ng-click="createNewSeminar(newSeminarForm)"> Create </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>








        </aside>
    </div>




    <div notifications="bottom right"></div>









<% include ./include/footerscriptadminhome.html %>