@import "icon_b2c/*.png";
@import "compass/css3";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";

@import "b2c/utils/variables";
@import "b2c/utils/mixin";


@import "b2c/base/animation";
@import "b2c/base/reset";
@import "b2c/base/typography";


@import "b2c/layout/header";
@import "b2c/layout/footer";

@import "b2c/components/button";

.forgetpasswordbox{
    height: 400px;
}

.reg-success{
    width: 1300px;
    font-size: 18px;
    margin: 130px auto;
    .mk-btn-red {
        margin-left: 10px;
    }

    .reg-success-info {
        margin-top: 20px;
    }
    .qr-codes {
        .qr-code{
            div {
                margin-bottom: 10px;
            }
            img {
                width: 90%;
            }
        }
    }
}

#b2creg {
    .middle {
        background-image: url(/app/css/images/b2c_reg_bg.jpg);
        height: 616px;
        padding-top: 88px;
        .header-pics {
            width: 50%;
            .carousel-indicators {
                bottom: -90px;
                left: 100%;
                li {
                    margin: 0 3px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .b2c-footer {
        background-image: url(/app/css/images/b2c_reg_bg.jpg);
    }

    .reg-form {
        width: 510px;
        padding-left: 110px;
        .reg-captcha-input-container {
            position: relative;
            input {
                width: 100% !important;
            }
            width: 58%;
            display: inline-block;
        }
        .reg-captcha {
            vertical-align: bottom;
            border-radius: 5px;
            height: 40px;
            line-height: 25px;
            width: 40%;
        }

        .title {
            font-weight: 900;
            font-size: 32px;
            margin: 12px 0px;
            color: $color_base_red;
            text-shadow: -3px 3px 2px black;
        }
        .form-group {
            margin-bottom: 10px;
        }
        input.input-lg {
            padding-top: 6px !important;
            padding-bottom: 6px !important;
            height: 40px;
            font-size: 15px;
        }
        input[type=text], input[type=password], input[type=email] {
            &:focus {
                outline: none !important;
                background-color: #FFFFEE;
                @include input-placeholder {
                    color: #333;
                }
            }
        }
        .female {
            margin-left: 15px;
        }
        button {
            @include registerButton
        }
        .err-msg {
            top: 2px;
            right: 410px;
            z-index: 999;
            position: absolute;
            width: 210px;
            color: #FFFFFF;
            background: #da8449;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 6px;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -8px;
                width: 0;
                height: 0;
                border-left: 8px solid #da8449;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }
        }
        .terms-link {
            font-size: 12px;
            color: #A09F9F;
        }
    }
    .terms {
        .close {
            position: absolute;
            top: 3px;
            right: 7px;
        }
        h6 {
            margin-bottom: 0;
        }
        font-size: 12px;
        position: fixed;
        width: 35%;
        left: 0;
        right: 0;
        top: 200px;
        margin: auto;
        color: black;
        background-color: white;
        padding: 20px 20px;
        z-index: 10000;
    }

    .reg-verify-account {
        padding-top: 100px;
        padding-left: 170px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #999;

        .mk-btn-red {
            margin-left: 10px;
        }
        .tip-header {
            margin-left: 0px;
        }
        a {
            letter-spacing: 0;
        }
        p {
            font-size: 18px;
            margin-top: 20px;
            margin-left: 40px;
        }
    }
    /********************  Index Page Below Pics ********************/

    .down-box {
        height: 550px;
        background-color: #c52e0d;
        padding: 105px 0px 0px 0px;

        .pic-area {
            height: 295px;
            padding-left: 115px;
            overflow: hidden;
        }

        .front {
            -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        }

        .pic {
            width: 255px;
            height: 295px;
            margin-right: 100px;
            float: left;
        }
        .pic-1 {
            margin-top: 20px;
            .front {
                @include icon_b2c-sprite(whats-hcd-1);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-1-back);
            }
        }
        .pic-2 {
            margin-top: 20px;
            .front {
                @include icon_b2c-sprite(whats-hcd-2);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-2-back);
            }
        }
        .pic-3 {
            margin-top: 20px;
            .front {
                @include icon_b2c-sprite(whats-hcd-3);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-3-back);
            }
        }
        .pic-4 {
            .front {
                @include icon_b2c-sprite(whats-hcd-4);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-4-back);
            }
        }
        .pic-5 {
            .front {
                @include icon_b2c-sprite(whats-hcd-5);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-5-back);
            }
        }
        .pic-6 {
            .front {
                @include icon_b2c-sprite(whats-hcd-6);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-6-back);
            }
        }

        .flip-container {
            width: 255px;
            height: 255px;
            position: relative;
            @include flippy(0.6s, 1000, $color_base_red);
        }
        .back {
            font-size: 12px;
            color: #fff;
            padding-top: 35px;
            .title {
                text-indent: 0;
                text-align: center;
            }
            p {
                text-align: justify;;
                text-indent: 2em;
                line-height: 25px;
                padding: 0 25px;
            }
        }
        .switch-button {
            text-align: center;
            margin-top: 60px;
            margin-left: 2px;
            a {
                margin-right: 75px;
                color: #fff;
                font-weight: 700;
                text-decoration: none;
                padding: 10px 20px;
                &:hover {
                    text-decoration: none;
                }
            }
            .selected {
                padding: 8px 18px;
                border: 2px solid #fff;
                @include border-radius(5px, 5px);
            }
        }
    }
}


/********************  Verify Email  ********************/
.b2c-top-line {
    background-color: rgb(79, 85, 101);
    color: rgb(127, 137, 162);
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    i {
        margin-right: 10px;
    }

    label {
        margin-left: 170px;
        font-size: 20px;
    }
    span {
        margin-left: 200px;
        margin-right: 30px;
        font-size: 16px;
    }
    a {
        color: rgb(127, 137, 162);
    }
    .active {
        color: rgb(182, 189, 215);
    }
}

.b2c-enter-email {
    .b2c-prints {
        margin-top: 44px;
        margin-left: 260px;
        height: 180px;
        width: 180px;
        @include icon_b2c-sprite(b2c_prints);
    }
    h3 {
        margin-top: 67px;
        margin-bottom: 20px;
    }

    button {
        margin-top: 11px;
        @include registerButton
    }

    .err-msg {
        background-color: rgb(255, 230, 225);
        padding: 5px 10px;
        font-size: 12px;
    }

    hr {
        width: 100%;
        margin-top: 30px;
    }

}

.b2c-enter-code {
    .b2c-code {
        margin-top: 44px;
        margin-left: 260px;
        height: 180px;
        width: 180px;
        @include icon_b2c-sprite(b2c_prints);
    }
    h4 {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    input[type=text] {
        letter-spacing: 10px;
    }

    button {
        @include registerButton;
        margin-right: 10px;
    }

    .err-msg {
        background-color: rgb(255, 230, 225);
        padding: 5px 10px;
        font-size: 12px;
    }

    hr {
        width: 100%;
        margin-top: 30px;
    }
}




/********************  User Profile  ********************/
$left_of_avatar: 44px;
$lineHeight_button: 1.8;

@mixin normalInput() {
    border-radius: 0 !important;
}

@mixin triangle($borderWidth: 5px, $rotate: -45deg, $borderColor: #000) {
    border: $borderWidth solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate($rotate);
    position: absolute;
    width: 0;
}

@mixin SaveButtonHover {
    &:hover,
    &:focus {
        color: $color_white;
        background-color: $color_register_button_hover;
    }
}

@mixin CancelButtonHover {
    &:hover,
    &:focus {
        color: $color_white;
        background-color: #b0b0b0;
    }
}

.profile-main {
    width: 1200px;
    margin: 0 auto;
}

.alert-container {
    position: relative;
    #profile-alert-container {
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 10;
        .alert {
            padding: 2px;
            margin-bottom: 0;
        }
    }
}
.profile-underline {
    text-decoration: underline;
}

.profile-body {
    background-color: #ECEDE8;
}

.profile-content {
    input {
        @include normalInput();
    }

    & > header {
        background-color: $color_white;
        margin-bottom: 10px;
        position: relative;

        .guide {
            position: absolute;
            width: 400px;
            height: 120px;
            right: 40px;
            .steps {
                position: absolute;
                bottom: 40px;
                left: 0;
                z-index: 1;
                h5 {
                    background-color: #F0B317;
                    color: $color_white;
                }
                .step div {
                    background-color: $color_white;
                    opacity: 0.8;
                }
            }
            .progress-bar {
                position: absolute;
                z-index: 0;
                right: 0;
                width: 120px;
                height: 120px;
                background-color: #DDDDDD;
                @include border-radius(50%);
            }
            .indicator {
                position: absolute;
                z-index: 2;
                right: 20px;
                width: 80px;
                height: 80px;
                background-color: #A12B04;//todo: 用渐变色来取代。
                @include border-radius(50%);
            }
        }

    }
    section {
        background-color: $color_white;
    }

    .banner {
        height: 200px;
        background-color: #8E1C02;
        margin: 0 -15px;
    }
    .user-info {
        position: absolute;
        top: 109px;
        left: $left_of_avatar;
        //width: 300px;

        .profile-head {
            float: left;
            width: image-width("profile_avatar_1.png"); // todo: to delete?
            height: image-height("profile_avatar_1.png");
            @include border-radius(2px);
        }
        .text-info {
            color: $color_white;
            float: left;
            margin-top: 1.5em;
            margin-left: 1.5em;
            .profile-username {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
    .profile-section {
        padding-top: 2em;
        //@include border-radius(7px);
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.detail-nav {
    line-height: 2;
    text-align: center;
    max-width: 300px;
    padding-left: $left_of_avatar;
    ul, li {
        list-style: none;
        padding-left: 0;
        background-color: #e5e5e4;
        color: $color_profile_detail_title;
    }
    li {
        &:hover,
        &:focus {
            background-color: #CACAC9;
        }
    }
    .avatar {
        width: 100%;
        height: 241px;
        margin-bottom: 20px;
        @include border-radius(0.3em);
    }
    .edit-title {
        line-height: 2.5;
        position: relative;
    }
    .profile-nav {
        cursor: pointer;
    }
    .selected {
        color: $color_white;
        background-color: $color_profile_detail_title;
        &:hover,&:focus{background-color: $color_profile_detail_title;}
    }
}

.profile-detail {
    padding-right: 30px;
    padding-left: 25px;

    textarea {
        resize: vertical;
    }
    label {
        font-weight: normal;
    }
    form {
        padding: 1em;
        font-size: 0.9em;
        label {
            min-height: 34px;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    pre {
        padding-left: 0;
        margin: 0;
        font-size: inherit;
        background-color: $color_white;
        border: none;
    }
    .mutiselect {
        border: 1px solid #CCC;
        background-color: #EDEDED;
        width: 500px;
        z-index: 99;
        position: absolute;
        top:36px;
        left:15px;
        li {
            width: 100%;
            background-color: #EDEDED;
            padding: 5px 10px;
        }
        .level1title {
            font-weight: bold;
            font-size: 14px;
            display: block;
            padding: 0 0 5px 0;
            border-bottom: 1px solid #ddd ;
            margin-bottom: 5px;
        }

        .level2title {
            font-size: 12px;
            display: block;
            float: left;
            padding: 0px 5px 0px 5px;
            height: 20px;
            cursor: pointer;
        }
        button {
            position: absolute;
            top:4px;
            right:5px;
            z-index: 999;
        }
    }

    .button {
        width: 85px;
        height: 32px;
        font-size: 15px;
        border-style: none;
        color: $color_white;
        background-color: #797979;
        @include box-shadow(#797979 0px 2px 4px);
        cursor: pointer;
    }

    .add-button, .remove-button {
        margin-top: 5px;
        height: auto;
        width: auto;
        padding: 2px;
        font-size: 10px;
    }
    .remove-button {
        padding-left: 1px;
        padding-right: 3px;
    }
    .add-button, .done {
        background-color: #B82A0C;
        @include box-shadow($color_register_button_border 0px 2px 4px);
        @include SaveButtonHover;
    }
    .button.done {
        padding: 6px 15px;
        text-align: center;
    }
    .remove-button, button.cancel {
        @include CancelButtonHover;
    }

    // borrows from facebook.
    .file-input-wrapper {
        overflow: hidden;
        position: relative;
        border: dotted 3px #D3D3D3;
        background-color: #F5F5F5;
        width: 240px;
        height: 100px;
        font-size: 20px;
        line-height: 90px;
        color: #888;
        cursor: pointer;
        text-align: center;
        &:hover {
            background-color: #e5e5e5;
        }
        .file-upload-text {
            margin-left: -16px;
            margin-right: -16px;
            line-height: 27px;
            font-weight: bold;
        }
        .file-upload-text-info {
            font-size: 12px;
            font-family: "Microsoft YaHei", Arial, sans-serif !important;
            text-align: left;
        }
        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .file-input {
                cursor: pointer;
                font-size: 500px;
                height: 300px;
                @include opacity(0);
                outline: none;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    .preview-avatar {
        width: 240px;
    }
    .err-msg {
        width: auto;
    }
    .textarea-err-msg {
        position: absolute;
        right: -10px;
    }
    .team-name-err-msg {
        position: absolute;
        right: 0;
    }
    .none-bottom {
        border-bottom: none;
        padding-bottom: 0;
    }
    .none-top {
        border-top: none;
        padding-top: 0;
    }
    .no-margin-bottom {
       margin-bottom: 0;
    }
    .profile-detail-title {
        line-height: 1.8;
        border-bottom: #9F9F9F solid 2px;
        .profile-edit {
            font-size: 0.8em;
            float: right;
            padding-top: 3px;
            color: #0480CB;
            cursor: pointer;
        }
    }
    .gender {
        margin-bottom: 15px;
    }
    .profile-button-container {
        button {
            /*margin-right: 0.5em;
            padding: 0.2em 0.5em;*/
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            width: 85px;
            border-style: none;
            color: $color_white;

            @include border-radius(0px);
        }
        button[type=submit] {
            background-color: #B82A0C;
            @include box-shadow($color_register_button_border 0px 2px 4px);
            @include SaveButtonHover;
        }
        .cancel {
            background-color: #797979;
            @include box-shadow(#797979 0px 2px 4px);
        }
    }
    .new-school-form {
        margin-bottom: 30px;
    }
    .team-info {
        .head {
            margin-left: 80px;
        }
    }
    h3 {
        font-size: 16px;
    }
    .team-name {
        font-size: 14px;
    }
    .campaign-link {
        font-size: 14px;
        text-decoration: none;
        .campaign-name {
            color: #333;
        }
        .cancel-enter {
            margin-left: 20px;
        }
    }
    .joined-campaigns {
        margin-bottom: 0;
        a {
            padding-left: 0;
        }
    }
    .join-campaign {
        margin-left: 20px;
    }

    .phone-verify {
        cursor: pointer;
        margin-left: 25px;
        &:hover, &:active {
            color: #337AB7;
        }
    }

    .education-background, .work-experience {
        h3 {
            font-size: 16px;
            margin-top: 0;
            .button {
                margin-left: 17px;
                margin-top: 0;
            }
        }

        .added-language {
            margin-bottom: 6px;
            .button {
                margin-top: 0;
            }
            .col-xs-4 {
                width: 28%;
            }
        }

        .education, .experience {
            margin-bottom: 30px;
        }
    }
    .work-experience {
        .save-button-container {
            margin-top: 40px;
        }
    }
}

.datepicker .text-muted {
    color: #D1D1D1 !important;
}

/*
 * Datepicker element
 * https://github.com/mgcrea/bootstrap-additions/blob/master/src/datepicker/datepicker.less
 */

.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;
    button {
        outline: none;
        border: 0;
    }
    tbody {
        height: 180px;
    }
    tbody button {
        padding: 6px;
    }
    &.datepicker-mode-1, &.datepicker-mode-2 {
        tbody button {
            height: 65px;
        }
    }
}

/********************   campaign   ********************/
.campaign-nav {
    background-color: #454545;
    height: 46px;
    color: $color_white;
    .nav-container {
        width: 976px;
        li::after {
            content: ' ';
            width: 1px;
            font-size: 1px;
            height: 27px;
            border-right: 1px solid;
            position: absolute;
            top: 10px;
            left: 100%;
        }
        li:hover::after, li:last-child::after {
            border: none;
        }
        a {
            font-size: 14px;
            line-height: 16px;
            width: 154px;
            color: $color_white;
            text-align: center;
            &:link, &:visited {
                background-color: transparent;
            }
            &:hover, &:active {
                background-color: #848484;
            }
        ;
        }
    }
}

.campaign-banner {
    background-color: #4281EA;
    height: 278px;
}

.campaign-main {
    a {
        color: black;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    button {
        color: $color_white;
        border: none;
        box-shadow: none;
    }
    div.center-block {
        width: 890px;
    }
    h3 {
        margin: 16px 0;
        font-size: 16px;
    }
    .campaign-enter {
        padding: 25px 0;
        border-bottom: 1px solid #888;
        button, .introduce {
            width: 144px;
            height: 38px;
            font-size: 18px;
            margin-right: 27px;
        }
        .enter-button {
            background-color: #B72909;
            font-weight: bold;
            @include box-shadow($color_register_button_border 0px 2px 4px);
            &:focus, &:hover, &:active {
                background-color: $color_register_button_hover;
            }
        }
        .already-entered-button {
            @include box-shadow(#888 0px 2px 4px);
            &:focus, &:hover, &:active {
                background-color: $color_background_gray_darker;
            }
        }
        .introduce {
            display: inline-block;
            color: black;
            font-weight: normal;
            border: 2px #888 solid;
            background-color: $color_white;
            padding: 1px 6px;
            vertical-align: middle;
            text-align: center;
            line-height: 30px;
            text-decoration: none;
            &:focus, &:hover, &:active {
                background-color: $color_background_gray;
            }
        }
        .enter-count {
            color: #888;
            float: right;
            padding: 10px 23px 0 0;
            strong {
                font-size: 18px;
            }
        }
        @include clearfix()
    }
    .campaign-schedules {
        border-bottom: 1px solid #888;
        padding-bottom: 20px;
        .schedule-list {
            li {
                font-size: 13px;
                margin-bottom: 11px;
            }
            a {
                position: relative;
                span {
                    display: none;
                    position: absolute;
                    background-color: #B72909;
                    color: $color_white;
                    font-size: 12px;
                    padding: 1px 8px;
                    right: -50px;
                    @include box-shadow($color_register_button_border 0px 2px 4px);
                    cursor: pointer;
                }
                &::before {
                    content: '';
                    padding-left: 50px;
                }
                &::after {
                    content: '';
                    padding-right: 50px;
                }
                &:hover span {
                    display: inline;
                }
            }
        }
    }

    .gain-list {
        .gain {
            width: 171px;
        }
        img {
            margin: 20px 0;
            width: 171px;
            height: 274px;
        }
    }
    .enter-condition {
        padding-bottom: 15px;
        background-color: #3E7DDF;
        color: $color_white;
        img {
            width: 325px;
            height: 210px;
            margin-right: 10px;
        }
        h4 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
            padding-bottom: 15px;
        }
        .col-xs-offset-1 {
            margin-left: 30px;
        }
    }
    .campaign-winner {
        color: $color_white;
        background-color: #BC2A0B;
        h3 {
            margin-bottom: 30px;
        }
        span {
            border: 2px $color_white solid;
            @include border-radius(3px);
            padding: 10px 15px;
            font-size: 20px;
            display: inline-block;
            width: 200px;
            cursor: pointer;
        }
        > div div:nth-child(2) span {
            background-color: #9E240A;
        }
        > div div:last-child span {
            background-color: #741906;
        }
        padding: 20px 0 60px;
    }
}

// overwrite default bs style
.campaign-body .modal-backdrop {
    position: fixed;
    bottom: 0;
    z-index: 1040;
}

.campaign-modal .modal-dialog {
    width: 549px;
    .modal-content {
        .modal-header {
            color: $color_white;
            background-color: #C42D0E;
            > span {
                font-size: 18px;
                padding-left: 25px;
            }
            button {
                @include border-radius(50%);
                background-color: $color_white;
                opacity: 1;
                width: 28px;
                height: 28px;
                &:hover {
                    background-color: #EEE;
                }
                span {
                    position: relative;
                    top: -2px;
                    font-size: 25px;
                    color: #C42D0E;
                }
            }
        }
        @include border-radius(0);
    }
}

.enter-success .modal-dialog {
    .modal-body {
        .enter-success-icon {
            position: absolute;
            width: 180px;
            height: 200px;
            top: 31px;
            left: 74px;
            @include icon_b2c-sprite(b2c_enter_success);
        }
        position: relative;
        > div {
            padding: 75px 0;
            width: 400px;
            *:not(a) {
                padding-left: 215px;
            }
        }
        .enter-success-text {
            margin-top: -50px;
            a {
                margin-left: 215px;
            }
        }
    }
}

.enter-tip-complete-info .modal-body {
    .enter-failed-icon {
        position: absolute;
        width: 156px;
        height: 155px;
        top: 31px;
        left: 84px;
        @include icon_b2c-sprite(b2c_enter_failed);
    }
    position: relative;
    > div {
        padding: 43px 0 75px;
        width: 410px;
        > * {
            padding-left: 215px;
        }
        h3 {
            font-size: 18px;
        }
        a {
            color: $color_white;
            text-decoration: none;
            font-size: 20px;
            padding: 5px 54px;
            border: none;
            background-color: #B72909;
            font-weight: bold;
            @include box-shadow($color_register_button_border 0px 2px 4px);
        }
    }
}

.enter-tip-compatibility .modal-body > div {
    width: 410px;
    padding: 50px;
    img {
        width: 100%;
        height: 100%;
    }
}

.winner-team .modal-body {
    font-weight: bold;
    .winner-icon {
        width: 180px;
        height: 180px;

        @include icon_b2c-sprite(b2c_winner);
    }
    .winner-text {
        font-size: 17px;
        background-color: #B92809;
        color: $color_white;
        font-weight: bold;
        width: 220px;
        line-height: 1.7;
        padding-bottom: 2px;
        margin-bottom: 33px;
        margin-top: 20px;
    }
    table {
        border-collapse: separate;
        border-color: #555;
        td {
            padding-left: 25px;
        }
    }
    .show-score {
        color: #B92809;
        font-size: 18px;
    }
    .scores {
        margin: 10px 0;
        padding: 14px;
        background-color: #EFEFEF;
        > div:not(:last-child) {
            padding-bottom: 3px;
        }
        i {
            font-style: normal;
            text-decoration: underline;
        }
    }
}

/********************   campaign-list   ********************/
.campaignlist-container {
    & > div {
        padding-bottom: 20px;
    }
    button, a.button {
        padding: 3px 14px;
        color: $color_white;
        background-color: #7AC269;
        border: none;
        text-decoration: none;
        @include border-radius(2px);
        @include box-shadow(#649F53 0px 2px 4px);
    }
    div.center-block {
        width: 890px;
    }

    .campaignlist-banner {
        margin-top: 40px;
    }
    .header {
        margin-top: 30px;
        h3 {
            font-size: 16px;
            margin: 0;
            font-weight: bold;
        }
        a {
            font-size: 14px;
            color: black;
        }
        padding-bottom: 5px;
        &::after {
            width: 890px;
            margin: 0 auto;
            border-bottom: 1px solid #C7C7C7;
            padding-top: 7px;
        }
    }

    .figure {
        font-size: 13px;
        padding-top: 14px;
        padding-bottom: 16px;
        img {
            width: 100%;
        }
        .caption {
            > div {
                padding: 10px 15px;
            }
            p {
                margin-bottom: 7px;
            }
            .count {
                padding-left: 10px;
                color: #7575EC;
            }
        }

    }

    .campaign-list {
        img {
            height: 120px; // todo remove
        }
    }
    .game-list {
        color: $color_white;
        background-color: #A82411;
        a {
            color: $color_white;
        }
        img {
            height: 120px; // todo remove
        }
    }
    .coach-list {
        //todo to delete
        padding-bottom: 40px;
        .header::after {
            width: 0;
        }
        background-color: #E7E7E7;
        .figure {
            font-size: 14px;
            background-color: $color_white;
            @include border-radius(3px);
            > img {
                width: 150px;
                height: 150px;
                border: 7px solid #ADA9A6;
                @include border-radius(50%);
            }
            .caption {
                * {
                    padding: 0;
                }
                .name {
                    margin-top: 10px;
                    font-weight: bold;
                }
                .title {
                    font-size: 12px;
                    color: #7575EC;
                }
                img {
                    width: 75%;
                    height: 14px;
                }
                button {
                    margin-top: 5px;
                    padding: 5px 0;
                    width: 92%;
                }
            }
        }
    }
}


@import "b2c/components/carousel";


@import "b2c/pages/login";

@import "b2c/pages/about";
@import "b2c/pages/intro";
@import "b2c/pages/activity";
@import "b2c/pages/contact";
@import "b2c/pages/unfinished";
@import "b2c/pages/cooperate";
