@import "icon_b2c/*.png";
@import "compass/css3";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";

$color_white: #ffffff;
$color_base_red: #c42e0d;
$color_profile_detail_title: #797978;
$color_profile_tip: #d9d9d9;
$color_register_button: $color_base_red;
$color_register_button_border: #7e200b;
$color_register_button_hover: #7e200b;
$color_register_button_hover_border: #ca3413;
$color_header_dropdown_button_hover: #7f1a03;
$color_text: #686868;

@mixin flippy($speed: 0.5s, $perspective: 500, $bgcolor: white) {
    position: relative;
    @include perspective($perspective);
    .front, .back {
        background-color: $bgcolor;
        @include transition(all $speed ease-in-out);
        @include backface-visibility(hidden);
        @include transform-style(preserve-3d);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front {
        .no-csstransforms3d & {
            @include opacity(1);
        }
    }
    .back {
        @include rotateY(180deg);
        .no-csstransforms3d & {
            visibility: hidden;
            display: none;
            @include opacity(0);
        }
    }
    &:hover {
        .front {
            @include rotateY(180deg);
            .no-csstransforms3d & {
                visibility: hidden;
            }
        }
        .back {
            @include rotateY(360deg);
            .no-csstransforms3d & {
                visibility: visible;
                @include opacity(1);
            }
        }
    }
}

@mixin registerButton {
    border-style: none;
    padding: 6px 25px;
    color: $color_white;
    font-size: 20px;
    font-weight: 900;
    background-color: $color_register_button;
    //	border-bottom:2px solid $color_register_button_border;
    @include box-shadow($color_register_button_border 0px 2px 4px);
    @include border-radius(2px);

    &:hover,
    &:focus {
        color: $color_white;
        background-color: $color_register_button_hover;
        //		border-bottom:2px solid #ca3413;
    }
}

/********************  Angular JS 首次载入页面默认隐藏模板显示  ********************/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
    height: 100%;
}

body {
    min-width: 1200px;
    font-family: "Microsoft YaHei", Arial, sans-serif ! important;
    font-size: 16px;
}

.b2c-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    //    height: 82px;
}

.b2c-header {
    height: 82px;
    background-color: #c52e0d;
    $icon-repeat: repeat-x;
    background-image: url(../images/b2c_nav_1x82.png);

    .button {
        margin-top: 30px;
        width: 49px;
        height: 23px;
        font-size: 12px;
        @include inline-block;
        @include icon_b2c-sprite(b2c_login_49x23);
        &:hover {
            @include icon_b2c-sprite(b2c_login_49x23_hover);
        }
    }

    .b2c-logo {
        //        margin-left: 157px;
        margin-top: 12px;
        float: left;
    }

    .b2c-login {
        width: 700px;
        height: 82px;
        overflow: hidden;
    }

    .b2c-user {
        width: 100px;
        height: 82px;
        overflow: hidden;
        margin-right: 10px;

        .glyphicon {
            top: 8px;
            color: white;
        }

        .dropdown-menu {
            width: 100px;
            min-width: 100px;
            padding: 0;
            margin-top: 10px;
            background-color: $color_register_button;
            li {
                padding: 5px 5px 5px 5px;

                a {
                    text-align: center;
                    padding: 2px 10px;
                    color: white;
                    &:hover {
                        background-color: $color_header_dropdown_button_hover;
                    }
                }
            }
        }

        img {
            width: 70px;
            height: 70px;
            border-radius: 40px;
        }

        .avatar {
            border-radius: 40px;
            width: 70px;
            height: 70px;
            padding: 0;
            margin-top: 7px;
        }
    }

    .b2c-trans {
        margin-right: 5px;
        margin-top: 10px;
        padding-top: 20px;
        color: #fff;
        font-size: 12px;
        .selected {
            background-color: #7f1a03;
        }
        span {
            cursor: pointer;
            display: block;
            float: right;
            margin-right: 7px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-weight: bold;
            text-align: center;
            color: #eda494;
            background-color: #b92909;
            border: 1px solid #eda494;

            &:hover {
                background-color: #7f1a03;
            }
        }
    }
    //
    //    .b2c-login-box {
    //        margin-right: 50px;
    //    }

    .b2c-login-field {
        float: left;
        width: 165px;
        color: #fff;
        font-size: 12px;
        margin-top: 10px;
        div {
            line-height: 20px;
            height: 20px;
        }

        label, a {
            color: #EDA694 !important;
            padding-left: 2px;
            vertical-align: top;
        }
    }

    .b2c-login-input {
        width: 150px;
        padding: 0;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        border: solid #932F18 1px;
        color: #333;
    }

}

.b2c-footer-fix {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.b2c-footer {
    background-color: #121318;
    ul {
        padding-left: 0px;
        li {
            display: block;
        }
    }
}

.b2c-footer-content {
    height: 340px;
    font-size: 12px;
    padding-top: 40px;
    color: #919191;
    position: relative;

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -26px;
        margin-top: -21px;
    }
    .weibo {
        position: absolute;
        bottom: 50%;
        right: 0px;
        .weibo-msg {
            display: inline-block;
            font-size: 1.1em;
            color: white;
            width: 80px;
            margin-right: 20px;
        }
        .weibo-img {
            vertical-align: bottom;
            display: inline-block;
        }
    }

    .b2c-footer-row {
        @include clearfix();
        ul, div {
            width: 110px;
            float: left;
            margin-bottom: 20px;
        }
        li {
            margin: 2px 0;
            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        li:first-child {
            color: #ffffff;
            font-size: 1.1em;
            margin-bottom: 8px;
            &:before {
                position: absolute;
                content: '';
                border-left: 2px solid #c52e0d;
                margin-left: -14px;
                margin-top: 1px;
                height: 15px;
            }
        }
    }
}

#b2creg {
    .middle {
        background-image: url(/app/css/images/b2c_reg_bg.jpg);
        height: 616px;
        padding-top: 88px;
        .header-pics {
            width: 50%;
            .carousel-indicators {
                bottom: -90px;
                left: 100%;
                li {
                    margin: 0 3px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .b2c-footer {
        background-image: url(/app/css/images/b2c_reg_bg.jpg);
    }

    .reg-form {
        width: 510px;
        padding-left: 110px;
        .reg-captcha-input-container {
            position: relative;
            input {
                width: 100% !important;
            }
            width: 220px;
            display: inline-block;
        }
        .reg-captcha {
            vertical-align: bottom;
            border-radius: 5px;
            height: 40px;
        }

        .title {
            font-weight: 900;
            font-size: 32px;
            margin: 12px 0px;
            color: $color_base_red;
            text-shadow: -3px 3px 2px black;
        }
        .form-group {
            margin-bottom: 10px;
        }
        input.input-lg {
            padding-top: 6px !important;
            padding-bottom: 6px !important;
            height: 40px;
            font-size: 15px;
        }
        input[type=text], input[type=password], input[type=email] {
            &:focus {
                outline: none !important;
                background-color: #FFFFEE;
                @include input-placeholder {
                    color: #333;
                }
            }
        }
        .female {
            margin-left: 15px;
        }
        button {
            @include registerButton
        }
        .radio {
            color: #ffffff;
            font-size: 15px;
            margin-bottom: 40px;
            .err-msg {
                margin-top: -7px;
            }
        }
        .err-msg {
            top: 2px;
            right: 410px;
            z-index: 999;
            position: absolute;
            width: 210px;
            color: #FFFFFF;
            background: #da8449;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 6px;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -8px;
                width: 0;
                height: 0;
                border-left: 8px solid #da8449;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }
        }
    }

    .reg-verify-account {
        padding-top: 100px;
        padding-left: 170px;
        font-weight: 700;
        letter-spacing: 5px;
        color: #999;

        .tip-header {
            margin-left: 0px;
        }
        a {
            letter-spacing: 0;
        }
        p {
            font-size: 18px;
            margin-top: 20px;
            margin-left: 40px;
        }
    }
    /********************  Index Page Below Pics ********************/

    .down-box {
        height: 550px;
        background-color: #c52e0d;
        padding: 105px 0px 0px 0px;

        .pic-area {
            height: 295px;
            padding-left: 115px;
            overflow: hidden;
        }

        .front {
            -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        }

        .pic {
            width: 255px;
            height: 295px;
            margin-right: 100px;
            float: left;
        }
        .pic-1 {
            margin-top: 20px;
            .front {
                @include icon_b2c-sprite(whats-hcd-1);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-1-back);
            }
        }
        .pic-2 {
            margin-top: 20px;
            .front {
                @include icon_b2c-sprite(whats-hcd-2);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-2-back);
            }
        }
        .pic-3 {
            margin-top: 20px;
            .front {
                @include icon_b2c-sprite(whats-hcd-3);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-3-back);
            }
        }
        .pic-4 {
            .front {
                @include icon_b2c-sprite(whats-hcd-4);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-4-back);
            }
        }
        .pic-5 {
            .front {
                @include icon_b2c-sprite(whats-hcd-5);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-5-back);
            }
        }
        .pic-6 {
            .front {
                @include icon_b2c-sprite(whats-hcd-6);
            }
            .back {
                @include icon_b2c-sprite(whats-hcd-6-back);
            }
        }

        .flip-container {
            width: 255px;
            height: 255px;
            position: relative;
            @include flippy(0.6s, 1000, $color_base_red);
        }
        .back {
            font-size: 12px;
            color: #fff;
            padding-top: 35px;
            .title {
                text-indent: 0;
                text-align: center;
            }
            p {
                text-align: justify;;
                text-indent: 2em;
                line-height: 25px;
                padding: 0 25px;
            }
        }
        .switch-button {
            text-align: center;
            margin-top: 60px;
            margin-left: 2px;
            a {
                margin-right: 75px;
                color: #fff;
                font-weight: 700;
                text-decoration: none;
                padding: 10px 20px;
                &:hover {
                    text-decoration: none;
                }
            }
            .selected {
                padding: 8px 18px;
                border: 2px solid #fff;
                @include border-radius(5px, 5px);
            }
        }
    }
}

/********************  Login Form  ********************/
.b2c-login-main {
    padding-top: 100px;
    padding-left: 250px;
    vertical-align: top;

    .title {
        font-weight: 900;
        font-size: 24px;
    }

    .form-group {
        width: 290px;
    }
    .checkbox-inline {
        font-size: 12px;
        display: inline;
    }

    .b2c-icon {
        margin-top: 23px;
        width: 180px;
        height: 180px;
        @include inline-block;
        @include icon_b2c-sprite(login-icon);
    }
    .b2c-login-area {
        width: 360px;
        height: 365px;
        background-color: #dedede;
        @include inline-block;
    }
    .b2c-login-errmsg {
        background-color: rgb(255, 230, 225);
        padding: 5px 10px;
        font-size: 12px;
    }
    .btn {
        @include registerButton
    }
    .register {
        margin-left: 10px;
    }
    .forgot-password {
        font-size: 12px;
        margin-top: 15px;
    }
}

/********************  Verify Email  ********************/
.b2c-top-line {
    background-color: rgb(79, 85, 101);
    color: rgb(127, 137, 162);
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    i {
        margin-right: 10px;
    }

    label {
        margin-left: 170px;
        font-size: 20px;
    }
    span {
        margin-left: 200px;
        margin-right: 30px;
        font-size: 16px;
    }
    a {
        color: rgb(127, 137, 162);
    }
    .active {
        color: rgb(182, 189, 215);
    }
}

.b2c-enter-email {
    .b2c-prints {
        margin-top: 44px;
        margin-left: 260px;
        height: 180px;
        width: 180px;
        @include icon_b2c-sprite(b2c_prints);
    }
    h3 {
        margin-top: 67px;
        margin-bottom: 20px;
    }

    button {
        margin-top: 11px;
        @include registerButton
    }

    .err-msg {
        background-color: rgb(255, 230, 225);
        padding: 5px 10px;
        font-size: 12px;
    }

    hr {
        width: 100%;
        margin-top: 30px;
    }

}

.b2c-enter-code {
    .b2c-code {
        margin-top: 44px;
        margin-left: 260px;
        height: 180px;
        width: 180px;
        @include icon_b2c-sprite(b2c_prints);
    }
    h4 {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    input[type=text] {
        letter-spacing: 10px;
    }

    button {
        @include registerButton;
        margin-right: 10px;
    }

    .err-msg {
        background-color: rgb(255, 230, 225);
        padding: 5px 10px;
        font-size: 12px;
    }

    hr {
        width: 100%;
        margin-top: 30px;
    }
}

/********************  User Profile  ********************/
$left_of_avatar: 44px;
$lineHeight_button: 1.8;

@mixin normalInput() {
    border-radius: 0 !important;
}

@mixin triangle($borderWidth: 5px, $rotate: -45deg, $borderColor: #000) {
    border: $borderWidth solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate($rotate);
    position: absolute;
    width: 0;
}

@mixin SaveButtonHover {
    &:hover,
    &:focus {
        color: $color_white;
        background-color: $color_register_button_hover;
    }
}

@mixin CancelButtonHover {
    &:hover,
    &:focus {
        color: $color_white;
        background-color: #b0b0b0;
    }
}

.profile-main {
    width: 1200px;
    margin: 0 auto;
}

.alert-container {
    position: relative;
    #profile-alert-container {
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 10;
        .alert {
            padding: 2px;
            margin-bottom: 0;
        }
    }
}
.profile-underline {
    text-decoration: underline;
}

.profile-body {
    background-color: #ECEDE8;
}

.profile-content {
    input {
        @include normalInput();
    }

    & > header {
        background-color: $color_white;
        margin-bottom: 10px;
        position: relative;
        nav {
            margin-top: 19px;
            margin-left: 180px;
            margin-bottom: 14px;
            text-align: center;
            width: 350px;

            & > div > div:not(:last-child) {
                border-right: 1px solid $color_profile_tip;
            }

            .selected {
                border-bottom: solid #C22D0F;
                padding: 12px;
                font-weight: bolder;
            }
            .small-down-triangle {
                @include triangle(4px, 135deg);
                bottom: 10px;
                right: 25px;
            }
        }
    }
    section {
        background-color: $color_white;
    }

    .banner {
        height: 200px;
        background-color: #8E1C02;
        margin: 0 -15px;
    }
    .user-info {
        position: absolute;
        top: 109px;
        left: $left_of_avatar;
        //width: 300px;

        .profile-head {
            float: left;
            width: image-width("profile_avatar_1.png"); // todo: to delete?
            height: image-height("profile_avatar_1.png");
            @include border-radius(2px);
        }
        .text-info {
            color: $color_white;
            float: left;
            margin-top: 1.5em;
            margin-left: 1.5em;
            .profile-username {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
    .profile-section {
        padding-top: 2em;
        //@include border-radius(7px);
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.detail-nav {
    line-height: 2;
    text-align: center;
    max-width: 300px;
    padding-left: $left_of_avatar;
    ul, li {
        list-style: none;
        padding-left: 0;
        background-color: #e5e5e4;
        color: $color_profile_detail_title;
    }
    .avatar {
        width: 100%;
        height: 241px;
        margin-bottom: 20px;
        @include border-radius(0.3em);
    }
    .edit-title {
        line-height: 2.5;
        position: relative;
    }
    .profile-nav {
        cursor: pointer;
    }
    .selected {
        color: $color_white;
        background-color: $color_profile_detail_title;
    }
}

.profile-detail {
    padding-right: 30px;
    padding-left: 25px;

    textarea {
        resize: vertical;
    }
    label {
        font-weight: normal;
    }
    form {
        padding: 1em;
        font-size: 0.9em;
        label {
            min-height: 34px;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    pre {
        padding-left: 0;
        margin: 0;
        font-size: inherit;
        background-color: $color_white;
        border: none;
    }
    .mutiselect {
        border: 1px solid #CCC;
        background-color: #EDEDED;
        width: 500px;
        z-index: 99;
        position: absolute;
        top:36px;
        left:15px;
        li {
            width: 100%;
            background-color: #EDEDED;
            padding: 5px 10px;
        }
        .level1title {
            font-weight: bold;
            font-size: 14px;
            display: block;
            padding: 0 0 5px 0;
            border-bottom: 1px solid #ddd ;
            margin-bottom: 5px;
        }

        .level2title {
            font-size: 12px;
            display: block;
            float: left;
            padding: 0px 5px 0px 5px;
            height: 20px;
            cursor: pointer;
        }
        button {
            position: absolute;
            top:4px;
            right:5px;
            z-index: 999;
        }
    }

    .button {
        width: 85px;
        height: 32px;
        font-size: 15px;
        border-style: none;
        color: $color_white;
        background-color: #797979;
        @include box-shadow(#797979 0px 2px 4px);
        cursor: pointer;
    }

    .add-button, .remove-button {
        margin-top: 5px;
        height: auto;
        width: auto;
        padding: 2px;
        font-size: 10px;
    }
    .add-button, .done {
        background-color: #B82A0C;
        @include box-shadow($color_register_button_border 0px 2px 4px);
        @include SaveButtonHover;
    }
    .remove-button, button.cancel {
        @include CancelButtonHover;
    }

    // borrows from facebook.
    .file-input-wrapper {
        overflow: hidden;
        position: relative;
        border: dotted 3px #D3D3D3;
        background-color: #F5F5F5;
        width: 240px;
        height: 100px;
        font-size: 20px;
        line-height: 90px;
        color: #888;
        cursor: pointer;
        text-align: center;
        .file-upload-text {
            margin-left: -16px;
            line-height: 27px;
            font-weight: bold;
        }
        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .file-input {
                cursor: pointer;
                font-size: 500px;
                height: 300px;
                @include opacity(0);
                outline: none;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    .preview-avatar {
        width: 240px;
    }
    .err-msg {
        width: auto;
    }
    .textarea-err-msg {
        position: absolute;
        right: -10px;
    }
    .none-bottom {
        border-bottom: none;
        padding-bottom: 0;
    }
    .none-top {
        border-top: none;
        padding-top: 0;
    }
    .profile-detail-title {
        line-height: 1.8;
        border-bottom: #9F9F9F solid 2px;
        .profile-edit {
            font-size: 0.8em;
            float: right;
            padding-top: 3px;
            color: #0480CB;
            cursor: pointer;
        }
    }
    .gender {
        margin-bottom: 15px;
    }
    .profile-button-container {
        button {
            /*margin-right: 0.5em;
            padding: 0.2em 0.5em;*/
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            width: 85px;
            border-style: none;
            color: $color_white;

            @include border-radius(0px);
        }
        button[type=submit] {
            background-color: #B82A0C;
            @include box-shadow($color_register_button_border 0px 2px 4px);
            @include SaveButtonHover;
        }
        .cancel {
            background-color: #797979;
            @include box-shadow(#797979 0px 2px 4px);
        }
    }
    .team-info {
        .head {
            margin-left: 80px;
        }
    }

    .education-background, .work-experience {
        h3 {
            font-size: 16px;
            margin-top: 0;
            .button {
                margin-left: 17px;
                margin-top: 0;
            }
        }

        .added-language {
            margin-bottom: 6px;
            .button {
                margin-top: 0;
            }
            .col-xs-4 {
                width: 28%;
            }
        }

        .education, .experience {
            margin-bottom: 30px;
        }
    }
    .work-experience {
        .save-button-container {
            margin-top: 40px;
        }
    }
}

.datepicker .text-muted {
    color: #D1D1D1 !important;
}

/*
 * Datepicker element
 * https://github.com/mgcrea/bootstrap-additions/blob/master/src/datepicker/datepicker.less
 */

.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;
    button {
        outline: none;
        border: 0;
    }
    tbody {
        height: 180px;
    }
    tbody button {
        padding: 6px;
    }
    &.datepicker-mode-1, &.datepicker-mode-2 {
        tbody button {
            height: 65px;
        }
    }
}

/********************   campaign   ********************/
.campaign-nav {
    background-color: #454545;
    height: 46px;
    color: $color_white;
    .nav-container {
        width: 976px;
        li::after {
            content: ' ';
            width: 1px;
            font-size: 1px;
            height: 27px;
            border-right: 1px solid;
            position: absolute;
            top: 10px;
            left: 100%;
        }
        li:hover::after, li:last-child::after {
            border: none;
        }
        a {
            font-size: 14px;
            line-height: 16px;
            width: 154px;
            color: $color_white;
            text-align: center;
            &:link, &:visited {
                background-color: transparent;
            }
            &:hover, &:active {
                background-color: #848484;
            }
        ;
        }
    }
}

.campaign-banner {
    background-color: #4281EA;
    height: 278px;
}

.campaign-main {
    a {
        color: black;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    button {
        color: $color_white;
        border: none;
        box-shadow: none;
    }
    div.center-block {
        width: 890px;
    }
    h3 {
        margin: 16px 0;
        font-size: 16px;
    }
    .campaign-enter {
        padding: 25px 0;
        border-bottom: 1px solid #888;
        button, .introduce {
            width: 144px;
            height: 38px;
            font-size: 18px;
            margin-right: 27px;
        }
        .enter-button {
            background-color: #B72909;
            font-weight: bold;
            @include box-shadow($color_register_button_border 0px 2px 4px);
        }
        .already-entered-button {
            @include box-shadow(#888 0px 2px 4px)
        }
        .introduce {
            display: inline-block;
            color: black;
            font-weight: normal;
            border: 2px #888 solid;
            background-color: $color_white;
            padding: 1px 6px;
            vertical-align: middle;
            text-align: center;
            line-height: 30px;
            text-decoration: none;
        }
        .enter-count {
            color: #888;
            float: right;
            padding: 10px 23px 0 0;
            strong {
                font-size: 18px;
            }
        }
        @include clearfix()
    }
    .campaign-schedules {
        border-bottom: 1px solid #888;
        padding-bottom: 20px;
        .schedule-list {
            li {
                font-size: 13px;
                margin-bottom: 11px;
            }
            a {
                position: relative;
                span {
                    display: none;
                    position: absolute;
                    background-color: #B72909;
                    color: $color_white;
                    font-size: 12px;
                    padding: 1px 8px;
                    right: -50px;
                    @include box-shadow($color_register_button_border 0px 2px 4px);
                    cursor: pointer;
                }
                &::before {
                    content: '';
                    padding-left: 50px;
                }
                &::after {
                    content: '';
                    padding-right: 50px;
                }
                &:hover span {
                    display: inline;
                }
            }
        }
    }

    .gain-list {
        .gain {
            width: 171px;
        }
        img {
            margin: 20px 0;
            width: 171px;
            height: 274px;
        }
    }
    .enter-condition {
        padding-bottom: 15px;
        background-color: #3E7DDF;
        color: $color_white;
        img {
            width: 325px;
            height: 210px;
            margin-right: 10px;
        }
        h4 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
            padding-bottom: 15px;
        }
        .col-xs-offset-1 {
            margin-left: 30px;
        }
    }
    .campaign-winner {
        color: $color_white;
        background-color: #BC2A0B;
        h3 {
            margin-bottom: 30px;
        }
        span {
            border: 2px $color_white solid;
            @include border-radius(3px);
            padding: 10px 15px;
            font-size: 20px;
            display: inline-block;
            width: 200px;
            cursor: pointer;
        }
        > div div:nth-child(2) span {
            background-color: #9E240A;
        }
        > div div:last-child span {
            background-color: #741906;
        }
        padding: 20px 0 60px;
    }
}

// overwrite default bs style
.campaign-body .modal-backdrop {
    position: fixed;
    bottom: 0;
    z-index: 1040;
}

.campaign-modal .modal-dialog {
    width: 549px;
    .modal-content {
        .modal-header {
            color: $color_white;
            background-color: #C42D0E;
            > span {
                font-size: 18px;
                padding-left: 25px;
            }
            button {
                @include border-radius(50%);
                background-color: $color_white;
                opacity: 1;
                width: 28px;
                height: 28px;
                &:hover {
                    background-color: #EEE;
                }
                span {
                    position: relative;
                    top: -2px;
                    font-size: 25px;
                    color: #C42D0E;
                }
            }
        }
        @include border-radius(0);
    }
}

.enter-success .modal-dialog {
    .modal-body {
        .enter-success-icon {
            position: absolute;
            width: 180px;
            height: 200px;
            top: 31px;
            left: 74px;
            @include icon_b2c-sprite(b2c_enter_success);
        }
        position: relative;
        > div {
            padding: 75px 0;
            width: 400px;
            * {
                padding-left: 215px;
            }
        }
    }
}

.enter-tip-complete-info .modal-body {
    .enter-failed-icon {
        position: absolute;
        width: 156px;
        height: 155px;
        top: 31px;
        left: 84px;
        @include icon_b2c-sprite(b2c_enter_failed);
    }
    position: relative;
    > div {
        padding: 43px 0 75px;
        width: 410px;
        > * {
            padding-left: 215px;
        }
        h3 {
            font-size: 18px;
        }
        a {
            color: $color_white;
            text-decoration: none;
            font-size: 20px;
            padding: 5px 54px;
            border: none;
            background-color: #B72909;
            font-weight: bold;
            @include box-shadow($color_register_button_border 0px 2px 4px);
        }
    }
}

.enter-tip-compatibility .modal-body > div {
    width: 410px;
    padding: 50px;
    img {
        width: 100%;
        height: 100%;
    }
}

.winner-team .modal-body {
    font-weight: bold;
    .winner-icon {
        width: 180px;
        height: 180px;

        @include icon_b2c-sprite(b2c_winner);
    }
    .winner-text {
        font-size: 17px;
        background-color: #B92809;
        color: $color_white;
        font-weight: bold;
        width: 220px;
        line-height: 1.7;
        padding-bottom: 2px;
        margin-bottom: 33px;
        margin-top: 20px;
    }
    table {
        border-collapse: separate;
        border-color: #555;
        td {
            padding-left: 25px;
        }
    }
    .show-score {
        color: #B92809;
        font-size: 18px;
    }
    .scores {
        margin: 10px 0;
        padding: 14px;
        background-color: #EFEFEF;
        > div:not(:last-child) {
            padding-bottom: 3px;
        }
        i {
            font-style: normal;
            text-decoration: underline;
        }
    }
}

/********************   campaign-list   ********************/
.campaignlist-container {
    & > div {
        padding-bottom: 20px;
    }
    button, a.button {
        padding: 3px 14px;
        color: $color_white;
        background-color: #7AC269;
        border: none;
        text-decoration: none;
        @include border-radius(2px);
        @include box-shadow(#649F53 0px 2px 4px);
    }
    div.center-block {
        width: 890px;
    }

    .campaignlist-banner {
        margin-top: 40px;
    }
    .header {
        margin-top: 30px;
        h3 {
            font-size: 16px;
            margin: 0;
            font-weight: bold;
        }
        a {
            font-size: 14px;
            color: black;
        }
        padding-bottom: 5px;
        &::after {
            width: 890px;
            margin: 0 auto;
            border-bottom: 1px solid #C7C7C7;
            padding-top: 7px;
        }
    }

    .figure {
        font-size: 13px;
        padding-top: 14px;
        padding-bottom: 16px;
        img {
            width: 100%;
        }
        .caption {
            > div {
                padding: 10px 15px;
            }
            p {
                margin-bottom: 7px;
            }
            .count {
                padding-left: 10px;
                color: #7575EC;
            }
        }

    }

    .campaign-list {
        img {
            height: 120px; // todo remove
        }
    }
    .game-list {
        color: $color_white;
        background-color: #A82411;
        a {
            color: $color_white;
        }
        img {
            height: 120px; // todo remove
        }
    }
    .coach-list {
        //todo to delete
        padding-bottom: 40px;
        .header::after {
            width: 0;
        }
        background-color: #E7E7E7;
        .figure {
            font-size: 14px;
            background-color: $color_white;
            @include border-radius(3px);
            > img {
                width: 150px;
                height: 150px;
                border: 7px solid #ADA9A6;
                @include border-radius(50%);
            }
            .caption {
                * {
                    padding: 0;
                }
                .name {
                    margin-top: 10px;
                    font-weight: bold;
                }
                .title {
                    font-size: 12px;
                    color: #7575EC;
                }
                img {
                    width: 75%;
                    height: 14px;
                }
                button {
                    margin-top: 5px;
                    padding: 5px 0;
                    width: 92%;
                }
            }
        }
    }
}

.campaignlist-footer {
    height: 181px;
    background-color: #7AC269;
    > div {
        width: 1600px;
        position: relative;
    }
    .join {
        position: absolute;
        left: 298px;
        top: 59px;
    }
}

.b2c-sub-menu {
    background-color: #444444;
    height: 56px;
    .navbar-nav > li > a {
        line-height: 26px;
        color: #a9a9a9;
        &:hover, &:focus {
            background-color: #2b2b2b;
            color: white;
        }
    }
    .navbar-nav > .active > a {
        background-color: #2b2b2b;
        color: white;
    }
}

@mixin bridge-header($background) {
    height: 250px;
    padding-left: 180px;
    padding-top: 60px;
    background-image: url($background);
    h3 {
        color: white;
        margin: 2px 0;
    }
    a.btn{
        margin-top: 40px;
        padding: 6px 18px;
    }
}

#about {
    p {
        font-size: 14px;
        line-height: 2;
    }
    background: #e6e6e6;
    #bridge-header { @include bridge-header("/app/css/images/b2c_about_banner.jpg")}
    #bridge-description {
        background: #ffffff;
        height: 402px;
        .static {
            padding: 60px;
            .title {
                font-size: 42px;
                padding-left: 48px;
            }
            .module {
                padding: 0 32px 0 48px;
                margin-top: 40px;
                float: left;
                width: 33.3%;
                .icon {
                    width: 43px;
                    height: 26px;
                    margin-bottom: 20px;
                }
                .icon1 {
                    @include icon_b2c-sprite(icon1);
                }
                .icon2 {
                    @include icon_b2c-sprite(icon2);
                }
                .icon3 {
                    @include icon_b2c-sprite(icon3);
                }
                button {
                    position: absolute;
                    margin-top: 2px;
                    &.btn {
                        line-height: 26px;
                        padding: 0px 16px;
                        font-weight: bold;
                    }
                }
            }
        }
        .disc-extend {
            padding: 78px 0  0 210px;
            p {
                width: 540px;
                padding-left: 65px;
                padding-top: 40px;
            }
            .glyphicon-remove-circle{
                font-size: 35px;
                cursor: pointer;
            }
        }
    }

    #vision {
        height: 693px;
        background-image: url("/app/css/images/b2c_about_banner2.jpg");
        padding-left: 100px;
        padding-top: 540px;
        color: white;
        h3 {
            margin-top: 0px;
            margin-bottom: 28px;
        }
    }
    #philosophy {
        height: 422px;
        background: #ffffff;
        padding-left: 100px;
        padding-top: 50px;
        h3 {
            margin-top: 0px;
            margin-bottom: 28px;
        }

        .nav-tabs {
            border: none;
            > li {
                border-left: 4px solid red;
                > a {
                    border: none;
                    padding: 0 30px 0 15px;
                    color: #000000;
                    line-height: 14px;
                    font-size: 14px;
                    &:hover, &:focus {
                        background-color: white;
                        color: red;
                        border: none;
                    }
                }
            }
            .nav-tabs > .active > a {
                background-color: white;
                color: white;
            }
        }
        p {
            padding-top: 45px;
            width: 512px;
            float: left;
        }
        img {
            margin-left: 70px;
            margin-top: -20px;
        }

    }

    #team{
        background-color: #f0f0f0;
        height: 507px;
        padding: 45px 0;
        h3 {
            margin: 0 0 40px 100px;
        }
        .carousel-inner {
            .item {
                .person_card {
                    display: inline-block;
                    margin: 0 6px;
                    width: 178px;
                    height: 254px;
                    position: relative;
                    .person_info {
                        position: absolute;
                        background-color: rgba(195,46,13,0);
                        color: rgba(255,255,255,0);
                        z-index: 100;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        transition: all 300ms ease;
                        -webkit-transition: all 300ms ease;
                        text-align: left;
                        .name {
                            position: absolute;
                            bottom: 40%;
                            left: 20px;
                            line-height: 1.5;
                        }
                        .title {
                            position: absolute;
                            top: 65%;
                            left: 20px;
                            line-height: 1.5;
                        }
                    }
                    &:hover .person_info {
                        color: rgba(255,255,255,1);
                        background-color: rgba(195,46,13,0.5);
                    }
                }
            }
        }
        .carousel-control {
            background: none;
            .glyphicon-chevron-left{
                margin-left: -55px;
            }
            .glyphicon-chevron-right{
                margin-right: -55px;
            }
        }
        .carousel-indicators {
            bottom: -90px;
            li {
                display: inline-block;
                width: auto;
                height: auto;
                margin: 0 8px;
                padding: 5px 13px;
                text-indent: 0px;
                cursor: pointer;
                border: 1px solid $color_base_red;
                border-radius: 10px;
                color: $color_base_red;
                font-weight: bold;
                &.active {
                    background-color: $color_base_red;
                    color: white;
                }
            }
        }
    }
}


#intro {
    p {
        font-size: 14px;
        line-height: 2;
    }
    background: #e6e6e6;
    color: $color_text;
    #bridge-header { @include bridge-header("/app/css/images/b2c_intro_banner.jpg")}
    #sub-nav {
        background-color: white;
        padding: 41px 82px;
        .nav-tabs {
            border: none;
            li {
                margin-left: -1px;
                border: 1px solid $color_text;
                width: 25%;
                &.active {
                    a {
                        background-color: #eee;
                    }
                }
                a {
                    border: none;
                    border-radius: 0;
                    margin: 0;
                    color: $color_text;
                    span {
                        font-size: 14px;
                        margin: 0 auto;
                        display: table;
                    }
                }
            }
        }
    }
    #competition{
        .section1 {
            padding: 41px 82px;
            background-color: white;
            p {
                width: 310px;
                float: left;
                margin-right: 35px;
            }
            .circle1 {
                border: 1px solid $color_text;
                float: left;
                width: 150px;
                height: 150px;
                text-align: center;
                border-radius: 75px;
                padding-top: 54px;
                margin-right: 30px;
            }
            .circle2 {
                border: 1px solid $color_text;
                float: left;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                margin-right: 25px;
                margin-top: 55px;
            }
            .circle3 {
                border: 1px solid $color_text;
                float: left;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                margin-right: 20px;
                margin-top: 65px;
            }
        }
        .section2 {
            padding: 20px 82px;
            background-color: #f0f0f0;
        }
        .section3 {
            padding: 84px 82px;
            background-color: $color_base_red;
            img {
                float: left;
                margin-left: 115px;
                margin-right: 85px;
            }
            p {
                color: white;
                float: left;
                width: 505px;
                padding-top: 64px;
            }
        }
        .section4 {
            padding: 88px 82px;
            background-color: white;
            img {
                float: left;
                margin-left: 168px;
                margin-right: 85px;
            }
            p {
                float: left;
                width: 505px;
                padding-top: 5px;
            }
        }
        .section5 {
            padding: 30px 82px;
            background-color: #f0f0f0;
            .brands {
                margin-top: 45px;
                img{
                    margin-right: 13px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    #mentor{
        .section1{
            padding: 41px 82px;
            background-color: white;
            p {
                display: inline-block;
                width: 50%;
                padding-right: 95px;
                margin-bottom: 30px;
            }
        }
        .section2 {
            padding: 20px 82px;
            background-color: #f0f0f0;
        }
        .section3 {
            padding: 84px 82px;
            background-color: $color_base_red;
            img {
                float: left;
                margin-left: 115px;
                margin-right: 85px;
            }
            p {
                color: white;
                float: left;
                width: 505px;
                padding-top: 64px;
            }
        }
    }
    #learning {
        .section1{
            padding: 41px 82px;
            background-color: white;
            font-size: 14px;
            p {
                width: 50%;
                padding-right: 40px;
                padding-top: 40px;
                margin-bottom: 80px;
                float: left;
            }
        }
    }
    #fellowship {
        .section1{
            padding: 41px 82px;
            background-color: white;
            font-size: 14px;
            p {
                width: 50%;
                padding-right: 40px;
                padding-top: 17px;
                margin-bottom: 40px;
                float: left;
            }
        }
    }
}
