@import "compass";

$font_main_header: 'Verdana', 'Geneva, sans-serif';
$font_main_header2: 'Helvetica', 'Arial, sans-serif';
$font_login_title: 'Georgia', 'Arial, sans-serif';

$path_images: "./";

$color_white : #ffffff;


$color_main_header: #2d428e;
$color_main_header_menu: #d5def5;
$color_main_header_menu_active: #4358a1;
$color_main_header_menu_dropdown: #4d6bd1;
$color_main_header_menu_dropdown_line: #3e5bbf;
$color_main_header_menu_num: #BF1031;

$color_login_border: #f7f1f1;
$color_login_background: #f5f5f5;
$color_login_panel_border : #e1e1e1;
$color_login_panel_background : #ffffff;
$color_login_content_background : #fcfcfc;
$color_login_title : #5375e1;
$color_login_input_label : #252525;



$color_main_body_border: #eceff1;

$color_main_body_background: #fbfbfb;
$color_main_body_background_brand: #fdfdfd;
$color_main_body_background_chart: #dbe3f6;

$color_main_body_company: #373737;
$color_main_body_company_a: #ffffff;
$color_main_body_company_a_bg: #39ae41;
$color_main_body_brand: #2f4e9b;
$color_main_body_product: #464646;
$color_main_body_product_target: #6f6f6f;
$color_main_body_competitors: #2f4e9b;
$color_main_body_user_clock: #373737;
$color_main_body_user_decision_button: #19acfe;

$color_main_body_user_period_bar: #9FA5BF;
$color_main_body_user_period_bar_border: #dfe0e5;
$color_main_body_user_period_bar_active: #b3c2e7;
$color_main_body_user_period_bar_normal: #edeef1;


$color_main_body_user_chart_title: #2f4e9b;
$color_main_body_user_chart_list: #464646;
$color_main_body_user_chart_list_border: #cfd3e0;
$color_main_body_user_chart_leftmenu_title: #6f6f6f;
$color_main_body_user_chart_leftmenu_active_bg: #eef3ff;
$color_main_body_user_chart_leftmenu_active_bgbefore: #236ac7;
$color_main_body_user_chart_leftmenu_border: #e7e9ed;
$color_main_body_user_chart_single_border: #d9dce3;
$color_main_body_user_chart_perception_map_bg: #f9f9f9;
$color_main_body_user_chart_perception_map_border: #bdbdbd;
$color_main_body_user_table_title_border: #e1e1e1;
$color_main_body_user_table_menu_bg_active: #4b67ae;


$color_main_body_progress_bar_budget: #6071b9;
$color_main_body_progress_bar_normal_capacity: #7169af;
$color_main_body_progress_bar_overtime: #ad5ab3;

$color_main_body_decision_subtitle: #bdbdbd;
$color_main_body_decision_brand_border: #c2c2d3;
$color_main_body_decision_sku_border: #ebebeb;
$color_main_body_decision_table_hover: #feeaff;




/********************  自定义按钮样式  ********************/


@mixin user_decision_button{
    color: #ffffff;
    font-family: $font_main_header2;
    background-color: $color_main_body_user_decision_button;
    padding: 10px 40px 10px 40px;
    @include background(linear-gradient(top, $color_main_body_user_decision_button, $color_main_body_user_decision_button));
//    @include background(linear-gradient(to bottom, $color_main_body_user_decision_button, $color_main_body_user_decision_button));

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: $color_main_body_user_decision_button;

    &:hover,
    &:focus{
        background-color: #1F9BFE;
        @include background(linear-gradient(top, #1F9BFE, #1F9BFE));
//        @include background(linear-gradient(to bottom, #1F9BFE, #1F9BFE));
    }

    .active,
    &:active {
        background-color: #298ffe;
        @include background(linear-gradient(top, #298ffe, #298ffe));
//        @include background(linear-gradient(to bottom, #298ffe, #298ffe));
        border-color: #298FFE;
    }

}


@mixin icon_user_brand {
    color: $color_main_body_brand;
    font-size: 14px;
    background-image: url(../images/userbrand.png);
    background-repeat: no-repeat;
    background-position: 1px 0px;
    padding-left: 25px;
    margin: 32px 5px 20px 3px;
    display: block;
}


@mixin icon_user_product{
    color: $color_main_body_product;
    font-size: 11px;
    background-image: url(../images/userproduct.png);
    background-repeat: no-repeat;
    background-position: 1px 2px;
    padding-left: 20px;
    width: 150px;
    height: 24px;

    span{
        color: $color_main_body_product_target;
    }
}


@mixin table_report{

    .table > thead > tr > th{
        font-size: 12px;
        font-family: $font_main_header2;
        font-weight: normal;
        color: $color_main_body_user_chart_leftmenu_title;
        background-color: $color_login_background;
    }

    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        vertical-align: middle;
        border-top: 1px solid #ddd;
        font-family: $font_main_header2;
        font-size: 12px;
        color: $color_main_body_user_chart_leftmenu_title;
    }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: $color_login_panel_background;
    }

    .table-striped > tbody > tr:nth-child(even) > td,
    .table-striped > tbody > tr:nth-child(even) > th {
        background-color: $color_main_body_background;
    }

    .table-striped tbody tr:nth-child(odd):hover td,
    .table-striped tbody tr:nth-child(odd):hover th,
    .table-striped tbody tr:nth-child(even):hover td,
    .table-striped tbody tr:nth-child(even):hover th{
        background-color: $color_main_body_decision_table_hover;
    }

}

@mixin divider_horizontal{
    .divider_horizontal{
        width: 100%;
        border-top: 1px solid $color_login_title;
        margin-bottom: 10px;
    }
}

@mixin spotlight_overlay{
    .spotlight_overlay {
        z-index:1; /* show it on top of the other images (they have z-index 0) */
        @include box-shadow( 0px 0px 10px 0px $color_main_body_user_chart_leftmenu_active_bgbefore);

        a {
            color: $color_main_body_user_chart_leftmenu_active_bgbefore;
        }
    }
}



/*********************************************************/

/** 仿 iOS 系统通知数字样式 **/
.num{

    color:#fff;

    padding:0px 5px;

    position:absolute;
    top:9px;
    left:50px;

    text-indent: 0;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    font-family:$font_main_header;
    font-weight:normal;
    font-size: 11px;
    z-index: 999;
}

/** 仿 iOS 系统通知数字样式 **/
.num2{
    background-color: $color_main_header_menu_num;
    background-image: -webkit-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* FF3.6+ */
    background-image:     -ms-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* IE10 */
    background-image:      -o-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* Opera 11.10+ */
    color:#fff;

    padding:0px 5px;
    border:0px solid #fff;
    border-radius:16px;
    position:absolute;
    top:9px;
    left:50px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,1);
    text-shadow: -1px -1px 0 #000;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    font-family:$font_main_header;
    font-weight:normal;
    font-size: 11px;
    z-index: 999;
}


/**  输入框前缀 **/
.form-input-prefix{
    vertical-align: middle;
    display: block;
    position: absolute;
    top: 0px;
    left: -4px;
    padding: 9px 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    height: 34px;
    text-align: center;

}


/********************  Angular JS 首次载入页面默认隐藏模板显示  ********************/

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


/*********************************************************/

body{
    font-family: $font_main_header;
    font-size: 12px;
    font-weight: normal;
    a, button {
        font-family: $font_main_header;
        font-size: 12px;
        font-weight: normal;
    }
}

.width_big_screen {
    width: 1340px;
    padding: 0 15px;
}

.login {
    background-color: $color_login_background;
    padding: 50px 0px 50px 0px;

    .bg_whoami {
        background-image: url(../images/whoami.png);
        background-repeat: no-repeat;
        background-position: 0px 120px;

    }

    .panelbox {
        border: $color_login_panel_border 1px solid;
        background-color: $color_login_panel_background;

        h3 {
            color: $color_login_title;
            font-size: 30px;
            font-family: $font_login_title;
            padding-left: 20px;
        }

        h4 {
            color: $color_main_body_company;
            font-size: 18px;
            font-family: $font_main_header2;
            padding : 20px 0px 15px 0px;
        }

        .contentbox {
            background-image: url(../images/loginbg1.png);
            background-repeat: no-repeat;
            background-position: 20px 22px;

            background-color: $color_login_content_background;
            margin: 10px 20px 35px 20px;
        }

        label {
            font-weight: normal;
            font-size: 13px;
//            color: $color_login_input_label;
            font-family: $font_main_header2;
        }

        .login_button{
            font-size: 14px;
            @include user_decision_button;
        }

        .divider_left{
            border-left: 1px solid $color_login_border;
            padding-left: 40px;
            padding-right: 30px;
            padding-bottom: 40px;
        }

        .video_list{
            margin-top : 70px;
            padding: 0px 0px 70px 30px;
        }

        .intro_video_next_button{
            font-size: 14px;
            @include user_decision_button;
            margin-bottom: 20px;
        }

        .first_intro{
            margin-top: 50px;

        }

        .whoami {

            margin: 10px 20px 35px 20px;
        }

        h2 {
            color: $color_login_title;
            font-size: 36px;
            font-family: $font_login_title;
        }

        h5 {
            color: $color_main_body_company;
            font-family: $font_main_header2;
            padding : 15px 0px 1px 0px;
            font-size: 14px;
        }

        .highlight1{
            font-weight: bold;
            color: $color_login_title;
        }
        .highlight2{
            font-weight: bold;
            color: $color_login_title;
            font-size: 24px;
        }

        .brand_list{
            background-color: $color_login_content_background;

            .user_brand{
                @include icon_user_brand;
            }

            .user_product{
                @include icon_user_product;
            }
        }

        .start_button{
            font-size: 14px;
            @include user_decision_button;
            margin-top: 20px;
            margin-bottom: 40px;
        }

    }
}


.header {

    .navbar {
        margin-bottom: 0px;
        border: 0px;
        @include border-radius(0px);
    }

    .navbar-inverse {
        background-image: -webkit-linear-gradient(top, $color_main_header 100%, $color_main_header 100%);
        background-image: linear-gradient(to bottom, $color_main_header 100%, $color_main_header 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        background-color: $color_main_header;
        background-position: 0px 0px;
        background-size: 100% 100%;

        .navbar-brand {
            color: $color_white;
            font-weight: bold;
            font-size: 12px;
            margin-right: 20px;
            padding: 13px 15px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .navbar-nav {

            li a {
                color: $color_main_header_menu;
                font-size: 11px;
                font-weight: bold;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
            }


            .active a {
                background-image: -webkit-linear-gradient(top, $color_main_header_menu_active 100%, $color_main_header_menu_active 100%);
                background-image: linear-gradient(to bottom, $color_main_header_menu_active 100%, $color_main_header_menu_active 100%);
                box-shadow: none;

                &:before{
                    border-color:transparent transparent $color_white transparent;
                    border-style:dashed dashed solid dashed;
                    border-width:0px 8px 7px 8px;
                    height:0;
                    width:0;
                    overflow: hidden; /* 这里设置overflow, font-size, line-height */
                    font-size: 0;     /*是因为, 虽然宽高度为0, 但在IE6下会具有默认的 */
                    line-height: 0;  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
                    content:"";
                    top: 44px;
                    left: 42%;
                    position:absolute;
                }
            }

            .open a, .open a:hover, .open a:focus  {
                background-color: $color_main_header_menu_active;
            }

            .mk_dropdownlist {
                background-color: $color_main_header_menu_dropdown;

                li a {
                    color: $color_white;
                    font-weight: normal;
                    font-size: 12px;
                    background-color: $color_main_header_menu_dropdown;
                }
            }

            .mk_dropdowndivider {
                background-color: $color_main_header_menu_dropdown_line;
            }
        }
    }
}





.mainbody{

    /***** MainUserHome 页面开始 *****/

    background-color: $color_main_body_background;
    border: 1px solid $color_main_body_border;
    
    .user_brand_box{
        height: 200px;
    }
    
    .user_home_divider{
        border-right: 1px solid $color_main_body_border;
    }
    .user_home_divider_horizontal{
        border-bottom: 1px solid $color_main_body_border;
    }

    .user_maincompany{
        font-family: $font_main_header2;
        color: $color_main_body_company;
        font-weight: normal;
        font-size: 24px;
        margin: 30px 1px 20px 28px;
        
        .company_a{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_a_bg;
            width: 36px;
            height: 36px;
            padding: 5px 10px;
            @include border-radius(4px);
        }
    }

    h5{
        color: $color_main_body_company;
        font-size: 14px;
    }

    .user_brandcolumn{
        width: 19%;
        margin-left: 6px;
    }

    .user_title{
        color: $color_main_body_company;
        font-size: 11px;
        @include inline-block;
        padding-bottom: 5px;
    }

    .user_brand{
        @include icon_user_brand;
    }

    .user_product{
        @include icon_user_product;
    }

    .user_competitorsnum{
        color: $color_main_body_competitors;
        font-family: $font_main_header2;
        font-size: 32px;
        text-align: center;
        margin: 55px 0px 15px 0px;
        display: block;
        
    }
    .user_competitors{
        text-align: center;
        color: $color_main_body_product;
        margin: 0px 0px 5px 0px;
        display: block;
    }

    .user_clock{
        color: $color_main_body_user_clock;
        font-size: 11px;
        background-image: url(../images/userclock.png);
        background-repeat: no-repeat;
        background-position: 1px 0px;
        padding-left: 62px;
        padding-top: 9px;
        margin: 25px 0px 20px 0px;
        display: block;
        height: 55px;
        strong {
            display: block;
        }
    }

    .user_makedecision{
        color: $color_main_body_user_clock;
        font-size: 11px;
        margin: 12px 0px 13px 23px;

        display: block;
    }
    
    .user_decisionbutton{
        font-size: 14px;
        margin: 0px 0px 0px 23px;

        @include user_decision_button;
    }


    .user_period_bar{
        background-color:transparent;
        border-color:$color_main_body_user_period_bar_border;
        margin: 25px auto;
        border-radius:15px;
        color:$color_main_body_user_period_bar;
        ul li{
            width:70px;
            height: 15px;
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            border-color: $color_main_body_user_period_bar_border;
            background-color:$color_main_body_user_period_bar_normal;
        }

        .start{
            border-radius:15px 0 0 15px;
            background-color:$color_main_body_user_period_bar_border;
        }
        .past{
            background-color:$color_main_body_user_period_bar_border;
        }
        .active{
            background-color:$color_main_body_user_period_bar_active;
        }
        .end{
            border-radius:0 15px 15px 0;
        }

        .period_info_bottom{
            margin: 20px 0 0 31px;
            position: absolute;
            font-size:11px;
        }
        .period_info_top{
            position : absolute;
            margin:-20px 0 0 11px;
            display:block;
            font-size:11px;
        }
    }

    .user_search_chart{
        padding-top: 30px;
        padding-bottom: 30px;

        .droplist_company{
            color: $color_main_body_product_target;
        }
    }

    .user_chart_list{


        border-color: $color_main_body_user_chart_list_border;
        height: 389px;
//        background-color: $color_main_body_background;

        .panel-heading{
            background-color: $color_main_body_background_chart;
            border-color: $color_main_body_user_chart_list_border;
        }


        h3{
            font-size: 16px;
            color: $color_main_body_user_chart_title;
            padding: 10px 10px 10px 20px;
            text-align: center;
        }



        .list-group-item{

            background-color: $color_login_panel_background;
            background-image: url(../images/userchartlist.png);
            background-repeat: no-repeat;
            background-position: 75px 20px;
            padding: 18px 1px 18px 95px;

            a {
                font-size: 13px;
                font-family: $font_main_header2;
                color: $color_main_body_user_chart_list;
                font-weight: bold;
            }
        }
        .list-group-item-active{
            background-color: $color_main_body_background;
        }

        @include spotlight_overlay;



    }

    .user_chart_list_bg2{
        background-color: $color_main_body_background;
    }







    /**********  Report 页面开始 **********/

    .user_chart_box{
        height: 70px;
    }

    .user_chart_company {
        margin: 18px 0px 1px 28px;
    }

    .user_chart_search_box {
        padding-top: 16px;
        padding-bottom: 10px;
    }


    .user_chart_vs{
        color: $color_main_body_user_clock;
        font-size: 10px;
        text-align: center;
        background-image: url(../images/chartvs.png);
        background-repeat: no-repeat;
        background-position: 12px 0px;
        padding-top: 25px;
        margin: 16px 0px 1px 0px;
        display: block;
    }

    .user_chart_clock{
        font-size: 10px;
        margin: 10px 0px 1px 0px;
    }

    .user_chart_make_decision{
        color: $color_main_body_user_clock;
        font-size: 10px;
        text-align: center;
        margin: 5px 0px 5px 0px;
        display: block;
    }

    .user_chart_decision_button{
        font-size: 11px;
        font-weight: normal;
        margin: 0px 0px 0px 19px;
        padding: 8px 40px 8px 40px;
        @include user_decision_button;
    }

    .user_chart_padding{
        padding-left: 0px;
        padding-right: 0px;
    }

    .user_chart_leftmenu{

        background-color: $color_main_body_background_brand;
        border-width: 0px 0px 1px 0px;
        border-color: $color_main_body_user_chart_leftmenu_border;
        @include border-radius(0px);
        @include box-shadow($color_main_body_user_chart_leftmenu_border 0px 0px 0px);
        margin-bottom: 5px;

        .panel-heading{
            font-size: 14px;
            color: $color_main_body_user_chart_leftmenu_title;
            margin: 10px 0px 0px 15px;
        }


        .list-group-item{
            border: 0px none $color_white;
            background-color: $color_main_body_background_brand;
            background-image: url(../images/userchartlist.png);
            background-repeat: no-repeat;
            background-position: 30px 12px;
            padding: 11px 1px 13px 50px;

            a{
                font-size: 11px;
                color: $color_main_body_user_chart_list;
            }
        }
        .list-group-item-active{
            background-color: $color_main_body_user_chart_leftmenu_active_bg;

            a{
                font-weight: bold;
                color: $color_main_body_user_chart_title;
            }

            &:before{
                border: 3px solid $color_main_body_user_chart_leftmenu_active_bgbefore;
                width: 0;
                height: 100%;
                content: "";
                display: block;
                position: absolute;
                top:0px;
                left:0px;
            }
        }

        @include spotlight_overlay;

    }

    .user_chart_right{
        background-color: $color_login_background;

        .user_chart_single{
            border: 1px solid $color_main_body_user_chart_single_border;
            background-color: $color_login_panel_background;
            margin: 10px 5px 10px 10px;
            padding: 0px 0px 0px 0px;

            h5 {
                text-align: center;
                font-size: 14px;
                color: $color_main_body_company;
                background-color: $color_login_content_background;
                margin: 0px 0px 0px 0px;
                padding: 13px 0px;

                .chart_icon{
                    float: right;
                    padding-right: 10px;
                }

                .perception_map_button{
                    font-size: 11px;
                    font-family: $font_main_header2;
                }
                .perception_map_group{
                    float: right;
                    margin-right: 60px;
                    margin-top: -5px;
                }
            }

            .nvtooltip{
                border: 0 none;

                h5{
                    border: 1px solid $color_main_body_user_chart_perception_map_border;
                    @include border-radius(4px);
                    padding: 8px 10px;

                }
            }
            .perception_panel{
                margin-bottom: 0px;
                .panel-heading{
                    font-size: 12px;
                    font-weight: bold;
                    font-family: $font_main_header2;
                    color: $color_main_body_user_chart_leftmenu_title;
                }
            }
            .perception_list{
                padding: 5px 10px;
                font-size: 12px;
                font-family: $font_main_header2;
                color: $color_main_body_company;
            }
            .perception_list_bg{
                background-color: $color_main_body_user_chart_perception_map_bg;
            }
            .perception_info{
                width: 180px;
                display: inline-block;
            }
            .perception_info_number{
                width: 40px;
                display: inline-block;
            }
            .perception_logo{
                padding: 6px 6px;
                margin: 0px 5px 0px 0px ;
                background-color: #0000FF;
                display: inline-block;
            }
        }

        .chart_1{
            width: 98%;
        }

        .chart_2{
            width: 48%;
        }
        .chart_3{
            width: 31%;
        }


        .user_table_single{

            h5 {
                font-size: 14px;
                color: $color_main_body_company;
                margin: 0px 0px 0px 0px;
                padding: 20px 0px;
                border-bottom: 1px solid $color_main_body_user_table_title_border;
            }

            .table_multimenu{
                margin: 20px 0px 0px 0px;
            }

            .table_multimenu li{
                a{
                    background-color: $color_main_body_background_brand;
                    color: $color_main_body_company;
                    font-family: $font_main_header2;
                    @include border-radius(4px);

                    border: 1px solid $color_main_body_decision_brand_border;
                    background-image: url(../images/userchartlist.png);
                    background-repeat: no-repeat;
                    background-position: 10px 8px;
                    padding: 7px 15px 7px 27px;
                    margin-left: 5px;


                    &:hover,
                    &:focus{
                        background-color: $color_main_body_background_chart;
                    }
                }
            }
            .table_multimenu li.active{
                a,
                a:hover,
                a:focus{
                    color: $color_main_body_company_a;
                    background-color: $color_main_body_user_table_menu_bg_active;
                    background-image: url(../images/userchartlist2.png);
                    border: 1px solid $color_main_body_user_table_menu_bg_active;
                }
            }


            .table_report{
                border: 1px solid $color_main_body_user_chart_single_border;
                background-color: $color_login_panel_background;
                margin: 20px 0px 20px 0px;
                padding: 50px 40px 0px 40px;

                .nav-pills li{
                    a{
                        background-color: $color_login_background;
                        color: $color_main_body_user_chart_leftmenu_title;
                        font-family: $font_main_header2;
                        @include border-top-radius(4px);
                        @include border-bottom-radius(0px);

                        &:hover,
                        &:focus{
                            background-color: $color_main_body_background_chart;
                        }
                    }
                }
                .nav-pills li.active{
                    a,
                    a:hover,
                    a:focus{
                        color: $color_main_body_company_a;
                        font-family: $font_main_header2;
                        background-color: $color_login_title;
                    }
                }

                @include divider_horizontal;

            }

            @include table_report;

            .table > thead > tr > th{
                font-weight: bold;
            }


        }
    }





    /**********  Decision 页面开始  **********/

    .progress_title{
        color : $color_main_body_product_target;
    }

    .progress_radius{
        @include border-radius(16px);
    }
    .progress_bar_budget {
        background-color: $color_main_body_progress_bar_budget;
    }
    .progress_bar_normal_capacity {
        background-color: $color_main_body_progress_bar_normal_capacity;
    }
    .progress_bar_overtime {
        background-color: $color_main_body_progress_bar_overtime;
    }

    .form-control-error {
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

    .alert-tooltip{
        position: absolute;
        top : 10%;
        left : 65px;
        padding : 5px;
        z-index: 999;
    }
    .alert-tooltip:after, .alert-tooltip:before {
        top: 50%;
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .alert-tooltip:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #f2dede;
        border-width: 6px;
        margin-top: -6px;
    }
    .alert-tooltip:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #ebccd1;
        border-width: 7px;
        margin-top: -7px;
    }


    .budget_form {
        padding: 5px 0px;

        label {
            color: $color_login_input_label;
            font-size: 10px;
            font-weight: normal;
        }
        .budget_title {
            font-size: 18px;
        }

        input{
            width: 80px;
            margin-top : 15px;
        }
    }

    .decision_box{
        margin : 10px 0px 0px 15px;
        border:1px solid $color_login_panel_border;
        background-color: $color_login_panel_background;

        h4{
            color: $color_main_body_competitors;
            font-size: 18px;
            font-weight: normal;
            font-family: $font_main_header2;
            margin:25px 0 5px 0;
        }
        h6{
            color: $color_main_body_decision_subtitle;
            font-family: $font_main_header2;
            font-weight: normal;
            margin-top: 0;
        }

        .brand_box{
            border:1px solid $color_main_body_decision_brand_border;
            margin : 0px -10px 20px -10px;
            @include border-radius(4px);
        }

        .sku_box{
            border:1px solid $color_main_body_decision_sku_border;
            margin : 0px -10px 10px -10px;
            @include border-radius(4px);

            .input-sm{
                height: 25px;
                width: 50px;
            }
        }

        .table > thead > tr > th {
            font-weight: bold;
            color: $color_main_body_user_chart_leftmenu_title;
            vertical-align: middle;
            a {
                font-weight: bold;
                color: $color_main_body_user_chart_leftmenu_title;
            }
        }

        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            vertical-align: middle;
            border-top: 0px none $color_white;
            font-family: $font_main_header2;
            font-size: 12px;
            color:$color_main_body_company;
            position: relative;
        }

        .table .tdgroup{
            padding-top: 20px;
        }

        .sku_table {
            width : 125px;
        }

        .nav li {
            a{
                padding: 7px 15px;
            }
        }
        .nav-pills li{
            a{
                background-color: $color_login_background;
                color: $color_main_body_user_chart_leftmenu_title;
                font-family: $font_main_header2;
                @include border-top-radius(4px);
                @include border-bottom-radius(0px);

                &:hover,
                &:focus{
                    background-color: $color_main_body_background_chart;
                }
            }
        }
        .nav-pills li.active{
            a,
            a:hover,
            a:focus{
                color: $color_main_body_company_a;
                font-family: $font_main_header2;
                background-color: $color_main_body_user_chart_title;
            }
        }

        .brand_form{
            margin: 30px 0px;
        }

        h5{
            color: $color_login_input_label;
            font-family: $font_main_header2;
            font-weight: normal;
            font-size: 16px;
            padding: 10px 0px 0px 10px;
        }

        .investment_form{
            margin-top: 20px;
            margin-left: 10px;
            label {
                text-align: left;
                font-family: $font_main_header2;
                font-weight: normal;
                font-size: 13px;
            }
        }


        .decision_button{
            @include user_decision_button;
            margin: 0px 0px 20px 0px;
        }

    }

    .decision_right_box{
        width: 47%;

        .right_menu{
            border-width: 1px 0px 0px 0px;
            @include border-radius(0px);

            padding: 20px 0px 0px 0px;

            .product_portfolio{

                h4{
                    font-size: 13px;
                    font-family: $font_main_header2;
                    color: $color_main_body_company;
                    padding: 5px 0px 8px 25px;
                    background-image: url(../images/userbrand.png);
                    background-repeat: no-repeat;
                    background-position: 4px 2px;
                }
                .sku_bg{
                    background-image: url(../images/userproduct.png);
                    background-repeat: no-repeat;
                    background-position: 4px 5px;
                }

                .panel-heading{
                    font-size: 13px;
                    font-family: $font_main_header2;
                    font-weight: bold;
                    color: $color_main_body_user_chart_leftmenu_title;
                    background-color: $color_login_background;
                }

                @include table_report;

            }
        }
    }


}

.bgbrand{
    background-color: $color_main_body_background_brand;
}

.chartBox {
    width: 99%;
    height:350px;
    margin: 0px 0px;
    .ac-title {
        text-align: center;
        display: none;
    }

    .bar_chart_label{
        font-size: 10px;
    }
}





/*************************** admin ******************************/


