@import "compass";

$font_main_header: 'Verdana', 'Geneva, sans-serif';
$font_main_header2: 'Helvetica', 'Arial, sans-serif';

$path_images: "./";

$color_main_header: #2d428e;
$color_main_header_menu: #d5def5;
$color_main_header_menu_active: #4358a1;
$color_main_header_menu_dropdown: #4d6bd1;
$color_main_header_menu_dropdown_line: #3e5bbf;
$color_main_header_menu_num: #BF1031;

$color_main_body_border: #eceff1;
$color_main_body_background_brand: #fdfdfd;
$color_main_body_background: #fbfbfb;
$color_main_body_background_chart: #dbe3f6;
$color_main_body_company: #373737;
$color_main_body_company_a: #ffffff;
$color_main_body_company_a_bg: #39ae41;
$color_main_body_brand: #2f4e9b;
$color_main_body_product: #464646;
$color_main_body_product_target: #6f6f6f;
$color_main_body_competitors: #2f4e9b;
$color_main_body_user_clock: #373737;
$color_main_body_user_decision_button: #19acfe;
$color_main_body_user_chart_title: #2f4e9b;
$color_main_body_user_chart_list: #464646;
$color_main_body_user_chart_list_border: #cfd3e0;


@mixin user_decision_button{
    color: #ffffff;
    background-color: $color_main_body_user_decision_button;
    @include background(linear-gradient(top, $color_main_body_user_decision_button, $color_main_body_user_decision_button));
    @include background(linear-gradient(to bottom, $color_main_body_user_decision_button, $color_main_body_user_decision_button));

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: $color_main_body_user_decision_button;

    &:hover,
    &:focus{
        background-color: #1F9BFE;
        @include background(linear-gradient(top, #1F9BFE, #1F9BFE));
        @include background(linear-gradient(to bottom, #1F9BFE, #1F9BFE));
    }

    .active,
    &:active {
        background-color: #298ffe;
        @include background(linear-gradient(top, #298ffe, #298ffe));
        @include background(linear-gradient(to bottom, #298ffe, #298ffe));
        border-color: #298FFE;
    }

}











/** 仿 iOS 系统通知数字样式 **/
.num{
    background-color: $color_main_header_menu_num;
    background-image: -webkit-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* FF3.6+ */
    background-image:     -ms-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* IE10 */
    background-image:      -o-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* Opera 11.10+ */
    color:#fff;

    padding:0px 5px;
    border:0px solid #fff;
    border-radius:16px;
    position:absolute;
    top:9px;
    left:50px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,1);
    text-shadow: -1px -1px 0 #000;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    font-family:$font_main_header;
    font-weight:normal;
    font-size: 11px;
}



/*********************************************************/

body{
    font-family: $font_main_header;
    font-size: 12px;
    font-weight: normal;
    a, button {
        font-family: $font_main_header;
        font-size: 12px;
        font-weight: normal;
    }
}

.mainbox {
    width: 1340px;
    padding: 0 15px;
}




.header {

    .navbar {
        margin-bottom: 0px;
        border: 0px;
        @include border-radius(0px);
    }

    .navbar-inverse {
        background-image: -webkit-linear-gradient(top, $color_main_header 100%, $color_main_header 100%);
        background-image: linear-gradient(to bottom, $color_main_header 100%, $color_main_header 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        background-color: $color_main_header;
        background-position: 0px 0px;
        background-size: 100% 100%;

        .navbar-brand {
            color: #ffffff;
            font-weight: bold;
            font-size: 12px;
            margin-right: 20px;
            padding: 13px 15px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .navbar-nav {

            li a {
                color: $color_main_header_menu;
                font-size: 11px;
                font-weight: bold;
                padding-left: 15px;
                padding-right: 15px;
            }

            .active a {
                background-image: -webkit-linear-gradient(top, $color_main_header_menu_active 100%, $color_main_header_menu_active 100%);
                background-image: linear-gradient(to bottom, $color_main_header_menu_active 100%, $color_main_header_menu_active 100%);
                box-shadow: none;

                &:before{
                    border-color:transparent transparent #ffffff transparent;
                    border-style:dashed dashed solid dashed;
                    border-width:0px 8px 7px 8px;
                    height:0;
                    width:0;
                    overflow: hidden; /* 这里设置overflow, font-size, line-height */
                    font-size: 0;     /*是因为, 虽然宽高度为0, 但在IE6下会具有默认的 */
                    line-height: 0;  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
                    content:"";
                    top: 43px;
                    left: 26px;
                    position:absolute;
                }
            }

            .open a, .open a:hover, .open a:focus  {
                background-color: $color_main_header_menu_active;
            }

            .mk_dropdownlist {
                background-color: $color_main_header_menu_dropdown;

                li a {
                    color: #ffffff;
                    font-weight: normal;
                    font-size: 12px;
                    background-color: $color_main_header_menu_dropdown;
                }
            }

            .mk_dropdowndivider {
                background-color: $color_main_header_menu_dropdown_line;
            }
        }
    }
}



.mainbody{

    background-color: $color_main_body_background;
    border: 1px solid $color_main_body_border;
    .user_homedivider{
        border-right: 1px solid $color_main_body_border;
        height: 200px;
    }
    .user_homedivider_horizontal{
        border-bottom: 1px solid $color_main_body_border;
    }

    .user_maincompany{
        font-family: $font_main_header2;
        color: $color_main_body_company;
        font-weight: normal;
        font-size: 24px;
        margin: 30px 1px 20px 28px;
        
        .company_a{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_a_bg;
            width: 36px;
            height: 36px;
            padding: 5px 10px;
            @include border-radius(4px);
        }
    }

    h5{
        color: $color_main_body_company;
        font-size: 14px;
    }

    .user_brandcolumn{
        width: 19%;
        margin-left: 6px;
    }

    .user_title{
        color: $color_main_body_company;
        font-size: 11px;
        @include inline-block;
        padding-bottom: 5px;
    }

    .user_brand{
        color: $color_main_body_brand;
        font-size: 14px;
        background-image: url(../images/userbrand.png);
        background-repeat: no-repeat;
        background-position: 1px 0px;
        padding-left: 25px;
        margin: 32px 5px 20px 3px;
        display: block;
    }

    .user_product{
        color: $color_main_body_product;
        font-size: 11px;
        background-image: url(../images/userproduct.png);
        background-repeat: no-repeat;
        background-position: 1px 2px;
        padding-left: 20px;
        width: 130px;
        height: 24px;

        span{
            color: $color_main_body_product_target;
        }
    }

    .user_competitorsnum{
        color: $color_main_body_competitors;
        font-family: $font_main_header2;
        font-size: 32px;
        margin: 55px 10px 15px 30px;
        display: block;
    }
    .user_competitors{
        color: $color_main_body_product;
        margin: 0px 10px 10px 5px;
        display: block;
    }

    .user_clock{
        color: $color_main_body_user_clock;
        font-size: 11px;
        background-image: url(../images/userclock.png);
        background-repeat: no-repeat;
        background-position: 1px 0px;
        padding-left: 62px;
        padding-top: 9px;
        margin: 25px 0px 20px 0px;
        display: block;
        height: 55px;
        strong {
            display: block;
        }
    }

    .user_makedecision{
        color: $color_main_body_user_clock;
        font-size: 11px;
        margin: 12px 0px 13px 23px;

        display: block;
    }
    
    .user_decisionbutton{
        font-family: $font_main_header2;
        font-size: 14px;
        margin: 0px 0px 0px 23px;
        padding: 10px 40px 10px 40px;
        @include user_decision_button;
    }
    
    .user_search_chart{
        padding-top: 40px;
        padding-bottom: 30px;

        .droplist_company{
            color: $color_main_body_product_target;
        }
    }

    .user_chartlist{
        border-color: $color_main_body_user_chart_list_border;
        height: 335px;
//        background-color: $color_main_body_background;

        .panel-heading{
            background-color: $color_main_body_background_chart;
            border-color: $color_main_body_user_chart_list_border;
        }


        h3{
            font-size: 16px;
            color: $color_main_body_user_chart_title;
            padding: 10px 10px 10px 20px;
            text-align: center;
        }

        ul .list-group-item{
            font-size: 13px;
            font-family: $font_main_header2;
            color: $color_main_body_user_chart_list;
            font-weight: bold;
            background-color: #ffffff;
            background-image: url(../images/userchartlist.png);
            background-repeat: no-repeat;
            background-position: 75px 20px;
            padding: 18px 1px 18px 95px;
        }
        ul .list-group-item-active{
            background-color: $color_main_body_background;
        }
    }
    .user_chartlist2{
        background-color: $color_main_body_background;
    }

}
.bgbrand{
    background-color: $color_main_body_background_brand;
}

//
//nav {
//  @include float-right;   /* Cross-browser floating helper */
//  a {
//    text-decoration: none;  /* Good ol' fashioned CSS */
//    color: $my_color;
//    /* Cross-browser inline-block helper */
//    @include inline-block;
//    /* Text-shadow helper + rgba() is a built-in Sass mixin */
//    @include text-shadow(0 1px 1px rgba(#000,0.3));
//    /* Cross-browser CSS3 transition */
//    @include single-transition(color, 0.5s, ease-in);
//    &:hover {
//      /* Compass color mixin: shade() */
//      color: shade($my_color, 20%);
//    }
//  }
//}

