@charset "utf-8";
@import "compass";

@import "marksimos/utils/variables";

//$icon-layout : diagonal;
@import "icon/*.png";

@import "marksimos/utils/mixins";

/*********************************************************/
$color_chat_border: #DDD;
$color_chat_active: #2E4E9A;
$color_chat_me: #1289fe;
.chat-container {
    position: fixed;
    z-index:9999;
    background-color: white;
    width: 244px;
    border: 1px solid $color_chat_border;
    font-size: 12px;
    .header {
        font-size: 12px; // todo delete?
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding-top: 12px;
        border-top: 5px solid #2E4E9A;
    }
    .chat-header {
        height: 60px;
        padding: 14px 0;
        position: relative;
        .btn {
            font-size: 12px;
            width: 96px;
            padding-left: 37px;
            margin:0 6px;
        }
        .btn.active {
            box-shadow: none;
            color: #2E4E9A;
            background-color: white;
            border-color: #2E4E9A;
            &:hover {
                background-color: #E6E6E6;
            }
        }
        .indicator {
            position: absolute;
            bottom: -1px;
            right: 52px;
            &.left {
                left: 52px;
            }

        }
    }
    .chat-body {
        border-top: 1px solid #DDD;
        .messages {
            padding: 14px;
            height: 280px;
            overflow: auto;
        }
        .message{
            clear:both;
            margin-bottom: 0.5em;
            & > * {
                display: inline-block;
            }
            .text{
                margin: 0;
                @include border-radius(1em);
                padding: 0.5em 1em;
                background: #e5e5ea;
                position: relative;
                word-break: break-all;
            }
            .name {
                color: #A6A4A9;
                padding-left: 1em;
                font-size: 10px;
            }
        }
        .message.them {
            max-width: 85%; // extra 5% for avatar
            float: left;
            .avatar {
                width: 30px;
                height: 30px;
                margin-right: 5px;
                @include border-radius(50%);
                border: 1px solid gray; /*todo-to-delete*/
            }
            .text::after {
                content: "";
                position: absolute;
                left: -0.5em;
                bottom: 0;
                width: 0.5em;
                height: 1em;
                border-right: 0.5em solid #e5e5ea;
                border-bottom-right-radius: 1em 0.5em;
                box-sizing: content-box;
            }
        }
        .message.me {
            max-width: 80%;
            float: right;
            .text {
                background-color: $color_chat_me;
                color: white;
                &::after {
                    content: "";
                    position: absolute;
                    right: -0.5em;
                    bottom: 0;
                    width: 0.5em;
                    height: 1em;
                    border-left: 0.5em solid $color_chat_me;
                    border-bottom-left-radius: 1em 0.5em;
                    box-sizing: content-box;
                }
            }
        }
        .message-send form textarea {
            width: 100%;
            resize: none;
            padding: 6px 14px;
            margin-bottom: -6px; /*wtf spaces*/
            border-top: 1px solid $color_chat_border;
            border-bottom: 1px solid $color_chat_border;
            border-left: none;
            border-right: none;
        }
    }
}


/*********************************************************/

/**  iOS System Notification Number Style 1  **/
.num{

    color:#fff;

    padding:0px 5px;

    position:absolute;
    top:16%;
    left:76%;

    text-indent: 0;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    font-family:$font_main_header;
    font-weight:normal;
    -webkit-text-size-adjust:none;
    font-size: 11px;
    z-index: 999;
}

/**  iOS System Notification Number Style 2 **/
.num2{
    background-color: $color_main_header_menu_num;
    background-image: -webkit-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* FF3.6+ */
    background-image:     -ms-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* IE10 */
    background-image:      -o-linear-gradient(top, $color_main_header_menu_num, $color_main_header_menu_num); /* Opera 11.10+ */
    color:#fff;

    padding:0px 5px;
    border:0px solid #fff;
    border-radius:16px;
    position:absolute;
    top:9px;
    left:50px;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,1);
    text-shadow: -1px -1px 0 #000;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    font-family:$font_main_header;
    font-weight:normal;
    -webkit-text-size-adjust:none;
    font-size: 11px;
    z-index: 999;
}


/**  输入框前缀 **/
.form-input-prefix{
    vertical-align: middle;
    display: block;
    position: absolute;
    top: 0px;
    left: -4px;
    padding: 9px 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    height: 34px;
    text-align: center;

}


/********************  Angular JS 首次载入页面默认隐藏模板显示  ********************/

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


/*********************************************************/
html,body{
    margin:0px;
    height:100%;
}

body{
    font-family: $font_main_header;
    font-size: 12px;
    font-weight: normal;
    a, button {
        font-family: $font_main_header;
        font-size: 12px;
        font-weight: normal;
    }
}


.dragging{
    @include opacity(0.7);
    cursor: move;
}

//利用css解决绝对定位层遮挡的问题
.xy-tooltip div{pointer-events:auto}





.width_big_screen {
    width: 1340px;
    padding: 0 15px;
}

.login {
    background-color: $color_login_background;
    padding: 50px 0px 50px 0px;

    .bg_whoami {
        @include my_icon-sprite(whoami, no-repeat, 0px, 120px);
    }


    .panelbox {
        border: $color_login_panel_border 1px solid;
        background-color: $color_login_panel_background;

        h3 {
            color: $color_login_title;
            font-size: 30px;
            font-family: $font_login_title;
            padding-left: 20px;
        }

        h4 {
            color: $color_main_body_company;
            font-size: 18px;
            font-family: $font_main_header2;
            padding : 20px 0px 15px 0px;
        }

        .contentbox {
            @include my_icon-sprite(loginbg1, no-repeat, 20px, 22px);

            background-color: $color_login_content_background;
            margin: 10px 20px 35px 20px;
        }

        label {
            font-weight: normal;
            font-size: 13px;
//            color: $color_login_input_label;
            font-family: $font_main_header2;
        }

        .login_button{
            font-size: 14px;
            @include user_decision_button;
        }

        .divider_left{
            border-left: 1px solid $color_login_border;
            padding-left: 40px;
            padding-right: 30px;
            padding-bottom: 40px;
        }

        .video_list{
            padding: 100px 40px;
            .col-md-offset-1-5{
                margin-left:12.5%;
            }
        }


        .intro_box{
            background-color: $color_login_panel_background;
            padding: 40px 40px 0px;

            .nav-pills li{
                a{
                    background-color: $color_login_background;
                    color: $color_main_body_user_chart_leftmenu_title;
                    font-family: $font_main_header2;
                    @include border-top-radius(4px);
                    @include border-bottom-radius(0px);

                    &:hover,
                    &:focus{
                        background-color: $color_main_body_background_chart;
                    }
                }
            }
            .nav-pills li.active{
                a,
                a:hover,
                a:focus{
                    color: $color_main_body_company_a;
                    font-family: $font_main_header2;
                    background-color: $color_login_title;
                }
            }

            @include divider_horizontal;
        }

        .intro_data{
            padding: 20px 40px 40px 40px;
        }

        .bs-docs-section{
            .bs_p {
                color: $color_main_body_user_muted;
                font-size: 14px;
                font-family: $font_main_header2;
                margin:0px;
            }
            .faq_h3{
                color: $color_login_title;
                font-family: $font_login_title;
                font-weight:500;
                @include icon_user_faq;
            }
            .faq_h5{
                font-family: $font_login_title;
                font-weight:normal;
                font-size:16px;
                padding-left:43px;
                margin:0 0 30px 0;
                color:$color_main_body_user_muted;
            }
            .manual_h3{
                color: $color_login_title;
                font-family: $font_login_title;
                font-weight:500;
                padding-left:0;
                margin: 30px 0px;
            }
            .manual_download{
                color: $color_login_title;
                font-family: $font_login_title;
                font-weight:500;
                font-size: 30px;
                margin: 30px 0px;
                display: block;

                a {
                    font-size: 14px;
                }
//                @include icon_user_pdf;
            }
            .manual_clear{
                clear:both;
            }

            .bs_h3 {
                color: $color_login_title;
                font-size: 30px;
                font-family: $font_login_title;
                padding-left: 0px;
                border-bottom: 1px solid $color_main_body_border;
                font-weight:500;
                margin:20px;
            }
            .bs_h4 {
                color: $color_main_body_company;
                font-size: 16px;
                font-family: $font_main_header2;
                padding : 15px 0px;
                margin : 0 20px;

            }
        }

        .markdown-body{
            font-size: 16px;
            line-height: 1.6;
            overflow: hidden;
            word-wrap: break-word;
            font-family: $font_main_header2;
            color:$color_main_body_user_manual_color;
            h1,h2,h3,h4,h5,h6{
                font-weight: bold;
                line-height: 1.4;
                margin-bottom: 16px;
                margin-top: 1em;
                position: relative;
                font-family: $font_main_header2;
                color:$color_main_body_user_manual_color;
                padding-left:0;
            }
            h1 {
                border-bottom: 1px solid $color_main_body_user_manual_h_boder_bottom;
                font-size: 2.25em;
                line-height: 1.2;
                padding-bottom: 0.3em;
            }
            h2 {
                border-bottom: 1px solid $color_main_body_user_manual_h_boder_bottom;
                font-size: 1.75em;
                line-height: 1.225;
                padding-bottom: 0.3em;
            }
            h3 {
                font-size: 1.5em;
                line-height: 1.43;
            }
            h4 {
                font-size: 1.25em;
            }
            h5 {
                font-size: 1em;
            }
            h6 {
                color: $color_main_body_user_manual_h6;
                font-size: 1em;
            }
            blockquote {
                border-left: 4px solid $color_main_body_user_muted_border;
                color: $color_main_body_user_manual_blockquote;
                padding: 0 15px;
            }
            p, blockquote, ul, ol, dl, table, pre {
                margin-bottom: 16px;
                margin-top: 0;
            }
            blockquote > *:first-child {
                margin-top: 0;
            }
            blockquote > *:last-child {
                margin-bottom: 0;
            }
            ul, ol {
                padding-left: 2em;
                list-style-type: disc;
            }
            ul.no-list, ol.no-list {
                list-style-type: none;
                padding: 0;
            }
            ul ul, ul ol, ol ol, ol ul {
                margin-bottom: 0;
                margin-top: 0;
            }
            li > p {
                margin-top: 16px;
            }
            dl {
                padding: 0;
            }
            dl dt {
                font-size: 1em;
                font-style: italic;
                font-weight: bold;
                margin-top: 16px;
                padding: 0;
            }
            dl dd {
                margin-bottom: 16px;
                padding: 0 16px;
            }
            table {
                display: block;
                overflow: auto;
                width: 100%;
                word-break: keep-all;
            }
            table th {
                font-weight: bold;
            }
            table th, table td {
                border: 1px solid $color_main_body_user_manual_table_border;
                padding: 6px 13px;
            }
            table tr {
                background-color: $color_main_body_user_manual_table_tr;
                border-top: 1px solid $color_main_body_user_manual_table_tr_border;
            }
            table tr:nth-child(2n) {
                background-color: $color_main_body_user_manual_table_2n;
            }
            img {
                box-sizing: border-box;
                max-width: 100%;
            }

        }
        .markdown-body > *:first-child {
            margin-top: 0 !important;
        }
        .markdown-body > *:last-child {
            margin-bottom: 0 !important;
        }

        .info_highlight {
            padding: 9px 14px;
            background-color: $color_main_body_background;
            border: 1px solid $color_main_body_border;
            border-radius: 4px;
            margin: 0 20px;
        }

        

        .bs-docs-sidebar{
            .nav{
                li{
                    a{
                        display: block;
                        font-size: 13px;
                        font-weight: 500;
                        color: $color_main_body_product;
                        padding: 4px 20px;
                    }
                    a:hover,a:focus {
                        padding-left: 19px;
                        color: $color_main_body_brand;
                        text-decoration: none;
                        background-color: transparent;
                        border-left: 1px solid $color_main_body_user_chart_leftmenu_active_bgbefore;
                    }
                }
                li.active,li.active:hover,li.active:focus{
                    a{
                        padding-left: 18px;
                        font-weight: bold;
                        color: $color_main_body_brand;
                        background-color: transparent;
                        border-left: 2px solid $color_main_body_user_chart_leftmenu_active_bgbefore;
                    }
                }
                .nav{
                    display: none;
                    padding-bottom: 10px;
                    li{
                        a{
                            padding-top:    1px;
                            padding-bottom: 1px;
                            padding-left: 30px;
                            font-size: 12px;
                            font-weight: normal;
                        }
                        a:hover,a:focus{
                            padding-left: 29px;
                        }
                    }
                    li.activ,li.active:hover,li.active:focus{
                        a{
                            font-weight: 500;
                            padding-left: 28px; 
                        }
                    }
                }
                .active{
                    ul{
                        display: block;
                    }
                }
            }
            .bs-docs-sidenav {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .list-inline{
                padding:0px;
                margin: 10px 0px 15px 0px;
                background-color: $color_main_body_user_faq_category_title;
                li{
                   padding: 15px 0px 15px 10px;
                }
            }
            .bs-faq-sidenav{
                li{
                    a{
                        font-family: $font_main_header2;
                        font-size: 14px;
                        font-weight: bold;
                        color: $color_main_body_company;
                        padding: 6px 12px;
                        border-radius:15px;
                        border: 1px solid transparent;

                    }
                    a:hover,a:focus {
                        color: $color_login_title;
                        text-decoration: none;
                        background-color: $color_login_panel_background;
                        border: 1px solid $color_login_title;
                    }
                }
                li.active,li.active:hover,li.active:focus{
                    a{
                        color: $color_login_panel_background;
                        background-color: $color_login_title;
                    }
                }
            }

        }



        .intro_video_next_button{
            font-size: 14px;
            @include user_decision_button;
            margin-bottom: 20px;
        }

        .game_list {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .table_seminar_list > tbody > tr > td{
            vertical-align: middle;
        }

        @include seminar_table_list;


        .first_intro{
            margin-top: 50px;
        }

        .whoami {

            margin: 10px 20px 35px 20px;
        }

        h2 {
            color: $color_login_title;
            font-size: 36px;
            font-family: $font_login_title;
        }

        h5 {
            color: $color_main_body_company;
            font-family: $font_main_header2;
            padding : 15px 0px 1px 0px;
            font-size: 14px;
        }

        ul {
            padding: 0;
        }

        .highlight1{
            font-weight: bold;
            color: $color_login_title;
        }
        .highlight2{
            font-weight: bold;
            color: $color_login_title;
            font-size: 24px;
        }

        .brand_list{
            background-color: $color_login_content_background;

            .user_brand{
                @include icon_user_brand;
            }

            .user_product{
                @include icon_user_product;
            }
        }

        .start_button{
            font-size: 14px;
            @include user_decision_button;
            margin-top: 20px;
            margin-bottom: 40px;
        }

    }
}


.header {

    .navbar {
        margin-bottom: 0px;
        border: 0px;
        @include border-radius(0px);
    }

    .navbar-inverse {
        background-image: -webkit-linear-gradient(top, $color_main_header 100%, $color_main_header 100%);
        background-image: linear-gradient(to bottom, $color_main_header 100%, $color_main_header 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        background-color: $color_main_header;
        background-position: 0px 0px;
        background-size: 100% 100%;

        .navbar-brand {
            color: $color_white;
            font-weight: bold;
            font-size: 12px;
            margin-right: 20px;
            padding: 13px 15px;
            img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
            }
        }

        .navbar-nav {

            li a {
                color: $color_main_header_menu;
                -webkit-text-size-adjust:none;
                font-size: 11px;
                font-weight: bold;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
            }


            .active a {
                background-image: -webkit-linear-gradient(top, $color_main_header_menu_active 100%, $color_main_header_menu_active 100%);
                background-image: linear-gradient(to bottom, $color_main_header_menu_active 100%, $color_main_header_menu_active 100%);
                box-shadow: none;

                &:before{
                    border-color:transparent transparent $color_white transparent;
                    border-style:dashed dashed solid dashed;
                    border-width:0px 8px 7px 8px;
                    height:0;
                    width:0;
                    overflow: hidden; /* 这里设置overflow, font-size, line-height */
                    font-size: 0;     /*是因为, 虽然宽高度为0, 但在IE6下会具有默认的 */
                    line-height: 0;  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
                    content:"";
                    top: 44px;
                    left: 42%;
                    position:absolute;
                }
            }

            .open a, .open a:hover, .open a:focus  {
                background-color: $color_main_header_menu_active;
            }

            .mk_dropdownlist {
                background-color: $color_main_header_menu_dropdown;

                li a {
                    color: $color_white;
                    font-weight: normal;
                    font-size: 12px;
                    background-color: $color_main_header_menu_dropdown;
                }
            }

            .mk_dropdowndivider {
                background-color: $color_main_header_menu_dropdown_line;
            }
        }
    }
}





.mainbody{

    /***** Main User Home 页面开始 *****/

    background-color: $color_main_body_background;
    border: 1px solid $color_main_body_border;
    
    .user_brand_box{
        height: 200px;

        ul {
            padding: 0;
        }
        
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
    
    .user_home_divider{
        border-right: 1px solid $color_main_body_border;
    }
    .user_home_divider_horizontal{
        border-bottom: 1px solid $color_main_body_border;
    }

    .user_maincompany{
        font-family: $font_main_header2;
        color: $color_main_body_company;
        font-weight: normal;
        font-size: 24px;
        margin: 30px 1px 20px 28px;
        
        .company{
            width: 36px;
            height: 36px;
            padding: 5px 10px;
            @include border-radius(4px);
        }

        .company_a{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_a_bg_old;
        }

        .company_b{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_b_bg_old;
        }

        .company_c{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_c_bg_old;
        }

        .company_d{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_d_bg_old;
        }

        .company_e{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_e_bg_old;
        }

        .company_f{
            color: $color_main_body_company_a;
            background-color: $color_main_body_company_f_bg_old;
        }
    }

    h5{
        color: $color_main_body_company;
        font-size: 14px;
    }

    .user_brandcolumn{
//        width: 19%;
        margin-left: 6px;
    }

    .user_title{
        color: $color_main_body_company;
        -webkit-text-size-adjust:none;
        font-size: 11px;
        @include inline-block;
        padding-bottom: 5px;
    }

    .user_brand{
        @include icon_user_brand;
    }

    .user_product{
        @include icon_user_product;
    }

    .user_competitorsnum{
        color: $color_main_body_competitors;
        font-family: $font_main_header2;
        font-size: 32px;
        text-align: center;
        margin: 55px 0px 15px 0px;
        display: block;
        
    }
    .user_competitors{
        text-align: center;
        color: $color_main_body_product;
        margin: 0px 0px 5px 0px;
        display: block;
    }

    .user_clock{
        color: $color_main_body_user_clock;
        -webkit-text-size-adjust:none;
        font-size: 11px;
        @include my_icon-sprite(userclock, no-repeat, -3px, -2px);
        padding-left: 62px;
        padding-top: 9px;
        margin: 25px 0px 20px 0px;
        display: block;
        height: 55px;
        strong {
            display: block;
        }
    }

    .user_makedecision{
        color: $color_main_body_user_clock;
        -webkit-text-size-adjust:none;
        font-size: 11px;
        margin: 12px 0px 13px 23px;

        display: block;
    }
    
    .user_decisionbutton{
        font-size: 14px;
        margin: 0px 0px 0px 23px;

        @include user_decision_button;
    }


    .user_period_bar{
        background-color:transparent;
        border-color:$color_main_body_user_period_bar_border;
        margin: 25px auto;
        border-radius:15px;
        color:$color_main_body_user_period_bar;
        ul li{
            width:70px;
            height: 15px;
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            border-color: $color_main_body_user_period_bar_border;
            background-color:$color_main_body_user_period_bar_normal;
            list-style-type: none;
        }

        .start{
            border-radius:15px 0 0 15px;
            background-color:$color_main_body_user_period_bar_border;
        }
        .past{
            background-color:$color_main_body_user_period_bar_border;
        }
        .active{
            background-color:$color_main_body_user_period_bar_active;
        }
        .end{
            border-radius:0 15px 15px 0;
        }

        .period_info_bottom{
            margin: 20px 0 0 31px;
            font-size:11px;
            display: block;
        }
        .period_info_top{
            position : absolute;
            margin:-20px 0 0 15px;
            display:block;
            -webkit-text-size-adjust:none;
            font-size: 11px;
        }
    }

    .user_search_chart{
        padding-top: 30px;
        padding-bottom: 30px;

        .droplist_company{
            color: $color_main_body_product_target;
        }
    }

    .user_chart_list{

        border-color: $color_main_body_user_chart_list_border;
        height: 396px;
//        background-color: $color_main_body_background;

        .panel-heading{
            background-color: $color_main_body_background_chart;
            border-color: $color_main_body_user_chart_list_border;
        }


        h3{
            font-size: 16px;
            color: $color_main_body_user_chart_title;
            padding: 10px 10px 10px 20px;
            text-align: center;
        }



        .list-group-item{

            background-color: $color_login_panel_background;
            @include my_icon-sprite(userchartlist, no-repeat, 75px, 20px);
            padding: 18px 1px 18px 95px;

            a {
                font-size: 13px;
                font-family: $font_main_header2;
                color: $color_main_body_user_chart_list;
                font-weight: bold;
            }
        }
        .list-group-item-active{
            background-color: $color_main_body_background;
        }

        @include spotlight_overlay;

    }

    .user_chart_list_bg2{
        background-color: $color_main_body_background;
    }







    /**********  Report 页面开始 **********/


    .IE11_chart_A3{
        height: 600px;
    }
    .IE11_chart_C2 {
        height: 800px;
    }

    .IE11_chart_B1 svg{
        width: 400px;
        height: 330px;
    }
    .IE11_chart_C1 svg{
        width: 340px;
        height: 330px;
    }
    .IE11_chart_B2 svg{
        width: 750px;
        height: 330px;
    }
    .IE11_chart_C5 svg{
        width: 750px;
        height: 580px;
    }


    .user_chart_box{
        height: 70px;
    }

    .user_chart_company {
        margin: 18px 0px 1px 28px;
    }

    .user_chart_search_box {
        padding-top: 16px;
        padding-bottom: 10px;
    }


    .user_chart_vs{
        color: $color_main_body_user_clock;
        
        font-size: 10px;
        text-align: center;
        @include my_icon-sprite(chartvs, no-repeat, 12px, 0px);
        padding-top: 25px;
        margin: 16px 0px 1px 0px;
        display: block;
    }

    .user_chart_clock{
        
        font-size: 10px;
        margin: 10px 0px 1px 0px;
    }

    .user_chart_make_decision{
        color: $color_main_body_user_clock;
        
        font-size: 10px;
        text-align: center;
        margin: 5px 0px 5px 0px;
        display: block;
    }

    .user_chart_decision_button{
        -webkit-text-size-adjust:none;
        font-size: 11px;
        font-weight: normal;
        width: 154px;
        margin: 0px 0px 0px 19px;
        padding: 8px 40px 8px 40px;
        @include user_decision_button;
    }

    .user_chart_padding{
        padding-left: 0px;
        padding-right: 0px;
    }

    .user_chart_leftmenu{

        background-color: $color_main_body_background_brand;
        border-width: 0px 0px 1px 0px;
        border-color: $color_main_body_user_chart_leftmenu_border;
        @include border-radius(0px);
        @include box-shadow($color_main_body_user_chart_leftmenu_border 0px 0px 0px);
        margin-bottom: 5px;

        .panel-heading{
            font-size: 14px;
            color: $color_main_body_user_chart_leftmenu_title;
            margin: 10px 0px 0px 15px;
        }


        .list-group-item{
            border: 0px none $color_white;
            background-color: $color_main_body_background_brand;
            @include my_icon-sprite(userchartlist, no-repeat, 30px, 12px);
            padding: 11px 1px 13px 50px;

            a{
                -webkit-text-size-adjust:none;
                font-size: 11px;
                color: $color_main_body_user_chart_list;
            }
        }
        .list-group-item-active{
            background-color: $color_main_body_user_chart_leftmenu_active_bg;
            @include my_icon-sprite(userchartlist3, no-repeat, 30px, 12px);
            a{
                font-weight: bold;
                color: $color_main_body_user_chart_title;
            }

            &:before{
                border: 3px solid $color_main_body_user_chart_leftmenu_active_bgbefore;
                width: 0;
                height: 100%;
                content: "";
                display: block;
                position: absolute;
                top:0px;
                left:0px;
            }
        }

        @include spotlight_overlay;

    }

    .user_chart_right{
        background-color: $color_login_background;

        .user_chart_single{
            border: 1px solid $color_main_body_user_chart_single_border;
            background-color: $color_login_panel_background;
            margin: 5px 0px 0px 5px;
            padding: 0px 0px 0px 0px;

            h5 {
                text-align: center;
                font-size: 14px;
                color: $color_main_body_company;
                background-color: $color_login_content_background;
                margin: 0px 0px 0px 0px;
                padding: 13px 0px;

                .chart_icon{
                    float: right;
                    padding-right: 10px;
                }

                .perception_map_button{
                    -webkit-text-size-adjust:none;
                    font-size: 11px;
                    font-family: $font_main_header2;
                }

                .perception_map_dropdown{
                    float: right;
                    margin-right: 20px;
                    margin-top: -6px;
                }

                .perception_map_group{
                    float: right;
                    margin-right: 50px;
                    margin-top: -6px;
                }


            }

            .nvtooltip{
                border: 0 none;

                h5{
                    border: 1px solid $color_main_body_user_chart_perception_map_border;
                    @include border-radius(4px);
                    padding: 8px 10px;

                }
            }
            .perception_panel{
                margin-bottom: 0px;
                .panel-heading{
                    font-size: 12px;
                    font-weight: bold;
                    font-family: $font_main_header2;
                    color: $color_main_body_user_chart_leftmenu_title;
                }
            }
            .perception_list{
                padding: 5px 10px;
                font-size: 12px;
                font-family: $font_main_header2;
                color: $color_main_body_company;
            }
            .perception_list_bg{
                background-color: $color_main_body_user_chart_perception_map_bg;
            }
            .perception_info{
                width: 155px;
                display: inline-block;
            }
            .perception_info_number{
                width: 40px;
                display: inline-block;
            }
            .perception_logo{
                padding: 6px 6px;
                margin: 0px 5px 0px 0px ;
                background-color: #0000FF;
                display: inline-block;
            }
            .perception_arrow_up{
                @include icon_arrow_up;
            }
            .perception_arrow_right{
                @include icon_arrow_right;
            }
            .perception_arrow_down{
                @include icon_arrow_down;
            }
        }

        .chart_1{
            width: 98%;
        }

        .chart_2{
            width: 48%;
        }
        .chart_3{
            width: 31%;
        }


        .user_table_single{

            h5 {
                font-size: 14px;
                color: $color_main_body_company;
                margin: 0px 0px 0px 0px;
                padding: 20px 0px;
                border-bottom: 1px solid $color_main_body_user_table_title_border;
            }

            .table_multimenu{
                margin: 20px 0px 0px 0px;
            }

            .table_multimenu li{
                a{
                    background-color: $color_main_body_background_brand;
                    color: $color_main_body_company;
                    font-family: $font_main_header2;
                    @include border-radius(4px);

                    border: 1px solid $color_main_body_decision_brand_border;
                    @include my_icon-sprite(userchartlist, no-repeat, 10px, 8px);
                    padding: 7px 15px 7px 27px;
                    margin-left: 5px;


                    &:hover,
                    &:focus{
                        background-color: $color_main_body_background_chart;
                    }
                }
            }
            .table_multimenu li.active{
                a,
                a:hover,
                a:focus{
                    color: $color_main_body_company_a;
                    background-color: $color_main_body_user_table_menu_bg_active;
                    border: 1px solid $color_main_body_user_table_menu_bg_active;
                    @include my_icon-sprite(userchartlist2, no-repeat, 10px, 8px);
                }
            }


            .table_report{
                border: 1px solid $color_main_body_user_chart_single_border;
                background-color: $color_login_panel_background;
                margin: 20px 0px 20px 0px;
                padding: 50px 40px 0px 40px;

                .nav-pills li{
                    a{
                        background-color: $color_login_background;
                        color: $color_main_body_user_chart_leftmenu_title;
                        font-family: $font_main_header2;
                        @include border-top-radius(4px);
                        @include border-bottom-radius(0px);

                        &:hover,
                        &:focus{
                            background-color: $color_main_body_background_chart;
                        }
                    }
                }
                .nav-pills li.active{
                    a,
                    a:hover,
                    a:focus{
                        color: $color_main_body_company_a;
                        font-family: $font_main_header2;
                        background-color: $color_login_title;
                    }
                }

                @include divider_horizontal;

            }

            @include table_report;

            .table > thead > tr > th{
                font-weight: bold;
            }


        }
    }



    /**********  Comparison 页面开始  **********/

    .comparison_box {
        width: 48%;
        min-height: 600px;
        margin: 20px 0px 30px 15px;
        border: 1px solid $color_login_panel_border;
        background-color: $color_login_panel_background;

        .blank_title{
            margin-top: 30%;
            font-size: 30px;
            font-family: $font_main_header2;
            color: $color_main_body_decision_subtitle;
            width: 120px;
            height: 120px;
            line-height: 120px;
            background: $color_login_background;
            @include border-radius(60px);
        }

        .blank_info{
            margin-top: 70px;
            font-size: 18px;
            color:$color_main_body_comparison_blank_info_title;

            height: 30px;
            line-height: 30px;
        }
    }

    .all_comparison_reports{
        border-bottom:1px solid $color_main_body_comparison_division_line;
        padding : 15px 0px 10px 0px ;

        h6{
            font-size: 14px;
            color: $color_main_body_product_target;
            font-family: $font_main_header2;
            padding-left: 5px;
            margin-bottom: 25px;
            .title{
                padding-left: 10px;
            }
        }

        .list-group-item{
            background-color: $color_main_body_comparison_report_box_bg;
            @include my_icon-sprite(userchartlist, no-repeat, 10px, 10px);
            padding: 0px 0px 0px 0px;
            margin: 0px 11px 20px 0px;


            border: 1px solid $color_main_body_comparison_report_box_border;
            @include border-radius(0px);
            @include box-shadow($color_main_body_comparison_report_box_border 2px 2px 6px);

            font-weight: bold;
            color: $color_login_input_label;
            width: 250px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            float: left;


        }

        .dragReportMovingBox{
            position: fixed;
            z-index: 999;

        }
    }



    /**********  Decision 页面开始  **********/

    .progress_title{
        color : $color_main_body_product_target;
    }

    .progress_radius{
        @include border-radius(16px);
    }
    .progress_bar_budget {
        background-color: $color_main_body_progress_bar_budget;
    }
    .progress_bar_normal_capacity {
        background-color: $color_main_body_progress_bar_normal_capacity;
    }
    .progress_bar_overtime {
        background-color: $color_main_body_progress_bar_overtime;
    }

    .form-control-error {
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

    .alert-tooltip{
        position: absolute;
        top : 10%;
        left : 65px;
        padding : 5px;
        z-index: 999;
        width: 75px;
    }
    .alert-tooltip:after, .alert-tooltip:before {
        top: 50%;
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .alert-tooltip:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #f2dede;
        border-width: 6px;
        margin-top: -6px;
    }
    .alert-tooltip:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #ebccd1;
        border-width: 7px;
        margin-top: -7px;
    }


    .budget_form {
        padding: 5px 0px;

        label {
            color: $color_login_input_label;
            
            font-size: 10px;
            font-weight: normal;
        }
        .budget_title {
            font-size: 18px;
        }

        input{
            width: 80px;
            margin-top : 15px;
        }
    }

    .decision_box{
        margin : 10px 0px 0px 15px;
        border:1px solid $color_login_panel_border;
        background-color: $color_login_panel_background;

        h4{
            color: $color_main_body_competitors;
            font-size: 18px;
            font-weight: normal;
            font-family: $font_main_header2;
            margin:25px 0 5px 0;
        }
        h6{
            color: $color_main_body_decision_subtitle;
            font-family: $font_main_header2;
            font-weight: normal;
            margin-top: 0;
        }

        .brand_box{
            border:1px solid $color_main_body_decision_brand_border;
            margin : 0px -10px 20px -10px;
            @include border-radius(4px);
        }

        .sku_box{
            border:1px solid $color_main_body_decision_sku_border;
            margin : 0px -10px 10px -10px;
            @include border-radius(4px);

            .input-sm{
                height: 25px;
                width: 50px;
            }
        }

        .table > thead > tr > th {
            font-weight: bold;
            color: $color_main_body_user_chart_leftmenu_title;
            vertical-align: middle;
            a {
                font-weight: bold;
                color: $color_main_body_user_chart_leftmenu_title;
            }
        }

        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            vertical-align: middle;
            border-top: 0px none $color_white;
            font-family: $font_main_header2;
            font-size: 12px;
            color:$color_main_body_company;
            position: relative;
        }

        .table .tdgroup{
            padding-top: 20px;
        }

        .sku_table {
            width : 125px;
        }

        .nav li {
            a{
                padding: 7px 15px;
            }
        }
        .nav-pills li{
            a{
                background-color: $color_login_background;
                color: $color_main_body_user_chart_leftmenu_title;
                font-family: $font_main_header2;
                @include border-top-radius(4px);
                @include border-bottom-radius(0px);

                &:hover,
                &:focus{
                    background-color: $color_main_body_background_chart;
                }
            }
        }
        .nav-pills li.active{
            a,
            a:hover,
            a:focus{
                color: $color_main_body_company_a;
                font-family: $font_main_header2;
                background-color: $color_main_body_user_chart_title;
            }
        }

        .brand_form{
            margin: 30px 0px;
        }

        h5{
            color: $color_login_input_label;
            font-family: $font_main_header2;
            font-weight: normal;
            font-size: 16px;
            padding: 10px 0px 0px 10px;
        }

        .investment_form{
            margin-top: 20px;
            margin-left: 10px;
            label {
                text-align: left;
                font-family: $font_main_header2;
                font-weight: normal;
                font-size: 13px;
            }
        }


        .decision_button{
            @include user_decision_button;
            margin: 0px 0px 20px 0px;
        }

    }

    .decision_right_box{
        width: 47%;
        .right_menu{
            border-width: 1px 0px 0px 0px;
            @include border-radius(0px);

            padding: 20px 0px 0px 0px;

            .product_portfolio{

                h4{
                    font-size: 13px;
                    font-family: $font_main_header2;
                    color: $color_main_body_company;
                    padding: 5px 0px 8px 25px;
                    @include my_icon-sprite(userbrand, no-repeat, 4px, 4px);
                }
                .sku_bg{
                    @include my_icon-sprite(userproduct, no-repeat, 4px, 5px);
                }

                .panel-heading{
                    font-size: 13px;
                    font-family: $font_main_header2;
                    font-weight: bold;
                    color: $color_main_body_user_chart_leftmenu_title;
                    background-color: $color_login_background;
                }

                @include table_report;

            }
        }
    }



    /**********  Score 页面开始  **********/

    .score_box {
        border:1px solid $color_login_panel_border;
        margin: 20px 12.5% 0 12.5%;
    }

    .feedback_box {
        border:1px solid $color_main_body_user_feedback_border;
        color: $color_main_body_user_feedback;
        margin: 20px 12.5%;
    }


    .score_info {
        background-color: $color_login_panel_background;
        padding:40px 35px 20px;
        .score_info_title{
            @include icon_user_score;
        }
    }
    .score_data {
        background-color: $color_login_panel_background;
        .table_report{
            background-color: $color_login_panel_background;
            padding: 20px;
            .company{
                width: 15px;
                height: 15px;
                padding:0;
                margin:0;
                display:-moz-inline-box; display:inline-block;
            }
            .company_1 {
                background-color: $color_main_body_company_a_bg_old;
            }
            .company_2 {
                background-color: $color_main_body_company_b_bg_old;
            }
            .company_3 {
                background-color: $color_main_body_company_c_bg_old;
            }
            .company_4 {
                background-color: $color_main_body_company_d_bg_old;
            }
            .company_5 {
                background-color: $color_main_body_company_e_bg_old;
            }
            .company_6 {
                background-color: $color_main_body_company_f_bg_old;
            }

            .table > thead > tr > th,
            .table > tbody > tr > td,
            .table > tfoot > tr > td {
                text-align:right;
            }

            .table > thead > tr > th:first-child,
            .table > tbody > tr > td:first-child,
            .table > tfoot > tr > td:first-child {
                text-align:left;
            }
            .td_info{
                background-color:$color_main_body_user_feedback_info;
            }
            .tr_warning{
                background-color:$color_main_body_user_feedback_warning;
            }
            .tr_warning td{
                font-weight: bold;
            }
            .nav-pills li{
                a{
                    background-color: $color_login_background;
                    color: $color_main_body_user_chart_leftmenu_title;
                    font-family: $font_main_header2;
                    @include border-top-radius(4px);
                    @include border-bottom-radius(0px);

                    &:hover,
                    &:focus{
                        background-color: $color_main_body_background_chart;
                    }
                }
            }
            .nav-pills li.active{
                a,
                a:hover,
                a:focus{
                    color: $color_main_body_company_a;
                    font-family: $font_main_header2;
                    background-color: $color_login_title;
                }
            }

            @include divider_horizontal;

        }

        @include table_report;
    }

    .feedback_info {
        background-color: $color_main_body_user_feedback_back;
        padding:20px;
        .provide_feedback{
            margin:10px 0;
        }
        h4{
            font-size:17px;
        }
    }
    .feedback_data{
        background-color: $color_login_panel_background;
        padding:80px 0px;
        h3 {
            color: $color_main_body_user_feedback_title;
            font-family: $font_main_header2;
            font-weight: normal;
            padding: 0 40px;
            margin:0;
        }
        h4{
            color:$color_main_body_user_feedback_subTitle;
            font-family:$font_main_header2;
            font-weight:normal;
            padding:10px 40px;
            margin:0;
            font-size:18px;
        }
        h5{
            font-family:$font_main_header2;
            font-weight:normal;
            padding:10px 68px;
            font-size:15px;
            margin:0;
        }
        p{
            padding:0;
            margin:0;
        }
        .table_feedback{
            font-size:14px;
            padding:0 40px;
            .p_left_20{
                padding-left:20px;
            }
            .table_feedback_left_title{
                width:50%;
            }
            .table_feedback_right_data{
                width:10%;
            }
            @include divider_horizontal;

        }

        .feedback_others_p{
            padding:0 68px;
            .margin_left_10{
                padding-left:20px;
            }
        }
        .clear{
            clear:both;
        }
    }
    .submit_feedback_button{
        font-size: 14px;
        @include user_decision_button;
    }



}

.bgbrand{
    background-color: $color_main_body_background_brand;
}

.chartBox {
    width: 99%;
    height:350px;
    margin: 0px 0px;
    .ac-title {
        text-align: center;
        display: none;
    }

}
.chartBox2 {
    height:600px;
}







/*************************** admin ******************************/


