body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:2020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:550px;
  top:293px;
  width:200px;
  height:22px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:130px;
  top:291px;
  width:200px;
  height:22px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u1_input:disabled {
  color:grayText;
}
#u2 {
  position:absolute;
  left:340px;
  top:293px;
  width:200px;
  height:22px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u2_input:disabled {
  color:grayText;
}
#u3 {
  position:absolute;
  left:130px;
  top:42px;
  width:405px;
  height:22px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:130px;
  top:477px;
  width:240px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:387px;
  top:482px;
  width:200px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:130px;
  top:661px;
  width:150px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:130px;
  top:325px;
  width:200px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:130px;
  top:363px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:130px;
  top:400px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:636px;
  top:408px;
  width:144px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:130px;
  top:515px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u16 {
  position:absolute;
  left:354px;
  top:518px;
  width:72px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:130px;
  top:681px;
  width:204px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:130px;
  top:717px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:130px;
  top:586px;
  width:200px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u22 {
  position:absolute;
  left:354px;
  top:591px;
  width:416px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:130px;
  top:439px;
  width:200px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:340px;
  top:440px;
  width:590px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:130px;
  top:110px;
  width:200px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:130px;
  top:188px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:365px;
  top:115px;
  width:298px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:798px;
  top:115px;
  width:1222px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:799px;
  top:190px;
  width:1101px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:129px;
  top:147px;
  width:200px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:799px;
  top:150px;
  width:611px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:797px;
  top:285px;
  width:497px;
  height:32px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:797px;
  top:330px;
  width:542px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:797px;
  top:368px;
  width:542px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:797px;
  top:400px;
  width:542px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:797px;
  top:481px;
  width:542px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:131px;
  top:221px;
  width:200px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:800px;
  top:222px;
  width:611px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:130px;
  top:255px;
  width:200px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:800px;
  top:254px;
  width:611px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:130px;
  top:626px;
  width:200px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u55 {
  position:absolute;
  left:364px;
  top:629px;
  width:349px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:131px;
  top:550px;
  width:200px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u58 {
  position:absolute;
  left:355px;
  top:553px;
  width:72px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
