body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:0px;
  width:1510px;
  height:660px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1510px;
  height:660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:1506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:70px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:130px;
  top:108px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:550px;
  top:189px;
  width:200px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:130px;
  top:187px;
  width:200px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u5_input:disabled {
  color:grayText;
}
#u6 {
  position:absolute;
  left:340px;
  top:189px;
  width:200px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:130px;
  top:20px;
  width:405px;
  height:22px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:130px;
  top:380px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:349px;
  top:385px;
  width:195px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:130px;
  top:489px;
  width:111px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:130px;
  top:147px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:130px;
  top:228px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:130px;
  top:266px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:130px;
  top:303px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:636px;
  top:311px;
  width:144px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:130px;
  top:418px;
  width:200px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u21 {
  position:absolute;
  left:354px;
  top:421px;
  width:72px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:337px;
  top:113px;
  width:283px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:130px;
  top:509px;
  width:204px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:130px;
  top:558px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:130px;
  top:454px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u29 {
  position:absolute;
  left:354px;
  top:459px;
  width:416px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:130px;
  top:342px;
  width:200px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
}
#u31_input:disabled {
  color:grayText;
}
#u32 {
  position:absolute;
  left:340px;
  top:343px;
  width:590px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
