body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:850px;
  height:660px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:70px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:130px;
  top:190px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:550px;
  top:134px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:130px;
  top:135px;
  width:200px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6 {
  position:absolute;
  left:340px;
  top:137px;
  width:200px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7 {
  position:absolute;
  left:130px;
  top:20px;
  width:142px;
  height:21px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:130px;
  top:240px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:140px;
  top:305px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:40px;
  top:410px;
  width:655px;
  height:155px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:520px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:130px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:260px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:390px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:520px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u33 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:130px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u35 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:260px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u37 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:390px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u39 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:520px;
  top:60px;
  width:130px;
  height:90px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u41 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:349px;
  top:245px;
  width:195px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
