<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>   
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/stylesheets/b2cmain.css">
    <script src="/libs/jquery/jquery.js"></script>    
    <script src="/libs/jquery-migrate/jquery-migrate.js"></script>  
    <script src="/app/js/appb2cmain.js"></script>
</head>
<body>

    <header>
        <div class="b2c-header">
            <div class="b2c-container">
                <a href="/b2c">
                    <img src="/app/css/images/b2c_logo.png" class="b2c-logo" />
                </a>
                <div class="b2c-login">
                    <div class="b2c-login-field b2c-trans">
                        <span>EN</span>
                        <span class="selected">中</span>                                              
                    </div>                   
                </div>
            </div>
        </div>
    </header>
    <div class="b2c-top-line">
      <div class="b2c-container">
          <label><i class="glyphicon glyphicon-lock"></i>安全中心</label> 
          <span>找回密码</span>
          <a href="#">输入邮箱</a>
            &gt;
          <a href="#" class="active">重设密码</a>
            &gt;
          <a href="#">完成</a>
      </div>
    </div>


    <main>
        <div class="middle b2c-container">                       
              <div class="b2c-enter-email">
                  <div class="row" >
                      <div class="col-md-5">
                          <div class="b2c-prints">

                          </div>
                      </div>
                      <div class="col-md-5">
                            <h3><strong>输入你的注册邮箱：</strong></h3>
                            <div class="form-group"><input class=" form-control" type="text" /></div>
                          <p><button type="submit">确&nbsp;&nbsp;认</button></p>
                      </div>
                     
                  </div>
                  <hr/>
                  <div class="text-center tip">
                      <h3><strong> 没有收到邮件？</strong></h3>
                      <div class="text-left">
                          &gt;<span>查看邮箱回收站、垃圾邮件</span>
                          <br/>
                          &gt;<a class="text-danger">重新发送邮件</a>
                      </div>                      
                  </div>
              </div>        
        </div>   
    </main>


<% include ../include/footerscriptlogin.ejs %>