<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>   
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/stylesheets/b2cmain.css">
    <script src="/libs/jquery/jquery.js"></script>    
    <script src="/libs/jquery-migrate/jquery-migrate.js"></script>  
    <script src="/app/js/appb2cmain.js"></script>
</head>
<body>
    
    <header>
        <div class="b2c-header">
            <div class="b2c-container">
                <a href="/b2c">
                    <img src="/app/css/images/b2c_logo.png" class="b2c-logo" />
                </a>
                <div class="b2c-login">
                    <div class="b2c-login-field b2c-trans">
                        <span>EN</span>
                        <span class="selected">中</span>                                              
                    </div>                   
                </div>
            </div>
        </div>
    </header>
    <div class="b2c-top-line">
      <div class="b2c-container">
          <label><i class="glyphicon glyphicon-lock"></i>安全中心</label> 
          <span>找回密码</span>
          <a href="#">输入邮箱</a>
            &gt;
          <a href="#" class="active">重设密码</a>
            &gt;
          <a href="#">完成</a>
      </div>
    </div>
    <main>
        <div class="middle b2c-container">                       
              <div class="b2c-enter-code">
                  <div class="row" >
                      <div class="col-md-5">
                          <div class="b2c-code">

                          </div>
                      </div>
                      <div class="col-md-5">
                            <h4><strong>请查收邮箱内验证码</strong></h4>
                            <div class="tip"><strong>我们发送验证码到你的邮箱：abc@email.com</strong></div>
                            <div class="form-group"><input type="password" class="text-center" autofocus="autofocus" placeholder="######"  /></div>
                            <div class="help text-success"><a href="#">没有收到验证码？</a></div>
                            <p><button type="submit">确&nbsp;&nbsp;认</button><button>取&nbsp;&nbsp;消</button></p>
                      </div>
                     
                  </div>
                  <hr/>                
              </div>        
        </div>   
    </main>


<% include ../include/footerscriptlogin.ejs %>