<% include ../include/headcss.ejs %>


<body ng-app="b2clogin">

    <b2c-header showlogin="true"></b2c-header>


    <div class="b2c-top-line">
      <div class="b2c-container">
          <label><i class="glyphicon glyphicon-lock"></i>安全中心</label> 
          <span>找回密码</span>
          <a href="" class="active">输入邮箱</a>
            &gt;
          <a href="" >重设密码</a>
            &gt;
          <a href="">完成</a>
      </div>
    </div>


    <div class="middle b2c-container" ng-controller="userLoginController as forgetPassword">
        <div class="b2c-enter-email">

            <div class="row" >
                <div class="col-md-5">
                    <div class="b2c-prints"></div>
                </div>

                <div class="col-md-5">
                    <form name="forgetPasswordForm" novalidate ng-cloak>
                        <h3><strong>输入你的注册邮箱：</strong></h3>

                        <div class="form-group">
                            <span class="err-msg" ng-if="forgetPasswordForm.email.$dirty&&forgetPassword.css.emailNotExistedInfo">邮箱不存在!</span>
                        </div>

                        <div class="form-group has-feedback" ng-class="{'has-success':forgetPasswordForm.email.$dirty&&forgetPasswordForm.email.$valid, 'has-error':forgetPasswordForm.email.$dirty&&forgetPasswordForm.email.$invalid}">
                            <input class="input-lg form-control" type="email" name="email" placeholder="" ng-model="forgetPassword.newUser.email" required/>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="forgetPasswordForm.email.$dirty&&forgetPasswordForm.email.$valid"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="forgetPasswordForm.email.$dirty&&forgetPasswordForm.email.$invalid"></span>
                        </div>
                        <p><button class="btn btn-default" ng-click="forgetPassword.clickForgetPassword(forgetPasswordForm)">找回密码</button></p>
                    </form>

                </div>
            </div>

            <hr/>
            <div class="text-center tip">
                <h3><strong> 没有收到邮件？</strong></h3>
                <div class="text-left">
                    &gt;<span>查看邮箱回收站、垃圾邮件</span>
                    <br/>
                    &gt;<a class="text-danger">重新发送邮件</a>
                </div>
            </div>
        </div>
    </div>


<% include ../include/footerscriptlogin.ejs %>
