<% include ../include/headcss.ejs %>

<body ng-app="b2clogin">

    <b2c-header showlogin="true"></b2c-header>


    <div class="b2c-top-line">
        <div class="b2c-container">
          <label><i class="glyphicon glyphicon-lock"></i>{{'ForgotPasswordForgotPasswordTitle' | translate}}</label>
          <span>{{'ForgotPasswordFindPassword' | translate}}</span>
          <a href="/e4e/forgotpassword">{{'ForgotPasswordEnterEmail' | translate}}</a>
            &gt;
          <a href="" class="active">{{'ForgotPasswordResetPassword' | translate}}</a>
            &gt;
          <a href="#">{{'ForgotPasswordDone' | translate}}</a>
        </div>
    </div>

    <div class="middle b2c-container" ng-controller="userLoginController as resetPassword">
        <div class="b2c-enter-code">
            <div class="row" >
                <div class="col-md-5">
                    <div class="b2c-code"></div>
                </div>

                <div class="col-md-5" ng-if="resetPassword.css.resetPasswordForm == 'tokenForm' " ng-cloak>

                    <form name="inputVerifyCodeForm" novalidate >
                        <h4><strong>{{'ResetPasswordEnterPasswordText1 ' | translate}}<%= useremail %> {{'ResetPasswordEnterPasswordText2' | translate}}：</strong></h4>

                        <div class="form-group">
                            <span class="err-msg" ng-if="inputVerifyCodeForm.passwordreset.$dirty&&resetPassword.css.resetPasswordTokenNotExistedInfo">{{'ResetPasswordEnterPasswordText3!' | translate}}</span>
                            <span class="err-msg" ng-if="inputVerifyCodeForm.passwordreset.$dirty&&inputVerifyCodeForm.passwordreset.$error.minlength || inputVerifyCodeForm.passwordreset.$dirty&&inputVerifyCodeForm.passwordreset.$error.maxlength">{{'ResetPasswordEnterPasswordText4' | translate}}!</span>
                        </div>

                        <div class="form-group has-feedback" ng-class="{'has-success':inputVerifyCodeForm.passwordreset.$dirty&&inputVerifyCodeForm.passwordreset.$valid, 'has-error':inputVerifyCodeForm.passwordreset.$dirty&&inputVerifyCodeForm.passwordreset.$invalid}">
                            <input class="input-lg form-control" type="text" name="passwordreset" autofocus="autofocus" placeholder="######" ng-model="resetPassword.newUser.passwordResetVerifyCode" required  ng-minlength="6" ng-maxlength="6"/>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="inputVerifyCodeForm.passwordreset.$dirty&&inputVerifyCodeForm.passwordreset.$valid"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="inputVerifyCodeForm.passwordreset.$dirty&&inputVerifyCodeForm.passwordreset.$invalid"></span>
                        </div>
                        <p><button class="btn btn-default" ng-click="resetPassword.clickForgetPasswordStep2(inputVerifyCodeForm)">{{'ResetPasswordEnterPasswordText5' | translate}}</button></p>
                    </form>

                    <hr/>

                    <h4><strong> {{'ForgotPasswordNoEmailText1' | translate}}</strong></h4>
                    <div class="text-left">
                        &gt;<span>{{'ForgotPasswordNoEmailText2' | translate}}</span>
                        <br/>
                        &gt;<a class="text-danger" href="/e4e/forgotpassword" target="_self">{{'ForgotPasswordNoEmailText3' | translate}}</a>
                    </div>

                </div>


                <div class="col-md-5" ng-if="resetPassword.css.resetPasswordForm == 'inputPasswordForm' " ng-cloak>
                    <form name="resetPasswordForm2" novalidate ng-cloak>
                        <h4><strong>{{'ResetPasswordResetNewPassword' | translate}}</strong></h4>

                        <div class="form-group">
                            <span class="err-msg" ng-if="resetPasswordForm2.password.$dirty&&resetPassword.css.resetPasswordTokenNotExistedInfo">{{'ResetPasswordErrorTip' | translate}}</span>
                        </div>

                        <div class="form-group has-feedback" ng-class="{'has-success':resetPasswordForm2.password.$dirty&&resetPasswordForm2.password.$valid, 'has-error':resetPasswordForm2.password.$dirty&&resetPasswordForm2.password.$invalid}">
                            <input class="input-lg form-control" type="password" name="password" placeholder="{{'ResetPasswordPasswordPlaceholder' | translate}}" ng-model="resetPassword.newUser.password" required ng-minlength="6" ng-maxlength="20"/>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="resetPasswordForm2.password.$dirty&&resetPasswordForm2.password.$valid"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="resetPasswordForm2.password.$dirty&&resetPasswordForm2.password.$invalid"></span>
                            <span class="err-msg" ng-if="resetPasswordForm2.password.$dirty&&resetPasswordForm2.password.$invalid">{{'ResetPasswordPasswordErrorTip1' | translate}}!</span>
                        </div>

                        <div class="form-group has-feedback" ng-class="{'has-success':resetPasswordForm2.passwordreinput.$dirty&&resetPasswordForm2.passwordreinput.$valid, 'has-error':resetPasswordForm2.passwordreinput.$dirty&&resetPasswordForm2.passwordreinput.$invalid}">
                            <input class="input-lg form-control" type="password" name="passwordreinput" placeholder="{{'ResetPasswordReEnterPasswordPlaceholder' | translate}}" ng-model="resetPassword.newUser.passwordReInput" required ng-match="resetPassword.newUser.password"/>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="resetPasswordForm2.passwordreinput.$dirty&&resetPasswordForm2.passwordreinput.$valid"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="resetPasswordForm2.passwordreinput.$dirty&&resetPasswordForm2.passwordreinput.$invalid"></span>
                            <span class="err-msg" ng-if="resetPasswordForm2.passwordreinput.$dirty&&resetPasswordForm2.passwordreinput.$invalid">{{'ResetPasswordReEnterPasswordErrorTip' | translate}}</span>
                        </div>

                        <div class="form-group"><button class="btn btn-default" type="submit" ng-click="resetPassword.clickResetPasswordStep3(resetPasswordForm2)" >{{'ResetPasswordResetPassword' | translate}}</button></div>
                    </form>

                </div>

                <div class="col-md-5" ng-if="resetPassword.css.resetPasswordForm == 'resetPasswordFinished' " ng-cloak>
                    <h4><strong> {{'ResetPasswordGreet' | translate}}</strong></h4>
                    <div class="text-left">
                        <p>{{'ResetPasswordResetSuccessTip' | translate}}. <a class="btn btn-info" href="/e4e/login" target="_blank">{{'ResetPasswordLoginButton' | translate}}</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>


<% include ../include/footer.ejs %>
<% include ../include/footerscriptlogin.ejs %>