<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/appe4e/img/hcd-icon.ico" />
		<meta charset="utf-8" />
<!-- 		<meta name="viewport" content="width=device-width; initial-scale=1.0"> -->
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<title>HCD E4E</title>
		<link type="text/css" rel="stylesheet" href="/appe4e/css/global.css" media="all" />
		<link type="text/css" rel="stylesheet" href="/appe4e/css/jquery.fullPage.css" media="all" />
		<link type="text/css" rel="stylesheet" href="/appe4e/css/index.css" media="all" />
		<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/appe4e/css/bootstrap-datetimepicker.min.css" />

		
	</head>