<script type="text/javascript" src='/appe4e/js/jquery.min.js'></script>
<script type="text/javascript" src='/appe4e/js/jquery-ui.min.js'></script>
<script src="/libs/angular/angular.js"></script>


<script src="/libs/angular-translate/angular-translate.js"></script>
<script src="/app/js/translation.js"></script>

<script type="text/javascript" src='/appe4e/js/directives.js'></script>
<script type="text/javascript" src='/appe4e/js/angular-register.js'></script>



<script type="text/javascript" src='/appe4e/js/jquery.fullPage.register.js'></script>
<script type="text/javascript" src='/appe4e/js/jquery.slimscroll.min.js'></script>
<script type="text/javascript" src='/appe4e/js/index.js'></script>


</html>