#unfinished {
    background: $color_background_gray_darker;
    color: $color_text;
    .section1 {
        margin-top: 20px;
        background-color: white;
        padding: 41px 82px;
        height: 290px;
        .col-half {
            float: left;
            width: 50%;
        }
        p {
            font-size: 18px;
            padding-top: 50px;
            padding-left: 50px;
            a {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
