<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/angular/angular.js"></script>
<script src="/libs/angular-translate/angular-translate.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!--<script src="/app/js/translation.js"></script>-->
<!--<script src="/app/js/websitecomponent.js"></script>-->
<!--<script src="/app/js/model.js"></script>-->
<!--<script src="/app/js/filter.js"></script>-->
<!--<script src="/app/js/appuserlogin.js"></script>-->


<script src="/app/dist/translation.js"></script>
<script src="/app/dist/websitecomponent.js"></script>
<script src="/app/dist/model.js"></script>
<script src="/app/dist/filter.js"></script>
<script src="/app/dist/appuserlogin.js"></script>

</body>
</html>