<script src="libs/jquery/dist/jquery.min.js"></script>

<script src="libs/d3/d3.js"></script>
<script src="libs/nvd3/nv.d3.js"></script>

<script src="libs/angular/angular.js"></script>
<script src="libs/angular-translate/angular-translate.min.js"></script>

<script src="libs/angular-charts/dist/angular-charts.js"></script>
<script src="libs/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
<script src="libs/angular-notify/dist/angular-notify.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="app/js/translation.js"></script>
<script src="app/js/websitecomponent.js"></script>
<script src="app/js/model.js"></script>
<script src="app/js/filter.js"></script>
<script src="app/js/appuserhome.js"></script>


</body>
</html>