@charset "UTF-8";
.icon_b2c-sprite, .b2c-header .button, .b2c-header .button:hover, .man1, .man1:hover, .man2, .man2:hover, .man3, .man3:hover, .man4, .man4:hover, .down-box .pic-1 .front, .down-box .pic-1 .back, .down-box .pic-2 .front, .down-box .pic-2 .back, .down-box .pic-3 .front, .down-box .pic-3 .back, .down-box .pic-4 .front, .down-box .pic-4 .back, .down-box .pic-5 .front, .down-box .pic-5 .back, .down-box .pic-6 .front, .down-box .pic-6 .back, .b2c-login-main .b2c-icon, .b2c-enter-email .b2c-prints, .b2c-enter-code .b2c-code {
  background-image: url('../images/icon_b2c-sd0f215c49d.png');
  background-repeat: no-repeat;
}

/********************  Angular JS 首次载入页面默认隐藏模板显示  ********************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  font-family: "Microsoft YaHei" !important;
  font-size: 16px;
  min-height: 100%;
}

.b2c-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  height: 82px;
}

.b2c-header {
  height: 82px;
  background-color: #bd2a0b;
  background-image: url(../images/b2c_nav_1x82.png);
}
.b2c-header .button {
  margin-top: 30px;
  width: 49px;
  height: 23px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-position: 0 -180px;
}
.b2c-header .button:hover, .b2c-header .button.b2c_login_49x23-hover {
  background-position: 0 -203px;
}
.b2c-header .button:hover {
  background-position: 0 -203px;
}
.b2c-header .b2c-logo {
  margin-left: 157px;
  margin-top: 12px;
  float: left;
}
.b2c-header .b2c-login {
  float: right;
  width: 600px;
  height: 82px;
  overflow: hidden;
}
.b2c-header .b2c-trans {
  margin-right: 5px;
  margin-top: 10px;
  padding-top: 20px;
  color: #fff;
  font-size: 12px;
}
.b2c-header .b2c-trans .selected {
  background-color: #7f1a03;
}
.b2c-header .b2c-trans span {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #eda494;
  background-color: #b92909;
  border: 1px solid #eda494;
}
.b2c-header .b2c-trans span:hover {
  background-color: #7f1a03;
}
.b2c-header .b2c-login-box {
  margin-right: 50px;
}
.b2c-header .b2c-login-field {
  float: left;
  width: 165px;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}
.b2c-header .b2c-login-field div {
  line-height: 20px;
  height: 20px;
}
.b2c-header .b2c-login-field label, .b2c-header .b2c-login-field a {
  color: #EDA694 !important;
  padding-left: 2px;
  vertical-align: top;
}
.b2c-header .b2c-login-input {
  width: 150px;
  padding: 0;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  border: solid #932F18 1px;
  color: #333;
}

.b2c-footer-fix {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.b2c-footer {
  background-color: #121318;
  height: 126px;
}

.b2c-footer-content {
  width: 900px;
  margin: 0 auto;
  height: 126px;
  font-size: 12px;
  padding-top: 37px;
}
.b2c-footer-content a {
  margin-right: 65px;
  margin-top: 37px;
  color: #fff;
}
.b2c-footer-content img {
  margin-left: 80px;
}

.middle {
  height: 570px;
}

.left {
  padding-left: 132px;
  padding-top: 60px;
  float: right;
}

.right {
  float: right;
  margin-left: 100px;
  margin-right: 50px;
}

/********************  Register Form Left Part  ********************/
.b2c-man {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 357px;
}

.man1 {
  width: 133px;
  background-position: 0 -226px;
}
.man1:hover, .man1.b2c_man_1-hover {
  background-position: 0 -583px;
}
.man1:hover {
  background-position: 0 -583px;
}

.man2 {
  width: 117px;
  background-position: 0 -940px;
}
.man2:hover, .man2.b2c_man_2-hover {
  background-position: 0 -1297px;
}
.man2:hover {
  background-position: 0 -1297px;
}

.man3 {
  width: 127px;
  background-position: 0 -1654px;
}
.man3:hover, .man3.b2c_man_3-hover {
  background-position: 0 -2011px;
}
.man3:hover {
  background-position: 0 -2011px;
}

.man4 {
  width: 114px;
  background-position: 0 -2368px;
}
.man4:hover, .man4.b2c_man_4-hover {
  background-position: 0 -2725px;
}
.man4:hover {
  background-position: 0 -2725px;
}

.b2c-man-title {
  margin-top: 40px;
  margin-left: 75px;
  font-size: 20px;
  color: #999;
  bottom: 100px;
}

/********************  Register Form Right Part ********************/
.reg-form .title {
  font-weight: 900;
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.reg-form input[type=text], .reg-form input[type=password], .reg-form input[type=email] {
  width: 395px;
}
.reg-form input[type=text]:focus, .reg-form input[type=password]:focus, .reg-form input[type=email]:focus {
  outline: none !important;
  background-color: #FFFFEE;
}
.reg-form input[type=text]:focus:-moz-placeholder, .reg-form input[type=password]:focus:-moz-placeholder, .reg-form input[type=email]:focus:-moz-placeholder {
  color: #333;
}
.reg-form input[type=text]:focus::-moz-placeholder, .reg-form input[type=password]:focus::-moz-placeholder, .reg-form input[type=email]:focus::-moz-placeholder {
  color: #333;
}
.reg-form input[type=text]:focus:-ms-input-placeholder, .reg-form input[type=password]:focus:-ms-input-placeholder, .reg-form input[type=email]:focus:-ms-input-placeholder {
  color: #333;
}
.reg-form input[type=text]:focus::-webkit-input-placeholder, .reg-form input[type=password]:focus::-webkit-input-placeholder, .reg-form input[type=email]:focus::-webkit-input-placeholder {
  color: #333;
}
.reg-form .female {
  margin-left: 15px;
}
.reg-form button {
  border-style: none;
  padding: 6px 60px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  background-color: #c42e0d;
  -moz-box-shadow: #7e200b 0px 2px 4px;
  -webkit-box-shadow: #7e200b 0px 2px 4px;
  box-shadow: #7e200b 0px 2px 4px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.reg-form button:hover, .reg-form button:focus {
  color: #ffffff;
  background-color: #7e200b;
}
.reg-form .radio {
  padding: 10px 0px;
}
.reg-form .radio .err-msg {
  margin-top: -7px;
}
.reg-form .err-msg {
  right: 100%;
  margin-top: -44px;
  margin-right: 10px;
  z-index: 999;
  position: absolute;
  width: 240px;
  color: #FFFFFF;
  background: #da8449;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
}
.reg-form .err-msg:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid #da8449;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.reg-verify-account {
  padding-top: 100px;
  padding-left: 170px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #999;
}
.reg-verify-account .tip-header {
  margin-left: 0px;
}
.reg-verify-account a {
  letter-spacing: 0;
}
.reg-verify-account p {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 40px;
}

/********************  Index Page Below Pics ********************/
.down-box {
  height: 550px;
  background-color: #c42e0d;
  padding: 105px 0px 0px 0px;
}
.down-box .pic-area {
  height: 295px;
  padding-left: 157px;
  overflow: hidden;
}
.down-box .pic {
  width: 255px;
  height: 295px;
  margin-right: 100px;
  float: left;
}
.down-box .pic-1 {
  margin-top: 20px;
}
.down-box .pic-1 .front {
  background-position: 0 -3740px;
}
.down-box .pic-1 .back {
  background-position: 0 -3485px;
}
.down-box .pic-2 {
  margin-top: 20px;
}
.down-box .pic-2 .front {
  background-position: 0 -4250px;
}
.down-box .pic-2 .back {
  background-position: 0 -3995px;
}
.down-box .pic-3 {
  margin-top: 20px;
}
.down-box .pic-3 .front {
  background-position: 0 -4760px;
}
.down-box .pic-3 .back {
  background-position: 0 -4505px;
}
.down-box .pic-4 .front {
  background-position: 0 -5270px;
}
.down-box .pic-4 .back {
  background-position: 0 -5015px;
}
.down-box .pic-5 .front {
  background-position: 0 -5780px;
}
.down-box .pic-5 .back {
  background-position: 0 -5525px;
}
.down-box .pic-6 .front {
  background-position: 0 -6290px;
}
.down-box .pic-6 .back {
  background-position: 0 -6035px;
}
.down-box .flip-container {
  width: 255px;
  height: 255px;
  position: relative;
  position: relative;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.down-box .flip-container .front, .down-box .flip-container .back {
  background-color: #c42e0d;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.no-csstransforms3d .down-box .flip-container .front {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.down-box .flip-container .back {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.no-csstransforms3d .down-box .flip-container .back {
  visibility: hidden;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.down-box .flip-container:hover .front {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.no-csstransforms3d .down-box .flip-container:hover .front {
  visibility: hidden;
}
.down-box .flip-container:hover .back {
  -moz-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.no-csstransforms3d .down-box .flip-container:hover .back {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.down-box .back {
  font-size: 12px;
  color: #fff;
  padding-top: 35px;
}
.down-box .back .title {
  text-indent: 0;
  text-align: center;
}
.down-box .back p {
  text-align: justify;
  text-indent: 2em;
  line-height: 25px;
  padding: 0 25px;
}
.down-box .switch-button {
  text-align: center;
  margin-top: 60px;
  margin-left: 2px;
}
.down-box .switch-button a {
  margin-right: 75px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
}
.down-box .switch-button a:hover {
  text-decoration: none;
}
.down-box .switch-button .selected {
  padding: 8px 18px;
  border: 2px solid #fff;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
}

/********************  Login Form  ********************/
.b2c-login-main {
  padding-top: 100px;
  padding-left: 250px;
  vertical-align: top;
}
.b2c-login-main .title {
  font-weight: 900;
  font-size: 24px;
}
.b2c-login-main .form-group {
  width: 290px;
}
.b2c-login-main .checkbox-inline {
  font-size: 12px;
  display: inline;
}
.b2c-login-main .b2c-icon {
  margin-top: 23px;
  width: 180px;
  height: 180px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-position: 0 -3305px;
}
.b2c-login-main .b2c-login-area {
  width: 360px;
  height: 365px;
  background-color: #dedede;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.b2c-login-main .b2c-login-errmsg {
  background-color: #ffe6e1;
  padding: 5px 10px;
  font-size: 12px;
}
.b2c-login-main .btn {
  border-style: none;
  padding: 6px 60px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  background-color: #c42e0d;
  -moz-box-shadow: #7e200b 0px 2px 4px;
  -webkit-box-shadow: #7e200b 0px 2px 4px;
  box-shadow: #7e200b 0px 2px 4px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.b2c-login-main .btn:hover, .b2c-login-main .btn:focus {
  color: #ffffff;
  background-color: #7e200b;
}
.b2c-login-main .register {
  margin-left: 10px;
}
.b2c-login-main .forgot-password {
  font-size: 12px;
  margin-top: 15px;
}

/********************  Verify Email  ********************/
.b2c-top-line {
  background-color: #4f5565;
  color: #7f89a2;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
.b2c-top-line i {
  margin-right: 10px;
}
.b2c-top-line label {
  margin-left: 170px;
  font-size: 20px;
}
.b2c-top-line span {
  margin-left: 200px;
  margin-right: 30px;
  font-size: 16px;
}
.b2c-top-line a {
  color: #7f89a2;
}
.b2c-top-line .active {
  color: #b6bdd7;
}

.b2c-enter-email .b2c-prints {
  margin-top: 44px;
  margin-left: 260px;
  height: 180px;
  width: 180px;
  background-position: 0 -3082px;
}
.b2c-enter-email h3 {
  margin-top: 67px;
  margin-bottom: 20px;
}
.b2c-enter-email button {
  margin-top: 11px;
  border-style: none;
  padding: 6px 60px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  background-color: #c42e0d;
  -moz-box-shadow: #7e200b 0px 2px 4px;
  -webkit-box-shadow: #7e200b 0px 2px 4px;
  box-shadow: #7e200b 0px 2px 4px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.b2c-enter-email button:hover, .b2c-enter-email button:focus {
  color: #ffffff;
  background-color: #7e200b;
}
.b2c-enter-email .err-msg {
  background-color: #ffe6e1;
  padding: 5px 10px;
  font-size: 12px;
}
.b2c-enter-email hr {
  width: 100%;
  margin-top: 30px;
}

.b2c-enter-code .b2c-code {
  margin-top: 44px;
  margin-left: 260px;
  height: 180px;
  width: 180px;
  background-position: 0 -3082px;
}
.b2c-enter-code h4 {
  margin-top: 60px;
  margin-bottom: 20px;
}
.b2c-enter-code input[type=text] {
  letter-spacing: 10px;
}
.b2c-enter-code button {
  border-style: none;
  padding: 6px 60px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  background-color: #c42e0d;
  -moz-box-shadow: #7e200b 0px 2px 4px;
  -webkit-box-shadow: #7e200b 0px 2px 4px;
  box-shadow: #7e200b 0px 2px 4px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-right: 10px;
}
.b2c-enter-code button:hover, .b2c-enter-code button:focus {
  color: #ffffff;
  background-color: #7e200b;
}
.b2c-enter-code .err-msg {
  background-color: #ffe6e1;
  padding: 5px 10px;
  font-size: 12px;
}
.b2c-enter-code hr {
  width: 100%;
  margin-top: 30px;
}

/********************  User Profile  ********************/
.profile-underline {
  text-decoration: underline;
}

.profile-body {
  background-color: #ECEDE8;
}

.profile-content {
  padding-left: 30px;
  padding-right: 30px;
}
.profile-content > header {
  background-color: #ffffff;
  margin-bottom: 10px;
  position: relative;
}
.profile-content > header nav {
  margin-top: 19px;
  margin-left: 160px;
  margin-bottom: 14px;
  text-align: center;
  width: 350px;
}
.profile-content > header nav > div > div:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}
.profile-content > header nav .selected {
  border-bottom: solid #C22D0F;
  padding: 12px;
  font-weight: bolder;
}
.profile-content > header nav .small-down-triangle {
  border: 4px solid;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(135deg);
  position: absolute;
  width: 0;
  bottom: 10px;
  right: 25px;
}
.profile-content section {
  background-color: #ffffff;
}
.profile-content .banner {
  height: 200px;
  background-color: #550000;
}
.profile-content .user-info {
  position: absolute;
  top: 109px;
  left: 44px;
  width: 300px;
}
.profile-content .user-info .profile-head {
  float: left;
  width: 131px;
  height: 131px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.profile-content .user-info .text-info {
  color: #ffffff;
  float: left;
  margin-top: 1.5em;
  margin-left: 1.5em;
}
.profile-content .user-info .text-info .profile-username {
  font-size: 1.5em;
  font-weight: bold;
}
.profile-content .profile-section {
  padding-top: 2em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.detail-nav {
  line-height: 2;
  text-align: center;
  max-width: 300px;
  padding-left: 44px;
}
.detail-nav ul, .detail-nav li {
  list-style: none;
  padding-left: 0;
}
.detail-nav li {
  border: 1px solid black;
  border-bottom: none;
}
.detail-nav li:last-child {
  border-bottom: solid;
  border-width: 1px;
}
.detail-nav .avatar {
  width: 100%;
  margin-bottom: 20px;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
.detail-nav .edit-title {
  line-height: 2.5;
  position: relative;
}
.detail-nav .upload-avatar-button {
  background-color: #741F01;
  color: #ffffff;
  cursor: pointer;
}
.detail-nav .profile-nav {
  cursor: pointer;
}
.detail-nav .up-triangle {
  border: 5px solid;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
  position: absolute;
  width: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -5px;
}
.detail-nav .selected {
  background-color: #d98348;
  color: #ffffff;
}

.upload-avatar-window {
  padding: 1em;
  text-align: left;
  top: 350px;
  z-index: 100;
  position: fixed;
  left: 50%;
  margin-left: -250px;
  width: 500px;
}
.upload-avatar-window header {
  background-color: #bd2a0b;
  color: #ffffff;
  padding-left: 1em;
}
.upload-avatar-window main {
  padding: 30px 30px 20px;
  background-color: #ffffff;
  font-weight: bolder;
}
.upload-avatar-window main .avatar-window-icon {
  width: 100px;
  height: 100px;
  margin-right: 12px;
}
.upload-avatar-window main > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 0.9em;
}
.upload-avatar-window main .select-file {
  font-weight: normal;
}
.upload-avatar-window main .select-file button {
  border-style: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: #938F8F 0px 2px 4px;
  -webkit-box-shadow: #938F8F 0px 2px 4px;
  box-shadow: #938F8F 0px 2px 4px;
  background-color: #E2E2E2;
  margin-right: 8px;
  height: 25px;
  width: 80px;
  line-height: 1.8;
}
.upload-avatar-window footer {
  background-color: #ddd;
  overflow: hidden;
}
.upload-avatar-window footer button {
  float: right;
  border-style: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: #797979 0px 2px 4px;
  -webkit-box-shadow: #797979 0px 2px 4px;
  box-shadow: #797979 0px 2px 4px;
  width: 80px;
  background-color: #6C6C6C;
  margin: 10px;
  font-size: 0.8em;
  line-height: 1.8;
  color: #ffffff;
}
.upload-avatar-window .avatar-border {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 1em solid rgba(128, 128, 128, 0.55);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.profile-detail {
  padding-right: 2em;
}
.profile-detail label {
  font-weight: normal;
}
.profile-detail form {
  border: 1px solid;
  border-top: none;
  padding: 1em;
  font-size: 0.9em;
}
.profile-detail form > div > div {
  margin-bottom: 0.5em;
}
.profile-detail .profile-detail-title {
  background-color: #d98348;
  color: #ffffff;
  padding-left: 0.8em;
  line-height: 1.8;
}
.profile-detail .profile-detail-tip {
  padding-left: 0.8em;
  background-color: #d9d9d9;
  margin-bottom: 0.8em;
}
.profile-detail .profile-detail-tip span {
  line-height: 2;
}
.profile-detail .done-button {
  margin: 0.2em 0.4em;
  background-color: #444444;
  color: #ffffff;
  padding: 0.2em 0.4em;
  float: right;
  font-size: 0.9em;
  border-style: none;
  -moz-box-shadow: #797979 0px 2px 4px;
  -webkit-box-shadow: #797979 0px 2px 4px;
  box-shadow: #797979 0px 2px 4px;
}
.profile-detail .add-button {
  background-color: #B82A0C;
  -moz-box-shadow: #7e200b 0px 2px 4px;
  -webkit-box-shadow: #7e200b 0px 2px 4px;
  box-shadow: #7e200b 0px 2px 4px;
  width: 65px;
  border-style: none;
  color: #ffffff;
}
.profile-detail .profile-button-container {
  padding: 1.2em 0 0;
}
.profile-detail .profile-button-container button {
  margin-right: 0.5em;
  padding: 0.2em 0.5em;
  width: 85px;
  border-style: none;
  color: #ffffff;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.profile-detail .profile-button-container button[type=submit] {
  background-color: #B82A0C;
  -moz-box-shadow: #7e200b 0px 2px 4px;
  -webkit-box-shadow: #7e200b 0px 2px 4px;
  box-shadow: #7e200b 0px 2px 4px;
}
.profile-detail .profile-button-container .cancel {
  background-color: #797979;
  -moz-box-shadow: #797979 0px 2px 4px;
  -webkit-box-shadow: #797979 0px 2px 4px;
  box-shadow: #797979 0px 2px 4px;
}
.profile-detail .team-info .team-label {
  width: 90px;
}
.profile-detail .team-info .head {
  margin-left: 80px;
}
.profile-detail .team-info .team-name .team-label {
  padding-right: 0;
}
.profile-detail .team-info input:not(:last-child) {
  margin-right: 5px;
}
