@charset "UTF-8";
/********************  自定义按钮样式  ********************/
/*********************************************************/
/** 仿 iOS 系统通知数字样式 **/
/* line 209, ../sass/main.scss */
.num {
  color: #fff;
  padding: 0px 5px;
  position: absolute;
  top: 9px;
  left: 50px;
  text-indent: 0;
  text-align: center;
  text-decoration: none;
  line-height: 16px;
  font-family: "Verdana", "Geneva, sans-serif";
  font-weight: normal;
  font-size: 11px;
  z-index: 999;
}

/** 仿 iOS 系统通知数字样式 **/
/* line 230, ../sass/main.scss */
.num2 {
  background-color: #BF1031;
  background-image: -webkit-linear-gradient(top, #BF1031, #BF1031);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #BF1031, #BF1031);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #BF1031, #BF1031);
  /* IE10 */
  background-image: -o-linear-gradient(top, #BF1031, #BF1031);
  /* Opera 11.10+ */
  color: #fff;
  padding: 0px 5px;
  border: 0px solid #fff;
  border-radius: 16px;
  position: absolute;
  top: 9px;
  left: 50px;
  box-shadow: 0 1px 3px 0px black;
  text-shadow: -1px -1px 0 #000;
  text-indent: 0;
  text-align: center;
  text-decoration: none;
  line-height: 16px;
  font-family: "Verdana", "Geneva, sans-serif";
  font-weight: normal;
  font-size: 11px;
  z-index: 999;
}

/********************  Angular JS 首次载入页面默认隐藏模板显示  ********************/
/* line 261, ../sass/main.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*********************************************************/
/* line 268, ../sass/main.scss */
body {
  font-family: "Verdana", "Geneva, sans-serif";
  font-size: 12px;
  font-weight: normal;
}
/* line 272, ../sass/main.scss */
body a, body button {
  font-family: "Verdana", "Geneva, sans-serif";
  font-size: 12px;
  font-weight: normal;
}

/* line 279, ../sass/main.scss */
.width_big_screen {
  width: 1340px;
  padding: 0 15px;
}

/* line 284, ../sass/main.scss */
.login {
  background-color: #f5f5f5;
  padding: 50px 0px 50px 0px;
}
/* line 288, ../sass/main.scss */
.login .bg_whoami {
  background-image: url(../images/whoami.png);
  background-repeat: no-repeat;
  background-position: 0px 120px;
}
/* line 295, ../sass/main.scss */
.login .panelbox {
  border: #e1e1e1 1px solid;
  background-color: #ffffff;
}
/* line 299, ../sass/main.scss */
.login .panelbox h3 {
  color: #5375e1;
  font-size: 30px;
  font-family: "Georgia", "Arial, sans-serif";
  padding-left: 20px;
}
/* line 306, ../sass/main.scss */
.login .panelbox h4 {
  color: #373737;
  font-size: 18px;
  font-family: "Helvetica", "Arial, sans-serif";
  padding: 20px 0px 15px 0px;
}
/* line 313, ../sass/main.scss */
.login .panelbox .contentbox {
  background-image: url(../images/loginbg1.png);
  background-repeat: no-repeat;
  background-position: 20px 22px;
  background-color: #fcfcfc;
  margin: 10px 20px 35px 20px;
}
/* line 322, ../sass/main.scss */
.login .panelbox label {
  font-weight: normal;
  font-size: 13px;
  font-family: "Helvetica", "Arial, sans-serif";
}
/* line 329, ../sass/main.scss */
.login .panelbox .login_button {
  font-size: 14px;
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #19acfe;
  padding: 10px 40px 10px 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #19acfe), color-stop(100%, #19acfe));
  background: -moz-linear-gradient(top, #19acfe, #19acfe);
  background: -webkit-linear-gradient(top, #19acfe, #19acfe);
  background: linear-gradient(to bottom, #19acfe, #19acfe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #19acfe;
}
/* line 97, ../sass/main.scss */
.login .panelbox .login_button:hover, .login .panelbox .login_button:focus {
  background-color: #1F9BFE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9bfe), color-stop(100%, #1f9bfe));
  background: -moz-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: -webkit-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: linear-gradient(to bottom, #1f9bfe, #1f9bfe);
}
/* line 104, ../sass/main.scss */
.login .panelbox .login_button .active, .login .panelbox .login_button:active {
  background-color: #298ffe;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #298ffe), color-stop(100%, #298ffe));
  background: -moz-linear-gradient(top, #298ffe, #298ffe);
  background: -webkit-linear-gradient(top, #298ffe, #298ffe);
  background: linear-gradient(to bottom, #298ffe, #298ffe);
  border-color: #298FFE;
}
/* line 334, ../sass/main.scss */
.login .panelbox .divider_left {
  border-left: 1px solid #f7f1f1;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
}
/* line 341, ../sass/main.scss */
.login .panelbox .video_list {
  margin-top: 70px;
  padding: 0px 0px 70px 30px;
}
/* line 346, ../sass/main.scss */
.login .panelbox .intro_video_next_button {
  font-size: 14px;
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #19acfe;
  padding: 10px 40px 10px 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #19acfe), color-stop(100%, #19acfe));
  background: -moz-linear-gradient(top, #19acfe, #19acfe);
  background: -webkit-linear-gradient(top, #19acfe, #19acfe);
  background: linear-gradient(to bottom, #19acfe, #19acfe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #19acfe;
  margin-bottom: 20px;
}
/* line 97, ../sass/main.scss */
.login .panelbox .intro_video_next_button:hover, .login .panelbox .intro_video_next_button:focus {
  background-color: #1F9BFE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9bfe), color-stop(100%, #1f9bfe));
  background: -moz-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: -webkit-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: linear-gradient(to bottom, #1f9bfe, #1f9bfe);
}
/* line 104, ../sass/main.scss */
.login .panelbox .intro_video_next_button .active, .login .panelbox .intro_video_next_button:active {
  background-color: #298ffe;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #298ffe), color-stop(100%, #298ffe));
  background: -moz-linear-gradient(top, #298ffe, #298ffe);
  background: -webkit-linear-gradient(top, #298ffe, #298ffe);
  background: linear-gradient(to bottom, #298ffe, #298ffe);
  border-color: #298FFE;
}
/* line 352, ../sass/main.scss */
.login .panelbox .first_intro {
  margin-top: 50px;
}
/* line 357, ../sass/main.scss */
.login .panelbox .whoami {
  margin: 10px 20px 35px 20px;
}
/* line 362, ../sass/main.scss */
.login .panelbox h2 {
  color: #5375e1;
  font-size: 36px;
  font-family: "Georgia", "Arial, sans-serif";
}
/* line 368, ../sass/main.scss */
.login .panelbox h5 {
  color: #373737;
  font-family: "Helvetica", "Arial, sans-serif";
  padding: 15px 0px 1px 0px;
  font-size: 14px;
}
/* line 375, ../sass/main.scss */
.login .panelbox .highlight1 {
  font-weight: bold;
  color: #5375e1;
}
/* line 379, ../sass/main.scss */
.login .panelbox .highlight2 {
  font-weight: bold;
  color: #5375e1;
  font-size: 24px;
}
/* line 385, ../sass/main.scss */
.login .panelbox .brand_list {
  background-color: #fcfcfc;
}
/* line 388, ../sass/main.scss */
.login .panelbox .brand_list .user_brand {
  color: #2f4e9b;
  font-size: 14px;
  background-image: url(../images/userbrand.png);
  background-repeat: no-repeat;
  background-position: 1px 0px;
  padding-left: 25px;
  margin: 32px 5px 20px 3px;
  display: block;
}
/* line 392, ../sass/main.scss */
.login .panelbox .brand_list .user_product {
  color: #464646;
  font-size: 11px;
  background-image: url(../images/userproduct.png);
  background-repeat: no-repeat;
  background-position: 1px 2px;
  padding-left: 20px;
  width: 150px;
  height: 24px;
}
/* line 149, ../sass/main.scss */
.login .panelbox .brand_list .user_product span {
  color: #6f6f6f;
}
/* line 397, ../sass/main.scss */
.login .panelbox .start_button {
  font-size: 14px;
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #19acfe;
  padding: 10px 40px 10px 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #19acfe), color-stop(100%, #19acfe));
  background: -moz-linear-gradient(top, #19acfe, #19acfe);
  background: -webkit-linear-gradient(top, #19acfe, #19acfe);
  background: linear-gradient(to bottom, #19acfe, #19acfe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #19acfe;
  margin-top: 20px;
  margin-bottom: 40px;
}
/* line 97, ../sass/main.scss */
.login .panelbox .start_button:hover, .login .panelbox .start_button:focus {
  background-color: #1F9BFE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9bfe), color-stop(100%, #1f9bfe));
  background: -moz-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: -webkit-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: linear-gradient(to bottom, #1f9bfe, #1f9bfe);
}
/* line 104, ../sass/main.scss */
.login .panelbox .start_button .active, .login .panelbox .start_button:active {
  background-color: #298ffe;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #298ffe), color-stop(100%, #298ffe));
  background: -moz-linear-gradient(top, #298ffe, #298ffe);
  background: -webkit-linear-gradient(top, #298ffe, #298ffe);
  background: linear-gradient(to bottom, #298ffe, #298ffe);
  border-color: #298FFE;
}

/* line 410, ../sass/main.scss */
.header .navbar {
  margin-bottom: 0px;
  border: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 416, ../sass/main.scss */
.header .navbar-inverse {
  background-image: -webkit-linear-gradient(top, #2d428e 100%, #2d428e 100%);
  background-image: linear-gradient(to bottom, #2d428e 100%, #2d428e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-color: #2d428e;
  background-position: 0px 0px;
  background-size: 100% 100%;
}
/* line 425, ../sass/main.scss */
.header .navbar-inverse .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  margin-right: 20px;
  padding: 13px 15px;
}
/* line 431, ../sass/main.scss */
.header .navbar-inverse .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
/* line 439, ../sass/main.scss */
.header .navbar-inverse .navbar-nav li a {
  color: #d5def5;
  font-size: 11px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
/* line 449, ../sass/main.scss */
.header .navbar-inverse .navbar-nav .active a {
  background-image: -webkit-linear-gradient(top, #4358a1 100%, #4358a1 100%);
  background-image: linear-gradient(to bottom, #4358a1 100%, #4358a1 100%);
  box-shadow: none;
}
/* line 454, ../sass/main.scss */
.header .navbar-inverse .navbar-nav .active a:before {
  border-color: transparent transparent #ffffff transparent;
  border-style: dashed dashed solid dashed;
  border-width: 0px 8px 7px 8px;
  height: 0;
  width: 0;
  overflow: hidden;
  /* 这里设置overflow, font-size, line-height */
  font-size: 0;
  /*是因为, 虽然宽高度为0, 但在IE6下会具有默认的 */
  line-height: 0;
  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
  content: "";
  top: 44px;
  left: 42%;
  position: absolute;
}
/* line 470, ../sass/main.scss */
.header .navbar-inverse .navbar-nav .open a, .header .navbar-inverse .navbar-nav .open a:hover, .header .navbar-inverse .navbar-nav .open a:focus {
  background-color: #4358a1;
}
/* line 474, ../sass/main.scss */
.header .navbar-inverse .navbar-nav .mk_dropdownlist {
  background-color: #4d6bd1;
}
/* line 477, ../sass/main.scss */
.header .navbar-inverse .navbar-nav .mk_dropdownlist li a {
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  background-color: #4d6bd1;
}
/* line 485, ../sass/main.scss */
.header .navbar-inverse .navbar-nav .mk_dropdowndivider {
  background-color: #3e5bbf;
}

/* line 496, ../sass/main.scss */
.mainbody {
  /***** MainUserHome 页面开始 *****/
  background-color: #fbfbfb;
  border: 1px solid #eceff1;
  /**********  Report 页面开始 **********/
  /**********  Score 页面开始  **********/
  /**********  Decision 页面开始  **********/
}
/* line 503, ../sass/main.scss */
.mainbody .user_brand_box {
  height: 200px;
}
/* line 507, ../sass/main.scss */
.mainbody .user_home_divider {
  border-right: 1px solid #eceff1;
}
/* line 510, ../sass/main.scss */
.mainbody .user_home_divider_horizontal {
  border-bottom: 1px solid #eceff1;
}
/* line 514, ../sass/main.scss */
.mainbody .user_maincompany {
  font-family: "Helvetica", "Arial, sans-serif";
  color: #373737;
  font-weight: normal;
  font-size: 24px;
  margin: 30px 1px 20px 28px;
}
/* line 521, ../sass/main.scss */
.mainbody .user_maincompany .company_a {
  color: #ffffff;
  background-color: #39ae41;
  width: 36px;
  height: 36px;
  padding: 5px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 531, ../sass/main.scss */
.mainbody h5 {
  color: #373737;
  font-size: 14px;
}
/* line 536, ../sass/main.scss */
.mainbody .user_brandcolumn {
  width: 19%;
  margin-left: 6px;
}
/* line 541, ../sass/main.scss */
.mainbody .user_title {
  color: #373737;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-bottom: 5px;
}
/* line 548, ../sass/main.scss */
.mainbody .user_brand {
  color: #2f4e9b;
  font-size: 14px;
  background-image: url(../images/userbrand.png);
  background-repeat: no-repeat;
  background-position: 1px 0px;
  padding-left: 25px;
  margin: 32px 5px 20px 3px;
  display: block;
}
/* line 552, ../sass/main.scss */
.mainbody .user_product {
  color: #464646;
  font-size: 11px;
  background-image: url(../images/userproduct.png);
  background-repeat: no-repeat;
  background-position: 1px 2px;
  padding-left: 20px;
  width: 150px;
  height: 24px;
}
/* line 149, ../sass/main.scss */
.mainbody .user_product span {
  color: #6f6f6f;
}
/* line 556, ../sass/main.scss */
.mainbody .user_competitorsnum {
  color: #2f4e9b;
  font-family: "Helvetica", "Arial, sans-serif";
  font-size: 32px;
  text-align: center;
  margin: 55px 0px 15px 0px;
  display: block;
}
/* line 565, ../sass/main.scss */
.mainbody .user_competitors {
  text-align: center;
  color: #464646;
  margin: 0px 0px 5px 0px;
  display: block;
}
/* line 572, ../sass/main.scss */
.mainbody .user_clock {
  color: #373737;
  font-size: 11px;
  background-image: url(../images/userclock.png);
  background-repeat: no-repeat;
  background-position: 1px 0px;
  padding-left: 62px;
  padding-top: 9px;
  margin: 25px 0px 20px 0px;
  display: block;
  height: 55px;
}
/* line 583, ../sass/main.scss */
.mainbody .user_clock strong {
  display: block;
}
/* line 588, ../sass/main.scss */
.mainbody .user_makedecision {
  color: #373737;
  font-size: 11px;
  margin: 12px 0px 13px 23px;
  display: block;
}
/* line 596, ../sass/main.scss */
.mainbody .user_decisionbutton {
  font-size: 14px;
  margin: 0px 0px 0px 23px;
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #19acfe;
  padding: 10px 40px 10px 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #19acfe), color-stop(100%, #19acfe));
  background: -moz-linear-gradient(top, #19acfe, #19acfe);
  background: -webkit-linear-gradient(top, #19acfe, #19acfe);
  background: linear-gradient(to bottom, #19acfe, #19acfe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #19acfe;
}
/* line 97, ../sass/main.scss */
.mainbody .user_decisionbutton:hover, .mainbody .user_decisionbutton:focus {
  background-color: #1F9BFE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9bfe), color-stop(100%, #1f9bfe));
  background: -moz-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: -webkit-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: linear-gradient(to bottom, #1f9bfe, #1f9bfe);
}
/* line 104, ../sass/main.scss */
.mainbody .user_decisionbutton .active, .mainbody .user_decisionbutton:active {
  background-color: #298ffe;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #298ffe), color-stop(100%, #298ffe));
  background: -moz-linear-gradient(top, #298ffe, #298ffe);
  background: -webkit-linear-gradient(top, #298ffe, #298ffe);
  background: linear-gradient(to bottom, #298ffe, #298ffe);
  border-color: #298FFE;
}
/* line 604, ../sass/main.scss */
.mainbody .user_period_bar {
  background-color: transparent;
  border-color: #dfe0e5;
  margin: 25px auto;
  border-radius: 15px;
  color: #9FA5BF;
}
/* line 610, ../sass/main.scss */
.mainbody .user_period_bar ul li {
  width: 70px;
  height: 15px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #dfe0e5;
  background-color: #edeef1;
}
/* line 619, ../sass/main.scss */
.mainbody .user_period_bar .start {
  border-radius: 15px 0 0 15px;
  background-color: #dfe0e5;
}
/* line 623, ../sass/main.scss */
.mainbody .user_period_bar .past {
  background-color: #dfe0e5;
}
/* line 626, ../sass/main.scss */
.mainbody .user_period_bar .active {
  background-color: #b3c2e7;
}
/* line 629, ../sass/main.scss */
.mainbody .user_period_bar .end {
  border-radius: 0 15px 15px 0;
}
/* line 633, ../sass/main.scss */
.mainbody .user_period_bar .period_info_bottom {
  margin: 20px 0 0 31px;
  position: absolute;
  font-size: 11px;
}
/* line 638, ../sass/main.scss */
.mainbody .user_period_bar .period_info_top {
  position: absolute;
  margin: -20px 0 0 11px;
  display: block;
  font-size: 11px;
}
/* line 646, ../sass/main.scss */
.mainbody .user_search_chart {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 650, ../sass/main.scss */
.mainbody .user_search_chart .droplist_company {
  color: #6f6f6f;
}
/* line 655, ../sass/main.scss */
.mainbody .user_chart_list {
  border-color: #cfd3e0;
  height: 389px;
}
/* line 660, ../sass/main.scss */
.mainbody .user_chart_list .panel-heading {
  background-color: #dbe3f6;
  border-color: #cfd3e0;
}
/* line 666, ../sass/main.scss */
.mainbody .user_chart_list h3 {
  font-size: 16px;
  color: #2f4e9b;
  padding: 10px 10px 10px 20px;
  text-align: center;
}
/* line 673, ../sass/main.scss */
.mainbody .user_chart_list ul .list-group-item {
  background-color: #ffffff;
  background-image: url(../images/userchartlist.png);
  background-repeat: no-repeat;
  background-position: 75px 20px;
  padding: 18px 1px 18px 95px;
}
/* line 681, ../sass/main.scss */
.mainbody .user_chart_list ul .list-group-item a {
  font-size: 13px;
  font-family: "Helvetica", "Arial, sans-serif";
  color: #464646;
  font-weight: bold;
}
/* line 688, ../sass/main.scss */
.mainbody .user_chart_list ul .list-group-item-active {
  background-color: #fbfbfb;
}
/* line 692, ../sass/main.scss */
.mainbody .user_chart_list_bg2 {
  background-color: #fbfbfb;
}
/* line 704, ../sass/main.scss */
.mainbody .user_chart_box {
  height: 70px;
}
/* line 708, ../sass/main.scss */
.mainbody .user_chart_company {
  margin: 18px 0px 1px 28px;
}
/* line 712, ../sass/main.scss */
.mainbody .user_chart_search_box {
  padding-top: 16px;
  padding-bottom: 10px;
}
/* line 718, ../sass/main.scss */
.mainbody .user_chart_vs {
  color: #373737;
  font-size: 10px;
  text-align: center;
  background-image: url(../images/chartvs.png);
  background-repeat: no-repeat;
  background-position: 12px 0px;
  padding-top: 25px;
  margin: 16px 0px 1px 0px;
  display: block;
}
/* line 730, ../sass/main.scss */
.mainbody .user_chart_clock {
  font-size: 10px;
  margin: 10px 0px 1px 0px;
}
/* line 735, ../sass/main.scss */
.mainbody .user_chart_make_decision {
  color: #373737;
  font-size: 10px;
  text-align: center;
  margin: 5px 0px 5px 0px;
  display: block;
}
/* line 743, ../sass/main.scss */
.mainbody .user_chart_decision_button {
  font-size: 11px;
  font-weight: normal;
  margin: 0px 0px 0px 19px;
  padding: 8px 40px 8px 40px;
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #19acfe;
  padding: 10px 40px 10px 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #19acfe), color-stop(100%, #19acfe));
  background: -moz-linear-gradient(top, #19acfe, #19acfe);
  background: -webkit-linear-gradient(top, #19acfe, #19acfe);
  background: linear-gradient(to bottom, #19acfe, #19acfe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #19acfe;
}
/* line 97, ../sass/main.scss */
.mainbody .user_chart_decision_button:hover, .mainbody .user_chart_decision_button:focus {
  background-color: #1F9BFE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9bfe), color-stop(100%, #1f9bfe));
  background: -moz-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: -webkit-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: linear-gradient(to bottom, #1f9bfe, #1f9bfe);
}
/* line 104, ../sass/main.scss */
.mainbody .user_chart_decision_button .active, .mainbody .user_chart_decision_button:active {
  background-color: #298ffe;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #298ffe), color-stop(100%, #298ffe));
  background: -moz-linear-gradient(top, #298ffe, #298ffe);
  background: -webkit-linear-gradient(top, #298ffe, #298ffe);
  background: linear-gradient(to bottom, #298ffe, #298ffe);
  border-color: #298FFE;
}
/* line 751, ../sass/main.scss */
.mainbody .user_chart_padding {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 756, ../sass/main.scss */
.mainbody .user_chart_leftmenu {
  background-color: #fdfdfd;
  border-width: 0px 0px 1px 0px;
  border-color: #e7e9ed;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: #e7e9ed 0px 0px 0px;
  -webkit-box-shadow: #e7e9ed 0px 0px 0px;
  box-shadow: #e7e9ed 0px 0px 0px;
  margin-bottom: 5px;
}
/* line 765, ../sass/main.scss */
.mainbody .user_chart_leftmenu .panel-heading {
  font-size: 14px;
  color: #6f6f6f;
  margin: 10px 0px 0px 15px;
}
/* line 772, ../sass/main.scss */
.mainbody .user_chart_leftmenu ul .list-group-item {
  border: 0px none #000000;
  background-color: #fdfdfd;
  background-image: url(../images/userchartlist.png);
  background-repeat: no-repeat;
  background-position: 30px 12px;
  padding: 11px 1px 13px 50px;
}
/* line 780, ../sass/main.scss */
.mainbody .user_chart_leftmenu ul .list-group-item a {
  font-size: 11px;
  color: #464646;
}
/* line 785, ../sass/main.scss */
.mainbody .user_chart_leftmenu ul .list-group-item-active {
  background-color: #eef3ff;
}
/* line 788, ../sass/main.scss */
.mainbody .user_chart_leftmenu ul .list-group-item-active a {
  font-weight: bold;
  color: #2f4e9b;
}
/* line 793, ../sass/main.scss */
.mainbody .user_chart_leftmenu ul .list-group-item-active:before {
  border: 3px solid #236ac7;
  width: 0;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 807, ../sass/main.scss */
.mainbody .user_chart_right {
  background-color: #f5f5f5;
}
/* line 810, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single {
  border: 1px solid #d9dce3;
  background-color: #ffffff;
  margin: 10px 5px 10px 10px;
  padding: 0px 0px 0px 0px;
}
/* line 816, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single h5 {
  text-align: center;
  font-size: 14px;
  color: #373737;
  background-color: #fcfcfc;
  margin: 0px 0px 0px 0px;
  padding: 13px 0px;
}
/* line 824, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single h5 .chart_icon {
  float: right;
  padding-right: 10px;
}
/* line 829, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single h5 .perception_map_button {
  font-size: 11px;
  font-family: "Helvetica", "Arial, sans-serif";
}
/* line 833, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single h5 .perception_map_group {
  float: right;
  margin-right: 60px;
  margin-top: -5px;
}
/* line 840, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .nvtooltip {
  border: 0 none;
}
/* line 843, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .nvtooltip h5 {
  border: 1px solid #bdbdbd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 8px 10px;
}
/* line 850, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .perception_panel {
  margin-bottom: 0px;
}
/* line 852, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .perception_panel .panel-heading {
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica", "Arial, sans-serif";
  color: #6f6f6f;
}
/* line 859, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .perception_list {
  padding: 5px 10px;
  font-size: 12px;
  font-family: "Helvetica", "Arial, sans-serif";
  color: #373737;
}
/* line 865, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .perception_list_bg {
  background-color: #f9f9f9;
}
/* line 868, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .perception_info {
  width: 180px;
  display: inline-block;
}
/* line 872, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .perception_info_number {
  width: 40px;
  display: inline-block;
}
/* line 876, ../sass/main.scss */
.mainbody .user_chart_right .user_chart_single .perception_logo {
  padding: 6px 6px;
  margin: 0px 5px 0px 0px;
  background-color: #0000FF;
  display: inline-block;
}
/* line 884, ../sass/main.scss */
.mainbody .user_chart_right .chart_1 {
  width: 98%;
}
/* line 888, ../sass/main.scss */
.mainbody .user_chart_right .chart_2 {
  width: 48%;
}
/* line 891, ../sass/main.scss */
.mainbody .user_chart_right .chart_3 {
  width: 31%;
}
/* line 898, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single h5 {
  font-size: 14px;
  color: #373737;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 906, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_multimenu {
  margin: 20px 0px 0px 0px;
}
/* line 911, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_multimenu li a {
  background-color: #fdfdfd;
  color: #373737;
  font-family: "Helvetica", "Arial, sans-serif";
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c2c2d3;
  background-image: url(../images/userchartlist.png);
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding: 7px 15px 7px 27px;
  margin-left: 5px;
}
/* line 925, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_multimenu li a:hover, .mainbody .user_chart_right .user_table_single .table_multimenu li a:focus {
  background-color: #dbe3f6;
}
/* line 932, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_multimenu li.active a,
.mainbody .user_chart_right .user_table_single .table_multimenu li.active a:hover,
.mainbody .user_chart_right .user_table_single .table_multimenu li.active a:focus {
  color: #ffffff;
  background-color: #4b67ae;
  background-image: url(../images/userchartlist2.png);
  border: 1px solid #4b67ae;
}
/* line 943, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_report {
  border: 1px solid #d9dce3;
  background-color: #ffffff;
  margin: 20px 0px 20px 0px;
  padding: 50px 40px 0px 40px;
}
/* line 950, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_report .nav-pills li a {
  background-color: #f5f5f5;
  color: #6f6f6f;
  font-family: "Helvetica", "Arial, sans-serif";
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 957, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_report .nav-pills li a:hover, .mainbody .user_chart_right .user_table_single .table_report .nav-pills li a:focus {
  background-color: #dbe3f6;
}
/* line 964, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_report .nav-pills li.active a,
.mainbody .user_chart_right .user_table_single .table_report .nav-pills li.active a:hover,
.mainbody .user_chart_right .user_table_single .table_report .nav-pills li.active a:focus {
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #5375e1;
}
/* line 195, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table_report .divider_horizontal {
  width: 100%;
  border-top: 1px solid #5375e1;
  margin-bottom: 10px;
}
/* line 157, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table > thead > tr > th {
  font-size: 12px;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  color: #6f6f6f;
  background-color: #f5f5f5;
}
/* line 165, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table > thead > tr > td,
.mainbody .user_chart_right .user_table_single .table > tbody > tr > td,
.mainbody .user_chart_right .user_table_single .table > tfoot > tr > td {
  vertical-align: middle;
  border-top: 1px solid #ddd;
  font-family: "Helvetica", "Arial, sans-serif";
  font-size: 12px;
  color: #6f6f6f;
}
/* line 175, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table-striped > tbody > tr:nth-child(odd) > td,
.mainbody .user_chart_right .user_table_single .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}
/* line 180, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table-striped > tbody > tr:nth-child(even) > td,
.mainbody .user_chart_right .user_table_single .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fbfbfb;
}
/* line 185, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table-striped tbody tr:nth-child(odd):hover td,
.mainbody .user_chart_right .user_table_single .table-striped tbody tr:nth-child(odd):hover th,
.mainbody .user_chart_right .user_table_single .table-striped tbody tr:nth-child(even):hover td,
.mainbody .user_chart_right .user_table_single .table-striped tbody tr:nth-child(even):hover th {
  background-color: #feeaff;
}
/* line 979, ../sass/main.scss */
.mainbody .user_chart_right .user_table_single .table > thead > tr > th {
  font-weight: bold;
}
/* line 990, ../sass/main.scss */
.mainbody .score_box {
  border: 1px solid #e1e1e1;
  margin: 20px 12.5% 10px 12.5%;
}
/* line 995, ../sass/main.scss */
.mainbody .feedback_box {
  border: 1px solid #FF941F;
  color: #A07041;
  margin: 0 12.5% 20px;
}
/* line 1001, ../sass/main.scss */
.mainbody .score_info {
  background-color: #ffffff;
}
/* line 1003, ../sass/main.scss */
.mainbody .score_info .score_info_title {
  color: #2f4e9b;
  font-size: 14px;
  /*change another picture*/
  background-image: url(../images/userbrand.png);
  background-repeat: no-repeat;
  background-position: 1px 0px;
  padding-left: 25px;
  margin: 20px;
  display: block;
}
/* line 1007, ../sass/main.scss */
.mainbody .score_data {
  background-color: #ffffff;
}
/* line 1011, ../sass/main.scss */
.mainbody .feedback_info {
  background-color: #FFF2E5;
  padding: 20px;
}
/* line 1014, ../sass/main.scss */
.mainbody .feedback_info .provide_feedback {
  margin: 10px 0;
}
/* line 1018, ../sass/main.scss */
.mainbody .feedback_data {
  background-color: #ffffff;
  padding: 80px 0px;
}
/* line 1021, ../sass/main.scss */
.mainbody .feedback_data h3 {
  color: #5E66E6;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  padding: 0 40px;
  margin: 0;
}
/* line 1028, ../sass/main.scss */
.mainbody .feedback_data h4 {
  color: #5D67D2;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  padding: 10px 40px;
  margin: 0;
  font-size: 16px;
}
/* line 1036, ../sass/main.scss */
.mainbody .feedback_data h5 {
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  padding: 10px 68px;
  font-size: 15px;
  margin: 0;
}
/* line 1043, ../sass/main.scss */
.mainbody .feedback_data p {
  padding: 0;
  margin: 0;
}
/* line 1047, ../sass/main.scss */
.mainbody .feedback_data .table_feedback {
  font-size: 14px;
  padding: 0 40px;
}
/* line 1050, ../sass/main.scss */
.mainbody .feedback_data .table_feedback .p_left_20 {
  padding-left: 20px;
}
/* line 1053, ../sass/main.scss */
.mainbody .feedback_data .table_feedback .table_feedback_left_title {
  width: 50%;
}
/* line 1056, ../sass/main.scss */
.mainbody .feedback_data .table_feedback .table_feedback_right_data {
  width: 10%;
}
/* line 195, ../sass/main.scss */
.mainbody .feedback_data .table_feedback .divider_horizontal {
  width: 100%;
  border-top: 1px solid #5375e1;
  margin-bottom: 10px;
}
/* line 1062, ../sass/main.scss */
.mainbody .feedback_data .feedback_others_p {
  padding: 0 68px;
}
/* line 1066, ../sass/main.scss */
.mainbody .submit_feedback_button {
  font-size: 14px;
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #19acfe;
  padding: 10px 40px 10px 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #19acfe), color-stop(100%, #19acfe));
  background: -moz-linear-gradient(top, #19acfe, #19acfe);
  background: -webkit-linear-gradient(top, #19acfe, #19acfe);
  background: linear-gradient(to bottom, #19acfe, #19acfe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #19acfe;
}
/* line 97, ../sass/main.scss */
.mainbody .submit_feedback_button:hover, .mainbody .submit_feedback_button:focus {
  background-color: #1F9BFE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9bfe), color-stop(100%, #1f9bfe));
  background: -moz-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: -webkit-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: linear-gradient(to bottom, #1f9bfe, #1f9bfe);
}
/* line 104, ../sass/main.scss */
.mainbody .submit_feedback_button .active, .mainbody .submit_feedback_button:active {
  background-color: #298ffe;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #298ffe), color-stop(100%, #298ffe));
  background: -moz-linear-gradient(top, #298ffe, #298ffe);
  background: -webkit-linear-gradient(top, #298ffe, #298ffe);
  background: linear-gradient(to bottom, #298ffe, #298ffe);
  border-color: #298FFE;
}
/* line 1073, ../sass/main.scss */
.mainbody .progress_title {
  color: #6f6f6f;
}
/* line 1077, ../sass/main.scss */
.mainbody .progress_radius {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
/* line 1080, ../sass/main.scss */
.mainbody .progress_bar_budget {
  background-color: #6071b9;
}
/* line 1083, ../sass/main.scss */
.mainbody .progress_bar_normal_capacity {
  background-color: #7169af;
}
/* line 1086, ../sass/main.scss */
.mainbody .progress_bar_overtime {
  background-color: #ad5ab3;
}
/* line 1090, ../sass/main.scss */
.mainbody .form-control-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 1096, ../sass/main.scss */
.mainbody .alert-tooltip {
  position: absolute;
  top: 10%;
  left: 65px;
  padding: 5px;
  z-index: 999;
}
/* line 1103, ../sass/main.scss */
.mainbody .alert-tooltip:after, .mainbody .alert-tooltip:before {
  top: 50%;
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 1113, ../sass/main.scss */
.mainbody .alert-tooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #f2dede;
  border-width: 6px;
  margin-top: -6px;
}
/* line 1119, ../sass/main.scss */
.mainbody .alert-tooltip:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #ebccd1;
  border-width: 7px;
  margin-top: -7px;
}
/* line 1127, ../sass/main.scss */
.mainbody .budget_form {
  padding: 5px 0px;
}
/* line 1130, ../sass/main.scss */
.mainbody .budget_form label {
  color: #252525;
  font-size: 10px;
  font-weight: normal;
}
/* line 1135, ../sass/main.scss */
.mainbody .budget_form .budget_title {
  font-size: 18px;
}
/* line 1139, ../sass/main.scss */
.mainbody .budget_form input {
  width: 80px;
  margin-top: 15px;
}
/* line 1145, ../sass/main.scss */
.mainbody .decision_box {
  margin: 10px 0px 0px 15px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
}
/* line 1150, ../sass/main.scss */
.mainbody .decision_box h4 {
  color: #2f4e9b;
  font-size: 18px;
  font-weight: normal;
  font-family: "Helvetica", "Arial, sans-serif";
  margin: 25px 0 5px 0;
}
/* line 1157, ../sass/main.scss */
.mainbody .decision_box h6 {
  color: #bdbdbd;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  margin-top: 0;
}
/* line 1164, ../sass/main.scss */
.mainbody .decision_box .brand_box {
  border: 1px solid #c2c2d3;
  margin: 0px -10px 20px -10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 1170, ../sass/main.scss */
.mainbody .decision_box .sku_box {
  border: 1px solid #ebebeb;
  margin: 0px -10px 10px -10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 1175, ../sass/main.scss */
.mainbody .decision_box .sku_box .input-sm {
  height: 25px;
  width: 50px;
}
/* line 1181, ../sass/main.scss */
.mainbody .decision_box .table > thead > tr > th {
  font-weight: bold;
  color: #6f6f6f;
}
/* line 1184, ../sass/main.scss */
.mainbody .decision_box .table > thead > tr > th a {
  font-weight: bold;
  color: #6f6f6f;
}
/* line 1190, ../sass/main.scss */
.mainbody .decision_box .table > thead > tr > td,
.mainbody .decision_box .table > tbody > tr > td,
.mainbody .decision_box .table > tfoot > tr > td {
  vertical-align: middle;
  border-top: 1px none #ddd;
  font-family: "Helvetica", "Arial, sans-serif";
  font-size: 12px;
  color: #373737;
  position: relative;
}
/* line 1201, ../sass/main.scss */
.mainbody .decision_box .table .tdgroup {
  padding-top: 20px;
}
/* line 1205, ../sass/main.scss */
.mainbody .decision_box .sku_table {
  width: 125px;
}
/* line 1210, ../sass/main.scss */
.mainbody .decision_box .nav li a {
  padding: 7px 15px;
}
/* line 1215, ../sass/main.scss */
.mainbody .decision_box .nav-pills li a {
  background-color: #f5f5f5;
  color: #6f6f6f;
  font-family: "Helvetica", "Arial, sans-serif";
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 1222, ../sass/main.scss */
.mainbody .decision_box .nav-pills li a:hover, .mainbody .decision_box .nav-pills li a:focus {
  background-color: #dbe3f6;
}
/* line 1229, ../sass/main.scss */
.mainbody .decision_box .nav-pills li.active a,
.mainbody .decision_box .nav-pills li.active a:hover,
.mainbody .decision_box .nav-pills li.active a:focus {
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #2f4e9b;
}
/* line 1238, ../sass/main.scss */
.mainbody .decision_box .brand_form {
  margin: 30px 0px;
}
/* line 1242, ../sass/main.scss */
.mainbody .decision_box h5 {
  color: #252525;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  font-size: 16px;
  padding: 10px 0px 0px 10px;
}
/* line 1250, ../sass/main.scss */
.mainbody .decision_box .investment_form {
  margin-top: 20px;
  margin-left: 10px;
}
/* line 1253, ../sass/main.scss */
.mainbody .decision_box .investment_form label {
  text-align: left;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  font-size: 13px;
}
/* line 1262, ../sass/main.scss */
.mainbody .decision_box .decision_button {
  color: #ffffff;
  font-family: "Helvetica", "Arial, sans-serif";
  background-color: #19acfe;
  padding: 10px 40px 10px 40px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5YWNmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #19acfe), color-stop(100%, #19acfe));
  background: -moz-linear-gradient(top, #19acfe, #19acfe);
  background: -webkit-linear-gradient(top, #19acfe, #19acfe);
  background: linear-gradient(to bottom, #19acfe, #19acfe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff19acfe', endColorstr='#ff19acfe', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-color: #19acfe;
  margin: 0px 0px 20px 0px;
}
/* line 97, ../sass/main.scss */
.mainbody .decision_box .decision_button:hover, .mainbody .decision_box .decision_button:focus {
  background-color: #1F9BFE;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmOWJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f9bfe), color-stop(100%, #1f9bfe));
  background: -moz-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: -webkit-linear-gradient(top, #1f9bfe, #1f9bfe);
  background: linear-gradient(to bottom, #1f9bfe, #1f9bfe);
}
/* line 104, ../sass/main.scss */
.mainbody .decision_box .decision_button .active, .mainbody .decision_box .decision_button:active {
  background-color: #298ffe;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5OGZmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #298ffe), color-stop(100%, #298ffe));
  background: -moz-linear-gradient(top, #298ffe, #298ffe);
  background: -webkit-linear-gradient(top, #298ffe, #298ffe);
  background: linear-gradient(to bottom, #298ffe, #298ffe);
  border-color: #298FFE;
}
/* line 1269, ../sass/main.scss */
.mainbody .decision_right_box {
  width: 47%;
}
/* line 1271, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu {
  border-width: 1px 0px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 20px 0px 0px 0px;
}
/* line 1280, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio h4 {
  font-size: 13px;
  font-family: "Helvetica", "Arial, sans-serif";
  color: #373737;
  padding: 5px 0px 8px 25px;
  background-image: url(../images/userbrand.png);
  background-repeat: no-repeat;
  background-position: 4px 2px;
}
/* line 1289, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio .sku_bg {
  background-image: url(../images/userproduct.png);
  background-repeat: no-repeat;
  background-position: 4px 5px;
}
/* line 1295, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio .panel-heading {
  font-size: 13px;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: bold;
  color: #6f6f6f;
  background-color: #f1f1f1;
}
/* line 157, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio .table > thead > tr > th {
  font-size: 12px;
  font-family: "Helvetica", "Arial, sans-serif";
  font-weight: normal;
  color: #6f6f6f;
  background-color: #f5f5f5;
}
/* line 165, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio .table > thead > tr > td,
.mainbody .decision_right_box s
.right_menu .product_portfolio .table > tbody > tr > td,
.mainbody .decision_right_box s
.right_menu .product_portfolio .table > tfoot > tr > td {
  vertical-align: middle;
  border-top: 1px solid #ddd;
  font-family: "Helvetica", "Arial, sans-serif";
  font-size: 12px;
  color: #6f6f6f;
}
/* line 175, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped > tbody > tr:nth-child(odd) > td,
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}
/* line 180, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped > tbody > tr:nth-child(even) > td,
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fbfbfb;
}
/* line 185, ../sass/main.scss */
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped tbody tr:nth-child(odd):hover td,
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped tbody tr:nth-child(odd):hover th,
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped tbody tr:nth-child(even):hover td,
.mainbody .decision_right_box s
.right_menu .product_portfolio .table-striped tbody tr:nth-child(even):hover th {
  background-color: #feeaff;
}

/* line 1312, ../sass/main.scss */
.bgbrand {
  background-color: #fdfdfd;
}

/* line 1316, ../sass/main.scss */
.chartBox {
  width: 99%;
  height: 350px;
  margin: 0px 0px;
}
/* line 1320, ../sass/main.scss */
.chartBox .ac-title {
  text-align: center;
  display: none;
}
/* line 1325, ../sass/main.scss */
.chartBox .bar_chart_label {
  font-size: 10px;
}

/*************************** admin ******************************/
