@charset "UTF-8";
/** 仿 iOS 系统通知数字样式 **/
/* line 18, ../sass/main.scss */
.num {
  background-color: #bf1031;
  background-image: -webkit-linear-gradient(top, #bf1031, #bf1031);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #bf1031, #bf1031);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #bf1031, #bf1031);
  /* IE10 */
  background-image: -o-linear-gradient(top, #bf1031, #bf1031);
  /* Opera 11.10+ */
  color: #fff;
  padding: 0px 5px;
  border: 0px solid #fff;
  border-radius: 16px;
  position: absolute;
  margin-top: -26px;
  margin-left: 34px;
  box-shadow: 0 1px 3px 0px black;
  text-shadow: -1px -1px 0 #000;
  text-indent: 0;
  text-align: center;
  text-decoration: none;
  line-height: 16px;
  font-family: "Verdana", "Geneva, sans-serif";
  font-weight: normal;
  font-size: 11px; }

/*********************************************************/
/* line 44, ../sass/main.scss */
.mainbox {
  width: 1340px; }

/* line 51, ../sass/main.scss */
header {
  font-family: "Verdana", "Geneva, sans-serif";
  font-size: 12px;
  font-weight: normal; }
  /* line 55, ../sass/main.scss */
  header a {
    font-family: "Verdana", "Geneva, sans-serif";
    font-size: 12px;
    font-weight: normal; }
  /* line 61, ../sass/main.scss */
  header .navbar {
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }
  /* line 65, ../sass/main.scss */
  header .navbar-inverse {
    background-image: -webkit-linear-gradient(top, #2d428e 100%, #2d428e 100%);
    background-image: linear-gradient(to bottom, #2d428e 100%, #2d428e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-color: #2d428e;
    background-position: 0px 0px;
    background-size: 100% 100%; }
    /* line 74, ../sass/main.scss */
    header .navbar-inverse .navbar-brand {
      color: #ffffff;
      font-weight: bold;
      font-size: 12px;
      margin-right: 30px;
      padding: 13px 15px; }
      /* line 80, ../sass/main.scss */
      header .navbar-inverse .navbar-brand img {
        max-width: 100%;
        max-height: 100%; }
    /* line 88, ../sass/main.scss */
    header .navbar-inverse .navbar-nav li a {
      color: #d5def5;
      font-size: 11px;
      font-weight: bold;
      padding-left: 15px;
      padding-right: 15px; }
    /* line 96, ../sass/main.scss */
    header .navbar-inverse .navbar-nav .active a {
      background-image: -webkit-linear-gradient(top, #4358a1 100%, #4358a1 100%);
      background-image: linear-gradient(to bottom, #4358a1 100%, #4358a1 100%);
      box-shadow: none; }
    /* line 102, ../sass/main.scss */
    header .navbar-inverse .navbar-nav .open a, header .navbar-inverse .navbar-nav .open a:hover, header .navbar-inverse .navbar-nav .open a:focus {
      background-color: #4358a1; }
    /* line 106, ../sass/main.scss */
    header .navbar-inverse .navbar-nav .mk_dropdownlist {
      background-color: #4d6bd1; }
      /* line 109, ../sass/main.scss */
      header .navbar-inverse .navbar-nav .mk_dropdownlist li a {
        color: #ffffff;
        font-weight: normal;
        font-size: 12px;
        background-color: #4d6bd1; }
    /* line 121, ../sass/main.scss */
    header .navbar-inverse .navbar-nav .mk_dropdowndivider {
      background-color: #3e5bbf; }
