$font_main_header: 'Verdana', 'Geneva, sans-serif';
$font_main_header2: 'Helvetica', 'Arial, sans-serif';
$font_login_title: 'Georgia', 'Arial, sans-serif';

$path_images: "./";

$icon-spacing : 130px;

$color_white : #ffffff;


$color_main_header: #2d428e;
$color_main_header_menu: #d5def5;
$color_main_header_menu_active: #4358a1;
$color_main_header_menu_dropdown: #4d6bd1;
$color_main_header_menu_dropdown_line: #3e5bbf;
$color_main_header_menu_num: #BF1031;

$color_login_border: #f7f1f1;
$color_login_background: #f5f5f5;
$color_login_panel_border : #e1e1e1;
$color_login_panel_background : #ffffff;
$color_login_content_background : #fcfcfc;
$color_login_title : #5375e1;
$color_login_input_label : #252525;



$color_main_body_border: #eceff1;

$color_main_body_background: #fbfbfb;
$color_main_body_background_brand: #fdfdfd;
$color_main_body_background_chart: #dbe3f6;

$color_main_body_company: #373737;
$color_main_body_company_a: #ffffff;
$color_main_body_company_1_bg: #39ae41;
$color_main_body_company_2_bg: #ff983d;
$color_main_body_company_3_bg: #0087f0;
$color_main_body_company_4_bg: #8781bd;
$color_main_body_company_5_bg: #f26c4f;
$color_main_body_company_6_bg: #bd8cbf;
$color_main_body_company_a_bg_old: #004CE5;
$color_main_body_company_b_bg_old: #BB0000;
$color_main_body_company_c_bg_old: #FFBC01;
$color_main_body_company_d_bg_old: #339933;
$color_main_body_company_e_bg_old: #990099;
$color_main_body_company_f_bg_old: #FF5200;

$color_main_body_brand: #2f4e9b;
$color_main_body_product: #464646;
$color_main_body_product_target: #6f6f6f;
$color_main_body_competitors: #2f4e9b;
$color_main_body_user_clock: #373737;
$color_main_body_user_decision_button: #19acfe;
$color_main_body_user_muted: #999;
$color_main_body_user_muted_border : #ddd;

$color_main_body_user_period_bar: #9FA5BF;
$color_main_body_user_period_bar_border: #dfe0e5;
$color_main_body_user_period_bar_active: #b3c2e7;
$color_main_body_user_period_bar_normal: #edeef1;


$color_main_body_user_chart_title: #2f4e9b;
$color_main_body_user_chart_list: #464646;
$color_main_body_user_chart_list_border: #cfd3e0;
$color_main_body_user_chart_leftmenu_title: #6f6f6f;
$color_main_body_user_chart_leftmenu_active_bg: #eef3ff;
$color_main_body_user_chart_leftmenu_active_bgbefore: #236ac7;
$color_main_body_user_chart_leftmenu_border: #e7e9ed;
$color_main_body_user_chart_single_border: #d9dce3;
$color_main_body_user_chart_perception_map_bg: #f9f9f9;
$color_main_body_user_chart_perception_map_border: #bdbdbd;
$color_main_body_user_table_title_border: #e1e1e1;
$color_main_body_user_table_menu_bg_active: #4b67ae;

$color_main_body_comparison_blank_info_title: #9e9e9e;
$color_main_body_comparison_division_line: #d4d4d4;
$color_main_body_comparison_report_box_bg: #f9f9f9;
$color_main_body_comparison_report_box_border: #d3d3de;


$color_main_body_progress_bar_budget: #6071b9;
$color_main_body_progress_bar_normal_capacity: #7169af;
$color_main_body_progress_bar_overtime: #ad5ab3;

$color_main_body_decision_subtitle: #bdbdbd;
$color_main_body_decision_brand_border: #c2c2d3;
$color_main_body_decision_sku_border: #ebebeb;
$color_main_body_decision_table_hover: #feeaff;

$color_main_body_user_feedback_back: #FFF2E5;
$color_main_body_user_feedback_border: #FF941F;
$color_main_body_user_feedback: #A07041;

$color_main_body_user_feedback_title:#5E66E6;
$color_main_body_user_feedback_subTitle:#5D67D2;

$color_main_body_user_feedback_warning:#FCFFD9;
$color_main_body_user_feedback_info:#EAEFFF;

$color_main_body_user_faq_category_title : #e8e8e8;
$color_main_body_user_manual_h_boder_bottom:#eee;
$color_main_body_user_manual_h6:#777;
$color_main_body_user_manual_blockquote:#777;

$color_main_body_user_manual_color:#333;
$color_main_body_user_manual_hr:#e7e7e7;
$color_main_body_user_manual_table_border:#ddd;
$color_main_body_user_manual_table_tr:#fff;
$color_main_body_user_manual_table_tr_border:#ccc;
$color_main_body_user_manual_table_2n:#f8f8f8;