body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1301px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:151px;
  width:1060px;
  height:690px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:690px;
}
#u1 {
  position:absolute;
  left:2px;
  top:337px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:89px;
  width:145px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:167px;
  width:242px;
  height:610px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:610px;
}
#u5 {
  position:absolute;
  left:2px;
  top:297px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:350px;
  top:167px;
  width:48px;
  height:18px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:442px;
  top:167px;
  width:85px;
  height:18px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:327px;
  top:447px;
  width:713px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:696px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:713px;
  height:1px;
}
#u11 {
  position:absolute;
  left:327px;
  top:427px;
  width:201px;
  height:18px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:400px;
  top:237px;
  width:484px;
  height:15px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:319px;
  top:487px;
  width:131px;
  height:105px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:105px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:470px;
  top:487px;
  width:131px;
  height:105px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:105px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:630px;
  top:487px;
  width:131px;
  height:105px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:105px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:779px;
  top:487px;
  width:131px;
  height:105px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:105px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:920px;
  top:487px;
  width:131px;
  height:105px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:105px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:900px;
  top:747px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:1297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1169px;
  top:17px;
  width:111px;
  height:13px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-size:11px;
  color:#CFD9F3;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:13px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1089px;
  top:12px;
  width:60px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background-image:none;
  background-color:#294590;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CFD9F3;
}
#u32 {
  position:absolute;
  left:960px;
  top:12px;
  width:100px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-image:none;
  background-color:#294590;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#CFD9F3;
}
#u33 {
  position:absolute;
  left:20px;
  top:11px;
  width:42px;
  height:26px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u34 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:72px;
  top:16px;
  width:75px;
  height:19px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-size:12px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:203px;
  top:1px;
  width:73px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:202px;
  top:39px;
  width:74px;
  height:10px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:10px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-3px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:431px;
  top:12px;
  width:30px;
  height:26px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-size:9px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:221px;
  top:17px;
  width:37px;
  height:13px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-size:11px;
  color:#CFD9F3;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:304px;
  top:17px;
  width:43px;
  height:13px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-size:11px;
  color:#CFD9F3;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:393px;
  top:17px;
  width:35px;
  height:1px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-size:11px;
  color:#CFD9F3;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:474px;
  top:17px;
  width:54px;
  height:13px;
  font-family:'Verdana-Bold', 'Verdana Bold', 'Verdana';
  font-weight:700;
  font-size:11px;
  color:#CFD9F3;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
