$color_white: #ffffff;
$color_base_red: #c42e0d;
$color_background_gray: #f0f0f0;
$color_background_gray_darker: #e6e6e6;
$color_profile_detail_title: #797978;
$color_profile_tip: #d9d9d9;
$color_register_button: $color_base_red;
$color_register_button_border: #7e200b;
$color_register_button_hover: #7e200b;
$color_register_button_hover_border: #ca3413;
$color_header_dropdown_button_hover: #7f1a03;
$color_text: #686868;