<% include ../include/headcss.ejs %>


<body id="activity" ng-app="b2clogin" ng-controller="activityController">

    <b2c-header showlogin="true"></b2c-header>
    <b2c-sub-menu></b2c-sub-menu>

    <div class="middle">
        <div class="b2c-container">
            <div id="bridge-header">
                <h3>Bridge+</h3>
                <h3>中国首家商战模拟竞赛平台</h3>
                <a type='button' class="btn btn-danger" href="/e4e">加入</a>
            </div>

            <div class="section1" id="latest-activity">
                <div class="activity clearfix">
                    <h4>最新活动</h4>
                    <hr/>
                    <p class="col-half">
                        我们将每年招募30名左右具有创业精神并富有潜力的青年人，为他们提供为期一年的免费领导力培训、一对一导师对话、商业实战及海外参观游学等珍贵机会，帮助他们充分实现自身潜能并为社会带来积极影响力，同时打造学者精英社交圈。每期学员在完成既定的项目后，将予以Bridge+ Fellow的终身称号。我们希望Bridge+ Fellow能为中国社会发展注入源源不断的青年创新创业力量，带来全国甚至全球范围的积极影响力
                        <br/>
                        <br/>
                        <a type='button' class="btn btn-sm btn-danger" href="/e4e">立即报名</a>
                    </p>
                    <div class="col-half">
                        <img src="/app/css/images/b2c_about/b2c_activity_1.jpg"/>
                    </div>
                </div>

                <div class="activity clearfix" id="entrepreneur-plan">
                    <h4>青年创业家计划</h4>
                    <hr/>

                    <div class="col-half">
                        <img src="/app/css/images/b2c_about/b2c_activity_2.jpg"/>
                    </div>

                    <div class="col-half">
                        <p class="quote">
                            “我们相信动手带来的学习与证明，我们提供舞台栽培最优秀的学生青年。”
                        </p>
                        <p>
                            青年创业家计划(Student Entrepreneur Program)，是针对学生设计以学习市场营销战略与执行的计划，也是Bridge+ 产品中唯一能够实际能够掌舵战略、支配预算、实施宣传活动，并且承担市场推广成败的计划。此计画将提供给所有参与者齐聚一堂的机会，提供参与者一个全国性的人脉网络，让钻石磨亮钻石。计划的参与者将拥有一次为期三天，完整的500大企业培训级的实战营销课程，结合理论与软件模拟实践，并搭配企业导师从中的建议与指导，让学生从实践中学习。优秀的参与者将有机会到国内最顶尖的营销公司参访，与高阶管理者对谈，并被Bridge+推荐进入知名企业实习
                        </p>
                    </div>

                </div>

            </div>
            <div class="section2" id="we-reality-show">
                <img src="/app/css/images/b2c_about/b2c_activity_video.jpg">
            </div>
            <div class="section3">
                <h3>
                    青年企业家风采
                </h3>
                <div id="carousel-header-pics" class="b2c-carousel carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-header-pics" data-slide-to="0" class="active"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner text-center" role="listbox">
                        <div class="item active">
                            <div class="person_card">
                                <img src="/app/css/images/b2c_about/executor1.jpg">
                                <div class="person_info">
                                    <p class="name"> 吕晓宁<br> Xiaoning Lyu </p>
                                    <p class="title"> 市场及运营主管<br> Director of Marketing <br>and Operation </p>
                                </div>
                            </div>
                            <div class="person_card">
                                <img src="/app/css/images/b2c_about/executor2.jpg">
                                <div class="person_info">
                                    <p class="name">杨哲恺 <br> Andy Yang </p>
                                    <p class="title"> 总体运营经理<br> Overall Operation Manager </p>
                                </div>
                            </div>
                            <div class="person_card">
                                <img src="/app/css/images/b2c_about/executor3.jpg">
                                <div class="person_info">
                                    <p class="name">陈双乐<br> Johnny Chen</p>
                                    <p class="title">产品经理<br> Product Manager </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-header-pics" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-header-pics" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

<% include ../include/footer.ejs %>
<% include ../include/footerscriptlogin.ejs %>
