<% include ./include/registerheader.html %>
<body ng-app="e4eregister">

	<div id="header" class="white-header" ng-controller="registerHeaderController">
		<div class="wrap">
			<div class="e4e-logo">
				<a href="#">
					<img src="/appe4e/img/LOGO-E4E-white.png" alt="">
				</a>
			</div>
			<div class="learning-logo">
				<a href="/">
					<img src="/appe4e/img/LOGO-HCDLEARNING-white.png" alt="">
				</a>
			</div>

			<div class="languages">
				<nav class="nav-header">
					<ul>
						<li ng-class="{'active':!isEnglish}">
							<a href='' class="f-bold" ng-click="changeLanguage('zh_CN')">中</a>
						</li>
						<li ng-class="{'active':isEnglish}">
							<a href='' class="f-bold" ng-click="changeLanguage('en_US')">EN</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="wrap">
			<span class="col-lg-6 text-left">© HCD Learning Ltd. 沪ICP 10011451号</span>
			<span class="col-lg-6 text-right">HCD Learning 合得软件</span>
		</div>
	</div>

	<div id="company-register"  ng-controller="companyRegisterController">
		<form name="companyRegisterForm" role="form">
			<div class="section section-gray" id="section0">
				<div>
					<div class="register-title">
						<h3 class="f-semibold text-center f-size-26">{{'e4eCompanyRegisterTitle' | translate }}</h3>
					</div>
					<div class="company-back">
						<h4 class="f-semibold text-center f-size-20 padding-10">{{'e4eCompanyFirstPageTitle' | translate }}</h4>
						<div class="form-horizontal">
							<div class="form-group has-feedback" ng-class="{'has-success':companyRegisterForm.userName.$dirty && companyRegisterForm.userName.$valid, 'has-error': companyRegisterForm.userName.$dirty && companyRegisterForm.userName.$invalid}">
							    <label for="user-name" class="col-sm-3-9 control-label">{{'e4eCompanyUserName' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="user-name" name="userName" ng-model='userName' placeholder="xxxxxxx" required>
							    	

							    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.userName.$dirty && companyRegisterForm.userName.$valid"></span>
							    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.userName.$dirty && companyRegisterForm.userName.$invalid"></span>
							    </div>
							</div>
							<div class="form-group">
							    <label for="company-name" class="col-sm-3-9 control-label">{{'e4eCompanyCompanyName' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="company-name" ng-model='companyName' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="holding-company" class="col-sm-3-9 control-label">{{'e4eCompanyHoldingCompany' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="holding-company" ng-model='holdingCompany' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="division" class="col-sm-3-9 control-label">{{'e4eCompanyDivision' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="division" ng-model='division' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="number-of-e" class="col-sm-3-9 control-label">{{'e4eCompanyNumberOfEmployees' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="number-of-e" ng-model='numberOfEmployees' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="company-address" class="col-sm-3-9 control-label">{{'e4eCompmayAddress' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" ng-model='compmayAddress' id="company-address" placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <div class="col-sm-offset-3-9 col-sm-4-2">
							    	<button type="text" class="btn btn-default next">{{'e4eCompanyNext' | translate }}</button>
							    </div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="section section-gray" id="section1">
				
				<div>
					<div class="register-title">
						<h3 class="f-semibold text-center f-size-26">{{'e4eCompanyRegisterTitle' | translate }}</h3>
					</div>
					<div class="company-back">
						<h4 class="f-semibold text-center f-size-20 padding-10">{{'e4eCompanyFirstPageTitle' | translate }}</h4>
						<div class="form-horizontal">
							<div class="form-group">
							    <label for="number-of-contact" class="col-sm-3-9 control-label">{{'e4eCompanyNameOfContactPerson' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="number-of-contact" ng-model='nameOfContactPerson' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="designation" class="col-sm-3-9 control-label">{{'e4eCompanyDesignation' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="designation" ng-model='designation' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="offical-contact-number" class="col-sm-3-9 control-label">{{'e4eCompanyOfficalContactNumber' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="offical-contact-number" ng-model='officalContactNumber' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="mobile-number" class="col-sm-3-9 control-label">{{'e4eCompanyMobileNumber' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="mobile-number" ng-model='mobileNumber'  placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="email-id" class="col-sm-3-9 control-label">{{'e4eCompanyEmailID' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="email-id" ng-model='email' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <div class="col-sm-offset-3-9 col-sm-4-2">
							    	<button type="text" class="btn btn-default next">{{'e4eCompanyNext' | translate }}</button>
							    </div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="section section-gray" id="section2">
				<div>
					<div class="register-title">
						<h3 class="f-semibold text-center f-size-26">{{'e4eCompanyRegisterTitle' | translate }}</h3>
					</div>
					<div class="company-back">
						<h4 class="f-semibold text-center f-size-20 padding-10">{{'e4eCompanyThirdPageTitle' | translate }}</h4>
						<div class="form-horizontal">
							<div class="form-group">
							    <label for="company-function" class="col-sm-3-9 control-label">{{'e4eCompanyFunction' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="company-function" ng-model='companyFunction' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="company-role" class="col-sm-3-9 control-label">{{'e4eCompanyRole' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="company-role" ng-model='companyRole' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="number-of-position" class="col-sm-3-9 control-label">{{'e4eCompanyNumberOfPositions' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="number-of-position" ng-model='numberOfPositions' placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <label for="job-description" class="col-sm-3-9 control-label">{{'e4eCompanyJobDescription' | translate }}</label>
							    <div class="col-sm-4-2">
							    	<input type="text" class="form-control" id="job-description" ng-model='jobDescription'placeholder="xxxxxxx">
							    </div>
							</div>
							<div class="form-group">
							    <div class="col-sm-offset-3-9 col-sm-4-2">
							    	<button class="btn btn-default" ng-click='submitRegister()'>{{'e4eCompanySubmit' | translate }}</button>
							    </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
</body>
<% include ./include/registerfooter.html %>
