<% include ./include/indexheader.html %>
<body>

	<div id="header">
		<div class="wrap">
			<div class="small-logo">
				<a href="index.html">
					<img src="/appe4e/img/small-logo.png" alt="">
				</a>
			</div>
			<div class="other-web">
				<a href='/' class="f-bold">HCD Learning</a>
			</div>

			<div class="languages">
				<nav class="nav-header">
					<ul>
						<li>
							<a href='/' class="f-bold">中</a>
						</li>
						<li class="active">
							<a href='/' class="f-bold">EN</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="start-btn">
				<a href="#" class="f-bold">Get Start</a>
			</div>

		</div>
	</div>

	<div id="fullpage">
		<div class="section" id="section0">
			<div class="wrap" id="ppt-75">
				<!-- <div class="index-player">
					<ul>
						<li id="section-0-1">
							<a id="motion-0-1" class="motion-item">&nbsp;</a>
						</li>
						<li id="section-0-2">
							<a id="motion-0-2" class="motion-item">&nbsp;</a>
						</li>
						<li id="section-0-3">
							<a id="motion-0-3" class="motion-item">&nbsp;</a>
						</li>
						<li id="section-0-4">
							<a id="motion-0-4" class="motion-item">&nbsp;</a>
						</li>
						<li id="section-0-5">
							<a id="motion-0-5" class="motion-item">&nbsp;</a>
						</li>
						<li id="section-0-6">
							<a id="motion-0-6" class="motion-item">&nbsp;</a>
						</li>
					</ul>
				</div> -->
				<div class="index-player">
					<div class="absolute-item section-0-1"></div>
					<div class="absolute-item section-0-2 append-left-1p"></div>
					<div class="absolute-item section-0-3 append-left-2p"></div>
					<div class="absolute-item section-0-4 append-left-3p"></div>
					<div class="absolute-item section-0-5 append-left-4p"></div>
					<div class="absolute-item section-0-6 append-left-5p"></div>
				</div>
				<div class="index-logo-info">
					<h1>
						<img src='/appe4e/img/large-logo.png' style="height:180px">
					</h1>
					<h1>
						<img src='/appe4e/img/logo-info.png' style="height:90px">
					</h1>
				</div>
				<div class="clearfix"></div>
				<div class="section-0-info">
					<p class="text-center f-semibold">We Help Students find their own stage</p>
				</div>
			</div>
		</div>
		<div class="section" id="section1">
		    <div class="slide" id="slide1">
				
				<div class="section-box">
					<div class="inline-block section-1-1"></div>
					<div class="inline-block section-1-2 append-left-100"></div>
					<div class="inline-block section-1-3 append-left-100"></div>
				</div>
			</div>

		    <div class="slide" id="slide2">

		    	<div class="section-box">
					<div class="inline-block section-1-4"></div>
					<div class="inline-block section-1-5 append-left-100"></div>
					<div class="inline-block section-1-6 append-left-100"></div>
				</div>
				
			</div>
		</div>
		<div class="section" id="section2">
			<div class="absolute-item section-2-1 fade-in-down">
			</div>
			<div class="absolute-item section-2-2 fade-in-up"></div>
			<div class="absolute-item section-2-3 fade-in-right"></div>
			<div class="absolute-item section-2-4 small-to-big"></div>
			<div class="absolute-item section-2-5 fade-in-up"></div>
			<div class="absolute-item section-2-6 fade-in-up"></div>
			<div class="absolute-item section-2-7 fade-in-right"></div>
			<div class="login-box">
				<h1 class="f-bold">Let's start</h1>
				<h1 class="f-bold append-bottom-12">Right now</h1>
				<h3 class="f-bold">We Help Students find their own stage</h3>
				<div class="clear append-top-12 append-bottom-12"></div>
				<div class="sign-up">
					<a href="#" class="f-bold">SIGN UP</a>
				</div>
				<div class="login">
					<a href="#" class="f-bold">LOGIN</a>
				</div>
				<div class="clear append-top-12 append-bottom-12"></div>
				<div class="facebook append-left-12">
					<a href='#'></a>
				</div>
				<div class="baidu append-left-24">
					<a href='#'></a>
				</div>
				<div class="sina append-left-24">
					<a href="#"></a>
				</div>
				<div class="douban append-left-24">
					<a href='#'></a>
				</div>
			</div>
			<div id="footer">
				<div class="wrap">
					<span class="col-lg-6 text-left">© HCD Learning Ltd. 沪ICP 10011451号</span>
					<span class="col-lg-6 text-right">HCD Learning 合得软件</span>
				</div>
			</div>
		</div>
	</div>
</body>
<% include ./include/indexfooter.html %>
