<% include ./include/indexheader.html %>
<body ng-app='e4eregister'  ng-controller="registerHeaderController">

	<div id="header">
		<div class="wrap">
			<div class="e4e-logo">
				<a href="#">
					<img src="/appe4e/img/LOGO-E4E.png" alt="">
				</a>
			</div>
			<div class="learning-logo">
				<a href="/">
					<img src="/appe4e/img/LOGO-HCDLEARNING.png" alt="">
				</a>
			</div>
			<div class="languages">
				<nav class="nav-header">
					<ul>
						<li ng-class="{'active':!isEnglish}" ng-cloak>
							<a href='' class="f-bold" ng-click="changeLanguage('zh_CN')">中</a>
						</li>
						<li ng-class="{'active':isEnglish}" ng-cloak>
							<a href='' class="f-bold" ng-click="changeLanguage('en_US')">EN</a>
						</li>
					</ul>
				</nav>
			</div>

<!-- 			<div class="start-btn">
				<a href="#" class="f-bold">{{'e4eRegisterGetStart' | translate }}</a>
			</div> -->

		</div>
	</div>

	<div id="index">
		<div class="section" id="section0">
			<div class="wrap" id="ppt-75">
				<div class="index-player">
					<div class="absolute-item section-0-1"></div>
					<div class="absolute-item section-0-2 append-left-1p"></div>
					<div class="absolute-item section-0-3 append-left-2p"></div>
					<div class="absolute-item section-0-4 append-left-3p"></div>
					<div class="absolute-item section-0-5 append-left-4p"></div>
					<div class="absolute-item section-0-6 append-left-5p"></div>
				</div>
				<div class="index-logo-info">
					<h1>
						<img src='/appe4e/img/large-logo.png' style="height:180px">
					</h1>
					<h1>
						<img src='/appe4e/img/logo-info.png' style="height:90px">
					</h1>
				</div>
				<div class="clearfix"></div>
				<div class="section-0-info">
					<p class="text-center f-semibold" ng-cloak>{{'e4eRegisterFindStage' | translate }}</p>
				</div>
			</div>
		</div>
		<div class="section" id="section1" ng-cloak>
		    <div class="slide" id="slide1">
				
				<div class="section-box">
					<div class="title-expect"></div>
					<div class="inline-block section-1-1">
						<div class="hover-show my-flipin-x section-1-1-hover">
							<div class="hover-show-box">
								{{'e4eIndexLearningByPlaying' | translate }}
								<br>
								{{'e4eIndexLearningByPlayingInfo' | translate }}.
							</div>
						</div>
					</div>
					<div class="inline-block section-1-2 append-left-100">
						<div class="hover-show my-flipin-y section-1-2-hover">
							<div class="hover-show-box">
								{{'e4eIndexHelpStudentsDevelopSkills' | translate }}
								<br>
								{{'e4eIndexHelpStudentsDevelopSkillsInfo' | translate }}.
							</div>
						</div>
					</div>
					<div class="inline-block section-1-3 append-left-100">
						<div class="hover-show my-flipin-x section-1-3-hover">
							<div class="hover-show-box">
								{{'e4eIndexSocialLearning' | translate }}
								<br>
								{{'e4eIndexSocialLearningInfo' | translate }}.
							</div>
						</div>
					</div>
				</div>
			</div>

		    <div class="slide" id="slide2">

		    	<div class="section-box">
		    		<div class="title-learn"></div>
					<div class="inline-block section-1-4">
						<div class="hover-show my-flipin-y section-1-4-hover">
							<div class="hover-show-box">
								{{'e4eIndexDiscoverJobOpportunities' | translate }}
								<br>
								{{'e4eIndexDiscoverJobOpportunitiesInfo' | translate }}.
							</div>
						</div>
					</div>
					<div class="inline-block section-1-5 append-left-100">
						<div class="hover-show my-flipin-x section-1-5-hover">
							<div class="hover-show-box">
								{{'e4eIndexDevelopBusinessSkills' | translate }}
								<br>
								{{'e4eIndexDevelopBusinessSkillsInfo' | translate }}.
							</div>
						</div>
					</div>
					<div class="inline-block section-1-6 append-left-100">
						<div class="hover-show my-flipin-y section-1-6-hover">
							<div class="hover-show-box">
								{{'e4eIndexAssessment' | translate }}
								<br>
								{{'e4eIndexAssessmentInfo' | translate }}.
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="section" id="section2" ng-cloak>
			<div class="absolute-item section-2-1 fade-in-down">
			</div>
			<div class="absolute-item section-2-2 fade-in-up"></div>
			<div class="absolute-item section-2-3 fade-in-right"></div>
			<div class="absolute-item section-2-4 small-to-big"></div>
			<div class="absolute-item section-2-5 fade-in-up"></div>
			<div class="absolute-item section-2-6 fade-in-up"></div>
			<div class="absolute-item section-2-7 fade-in-right"></div>
			<div class="login-box" ng-cloak>
				<ul class="nav nav-tabs">
					<li ng-class="{'active':studentRegisterShow}"><a href="" ng-click='clickItem("student")'>{{'e4eStudentRegisterTitle' | translate }}</a></li>
					<li ng-class="{'active':companyRegisterShow}"><a href="" ng-click='clickItem("compamy")'>{{'e4eCompanyRegisterTitle' | translate }}</a></li>
				</ul>

				<form name="studentRegisterForm" class="form-horizontal" ng-show='studentRegisterShow'>

					<div class="bs-callout bs-callout-info">
						<h4>{{'e4eIndexStudentRegistrationTitle' | translate }}</h4>
						<p>{{'e4eIndexStudentRegistration' | translate }}</p>
					</div>

					<div class="row form-group">
						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.userName.$dirty && studentRegisterForm.userName.$valid, 'has-error': studentRegisterForm.userName.$dirty && studentRegisterForm.userName.$invalid}">
				    		<input type="text" class="form-control"name="userName" ng-model='userName' placeholder="{{'e4eStudentUserName' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="studentRegisterForm.userName.$dirty && studentRegisterForm.userName.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="studentRegisterForm.userName.$dirty && studentRegisterForm.userName.$invalid"></span>
					    </div>
					</div>

					<div class="row form-group">

						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.firstName.$dirty && studentRegisterForm.firstName.$valid, 'has-error': studentRegisterForm.firstName.$dirty && studentRegisterForm.firstName.$invalid}">
				    		<input type="text" class="form-control"name="firstName" ng-model='firstName' placeholder="{{'e4eStudentFirstName' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="studentRegisterForm.firstName.$dirty && studentRegisterForm.firstName.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="studentRegisterForm.firstName.$dirty && studentRegisterForm.firstName.$invalid"></span>
					    </div>

					    <div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.lastName.$dirty && studentRegisterForm.lastName.$valid, 'has-error': studentRegisterForm.lastName.$dirty && studentRegisterForm.lastName.$invalid}">
				    		<input type="text" class="form-control"name="lastName" ng-model='lastName' placeholder="{{'e4eStudentLastName' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="studentRegisterForm.lastName.$dirty && studentRegisterForm.lastName.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="studentRegisterForm.lastName.$dirty && studentRegisterForm.lastName.$invalid"></span>
					    </div>

					</div>

					<div class="row form-group">
						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.yearOfBirth.$dirty && studentRegisterForm.yearOfBirth.$valid, 'has-error': studentRegisterForm.yearOfBirth.$dirty && studentRegisterForm.yearOfBirth.$invalid}">
							
							<div class="input-group">
								<input type="text" class="form-control" datepicker-popup="yyyy-MM" name='yearOfBirth' ng-model="yearOfBirth" is-open="isBirthOpened" max-date="'2015-06-22'" datepicker-mode="'year'" show-button-bar='false' datepicker-options="birthOptions" close-text="Close" placeholder="{{'e4eStudentYearOfBirth' | translate }}" disabled='true' required>
								<span class="input-group-btn">
									<button type="button" class="btn btn-danger" ng-click="open('Birth',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>

						</div>

						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.majors.$dirty && studentRegisterForm.majors.$valid, 'has-error': studentRegisterForm.majors.$dirty && studentRegisterForm.majors.$invalid}">
					    	<input type="text" class="form-control"name='majors' ng-model='majors' placeholder="{{'e4eStudentMajors' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="studentRegisterForm.majors.$dirty && studentRegisterForm.majors.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="studentRegisterForm.majors.$dirty && studentRegisterForm.majors.$invalid"></span>
					    </div>

					</div>

					<div class="row form-group">
						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.university.$dirty && studentRegisterForm.university.$valid, 'has-error': studentRegisterForm.university.$dirty && studentRegisterForm.university.$invalid}">
					    	<input type="text" class="form-control" name='university' ng-model='university' placeholder="{{'e4eStudentUniversity' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="studentRegisterForm.university.$dirty && studentRegisterForm.university.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="studentRegisterForm.university.$dirty && studentRegisterForm.university.$invalid"></span>
					    </div>

					    <div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.dateOfGraduation.$dirty && studentRegisterForm.dateOfGraduation.$valid, 'has-error': studentRegisterForm.dateOfGraduation.$dirty && studentRegisterForm.dateOfGraduation.$invalid}">
							<div class="input-group">
								<input type="text" class="form-control" datepicker-popup="yyyy-MM" name='dateOfGraduation' ng-model="dateOfGraduation" is-open="isGradOpened" max-date="'2015-06-22'" datepicker-mode="'year'" show-button-bar='false' datepicker-options="dateOptions" close-text="Close" placeholder="{{'e4eStudentDateOfGraduation' | translate }}" ng-disabled='true' required>
								<span class="input-group-btn">
									<button type="button" class="btn btn-danger" ng-click="open('Graduation',$event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
							
						</div>

					</div>

					<div class="row form-group">
						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.studentEmail.$dirty && studentRegisterForm.studentEmail.$valid, 'has-error': (studentRegisterForm.studentEmail.$dirty && studentRegisterForm.studentEmail.$invalid)||studentEmailError}">
							<label for="studentEmail" class="control-label" ng-show='!studentEmailError'>{{'e4eStudentEmail' | translate }}</label>
							<label for="studentEmail" class="control-label" ng-show='studentEmailError'>{{'e4eStudentEmailError' | translate }}</label>
						</div>

						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.qq.$dirty && studentRegisterForm.qq.$valid, 'has-error': studentRegisterForm.qq.$dirty && studentRegisterForm.qq.$invalid}">
							<label for="qq" class="control-label">{{'e4eStudentQQ' | translate }}</label>
						</div>

						<div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.studentEmail.$dirty && studentRegisterForm.studentEmail.$valid, 'has-error': studentRegisterForm.studentEmail.$dirty && studentRegisterForm.studentEmail.$invalid}">
				    		<input type="email" class="form-control"name="studentEmail" ng-model='studentEmail' required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="studentRegisterForm.studentEmail.$dirty && studentRegisterForm.studentEmail.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="studentRegisterForm.studentEmail.$dirty && studentRegisterForm.studentEmail.$invalid"></span>
					    </div>

					    <div class="has-feedback col-xs-6" ng-class="{'has-success':studentRegisterForm.qq.$dirty && studentRegisterForm.qq.$valid, 'has-error': studentRegisterForm.qq.$dirty && studentRegisterForm.qq.$invalid}">
				    		<input type="text" class="form-control"name="qq" ng-model='qq' required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="studentRegisterForm.qq.$dirty && studentRegisterForm.qq.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="studentRegisterForm.qq.$dirty && studentRegisterForm.qq.$invalid"></span>
					    </div>

					</div>

					<div class="row form-group">
						<div class="col-xs-6 col-xs-offset-6">
							<button class="btn btn-danger" ng-click='submitStudentRegister()' ng-disabled='studentRegisterForm.$invalid'>{{'e4eIndexJoin' | translate }}</button>
						</div>
					</div>
				</form>
				<form name="companyRegisterForm" class="form-horizontal" ng-show='companyRegisterShow'>
					<div class="bs-callout bs-callout-info">
						<h4>{{'e4eIndexCompanyRegistrationTitle' | translate }}</h4>
						<p>{{'e4eIndexCompanyRegistration' | translate }}</p>
					</div>

					<div class="row form-group">

						<div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.nameOfContactPerson.$dirty && companyRegisterForm.nameOfContactPerson.$valid, 'has-error': companyRegisterForm.nameOfContactPerson.$dirty && companyRegisterForm.nameOfContactPerson.$invalid}">
				    		<input type="text" class="form-control"name="nameOfContactPerson" ng-model='nameOfContactPerson' placeholder="{{'e4eCompanyNameOfContactPerson' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.nameOfContactPerson.$dirty && companyRegisterForm.nameOfContactPerson.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.nameOfContactPerson.$dirty && companyRegisterForm.nameOfContactPerson.$invalid"></span>
					    </div>

					</div>

					<div class="row form-group">

						<div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.designation.$dirty && companyRegisterForm.designation.$valid, 'has-error': companyRegisterForm.designation.$dirty && companyRegisterForm.designation.$invalid}">
				    		<input type="text" class="form-control"name="designation" ng-model='designation' placeholder="{{'e4eCompanyDesignation' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.designation.$dirty && companyRegisterForm.designation.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.designation.$dirty && companyRegisterForm.designation.$invalid"></span>
					    </div>

					    <div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.officalContactNumber.$dirty && companyRegisterForm.officalContactNumber.$valid, 'has-error': companyRegisterForm.officalContactNumber.$dirty && companyRegisterForm.officalContactNumber.$invalid}">
				    		<input type="text" class="form-control"name="officalContactNumber" ng-model='officalContactNumber' placeholder="{{'e4eCompanyOfficalContactNumber' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.officalContactNumber.$dirty && companyRegisterForm.officalContactNumber.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.officalContactNumber.$dirty && companyRegisterForm.officalContactNumber.$invalid"></span>
					    </div>

					</div>

					<div class="row form-group">

						<div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.holdingCompany.$dirty && companyRegisterForm.holdingCompany.$valid, 'has-error': companyRegisterForm.holdingCompany.$dirty && companyRegisterForm.holdingCompany.$invalid}">
				    		<input type="text" class="form-control"name="holdingCompany" ng-model='holdingCompany' placeholder="{{'e4eCompanyHoldingCompany' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.holdingCompany.$dirty && companyRegisterForm.holdingCompany.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.holdingCompany.$dirty && companyRegisterForm.holdingCompany.$invalid"></span>
					    </div>

					    <div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.division.$dirty && companyRegisterForm.division.$valid, 'has-error': companyRegisterForm.division.$dirty && companyRegisterForm.division.$invalid}">
				    		<input type="text" class="form-control"name="division" ng-model='division' placeholder="{{'e4eCompanyDivision' | translate }}" required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.division.$dirty && companyRegisterForm.division.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.division.$dirty && companyRegisterForm.division.$invalid"></span>
					    </div>

					</div>

					<div class="row form-group">
						<div class="col-xs-6" style="padding:7px 0">&nbsp;</div>
					</div>

					<div class="row form-group">
						<div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.mobileNumber.$dirty && companyRegisterForm.mobileNumber.$valid, 'has-error': companyRegisterForm.mobileNumber.$dirty && companyRegisterForm.mobileNumber.$invalid}">
							<label for="mobileNumber" class="control-label">{{'e4eCompanyMobileNumber' | translate }}</label>
						</div>

						<div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.companyEmail.$dirty && companyRegisterForm.companyEmail.$valid, 'has-error': (companyRegisterForm.companyEmail.$dirty && companyRegisterForm.companyEmail.$invalid)||companyEmailError}">
							<label for="companyEmail" class="control-label" ng-show='!companyEmailError'>{{'e4eCompanyEmail' | translate }}</label>
							<label for="companyEmail" class="control-label" ng-show="companyEmailError">{{'e4eCompanyEmailError' | translate }}</label>
						</div>
						<div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.mobileNumber.$dirty && companyRegisterForm.mobileNumber.$valid, 'has-error': companyRegisterForm.mobileNumber.$dirty && companyRegisterForm.mobileNumber.$invalid}">
				    		<input type="text" class="form-control"name="mobileNumber" ng-model='mobileNumber' required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.mobileNumber.$dirty && companyRegisterForm.mobileNumber.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.mobileNumber.$dirty && companyRegisterForm.mobileNumber.$invalid"></span>
					    </div>

						<div class="has-feedback col-xs-6" ng-class="{'has-success':companyRegisterForm.companyEmail.$dirty && companyRegisterForm.companyEmail.$valid, 'has-error': companyRegisterForm.companyEmail.$dirty && companyRegisterForm.companyEmail.$invalid}">
				    		<input type="email" class="form-control"name="companyEmail" ng-model='companyEmail' required>
					    	<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="companyRegisterForm.companyEmail.$dirty && companyRegisterForm.companyEmail.$valid"></span>
					    	<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="companyRegisterForm.companyEmail.$dirty && companyRegisterForm.companyEmail.$invalid"></span>
					    </div>

					</div>

					<div class="row form-group">
						<div class="col-xs-6 col-xs-offset-6">
							<button class="btn btn-danger" ng-click='submitCompanyRegister()' ng-disabled='companyRegisterForm.$invalid'>{{'e4eIndexJoin' | translate }}</button>
						</div>
					</div>

				</form>

			</div>
			<div id="footer">
				<div class="wrap">
					<span class="col-lg-6 text-left">© HCD Learning Ltd. 沪ICP 10011451号</span>
					<span class="col-lg-6 text-right">HCD Learning 合得软件</span>
				</div>
			</div>
		</div>
	</div>
</body>
<% include ./include/indexfooter.html %>
