<% include ./include/registerheader.html %>
<body>

	<div id="header">
		<div class="wrap">
			<div class="e4e-logo">
				<a href="#">
					<img src="/appe4e/img/LOGO-E4E-white.png" alt="">
				</a>
			</div>
			<div class="learning-logo">
				<a href="/">
					<img src="/appe4e/img/LOGO-HCDLEARNING-white.png" alt="">
				</a>
			</div>
			<div class="languages">
				<nav class="nav-header">
					<ul>
						<li class="active">
							<a href='#' class="f-bold">中</a>
						</li>
						<li>
							<a href='#' class="f-bold">EN</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="wrap">
			<span class="col-lg-6 text-left">© HCD Learning Ltd. 沪ICP 10011451号</span>
			<span class="col-lg-6 text-right">HCD Learning 合得软件</span>
		</div>
	</div>

	<div id="student-register">
		<div class="section section-red" id="section0">a
		</div>
		<div class="section section-red" id="section1">b
		</div>
	</div>
</body>
<% include ./include/registerfooter.html %>
